<template>
  <div>
    <!-- Filters -->
    <site-list-filters :status-filter.sync="table.status" :status-options="statusOptions" />
    <!-- modal create-->
    <site-modal :perPage="table.perPage" :page="table.page"></site-modal>
    <!-- Table Container Card -->
    <b-card no-body class="mb-0">
      <div class="m-2">
        <!-- Table Top -->
        <b-row>
          <!-- Per Page -->
          <b-col cols="12" md="6" class="d-flex align-items-center justify-content-start mb-1 mb-md-0">
            <label>Show</label>
            <v-select v-model="table.perPage" :dir="$store.state.appConfig.isRTL ? 'rtl' : 'ltr'"
              :options="perPageOptions" :clearable="false" class="per-page-selector d-inline-block mx-50" />
            <label>entries</label>
          </b-col>

          <!-- Search -->
          <b-col cols="12" md="6">
            <div class="d-flex align-items-center justify-content-end">
              <b-form-input v-model="table.search" class="d-inline-block mr-1" placeholder="Search..." />
              <b-button variant="primary" @click="goToAddSite()">
                <span class="text-nowrap">Add Location</span>
              </b-button>
            </div>
          </b-col>
        </b-row>
      </div>

      <!-- table -->
      <b-table hover ref="refUserListTable" class="position-relative" :items="siteList.sites.data" responsive
        :fields="tableColumns" primary-key="id" :sort-by.sync="table.sortBy" show-empty
        empty-text="No matching records found" :sort-desc.sync="isSortDirDesc">
        <!-- Column: ID -->
        <template #cell(index)="data">
          <div class="text-nowrap">
            <span class="align-text-top text-capitalize">{{ data.index + 1 }}</span>
          </div>
        </template>

        <!-- Column: Site Name -->
        <template #cell(site_name)="data">
          <b-link @click="editSite(data.item.site_id)" class="font-weight-bold d-block text-nowrap">
            {{ data.item.site_name }}
          </b-link>
        </template>

        <!-- Column: Description -->
        <template #cell(site_description)="data">
          {{ data.item.site_description }}
        </template>

        <!-- Column: Status -->
        <template #cell(site_status)="data">
          <b-badge href="#" pill :variant="`light-${resolveUserStatusVariant(data.item.site_status)}`"
            class="text-capitalize" @click="changeStatus(data.item.site_id, data.item.site_status)">
            {{ getStatusValue(data.item.site_status) }}
          </b-badge>
        </template>

        <!-- Column: Sub Site Redirect -->
        <template #cell(sub_site)="data">
          <b-button v-ripple.400="'rgba(113, 102, 240, 0.15)'" size="sm" variant="outline-primary" :to="{
            name: 'client-site-sub-site-list',
            params: { id: data.item.site_id },
          }">
            Area
          </b-button>
        </template>

        <!-- Column: Actions -->
        <template #cell(actions)="data">
          <b-dropdown variant="link" no-caret :right="$store.state.appConfig.isRTL">
            <template #button-content>
              <feather-icon icon="MoreVerticalIcon" size="16" class="align-middle text-body" />
            </template>

            <b-dropdown-item @click="editSite(data.item.site_id)">
              <feather-icon icon="EditIcon" />
              <span class="align-middle ml-50">Edit</span>
            </b-dropdown-item>

            <b-dropdown-item @click="deleteData(data.item.site_id)">
              <feather-icon icon="TrashIcon" />
              <span class="align-middle ml-50">Delete</span>
            </b-dropdown-item>
          </b-dropdown>
        </template>
      </b-table>
      <div class="mx-2 mb-2">
        <b-row>
          <b-col cols="12" sm="6" class="d-flex align-items-center justify-content-center justify-content-sm-start">
            <span class="text-muted">Showing {{ siteList.sites.from }} to {{ siteList.sites.to }} of
              {{ siteList.sites.total }} entries</span>
          </b-col>
          <!-- Pagination -->
          <b-col cols="12" sm="6" class="d-flex align-items-center justify-content-center justify-content-sm-end">
            <b-pagination v-model="table.page" :total-rows="siteList.total" :per-page="table.perPage" first-number
              last-number class="mb-0 mt-1 mt-sm-0" prev-class="prev-item" next-class="next-item">
              <template #prev-text>
                <feather-icon icon="ChevronLeftIcon" size="18" />
              </template>
              <template #next-text>
                <feather-icon icon="ChevronRightIcon" size="18" />
              </template>
            </b-pagination>
          </b-col>
        </b-row>
      </div>
    </b-card>
  </div>
</template>

<script>
import {
  BCard,
  BRow,
  BCol,
  BFormInput,
  BButton,
  BTable,
  BMedia,
  BAvatar,
  BLink,
  BBadge,
  BDropdown,
  BDropdownItem,
  BPagination,
} from "bootstrap-vue";
import vSelect from "vue-select";
import SiteListFilters from "./LocationListFilters.vue";
import SiteModal from "../LocationModal.vue";
import ToastificationContent from "@core/components/toastification/ToastificationContent.vue";
import Ripple from "vue-ripple-directive";
import router from "@/router";
import { mapActions, mapGetters } from "vuex";
import BaseMixins from "@/mixins/BaseMixins";
import store from "@/store/index";

export default {
  mixins: [BaseMixins],
  components: {
    SiteListFilters,
    SiteModal,
    BCard,
    BRow,
    BCol,
    BFormInput,
    BButton,
    BTable,
    BMedia,
    BAvatar,
    BLink,
    BBadge,
    BDropdown,
    BDropdownItem,
    BPagination,
    vSelect,
  },
  directives: {
    Ripple,
  },
  data() {
    return {
      table: {
        perPage: 25,
        search: "",
        sortBy: null,
        sortDesc: true,
        page: 1,
        // role: "",
        // status: "",
      },

      perPageOptions: [10, 15, 50, 100],
      tableColumns: [
        { label: "No.", key: "index" },
        { label: "Location Name", key: "site_name", sortable: true },
        { label: "Description", key: "site_description", sortable: true },
        { label: "Created Date", key: "created_at_format", sortable: true },
        { label: "status", key: "site_status", sortable: true },
        { label: "", key: "sub_site" },
        { key: "actions" },
      ],
      isSortDirDesc: true,
      currentPage: 1,
      //   totalSites: this.siteList != null ? this.siteList.total : 0,
      //   isEditing: false,
      siteButtonName: "Add",
    };
  },
  computed: {
    // Get state variables
    ...mapGetters("location", ["siteList"]),
  },

  methods: {
    ...mapActions("location", [
      "saveSite",
      "getSiteData",
      "getAllSite",
      "changeSiteStatus",
      "updateSite",
      "deleteSite",
    ]),
    refetchData() {
      this.getAllSite(this.table);
    },

    goToAddSite() {
      const siteData = {
        site_name: "",
        site_uuid: "",
        site_description: "",
        site_status: true,
      };

      // Set value for site button
      store.commit("location/UPDATE_SITE_BUTTON_NAME", this.siteButtonName);

      //Reset field data
      store.commit("location/UPDATE_SITE_DATA", siteData);
      this.$bvModal.show("site-modal");
    },
    editSite(siteId) {
      // Get template based on site_id
      this.getSiteData(siteId);

      // Set variable value
      store.commit("location/UPDATE_SITE_BUTTON_NAME", "Update");
      store.commit("location/UPDATE_EDIT_MODE", true);

      // Open template field modal
      this.$bvModal.show("site-modal");
    },

    // Change site status
    changeStatus(id, status) {
      this.$swal({
        title: "Are you sure?",
        text: "You can always revert this later.",
        icon: "warning",
        showCancelButton: true,
        confirmButtonText: "Yes, change it!",
        customClass: {
          confirmButton: "btn btn-primary",
          cancelButton: "btn btn-outline-danger ml-1",
        },
        buttonsStyling: false,
      }).then((result) => {
        if (result.value) {
          // check validation
          this.changeSiteStatus({ id: id, status: status }).then((response) => {
            if (response.status === true || response.status == "true") {
              this.$swal({
                icon: 'success',
                title: "Changed!",
                text: response.message,
                customClass: {
                  confirmButton: "btn btn-success",
                },
              });

              // Refetch table data
              this.refetchData();
            } else {
              this.$toast({
                component: ToastificationContent,
                position: "top-right",
                props: {
                  title: "Error",
                  variant: "danger",
                  text: response.message,
                },
              });
            }
            return Promise.resolve(response);
          });
        }
      });
    },
    // Site soft delete
    deleteData(id) {
      this.$swal({
        title: "Are you sure?",
        text: "You won't be able to revert this!",
        icon: "warning",
        showCancelButton: true,
        confirmButtonText: "Yes, delete it!",
        customClass: {
          confirmButton: "btn btn-primary",
          cancelButton: "btn btn-outline-danger ml-1",
        },
        buttonsStyling: false,
      }).then((result) => {
        if (result.value) {
          // check validation
          this.deleteSite(id).then((response) => {
            if (response.status === true || response.status == "true") {
              this.$swal({
                icon: 'success',
                title: "Deleted!",
                text: response.message,
                customClass: {
                  confirmButton: "btn btn-success",
                },
              });

              // Refetch table data
              this.refetchData();
            } else {
              this.$toast({
                    component: ToastificationContent,
                    position: "top-right",
                    props: {
                    icon: "XIcon",
                    variant: "danger",
                    text: response.data.message,
                    },
                });
            }
            return Promise.resolve(response);
          });
        }
      });
    },
  },
  mounted() {
    this.isEditing = false;
    // Get all sites
    this.getAllSite(this.table).catch((error) => {
      this.showToast("Error", "XIcon", "danger", error.data.message);
    });
  },
  watch: {
    table: {
      handler() {
        this.getAllSite(this.table);
      },
      deep: true,
    },
  },
};
</script>

<style lang="scss" scoped>
@import "~@resources/scss/vue/libs/vue-select.scss";
</style>
