<template>
  <div
    class="main-menu menu-fixed menu-accordion menu-shadow"
    :class="[
      {
        expanded: !isVerticalMenuCollapsed || (isVerticalMenuCollapsed && isMouseHovered),
      },
      skin === 'light' || skin === 'bordered' ? 'menu-light' : 'menu-dark',
    ]"
    @mouseenter="updateMouseHovered(true)"
    @mouseleave="updateMouseHovered(false)"
  >
    <!-- main menu header-->
    <div class="navbar-header expanded">
      <slot
        name="header"
        :toggleVerticalMenuActive="toggleVerticalMenuActive"
        :toggleCollapsed="toggleCollapsed"
        :collapseTogglerIcon="collapseTogglerIcon"
      >
        <ul class="nav navbar-nav flex-row flex-nowrap logo-wrapper-header-menu">
          <!-- Logo & Text -->
          <li v-bind:class = "(this.userData.role != 'Super Admin') ? ' nav-item mx-auto user-panel-logo' : 'nav-item mr-auto' "  >
            <b-link class="navbar-brand align-items-center mt-0" to="/">
              <span class="brand-logo">
                <b-img :src="appLogoImage" alt="logo" />
              </span>
              <h2 class="brand-text font-weight-normal client" v-if="this.userData.role == 'Super Admin'">
                {{ appName }}
              </h2>
            </b-link>
          </li>

          <!-- Toggler Button -->
          <li class="nav-item nav-toggle">
            <b-link class="nav-link modern-nav-toggle">
              <feather-icon
                icon="XIcon"
                size="20"
                class="d-block d-xl-none"
                @click="toggleVerticalMenuActive"
              />
              <feather-icon
                :icon="collapseTogglerIconFeather"
                size="20"
                class="d-none d-xl-block collapse-toggle-icon"
                @click="toggleCollapsed"
              />
            </b-link>
          </li>
        </ul>
      </slot>
    </div>
    <!-- / main menu header-->

    <!-- Shadow -->
    <div :class="{ 'd-block': shallShadowBottom }" class="shadow-bottom" />

    <!-- main menu content-->
    <vue-perfect-scrollbar
      :settings="perfectScrollbarSettings"
      class="main-menu-content scroll-area"
      tagname="ul"
      @ps-scroll-y="
        (evt) => {
          shallShadowBottom = evt.srcElement.scrollTop > 0;
        }
      "
    >
      <vertical-nav-menu-items
        :items="verticalMenuItems"
        class="navigation navigation-main"
      />
    </vue-perfect-scrollbar>
    <!-- /main menu content-->
  </div>
</template>

<script>
import navbarMenuItems from "@/navigation/vertical";
import VuePerfectScrollbar from "vue-perfect-scrollbar";
import { BLink, BImg } from "bootstrap-vue";
import { provide, computed, ref } from "@vue/composition-api";
import useAppConfig from "@core/app-config/useAppConfig";
import { $themeConfig } from "@themeConfig";
import VerticalNavMenuItems from "./components/vertical-nav-menu-items/VerticalNavMenuItems.vue";
import useVerticalNavMenu from "./useVerticalNavMenu";
import { isUserLoggedIn, getUserData, getHomeRouteForLoggedInUser } from '@/auth/utils'
import { mapGetters } from "vuex";
import store from '@/store';
import Http from '@/libs/axios';




export default {
  components: {
    VuePerfectScrollbar,
    VerticalNavMenuItems,
    BLink,
    BImg,
  },
  props: {
    isVerticalMenuActive: {
      type: Boolean,
      required: true,
    },
    toggleVerticalMenuActive: {
      type: Function,
      required: true,
    },
  },
  computed: {
    // Get vertical menu data
    ...mapGetters("app", [
      "appName", // Get app name
      "appLogoImage", // Get app logo image
    ]),
    // Get vertical menu data
    ...mapGetters("verticalMenu", [
      "navMenuItems", // Get nav menu item
      "menuChange",
      "siteManagerMenuData"
    ]),
    ...mapGetters("siteManager", [
      "defaultSubSite"
    ]),
  },
  mounted() {
    this.verticalMenuItems =
      this.navMenuItems.length > 0 ? this.navMenuItems : navbarMenuItems;

    //   Call Vertical Nav Menu API
    this.getCategoryModuleList();
  },
  methods:{
    getCategoryModuleList() {
        const isLoggedIn = isUserLoggedIn();
        //let role = getUserData().role;
        //console.log("custom", role);
        //   if menu has not been changed and role= site manger then run action else  no need to do anything.
        if(isLoggedIn && !this.menuChange && getUserData().role == "User") {
            // store.dispatch('verticalMenu/updateSiteManagerVerticalMenu');
            let subSiteId = this.defaultSubSite;
            let userId = getUserData().id;
            let payload = {
                subSiteId: subSiteId,
                userId: userId
            }
            if(this.defaultSubSite!==null) {
                Http.post('site-panel/vertical-menu', payload).then((response) => {
                    store.commit('verticalMenu/UPDATE_SITE_MANAGER_DYNAMIC_MENU_DATA', response.data.data)
                    store.commit('verticalMenu/UPDATE_MENU_CHANGE', true)
                    this.verticalMenuItems = this.siteManagerMenuData;
                }).catch((error) => {
                    store.commit('verticalMenu/UPDATE_SITE_MANAGER_DYNAMIC_MENU_DATA', [])
                });
            } else {
                // fetch the first site from local storage its first subsite and then call the api with that subsite id
                let siteList    = JSON.parse(localStorage.getItem('sites'));
                let subSiteList = JSON.parse(localStorage.getItem('subSites'));
                let firstSite   = siteList[0].value;
                // first sub site is the subsite in the list whose site = firstSite
                let firstSubSite = subSiteList.filter((subSite) => {
                    return subSite.site == firstSite;
                });
                let firstSubSiteId = firstSubSite[0].value;
                // also set this in localStorage

                localStorage.setItem('defaultSite', firstSite);
                localStorage.setItem('defaultSubSite', firstSubSiteId);
                let payload = {
                    subSiteId: firstSubSiteId,
                    userId: userId
                }
                store.commit('siteManager/UPDATE_DEFAULT_SITE', firstSite);
                store.commit('siteManager/UPDATE_DEFAULT_SUB_SITE', firstSubSiteId);
                Http.post('site-panel/vertical-menu', payload).then((response) => {
                    store.commit('verticalMenu/UPDATE_SITE_MANAGER_DYNAMIC_MENU_DATA', response.data.data)
                    store.commit('verticalMenu/UPDATE_MENU_CHANGE', true)
                    this.verticalMenuItems = this.siteManagerMenuData;
                }).catch((error) => {
                    store.commit('verticalMenu/UPDATE_SITE_MANAGER_DYNAMIC_MENU_DATA', [])
                });
            }
            // store.dispatch('siteManager/updateSiteManagerSitesAndSubSites');
        } else {
        }
    }
  },
  data() {
    let verticalMenuItems = [];
    const userData = getUserData();



    return {
      verticalMenuItems,
      userData
    };
  },
  setup(props) {
    const {
      isMouseHovered,
      isVerticalMenuCollapsed,
      collapseTogglerIcon,
      toggleCollapsed,
      updateMouseHovered,
    } = useVerticalNavMenu(props);

    const { skin } = useAppConfig();

    // Shadow bottom is UI specific and can be removed by user => It's not in `useVerticalNavMenu`
    const shallShadowBottom = ref(false);

    provide("isMouseHovered", isMouseHovered);

    const perfectScrollbarSettings = {
      maxScrollbarLength: 60,
      wheelPropagation: false,
    };

    const collapseTogglerIconFeather = computed(() =>
      collapseTogglerIcon.value === "unpinned" ? "CircleIcon" : "DiscIcon"
    );

    // App Name
    //const { appName, appLogoImage } = $themeConfig.app

    return {
      navbarMenuItems,
      perfectScrollbarSettings,
      isVerticalMenuCollapsed,
      collapseTogglerIcon,
      toggleCollapsed,
      isMouseHovered,
      updateMouseHovered,
      collapseTogglerIconFeather,

      // Shadow Bottom
      shallShadowBottom,

      // Skin
      skin,

      // App Name
      //appName,
      //appLogoImage,
    };

  },
};
</script>

<style lang="scss">
@import "~@resources/scss/base/core/menu/menu-types/vertical-menu.scss";
</style>
