<template>
  <!-- modal create-->
  <b-modal id="module-field-modal" cancel-variant="outline-secondary" cancel-title="Close" centered
    :title="moduleName + ' - ' + modalButtonName + ' Field'" hide-footer header-class="justify-content-center"
    @hide="closeModal" :no-close-on-backdrop="true">
    <!-- Alert - Server side error -->
    <error-message></error-message>
    <validation-observer ref="moduleFieldFormObserver">
      <b-form>
        <b-row>
          <b-col md="6">
            <b-form-group>
              <validation-provider #default="validationContext" name="Field Name" rules="required">
                <b-form-group>
                  <label>Field Name <span class="text-danger">*</span></label>
                  <b-form-input id="mf_name" v-model="moduleFieldData.mf_name"
                    :state="getValidationState(validationContext)" trim :disabled='viewMode' />
                  <b-form-invalid-feedback>
                    {{ validationContext.errors[0] }}
                  </b-form-invalid-feedback>
                </b-form-group>
              </validation-provider>
            </b-form-group>
          </b-col>
          <b-col md="6">
            <b-form-group>
              <validation-provider #default="validationContext" name="Field Type" rules="required">
                <b-form-group :state="getValidationState(validationContext)">
                  <label>Field Type <span class="text-danger">*</span></label>
                  <v-select v-model="moduleFieldData.mf_input_field_type_id"
                    :dir="$store.state.appConfig.isRTL ? 'rtl' : 'ltr'" :options="inputFieldType"
                    :reduce="val => val.value" :clearable="true" input-id="mf_input_field_type_id"
                    placeholder="Select Field Type" :disabled='viewMode' />
                  <b-form-invalid-feedback :state="getValidationState(validationContext)">
                    {{ validationContext.errors[0] }}
                  </b-form-invalid-feedback>
                </b-form-group>
              </validation-provider>
            </b-form-group>
          </b-col>
          <b-col md="12">
            <b-form-group>
              <b-form-checkbox v-model="moduleFieldData.mf_is_required" :disabled='viewMode'>
                Required
              </b-form-checkbox>
            </b-form-group>
          </b-col>
          <b-col md="12">
            <b-form-group>
              <b-form-checkbox v-model="moduleFieldData.mf_is_show_on_grid" :disabled='viewMode'>
                Show on grid
              </b-form-checkbox>
            </b-form-group>
          </b-col>
          <b-col md="12">
            <b-form-group>
              <b-form-checkbox v-model="moduleFieldData.mf_is_show_on_details" :disabled='viewMode'>
                Show on details
              </b-form-checkbox>
            </b-form-group>
          </b-col>
           <b-col md="12" v-if="moduleFieldData.mf_input_field_type_id == 7">
            <b-form-group>
              <b-form-checkbox v-model="moduleFieldData.mf_has_expiry_date" :disabled='viewMode'>
                Has Expiry Date
              </b-form-checkbox>
            </b-form-group>
          </b-col>

          <b-col md="12">
            <b-form-group>
              <label>Active</label>
              <b-form-checkbox checked="true" name="check-button" v-model="moduleFieldData.mf_status" switch inline
                :disabled='viewMode'>
              </b-form-checkbox>
            </b-form-group>
          </b-col>
          <!-- submit button -->
          <b-col offset-md="4">
            <b-button variant="primary" @click.prevent="submitModuleField" :disabled='viewMode' v-if="!viewMode">{{
                modalButtonName
            }}
            </b-button>
            <b-button v-ripple.400="'rgba(186, 191, 199, 0.15)'" variant="outline-secondary"
              @click.prevent="closeModal()">
              Cancel
            </b-button>
          </b-col>
        </b-row>
      </b-form>
    </validation-observer>
  </b-modal>
</template>

<script>
import { BModal, VBModal, BRow, BCol, BButton, BForm, BFormGroup, BFormInput, BFormTextarea, BFormCheckbox, BFormInvalidFeedback } from 'bootstrap-vue'
import vSelect from 'vue-select'
import { ValidationProvider, ValidationObserver } from 'vee-validate'
import { required, alpha, email } from '@validations'
import formValidation from '@core/comp-functions/forms/form-validation'
import Ripple from "vue-ripple-directive";
import ErrorMessage from "@/views/error/ErrorMessage";
import { mapActions, mapGetters } from 'vuex';
import ToastificationContent from '@core/components/toastification/ToastificationContent.vue'
import store from '@/store/index'
import router from '@/router';

export default {
  components: {
    BModal,
    VBModal,
    BRow,
    BCol,
    BButton,
    BForm,
    BFormGroup,
    BFormInput,
    BFormTextarea,
    BFormCheckbox,
    BFormInvalidFeedback,
    vSelect,

    // Form Validation
    ValidationProvider,
    ValidationObserver,

    ErrorMessage,
  },
  directives: {
    "b-modal": VBModal,
    Ripple,
  },
  data() {
    const { refFormObserver, getValidationState } = formValidation(this.defaultTemplate)

    return {
      refFormObserver,
      getValidationState,
      required,
    }
  },
  props: ['perPage', 'page'],
  mounted() {
    // Get all input type field for dropdown option
    this.getAllInputField();
  },
  computed: {
    // Get state variables
    ...mapGetters('moduleField',
      [
        'moduleName',
        'inputFieldType',
        'modalButtonName',
        'moduleFieldData',
        'editMode',
        'viewMode'
      ]
    ),
  },
  methods: {
    ...mapActions('moduleField',
      [
        'getAllInputField',
        'saveModuleField',
        'updateModuleField',
        'getModuleFieldList'
      ]
    ),
    closeModal() {
      this.$bvModal.hide('module-field-modal');
    },
    // Submit template data
    submitModuleField() {
      this.$refs.moduleFieldFormObserver.validate().then(success => {
        if (success) {
          if (this.modalButtonName == 'Update' && this.editMode) {
            this.updateModuleField(this.moduleFieldData).then(response => {
              if (response.status === true || response.status == 'true') {

                // Close modal
                this.closeModal();

                // Get data after update
                store.dispatch('moduleField/getModuleFieldList', { perPage: this.perPage, sortBy: 'mf_id', sortDesc: 'true', page: this.page, moduleId: router.currentRoute.params.id });

                this.$toast({
                  component: ToastificationContent,
                  position: 'top-right',
                  props: {
                    title: `Notification`,
                    icon: 'CheckIcon',
                    variant: 'success',
                    text: response.message,
                  },
                })
              }
              return Promise.resolve(response);
            });
          } else {
            // check validation
            this.saveModuleField(this.moduleFieldData).then(response => {
              if (response.status === true || response.status == 'true') {

                // Close modal
                this.closeModal();

                // Get data after save
                store.dispatch('moduleField/getModuleFieldList', { perPage: this.perPage, sortBy: 'mf_id', sortDesc: 'true', page: this.page, moduleId: router.currentRoute.params.id });

                this.$toast({
                  component: ToastificationContent,
                  position: 'top-right',
                  props: {
                    title: `Notification`,
                    icon: 'CheckIcon',
                    variant: 'success',
                    text: response.message,
                  },
                })
              } else {
                //this.moveUp();
              }
              return Promise.resolve(response);
            });
          }
        }
        else {
          //this.moveUp();
        }
      })
    },
  },
}
</script>

<style lang="scss">
@import '~@resources/scss/vue/libs/vue-select.scss';
</style>

