<template>
  <b-card>
    <!-- form -->
    <b-form>
      <!-- START :: Client User Information -->
      <div class="pt-75">
        <!-- Header: Company Info -->
        <div class="d-flex mt-1">
          <feather-icon icon="LayersIcon" size="19" />
          <h4 class="mb-0 ml-50">
            Company Details
          </h4>
        </div>
        <!-- Header: Company Info -->
        <b-row class="mt-2">
          <b-col cols="12">
            <!-- Media -->
            <b-media class="mb-2" v-if="userData && userData.companyData">
                <template #aside>
                    <b-avatar ref="previewEl" :src="userData.companyData.logo" :text="avatarText(userData.companyData.name)"
                    :variant="`light-${resolveUserRoleVariant(userData.role)}`" size="90px" rounded disabled/>
                </template>
                <h4 class="mt-3">
                    {{ userData.companyData.name }}
                </h4>
                <!-- <div class="d-flex flex-wrap">
                    <b-button variant="primary" @click="$refs.refInputEl.click()">
                    <input ref="refInputEl" type="file" class="d-none" @input="inputImageRenderer" @change="newAvatarUpload"
                        accept="image/*">
                    <span class="d-none d-sm-inline">Update</span>
                    <feather-icon icon="EditIcon" class="d-inline d-sm-none" />
                    </b-button>
                    <b-button variant="outline-secondary" class="ml-1" @click="removeAvatar" :disabled="!userData.client_company_logo">
                    <span class="d-none d-sm-inline">Remove</span>
                    <feather-icon icon="TrashIcon" class="d-inline d-sm-none" />
                    </b-button>
                </div> -->
            </b-media>
            <!--/ media -->
          </b-col>
        </b-row>
        <b-row v-if="userData && userData.companyData">
          <!-- Field: Company Name -->
        <b-col cols="12" md="4" v-if="userData && userData.companyData">
          <validation-provider #default="validationContext" name="Company Name" rules="required">
            <b-form-group>
              <label>Company Name <span class="text-danger">*</span></label>
              <b-form-input id="client_company_name" placeholder="XYZ" v-model="userData.companyData.name"
                :state="getValidationState(validationContext)" trim disabled/>
              <b-form-invalid-feedback>
                {{ validationContext.errors[0] }}
              </b-form-invalid-feedback>
            </b-form-group>
          </validation-provider>
        </b-col>

        <!-- Field: ABN -->
        <b-col cols="12" md="4" v-if="userData && userData.companyData">
          <validation-provider #default="validationContext" name="ABN" rules="required">
            <b-form-group>
              <label>ABN <span class="text-danger">*</span></label>
              <b-form-input id="client_abn"  v-model="userData.companyData.abn"
                :state="getValidationState(validationContext)" trim disabled/>
              <b-form-invalid-feedback>
                {{ validationContext.errors[0] }}
              </b-form-invalid-feedback>
            </b-form-group>
          </validation-provider>
        </b-col>

        <!-- Field: Client ID -->
        <b-col cols="12" md="4">
          <validation-provider #default="validationContext" name="Client ID" rules="required">
            <b-form-group>
              <label>Client ID <span class="text-danger">*</span></label>
              <b-form-input id="client_uuid"  v-model="userData.companyData.client_id"
                :state="getValidationState(validationContext)" trim disabled/>
              <b-form-invalid-feedback>
                {{ validationContext.errors[0] }}
              </b-form-invalid-feedback>
            </b-form-group>
          </validation-provider>
        </b-col>

        <!-- Field: Company Website -->
        <b-col cols="12" md="6" lg="4">
          <validation-provider #default="validationContext" name="Company Website" rules="url">
            <b-form-group label="Company Website" label-for="client_company_website">
              <b-form-input id="client_company_website" v-model="userData.companyData.website"
                :state="getValidationState(validationContext)" trim disabled/>
              <b-form-invalid-feedback>
                {{ validationContext.errors[0] }}
              </b-form-invalid-feedback>
            </b-form-group>
          </validation-provider>
        </b-col>

        <!-- Field: Status -->
        <!-- <b-col cols="12" md="4">
          <validation-provider #default="validationContext" name="User Status" rules="required">
            <b-form-group :state="getValidationState(validationContext)">
              <label>Status <span class="text-danger">*</span></label>
              <v-select v-model="userData.status" :dir="$store.state.appConfig.isRTL ? 'rtl' : 'ltr'"
                :options="statusOptions" :reduce="val => val.value" :clearable="true" input-id="user-status"
                placeholder="Select Status" disabled/>
              <b-form-invalid-feedback :state="getValidationState(validationContext)">
                {{ validationContext.errors[0] }}
              </b-form-invalid-feedback>
            </b-form-group>
          </validation-provider>
        </b-col> -->
        </b-row>


        <!-- START :: Company address Info Form -->
        <!-- Header: Address Info -->
        <div class="d-flex mt-2">
          <feather-icon icon="MapPinIcon" size="19" />
          <h4 class="mb-0 ml-50">
            Address
          </h4>
        </div>
        <!-- Header: Address Info -->
        <b-row class="mt-1" v-if="userData && userData.companyData">
          <!-- Field: Street -->
          <b-col cols="12" md="6" lg="4">
            <validation-provider #default="validationContext" name="Street" rules="required">
              <b-form-group>
                <label>Street <span class="text-danger">*</span></label>
                <b-form-input id="street" v-model="userData.companyData.street" :state="getValidationState(validationContext)"
                  trim disabled/>
                <b-form-invalid-feedback>
                  {{ validationContext.errors[0] }}
                </b-form-invalid-feedback>
              </b-form-group>
            </validation-provider>
          </b-col>

          <!-- Field: City -->
          <b-col cols="12" md="6" lg="4">
            <validation-provider #default="validationContext" name="City" rules="required">
              <b-form-group>
                <label>City <span class="text-danger">*</span></label>
                <b-form-input id="city" v-model="userData.companyData.city"
                  :state="getValidationState(validationContext)" trim disabled/>
                <b-form-invalid-feedback>
                  {{ validationContext.errors[0] }}
                </b-form-invalid-feedback>
              </b-form-group>
            </validation-provider>
          </b-col>

          <!-- Field: State -->
          <b-col cols="12" md="6" lg="4">
            <validation-provider #default="validationContext" name="State" rules="required">
              <b-form-group>
                <label>State <span class="text-danger">*</span></label>
                <b-form-input id="state" v-model="userData.companyData.state"
                  :state="getValidationState(validationContext)" trim disabled/>
                <b-form-invalid-feedback>
                  {{ validationContext.errors[0] }}
                </b-form-invalid-feedback>
              </b-form-group>
            </validation-provider>
          </b-col>

          <!-- Field: Country -->
          <b-col cols="12" md="6" lg="4">
            <validation-provider #default="validationContext" name="Country" rules="required">
              <b-form-group>
                <label>country <span class="text-danger">*</span></label>
                <b-form-input id="country" v-model="userData.companyData.country"
                  :state="getValidationState(validationContext)" trim disabled/>
                <b-form-invalid-feedback>
                  {{ validationContext.errors[0] }}
                </b-form-invalid-feedback>
              </b-form-group>
            </validation-provider>
          </b-col>

          <!-- Field: Postcode -->
          <b-col cols="12" md="6" lg="4">
            <validation-provider #default="validationContext" name="Postcode" rules="required">
              <b-form-group>
                <label>postcode <span class="text-danger">*</span></label>
                <b-form-input id="postcode" v-model="userData.companyData.postal_code"
                  :state="getValidationState(validationContext)" trim disabled/>
                <b-form-invalid-feedback>
                  {{ validationContext.errors[0] }}
                </b-form-invalid-feedback>
              </b-form-group>
            </validation-provider>
          </b-col>

          <!-- Field: Company Contact Number -->
          <b-col cols="12" md="6" lg="4">
            <validation-provider #default="validationContext" name="Company Contact Number" rules="required|isMobilePhone">
              <b-form-group>
                <label>Company Contact Number <span class="text-danger">*</span></label>
                <b-form-input id="client_company_contact_no" v-model="userData.companyData.contact_no"
                  :state="getValidationState(validationContext)" trim disabled/>
                <b-form-invalid-feedback>
                  {{ validationContext.errors[0] }}
                </b-form-invalid-feedback>
              </b-form-group>
            </validation-provider>
          </b-col>
        </b-row>
        <!-- END :: Company address Info Form -->





      </div>
      <!-- END :: Client User Information -->
    </b-form>
  </b-card>
</template>

<script>
import { BFormFile, BButton, BForm, BFormGroup, BFormInput, BRow, BCol, BCard, BFormTextarea, BFormInvalidFeedback, BFormRadioGroup, BMedia, BAvatar, } from 'bootstrap-vue'
import { ValidationProvider, ValidationObserver } from 'vee-validate'
import formValidation from '@core/comp-functions/forms/form-validation'
import { avatarText } from '@core/utils/filter'
import { useInputImageRenderer } from '@core/comp-functions/forms/form-utils'
import { ref } from '@vue/composition-api'
import vSelect from 'vue-select'
import flatPickr from 'vue-flatpickr-component'
import Ripple from 'vue-ripple-directive'
import Cleave from 'vue-cleave-component'
import ToastificationContent from '@core/components/toastification/ToastificationContent.vue'

// eslint-disable-next-line import/no-extraneous-dependencies
import 'cleave.js/dist/addons/cleave-phone.us'

import UserServices from "@/services/userServices";
import { getUserData, setUserData } from '@/auth/utils'
import store from '@/store/index.js';
import { $themeConfig } from '@themeConfig'
import BaseMixins from "@/mixins/BaseMixins";
import { mapGetters } from 'vuex';

export default {
  components: {
    BFormFile,
    BButton,
    BForm,
    BFormGroup,
    BFormInput,
    BRow,
    BCol,
    BCard,
    BFormTextarea,
    BFormInvalidFeedback,
    BFormRadioGroup,
    BMedia,
    BAvatar,

    vSelect,
    flatPickr,
    Cleave,

    // Form Validation
    ValidationProvider,
    ValidationObserver,
  },
  mixins: [BaseMixins],
  directives: {
    Ripple,
  },
  props: {
    userData: {
      type: Object,
      default: () => { },
    },
  },
  setup(props) {
    const refInputEl = ref(null)
    const previewEl = ref(null)

    const { inputImageRenderer } = useInputImageRenderer(refInputEl, base64 => {
      // eslint-disable-next-line no-param-reassign
      props.userData.client_company_logo = base64
    })

    const { refFormObserver, getValidationState } = formValidation(props.userData)

    return {
      avatarText,
      refInputEl,
      previewEl,
      inputImageRenderer,

      refFormObserver,
      getValidationState,
    }
  },
  data() {
    const localUserData = getUserData();

    return {
      optionsLocal: JSON.parse(JSON.stringify(this.userData)),
      localUserData
    }
  },
  computed: {
    // ...mapGetters("auth", [
    //   'userAvatar',
    //   'userFullName'
    // ]),
  },
  methods: {
    // Upload new user avatar
    newAvatarUpload(e) {
      e.preventDefault();

      let userAvatarData = {
        id: this.userData.id
      }

      // append file
      let formData = new FormData()


      formData.append('client_company_logo', e.target.files[0])
      formData.append('id', this.userData.id)

      const config = {
        headers: {
          'content-type': 'multipart/form-data'
        }
      }

      UserServices.uploadUserAvatar(userAvatarData, formData, config).then(response => {
        if (response.status === true || response.status == 'true') {




          // Set new avatar value
          this.localUserData.client_company_logo = this.userData.client_company_logo;
          setUserData(this.localUserData);

          const localUserData = getUserData();
        // value change in auth user avatar which display in top right side
          store.commit('app/UPDATE_APP_LOGO_IMAGE', this.localUserData.client_company_logo);

          this.$toast({
            component: ToastificationContent,
            position: 'top-right',
            props: {
              title: 'Notification',
              variant: 'success',
              text: response.message,
            },
          })
        } else {
          this.$toast({
            component: ToastificationContent,
            position: 'top-right',
            props: {
              title: 'Error',
              variant: 'danger',
              text: response.data.errors.file,
            },
          })
        }
        return Promise.resolve(response);
      });
    },

    removeAvatar() {
      this.$swal({
        title: 'Are you sure?',
        text: "You won't be able to revert this!",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Yes, remove it!',
        customClass: {
          confirmButton: 'btn btn-primary',
          cancelButton: 'btn btn-outline-danger ml-1',
        },
        buttonsStyling: false,
      }).then(result => {
        if (result.value) {
          UserServices.removeUserAvatar(this.userData.id).then(response => {
            if (response.status === true || response.status == 'true') {

               this.userData.client_company_logo = "";

              this.$swal({
                icon: 'success',
                title: 'Removed!',
                text: response.message,
                customClass: {
                  confirmButton: 'btn btn-success',
                },
              })


              // Set new avatar value
              this.localUserData.client_company_logo = this.userData.client_company_logo;
              setUserData(this.localUserData);

              // remove app logo on left side and set default
              store.commit('app/UPDATE_APP_LOGO_IMAGE', $themeConfig.app.appLogoImage);

            } else {
              this.$toast({
                component: ToastificationContent,
                position: 'top-right',
                props: {
                  title: 'Error',
                  variant: 'danger',
                  text: response.data.errors.file,
                },
              })
            }
            return Promise.resolve(response);
          });
        }
      })
    },
  },

}
</script>

<style lang="scss">
@import '~@resources/scss/vue/libs/vue-select.scss';
@import '~@resources/scss/vue/libs/vue-flatpicker.scss';
</style>
