<template>
  <b-card>
    <!-- Header: Client Representative Info -->
        <div class="d-flex  mt-2">
          <feather-icon icon="UserIcon" size="19" />
          <h4 class="mb-0 ml-50">
            Admin User
          </h4>
        </div>
        <b-row class="mt-2">
          <b-col cols="12">
            <!-- Media -->
            <b-media class="mb-2">
              <template #aside>
                <b-avatar ref="previewEl" :src="userAvatar" :text="avatarText(userFullName)"
                  :variant="`light-${resolveUserRoleVariant(userData.role)}`" size="90px" rounded />
              </template>
              <h4 class="mb-1">
                {{ userFullName }}
              </h4>
              <div class="d-flex flex-wrap">
                <b-button variant="primary" @click="$refs.refInputEl.click()">
                  <input ref="refInputEl" type="file" class="d-none" @input="inputImageRenderer"
                    @change="newAvatarUpload" accept="image/*">
                  <span class="d-none d-sm-inline">Update</span>
                  <feather-icon icon="EditIcon" class="d-inline d-sm-none" />
                </b-button>
                <b-button variant="outline-secondary" class="ml-1" @click="removeAvatar" :disabled="!userAvatar">
                  <span class="d-none d-sm-inline">Remove</span>
                  <feather-icon icon="TrashIcon" class="d-inline d-sm-none" />
                </b-button>
              </div>
            </b-media>
            <!--/ media -->
          </b-col>
        </b-row>
        <!-- Header: Client Representative Info -->
        <!-- START :: Client Representative Info -->

        <b-row class="mt-2">
          <!-- Field: First Name -->
          <b-col cols="12" md="4">
            <validation-provider #default="validationContext" name="First Name" rules="required|alpha">
              <b-form-group>
                <label>First Name <span class="text-danger">*</span></label>
                <b-form-input id="first_name" placeholder="Jone" v-model="userData.first_name"
                  :state="getValidationState(validationContext)" trim />
                <b-form-invalid-feedback>
                  {{ validationContext.errors[0] }}
                </b-form-invalid-feedback>
              </b-form-group>
            </validation-provider>
          </b-col>

          <!-- Field: Middle Name -->
          <b-col cols="12" md="4">
            <validation-provider #default="validationContext" name="Middle Name" rules="alpha">
              <b-form-group label="Middle Name" label-for="middle_name">
                <b-form-input id="middle_name" v-model="userData.middle_name"
                  :state="getValidationState(validationContext)" trim />
                <b-form-invalid-feedback>
                  {{ validationContext.errors[0] }}
                </b-form-invalid-feedback>
              </b-form-group>
            </validation-provider>
          </b-col>

          <!-- Field: Last Name -->
          <b-col cols="12" md="4">
            <validation-provider #default="validationContext" name="Last Name" rules="required|alpha">
              <b-form-group>
                <label>Last Name <span class="text-danger">*</span></label>
                <b-form-input id="last_name" placeholder="Watson" v-model="userData.last_name"
                  :state="getValidationState(validationContext)" trim />
                <b-form-invalid-feedback>
                  {{ validationContext.errors[0] }}
                </b-form-invalid-feedback>
              </b-form-group>
            </validation-provider>
          </b-col>

          <!-- Field: Email -->
          <b-col cols="12" md="4">
            <validation-provider #default="validationContext" name="Email" rules="required|email">
              <b-form-group>
                <label>Email <span class="text-danger">*</span></label>
                <b-form-input id="email" placeholder="felicia.reid@example.com" v-model="userData.email" type="email"
                  :state="getValidationState(validationContext)" trim />
                <b-form-invalid-feedback>
                  {{ validationContext.errors[0] }}
                </b-form-invalid-feedback>
              </b-form-group>
            </validation-provider>
          </b-col>

          <!-- Field: Contact Number -->
          <b-col cols="12" md="6" lg="4">
            <validation-provider #default="validationContext" name="Contact Number" rules="required|isMobilePhone">
              <b-form-group>
                <label>Contact Number <span class="text-danger">*</span></label>
                <b-form-input id="contact_number" v-model="userData.contact_number"
                  :state="getValidationState(validationContext)" trim />
                <b-form-invalid-feedback>
                  {{ validationContext.errors[0] }}
                </b-form-invalid-feedback>
              </b-form-group>
            </validation-provider>
          </b-col>

          <!-- Field: Representative Position -->
          <b-col cols="12" md="4">
            <validation-provider #default="validationContext" name="Representative Position" rules="required">
              <b-form-group>
                <label>Representative Position <span class="text-danger">*</span></label>
                <b-form-input id="client_representative_position" placeholder="CEO"
                  v-model="userData.client_representative_position" :state="getValidationState(validationContext)"
                  trim />
                <b-form-invalid-feedback>
                  {{ validationContext.errors[0] }}
                </b-form-invalid-feedback>
              </b-form-group>
            </validation-provider>
          </b-col>
        </b-row>
        <!-- END :: Client Representative Info -->
    <!-- Media -->
    <!-- <b-media class="mb-2">
      <template #aside>
        <b-avatar ref="previewEl" :src="userData.client_company_logo" :text="avatarText(userData.client_company_name)"
          :variant="`light-${resolveUserRoleVariant(userData.role)}`" size="90px" rounded />
      </template>
      <h4 class="mb-1">
        {{ userData.client_company_name }}
      </h4>
      <div class="d-flex flex-wrap">
        <b-button variant="primary" @click="$refs.refInputEl.click()">
          <input ref="refInputEl" type="file" class="d-none" @input="inputImageRenderer" @change="newAvatarUpload"
            accept="image/*">
          <span class="d-none d-sm-inline">Update</span>
          <feather-icon icon="EditIcon" class="d-inline d-sm-none" />
        </b-button>
        <b-button variant="outline-secondary" class="ml-1" @click="removeAvatar" :disabled="!userData.client_company_logo">
          <span class="d-none d-sm-inline">Remove</span>
          <feather-icon icon="TrashIcon" class="d-inline d-sm-none" />
        </b-button>
      </div>
    </b-media> -->
    <!--/ media -->

    <!-- form -->
    <!-- <b-form class="mt-2">
      <b-row> -->

        <!-- Field: Company Name -->
        <!-- <b-col cols="12" md="4">
          <validation-provider #default="validationContext" name="Company Name" rules="required">
            <b-form-group>
              <label>Company Name <span class="text-danger">*</span></label>
              <b-form-input id="client_company_name" placeholder="XYZ" v-model="userData.client_company_name"
                :state="getValidationState(validationContext)" trim />
              <b-form-invalid-feedback>
                {{ validationContext.errors[0] }}
              </b-form-invalid-feedback>
            </b-form-group>
          </validation-provider>
        </b-col> -->

        <!-- Field: ABN -->
        <!-- <b-col cols="12" md="4">
          <validation-provider #default="validationContext" name="ABN" rules="required">
            <b-form-group>
              <label>ABN <span class="text-danger">*</span></label>
              <b-form-input id="client_abn" placeholder="XYZ123" v-model="userData.client_abn"
                :state="getValidationState(validationContext)" trim />
              <b-form-invalid-feedback>
                {{ validationContext.errors[0] }}
              </b-form-invalid-feedback>
            </b-form-group>
          </validation-provider>
        </b-col> -->

        <!-- Field: Client ID -->
        <!-- <b-col cols="12" md="4">
          <validation-provider #default="validationContext" name="Client ID" rules="required">
            <b-form-group>
              <label>Client ID <span class="text-danger">*</span></label>
              <b-form-input id="client_uuid" placeholder="CLIENT001" v-model="userData.client_uuid"
                :state="getValidationState(validationContext)" trim />
              <b-form-invalid-feedback>
                {{ validationContext.errors[0] }}
              </b-form-invalid-feedback>
            </b-form-group>
          </validation-provider>
        </b-col> -->

        <!-- Field: Company Website -->
        <!-- <b-col cols="12" md="6" lg="4">
          <validation-provider #default="validationContext" name="Company Website" rules="url">
            <b-form-group label="Company Website" label-for="client_company_website">
              <b-form-input id="client_company_website" v-model="userData.client_company_website"
                :state="getValidationState(validationContext)" trim />
              <b-form-invalid-feedback>
                {{ validationContext.errors[0] }}
              </b-form-invalid-feedback>
            </b-form-group>
          </validation-provider>
        </b-col> -->

        <!-- Field: Status -->
        <!-- <b-col cols="12" md="4">
          <validation-provider #default="validationContext" name="User Status" rules="required">
            <b-form-group :state="getValidationState(validationContext)">
              <label>Status <span class="text-danger">*</span></label>
              <v-select v-model="userData.status" :dir="$store.state.appConfig.isRTL ? 'rtl' : 'ltr'"
                :options="statusOptions" :reduce="val => val.value" :clearable="true" input-id="user-status"
                placeholder="Select Status" disabled/>
              <b-form-invalid-feedback :state="getValidationState(validationContext)">
                {{ validationContext.errors[0] }}
              </b-form-invalid-feedback>
            </b-form-group>
          </validation-provider>
        </b-col> -->

      <!-- </b-row>
    </b-form> -->
  </b-card>
</template>

<script>
import {
  BFormFile, BButton, BForm, BFormGroup, BFormInput, BRow, BCol, BAlert, BCard, BCardText, BMedia, BAvatar, BMediaAside, BMediaBody, BLink, BImg, BFormInvalidFeedback,
} from 'bootstrap-vue'
import { ValidationProvider, ValidationObserver } from 'vee-validate'
import { required, alpha, email, isMobilePhone } from '@validations'
import formValidation from '@core/comp-functions/forms/form-validation'
import { avatarText } from '@core/utils/filter'
import Ripple from 'vue-ripple-directive'
import { useInputImageRenderer } from '@core/comp-functions/forms/form-utils'
import { ref } from '@vue/composition-api'
import vSelect from 'vue-select'
import ToastificationContent from '@core/components/toastification/ToastificationContent.vue'

import { mapActions, mapGetters } from 'vuex';
import BaseMixins from "@/mixins/BaseMixins";
import UserServices from "@/services/userServices";
import { getUserData, setUserData } from '@/auth/utils'
import store from '@/store/index.js';
import { $themeConfig } from '@themeConfig'

export default {
  components: {
    BButton,
    BForm,
    BImg,
    BFormFile,
    BFormGroup,
    BFormInput,
    BRow,
    BCol,
    BAlert,
    BCard,
    BCardText,
    BMedia,
    BAvatar,
    BMediaAside,
    BMediaBody,
    BLink,
    BFormInvalidFeedback,
    vSelect,

    // Form Validation
    ValidationProvider,
    ValidationObserver,
  },
  mixins: [BaseMixins],
  directives: {
    Ripple,
  },
  props: {
    userData: {
      type: Object,
      default: () => { },
    },
  },
  setup(props) {
    const refInputEl = ref(null)
    const previewEl = ref(null)

    const { inputImageRenderer } = useInputImageRenderer(refInputEl, base64 => {
      // eslint-disable-next-line no-param-reassign
      props.userData.avatar = base64
    })

    const { refFormObserver, getValidationState } = formValidation(props.userData)

    return {
      avatarText,
      refInputEl,
      previewEl,
      inputImageRenderer,

      refFormObserver,
      getValidationState,
    }
  },
  data() {
    const localUserData = getUserData();

    return {
      optionsLocal: JSON.parse(JSON.stringify(this.userData)),
      localUserData
    }
  },
  computed: {
    ...mapGetters("auth", [
      'userAvatar',
      'userFullName'
    ]),
    // Get state variables
    ...mapGetters('user',
      [
        'roleOptions', // Get role options
      ]
    ),
  },
  mounted() {
    this.getAllRole();
  },
  methods: {
    ...mapActions('user',
      [
        'getAllRole', // Get all roles
      ]
    ),
    // Upload new user avatar
    newAvatarUpload(e) {
      e.preventDefault();

      let userAvatarData = {
        id: this.userData.id
      }

      // append file
      let formData = new FormData()

      formData.append('file', e.target.files[0])
      formData.append('id', this.userData.id)

      const config = {
        headers: {
          'content-type': 'multipart/form-data'
        }
      }

      UserServices.uploadUserAvatar(userAvatarData, formData, config).then(response => {
        if (response.status === true || response.status == 'true') {


               const localUserData = getUserData();

          // Set new avatar value
          localUserData.avatar = response.data.avatar;
          setUserData(localUserData);

          // value change in auth user avatar which display in top right side
          store.commit('auth/UPDATE_USER_AVATAR', localUserData.avatar);

          this.$toast({
            component: ToastificationContent,
            position: 'top-right',
            props: {
              title: 'Notification',
              variant: 'success',
              text: response.message,
            },
          })
        } else {
          this.$toast({
            component: ToastificationContent,
            position: 'top-right',
            props: {
              title: 'Error',
              variant: 'danger',
              text: response.data.errors.file,
            },
          })
        }
        return Promise.resolve(response);
      });
    },

    removeAvatar() {
      this.$swal({
        title: 'Are you sure?',
        text: "You won't be able to revert this!",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Yes, remove it!',
        customClass: {
          confirmButton: 'btn btn-primary',
          cancelButton: 'btn btn-outline-danger ml-1',
        },
        buttonsStyling: false,
      }).then(result => {
        if (result.value) {
          UserServices.removeUserAvatar(this.userData.id).then(response => {
            if (response.status === true || response.status == 'true') {

             this.userData.avatar = "";

              this.$swal({
                icon: 'success',
                title: 'Removed!',
                text: response.message,
                customClass: {
                  confirmButton: 'btn btn-success',
                },
              })

                // Set new avatar value
              const localUserData = getUserData();
              localUserData.avatar = this.userData.avatar;
              setUserData(localUserData);

              // value change in auth user avatar which display in top right side
              store.commit('auth/UPDATE_USER_AVATAR', '');

              // remove app logo on right side
              //store.commit('UPDATE_USER_AVATAR', '');

            } else {
              this.$toast({
                component: ToastificationContent,
                position: 'top-right',
                props: {
                  title: 'Error',
                  variant: 'danger',
                  text: response.data.errors.file,
                },
              })
            }
            return Promise.resolve(response);
          });
        }
      })
    },
    resetForm() {
      this.optionsLocal = JSON.parse(JSON.stringify(this.userData))
    },
  },

}
</script>
