<template>
    <b-card no-body class="mb-0">
      <div class="m-2">  
  
        <b-col cols="12" class="my-2 px-0" >
          <hr />
        </b-col>
        <app-collapse accordion :type="collapseType" class="custom-acc-tab test123">
          <app-collapse-item v-for="(user, i) in companyAllUser" :title="user.full_name" :key="'A'+i">
            <div>Email: {{ user.email }}</div>
            <div>Role: {{ user.roles }}</div>
            <div>Status: {{ user.status === 'Y' ? 'Active' : 'Inactive' }}</div>
            <div v-for="(location, locationIndex) in user.location" :key="'location_' + locationIndex">
              <div v-for="(area, areaIndex) in location.area" :key="'area_' + areaIndex">
                <h3>{{ 'Location : ' + location.site_name + ' / ' + 'Area : ' + area.sub_site_name }}</h3>
                <v-tree
                  v-if="area.categoryModule[0].children.length > 0"
                  :data="area.categoryModule"
                  class="custom-tree-set"
                  v-model="initSelected"
                  getNodes
                  @node-check="handleNodeCheck(locationIndex, areaIndex, i, area.sub_site_id)"
                  @node-click="handleNodeCheck(locationIndex, areaIndex, i, area.sub_site_id)"
                  :ref="'tree_' + locationIndex + '_' + areaIndex"
                  :checked="true"
                  :multiple="true"
                ></v-tree>
                <div v-else class="text-center my-2">No Selected Category/Module</div>
              </div>
            </div>
            <div class="float-left my-2">
            <b-button :variant="getVariantColor(permissionChange)" :disabled="permissionChange" @click="savePermissionUser(user.id)">
              <span v-if="!isSaving">Save Permissions</span>
              <span v-else>Permission saved</span>
            </b-button>
          </div>
          </app-collapse-item>
        </app-collapse>
      </div>
    </b-card>
  </template>
  
  <script>
  import {
    BCard,
    BForm,
    BRow,
    BCol,
    BFormGroup,
    BButton,
    BFormSelect,
    BFormRadio,
    BFormRadioGroup,
    BFormCheckbox,
    BTabs,
    BTab,
    BCardText,
    BFormInput
  } from "bootstrap-vue";
  
  import { ValidationProvider, ValidationObserver } from "vee-validate";
  import BCardCode from "@core/components/b-card-code/BCardCode.vue";
  import BaseMixins from "@/mixins/BaseMixins";
  import ToastificationContent from "@core/components/toastification/ToastificationContent.vue";
  import formValidation from "@core/comp-functions/forms/form-validation";
  import { mapActions, mapGetters } from "vuex";
  import router from "@/router";
  import { required } from "@validations";
  import { VTree, VSelectTree } from "vue-tree-halower";
  import "vue-tree-halower/dist/halower-tree.min.css";
  import vSelect from "vue-select";
  import AppCollapse from "@core/components/app-collapse/AppCollapse.vue";
  import AppCollapseItem from "@core/components/app-collapse/AppCollapseItem.vue";
  import store from "@/store/index";
  
  export default {
    mixins: [BaseMixins],
    components: {
      ToastificationContent,
      VTree,
      VSelectTree,
      vSelect,
      BCardCode,
      BCard,
      ValidationProvider,
      ValidationObserver,
      BForm,
      BRow,
      BCol,
      BFormGroup,
      BButton,
      BFormSelect,
      BFormCheckbox,
      BFormRadio,
      BFormGroup,
      AppCollapse,
      AppCollapseItem,
      BFormRadioGroup,
      BFormRadio,
      BFormGroup,
      BTabs,
      BTab,
      BCardText,
      BFormInput
    },
  
    data() {
      const { refFormObserver, getValidationState } = formValidation(this.selected);
  
      return {
        collapseType: "margin",
        dir: "ltr",
        current: "tree",
        dynamic: '',
        required,
        selectUser: null,
  
        noSelected: [],
        selectedUser: [],
        initSelected: {},
        categoryModule: [],
        array: {
          subSite_id: router.currentRoute.params.id,
          searchUser: null,
        },
        permissionChange: true,
        userChange: true,
        isSaving: true,
      };
    },
    computed: {
      // Get state variables
      ...mapGetters("userPermission", ["companyAllUser"]),

      class() {
        return darkMode ? "dark-theme" : "light-theme";
      },
    },
    methods: {
      ...mapActions("userPermission", ["getCompanyAllUser", "saveUserPermission"]),
      
      getVariantColor(permissionChange) {
        return permissionChange ? "success" : "primary";
      },
      handleNodeCheck(locationIndex, areaIndex, userIndex, areaId) {
        this.permissionChange = false;
        this.isSaving = false;

        // Get the checked nodes from the v-tree component
        const checkedNodes = this.$refs['tree_' + locationIndex + '_' + areaIndex][userIndex].getCheckedNodes();
        
        // Create a new key with the areaId if it doesn't exist
        if (!this.initSelected[areaId]) {
          this.initSelected[areaId] = [];
        }

        // if(checkedNodes != '') {
        //   // Push the checked nodes into the initSelected array at the areaId key
        //   this.initSelected[areaId].push(...checkedNodes);
        // }else {
        //   this.initSelected[areaId].push([]);
        // }
        
        // Remove unchecked child nodes from the initSelected array
        const uncheckedNodes = this.initSelected[areaId].filter(node => !checkedNodes.includes(node));
        this.initSelected[areaId] = checkedNodes;

        // Recursively remove unchecked child nodes
        for (const uncheckedNode of uncheckedNodes) {
          const index = this.initSelected[areaId].indexOf(uncheckedNode);
          if (index > -1) {
            this.initSelected[areaId].splice(index, 1);
          }
        }
      },
      savePermissionUser(user_id) {
        this.saveUserPermission({
          data: this.initSelected,
          user_id: user_id,
        }).then((response) => {
          if (response.status === true || response.status == "true") {
              this.permissionChange = true;
              this.isSaving = true;

            this.$toast({
              component: ToastificationContent,
              position: "top-right",
              props: {
                  icon: "CheckIcon",
                variant: "success",
                text: response.message,
              },
            });
          }
          return Promise.resolve(response);
        });
      },
    },
    mounted() {
      this.getCompanyAllUser();
    },
  };
  </script>
  <style lang="scss" scoped>
  @import "~@resources/scss/vue/libs/tree.scss";
  @import "~@resources/scss/vue/libs/vue-select.scss";
  </style>
  