<template>
  <div class="card">
    <div class="card-body">

      <!-- Alert - Server side error -->
      <error-message></error-message>

      <validation-observer #default="{ handleSubmit }" ref="newUserFormObserver">
        <b-form class="mt-1">
          <!-- START :: User Basic Information -->
          <div class="mt-2 pt-75">
            <!-- Header: Basic Info -->
            <div class="d-flex">
              <feather-icon icon="UserIcon" size="19" />
              <h4 class="mb-0 ml-50">
                Basic Information
              </h4>
            </div>

            <b-row class="mt-1">
              <!-- Field: First Name -->
              <b-col cols="12" md="4">
                <validation-provider #default="validationContext" name="First Name" rules="required|alpha">
                  <b-form-group>
                    <label>First Name <span class="text-danger">*</span></label>
                    <b-form-input id="first_name" v-model="userData.first_name"
                      :state="getValidationState(validationContext)" trim />
                    <b-form-invalid-feedback>
                      {{ validationContext.errors[0] }}
                    </b-form-invalid-feedback>
                  </b-form-group>
                </validation-provider>
              </b-col>

              <!-- Field: Middle Name -->
              <b-col cols="12" md="4">
                <validation-provider #default="validationContext" name="Middle Name" rules="alpha">
                  <b-form-group label="Middle Name" label-for="middle_name">
                    <b-form-input id="middle_name" v-model="userData.middle_name"
                      :state="getValidationState(validationContext)" trim />
                    <b-form-invalid-feedback>
                      {{ validationContext.errors[0] }}
                    </b-form-invalid-feedback>
                  </b-form-group>
                </validation-provider>
              </b-col>

              <!-- Field: Last Name -->
              <b-col cols="12" md="4">
                <validation-provider #default="validationContext" name="Last Name" rules="required|alpha">
                  <b-form-group>
                    <label>Last Name <span class="text-danger">*</span></label>
                    <b-form-input id="last_name" v-model="userData.last_name"
                      :state="getValidationState(validationContext)" trim />
                    <b-form-invalid-feedback>
                      {{ validationContext.errors[0] }}
                    </b-form-invalid-feedback>
                  </b-form-group>
                </validation-provider>
              </b-col>

              <!-- Field: Email -->
              <b-col cols="12" md="4">
                <validation-provider #default="validationContext" name="Email" rules="required|email">
                  <b-form-group>
                    <label>Email <span class="text-danger">*</span></label>
                    <b-form-input id="email" v-model="userData.email" type="email"
                      :state="getValidationState(validationContext)" trim />
                    <b-form-invalid-feedback>
                      {{ validationContext.errors[0] }}
                    </b-form-invalid-feedback>
                  </b-form-group>
                </validation-provider>
              </b-col>

              <!-- Field: Status -->
              <b-col cols="12" md="4">
                <validation-provider #default="validationContext" name="User Status" rules="required">
                  <b-form-group label-for="user-status" :state="getValidationState(validationContext)">
                    <label>Status <span class="text-danger">*</span></label>
                    <v-select v-model="userData.status" :dir="$store.state.appConfig.isRTL ? 'rtl' : 'ltr'"
                      :options="statusOptions" :reduce="val => val.value" :clearable="true" input-id="user-status" />
                    <b-form-invalid-feedback :state="getValidationState(validationContext)">
                      {{ validationContext.errors[0] }}
                    </b-form-invalid-feedback>
                  </b-form-group>
                </validation-provider>
              </b-col>

              <!-- Field: Last Name -->
              <b-col cols="12" md="4">
                <validation-provider #default="validationContext" name="Position" rules="required">
                  <b-form-group>
                    <label>Position <span class="text-danger">*</span></label>
                    <b-form-input id="client_representative_position" v-model="userData.client_representative_position"
                      :state="getValidationState(validationContext)" trim />
                    <b-form-invalid-feedback>
                      {{ validationContext.errors[0] }}
                    </b-form-invalid-feedback>
                  </b-form-group>
                </validation-provider>
              </b-col>

            </b-row>
          </div>
          <!-- END :: User Basic Information -->

          <!-- START :: User Personal Information -->
          <div class="mt-2 pt-75">
            <!-- Header: Personal Info -->
            <div class="d-flex">
              <feather-icon icon="UserIcon" size="19" />
              <h4 class="mb-0 ml-50">
                Personal Information
              </h4>
            </div>

            <!-- Form: Personal Info Form -->
            <b-row class="mt-1">
              <!-- Field: Birth Date -->
              <b-col cols="12" md="6" lg="4">
                <b-form-group label="Birth Date" label-for="birth-date">
                  <flat-pickr v-model="userData.date_of_birth" class="form-control"
                    :config="{ dateFormat: 'Y-m-d', maxDate: 'today' }" placeholder="YYYY-MM-DD (Optional)" />
                </b-form-group>
              </b-col>

              <!-- Field: Contact Number -->
              <b-col cols="12" md="6" lg="4">
                <validation-provider #default="validationContext" name="Contact Number" rules="isMobilePhone">
                  <b-form-group label="Contact Number" label-for="contact_number">
                    <b-form-input id="contact_number" v-model="userData.contact_number"
                      :state="getValidationState(validationContext)" />
                    <b-form-invalid-feedback>
                      {{ validationContext.errors[0] }}
                    </b-form-invalid-feedback>
                  </b-form-group>
                </validation-provider>
              </b-col>

              <!-- Field: Avatar -->
              <b-col cols="12" md="6" lg="4">
                <b-form-group label="Avatar (Optional)" label-for="avatar">
                  <b-form-file v-model="userData.avatar" id="avatar" accept="image/*" @change="onFileChange" />
                </b-form-group>
              </b-col>

            </b-row>

            <!-- Header: Personal Info -->
            <div class="d-flex mt-2">
              <feather-icon icon="MapPinIcon" size="19" />
              <h4 class="mb-0 ml-50">
                Address
              </h4>
            </div>

            <!-- Form: Personal Info Form -->
            <b-row class="mt-1">

              <!-- Field: Address Line 1 -->
              <b-col cols="12" md="6" lg="4">
                <b-form-group label="Address Line 1" label-for="address-line-1">
                  <b-form-input id="address-line-1" v-model="userData.address_line_1" />
                </b-form-group>
              </b-col>

              <!-- Field: Address Line 2 -->
              <b-col cols="12" md="6" lg="4">
                <b-form-group label="Address Line 2" label-for="address-line-2">
                  <b-form-input id="address-line-2" v-model="userData.address_line_2" />
                </b-form-group>
              </b-col>

              <!-- Field: Street -->
              <b-col cols="12" md="6" lg="4">
                <b-form-group label="Street" label-for="street">
                  <b-form-input id="street" v-model="userData.street" />
                </b-form-group>
              </b-col>

              <!-- Field: City -->
              <b-col cols="12" md="6" lg="4">
                <b-form-group label="City" label-for="city">
                  <b-form-input id="city" v-model="userData.city" />
                </b-form-group>
              </b-col>

              <!-- Field: State -->
              <b-col cols="12" md="6" lg="4">
                <b-form-group label="State" label-for="state">
                  <b-form-input id="state" v-model="userData.state" />
                </b-form-group>
              </b-col>

              <!-- Field: Country -->
              <b-col cols="12" md="6" lg="4">
                <b-form-group label="Country" label-for="country">
                  <b-form-input id="country" v-model="userData.country" />
                </b-form-group>
              </b-col>

              <!-- Field: Postcode -->
              <b-col cols="12" md="6" lg="4">
                <b-form-group label="Postcode" label-for="postcode">
                  <b-form-input id="postcode" v-model="userData.postal_code" />
                </b-form-group>
              </b-col>
            </b-row>
          </div>
          <!-- END :: User Personal Information -->

          <!-- Action Buttons -->
          <b-row class="mt-2">
            <b-col>
              <b-button variant="primary" class="mb-1 mb-sm-0 mr-0 mr-sm-1"
                :block="$store.getters['app/currentBreakPoint'] === 'xs'" @click="submitNewUser">
                Save
              </b-button>
              <b-button type=button @click.prevent="onCancel">
                Cancel
              </b-button>
            </b-col>
          </b-row>
        </b-form>
      </validation-observer>
    </div>
  </div>
</template>

<script>
import {
  BButton,
  BMedia,
  BAvatar,
  BRow,
  BCol,
  BFormGroup,
  BFormInput,
  BFormRadioGroup,
  BForm,
  BTable,
  BCard,
  BCardHeader,
  BCardTitle,
  BFormCheckbox,
  BFormInvalidFeedback,
  BFormFile,
} from 'bootstrap-vue'

import { ValidationProvider, ValidationObserver } from 'vee-validate'
import { required, alpha, email, isMobilePhone } from '@validations'
import formValidation from '@core/comp-functions/forms/form-validation'
import vSelect from 'vue-select'
import flatPickr from 'vue-flatpickr-component'
import ToastificationContent from '@core/components/toastification/ToastificationContent.vue'

import { mapActions, mapGetters } from 'vuex';
import UserServices from "@/services/userServices";
import BaseMixins from "@/mixins/BaseMixins";
import ErrorMessage from '@/views/error/ErrorMessage'

export default {
  mixins: [BaseMixins],
  components: {
    BButton,
    BMedia,
    BAvatar,
    BRow,
    BCol,
    BFormGroup,
    BFormInput,
    BForm,
    BTable,
    BCard,
    BCardHeader,
    BCardTitle,
    BFormCheckbox,
    BFormInvalidFeedback,
    vSelect,
    BFormRadioGroup,
    BFormFile,

    // Date picker
    flatPickr,

    // Form Validation
    ValidationProvider,
    ValidationObserver,

    ErrorMessage,
  },
  data() {
    const userData = {
      avatar: [],
      first_name: '',
      middle_name: '',
      last_name: '',
      email: '',
      role: 'Super Admin',
      status: 'Y',
      date_of_birth: '',
      contact_number: '',
      address_line_1: '',
      address_line_2: '',
      street: '',
      city: '',
      state: '',
      country: 'Australia',
      postal_code: '',
      client_representative_position: ''
    }

    const { refFormObserver, getValidationState } = formValidation(userData)

    return {
      // Validation
      required,
      alpha,
      email,
      isMobilePhone,

      refFormObserver,
      getValidationState,

      userData
    };
  },
  methods: {
    onCancel() {
      this.$router.push({ name: 'admin-user-list' });
    },
    onFileChange(event) {
      this.userData.avatar = event.target.files[0];
    },
    // Submit user data
    submitNewUser() {
      this.$refs.newUserFormObserver.validate().then(success => {
        if (success) {
          const config = {
            headers: {
              'content-type': 'multipart/form-data'
            }
          }
          let formData = new FormData();

          // Set data in form
          for (const [key, value] of Object.entries(this.userData)) {
            formData.append(key, value);
          }

          // check validation
          UserServices.storeNewUser(formData, config).then(response => {
            if (response.status === true || response.status == 'true') {

              this.$router.push({ name: 'admin-user-list' })

              this.$toast({
                component: ToastificationContent,
                position: 'top-right',
                props: {
                  title: `Notification`,
                  icon: 'CheckIcon',
                  variant: 'success',
                  text: `You have successfully added new user.`,
                },
              })
            } else {
              this.moveUp();
            }
            return Promise.resolve(response);
          });
        }
        else {
          this.moveUp();
        }
      })
    },
  },

}
</script>

<style lang="scss">
@import '~@resources/scss/vue/libs/vue-select.scss';
@import '~@resources/scss/vue/libs/vue-flatpicker.scss';
</style>

