<template>

  <component :is="(userWithCompanyData === undefined) ? 'div' : 'b-card'">

    <!-- Alert: No item found -->
    <b-alert variant="danger" :show="(userWithCompanyData === undefined)">
      <h4 class="alert-heading">
        Error fetching user data
      </h4>
      <div class="alert-body">
        No user found with this user id. Check
        <b-link class="alert-link" :to="{ name: 'apps-users-list'}">
          User List
        </b-link>
        for other users.
      </div>
    </b-alert>

    <!-- Alert - Server side error -->
    <error-message></error-message>

    <validation-observer #default="{ handleSubmit }" ref="editUserFormObserver">
      <b-form>
        <b-tabs v-if="userWithCompanyData" pills>
          <!-- Tab: Account -->
          <b-tab active>
            <template #title>
              <feather-icon icon="UserIcon" size="16" class="mr-0 mr-sm-50" />
              <span class="d-none d-sm-inline">Account</span>
            </template>
            <client-edit-tab-account class="mt-2 pt-75" />
          </b-tab>

          <!-- Tab: Information -->
          <b-tab>
            <template #title>
              <feather-icon icon="InfoIcon" size="16" class="mr-0 mr-sm-50" />
              <span class="d-none d-sm-inline">Information</span>
            </template>
            <client-edit-tab-information class="mt-0" />
          </b-tab>

          <!-- Tab: Clone Category -->
          <b-tab>
            <template #title>
              <feather-icon icon="LayersIcon" size="16" class="mr-0 mr-sm-50" />
              <span class="d-none d-sm-inline">Clone Category</span>
            </template>
            <client-edit-tab-category-access class="mt-2 pt-75" />
          </b-tab>

          <b-row class="mt-2">
            <b-col>
              <!-- Action Buttons -->
              <b-button variant="primary" class="mb-1 mb-sm-0 mr-0 mr-sm-1"
                :block="$store.getters['app/currentBreakPoint'] === 'xs'" @click="updateUser(userWithCompanyData.id)"
                >
                Save Changes
              </b-button>
              <b-button variant="outline-secondary" type="reset"
                :block="$store.getters['app/currentBreakPoint'] === 'xs'" @click="onCancel">
                Cancel
              </b-button>
            </b-col>
          </b-row>

        </b-tabs>
      </b-form>
    </validation-observer>
  </component>
</template>

<script>
import {
  BTab, BTabs, BCard, BAlert, BLink, BRow, BCol, BButton, BForm
} from 'bootstrap-vue'
import router from '@/router'
import store from '@/store'
import ClientEditTabAccount from './ClientEditTabAccount.vue'
import ClientEditTabInformation from './ClientEditTabInformation.vue'
import ClientEditTabCategoryAccess from './ClientEditTabCategoryAccess.vue'
import ToastificationContent from '@core/components/toastification/ToastificationContent.vue'

import { ValidationProvider, ValidationObserver } from 'vee-validate'
import { required, alpha, email, isMobilePhone } from '@validations'
import formValidation from '@core/comp-functions/forms/form-validation'
import UserServices from "@/services/userServices";
import { mapActions, mapGetters } from 'vuex';
import ErrorMessage from '@/views/error/ErrorMessage';

export default {
  components: {
    BTab,
    BTabs,
    BCard,
    BAlert,
    BLink,
    BRow,
    BCol,
    BButton,
    BForm,

    ClientEditTabAccount,
    ClientEditTabInformation,
    ClientEditTabCategoryAccess,

    // Form Validation
    ValidationProvider,
    ValidationObserver,
    ErrorMessage,
  },
  data() {
    return{
        isMobilePhone,
        required
    };
  },
  mounted() {
    this.getUserWithCompanyData(router.currentRoute.params.id);
    this.getDefaultCompanyList();
  },
  computed: {
    // Get state variables
    ...mapGetters('user',
      [
        'userData', // Get all admin users
        'userWithCompanyData',
      ]
    ),
    ...mapGetters('company', ['defaultCompanyList']),
  },
  methods: {
    // Action call for set state variables
    ...mapActions('user',
      [
        'getUserData', // Get all admin users
        'getUserWithCompanyData'
      ]
    ),
    ...mapActions("company", ['getDefaultCompanyList']),
    // Submit user data
    updateUser(id) {
      this.$refs.editUserFormObserver.validate().then(success => {
        if (success) {
          // check validation
          UserServices.updateUserData(this.userWithCompanyData).then(response => {
            if (response.status === true || response.status == 'true') {

              //this.$router.push({ name: 'users-edit', params: { id: this.userData.id } })
              this.moveUp();
              this.$router.push({ name: 'admin-client-list' })

              this.$toast({
                component: ToastificationContent,
                position: 'top-right',
                props: {
                  title: `Notification`,
                  icon: 'CheckIcon',
                  variant: 'success',
                  text: response.message,
                },
              })
            } else {
              this.$toast({
                component: ToastificationContent,
                position: 'top-right',
                props: {
                  title: 'Error',
                  variant: 'danger',
                  text: response.message,
                },
              })
            }
            return Promise.resolve(response);
          });
        } else {
          this.$toast({
                component: ToastificationContent,
                position: 'top-right',
                props: {
                  title: 'Error',
                  variant: 'danger',
                  text: "Please fill required data.",
                },
              })
          //store.commit('app/UPDATE_ERRORS', errors);
        }
      })
    },

    // When Cancel button click
    onCancel() {
      this.$router.push({ name: 'admin-client-list' });
    },

    // move to top
    moveUp() {
      window.scrollTo(0, 0);
    }
  }
}
</script>

<style>

</style>
