<template>
  <div>

    <!-- START :: Client User Information -->
    <div class="pt-75">
      <!-- START :: Client Representative Info -->
      <!-- Header: Client Representative Info -->
      <div class="d-flex mt-0">
        <feather-icon icon="UserIcon" size="19" />
        <h4 class="mb-2 ml-50">
          Client Representative
        </h4>
      </div>

      <!-- Header: Client Representative Info -->
      <b-row class="mt-0">
        <b-col cols="12">
          <!-- Media -->
          <b-media class="mb-2">
            <template #aside>
              <b-avatar ref="previewEl" :src="userWithCompanyData.avatar" :text="avatarText(userWithCompanyData.full_name)"
                :variant="`light-${resolveUserRoleVariant(userWithCompanyData.role)}`" size="90px" rounded />
            </template>
            <h4 class="mb-1">
              {{ userWithCompanyData.full_name }}
            </h4>
            <div class="d-flex flex-wrap">
              <b-button variant="primary" @click="$refs.refInputEl.click()">
                <input ref="refInputEl" type="file" class="d-none" @change="newAvatarUpload" accept="image/*">
                <span class="d-none d-sm-inline">Update</span>
                <feather-icon icon="EditIcon" class="d-inline d-sm-none" />
              </b-button>
              <b-button variant="outline-secondary" class="ml-1" @click="removeAvatar"
                :disabled="userWithCompanyData.avatar == ''">
                <span class="d-none d-sm-inline">Remove</span>
                <feather-icon icon="TrashIcon" class="d-inline d-sm-none" />
              </b-button>
            </div>
          </b-media>
        </b-col>
      </b-row>
      <b-row class="mt-1">
        <!-- Field: First Name -->
        <b-col cols="12" md="4">
          <validation-provider #default="validationContext" name="First Name" rules="required|alpha">
            <b-form-group>
              <label>First Name <span class="text-danger">*</span></label>
              <b-form-input id="first_name"  v-model="userWithCompanyData.first_name"
                :state="getValidationState(validationContext)" trim />
              <b-form-invalid-feedback>
                {{ validationContext.errors[0] }}
              </b-form-invalid-feedback>
            </b-form-group>
          </validation-provider>
        </b-col>

        <!-- Field: Middle Name -->
        <b-col cols="12" md="4">
          <validation-provider #default="validationContext" name="Middle Name" rules="alpha">
            <b-form-group label="Middle Name" label-for="middle_name">
              <b-form-input id="middle_name"  v-model="userWithCompanyData.middle_name"
                :state="getValidationState(validationContext)" trim />
              <b-form-invalid-feedback>
                {{ validationContext.errors[0] }}
              </b-form-invalid-feedback>
            </b-form-group>
          </validation-provider>
        </b-col>

        <!-- Field: Last Name -->
        <b-col cols="12" md="4">
          <validation-provider #default="validationContext" name="Last Name" rules="required|alpha">
            <b-form-group>
              <label>Last Name <span class="text-danger">*</span></label>
              <b-form-input id="last_name"  v-model="userWithCompanyData.last_name"
                :state="getValidationState(validationContext)" trim />
              <b-form-invalid-feedback>
                {{ validationContext.errors[0] }}
              </b-form-invalid-feedback>
            </b-form-group>
          </validation-provider>
        </b-col>

        <!-- Field: Email -->
        <b-col cols="12" md="4">
          <validation-provider #default="validationContext" name="Email" rules="required|email">
            <b-form-group>
              <label>Email <span class="text-danger">*</span></label>
              <b-form-input id="email"  v-model="userWithCompanyData.email" type="email"
                :state="getValidationState(validationContext)" trim />
              <b-form-invalid-feedback>
                {{ validationContext.errors[0] }}
              </b-form-invalid-feedback>
            </b-form-group>
          </validation-provider>
        </b-col>

        <!-- Field: Contact Number -->
        <b-col cols="12" md="6" lg="4">
          <validation-provider #default="validationContext" name="Contact Number" rules="required|isMobilePhone">
            <b-form-group>
              <label>Contact Number <span class="text-danger">*</span></label>
              <b-form-input id="contact_number" v-model="userWithCompanyData.contact_number"
                :state="getValidationState(validationContext)" trim />
              <b-form-invalid-feedback>
                {{ validationContext.errors[0] }}
              </b-form-invalid-feedback>
            </b-form-group>
          </validation-provider>
        </b-col>

        <!-- Field: Representative Position -->
        <b-col cols="12" md="4">
          <validation-provider #default="validationContext" name="Representative Position" rules="required">
            <b-form-group>
              <label>Representative Position <span class="text-danger">*</span></label>
              <b-form-input id="client_representative_position"
                v-model="userWithCompanyData.client_representative_position" :state="getValidationState(validationContext)" trim />
              <b-form-invalid-feedback>
                {{ validationContext.errors[0] }}
              </b-form-invalid-feedback>
            </b-form-group>
          </validation-provider>
        </b-col>

        <!-- <b-col cols="12" md="4">
                <validation-provider #default="validationContext" name="Company" rules="required">
                    <b-form-group :state="getValidationState(validationContext)">
                        <label>Company <span class="text-danger">*</span></label>
                        <v-select v-model="userWithCompanyData.company_id" :dir="$store.state.appConfig.isRTL ? 'rtl' : 'ltr'"
                        :options="defaultCompanyList" :reduce="val => val.value" :clearable="true"
                        input-id="company_id" placeholder="Select Company or Search Companies"  />
                        <b-form-invalid-feedback :state="getValidationState(validationContext)">
                        {{ validationContext.errors[0] }}
                        </b-form-invalid-feedback>
                    </b-form-group>
                </validation-provider>
        </b-col> -->

      </b-row>
      <!-- END :: Client Representative Info -->
        <!-- Client Admin List -->
        <client-make-admin-list class="mt-3 mb-3"></client-make-admin-list>

    </div>
    <!-- END :: Client User Information -->
  </div>
</template>

<script>
import { BMedia, BAvatar, BRow, BCol, BTable, BForm, BFormGroup,BLink, BDropdown, BBadge, BDropdownItem, BFormInput, BFormRadioGroup, BFormCheckboxGroup, BFormInvalidFeedback, BButton } from 'bootstrap-vue'
import { ValidationProvider, ValidationObserver } from 'vee-validate'
import { required, alpha, email, isMobilePhone } from '@validations'
import formValidation from '@core/comp-functions/forms/form-validation'
import flatPickr from 'vue-flatpickr-component'
import vSelect from 'vue-select'
import { mapActions, mapGetters } from 'vuex';
import UserServices from "@/services/userServices";
import BaseMixins from "@/mixins/BaseMixins";
import { avatarText } from '@core/utils/filter'
import ToastificationContent from '@core/components/toastification/ToastificationContent.vue'
import store from '@/store';
import router from '@/router';
import ClientMakeAdminList from './ClientNewAdminList.vue'


export default {
  mixins: [BaseMixins],
  components: {
    BMedia,
    BAvatar,
    BRow,
    BCol,
    BForm,
    BFormGroup,
    BTable,
    flatPickr,
    BDropdown,
    BFormInput,
    vSelect,
    BFormRadioGroup,
    BFormCheckboxGroup,
    BFormInvalidFeedback,
    BButton,
    BLink,
    BBadge,
    BDropdownItem,

    // Form Validation
    ValidationProvider,
    ValidationObserver,

    ClientMakeAdminList,
  },

  data() {
    const { refFormObserver, getValidationState } = formValidation(this.userWithCompanyData)

    return {
      // Validation
      required,
      alpha,
      email,
      avatarText,
      isMobilePhone,

      refFormObserver,
      getValidationState,
      table: {
        perPage: 25,
        search: '',
        sortBy: null,
        sortDesc: true,
        page: 1,
        role: '',
        status: '',
      },
      tableColumns: [
        { label: 'Company Name', key: 'client_company_name', sortable: true },
        { label: 'Name', key: 'full_name', sortable: true },
        { label: 'Email Id', key: 'email', sortable: true },
        { label: 'Contact Number', key: 'company_data.contact_no' },
        { label: 'Created Date', key: 'created_at_format', sortable: false },
        { label: 'Status', key: 'status' },
        { label: 'Actions', key: 'actions' },
      ],
      isSortDirDesc: true,
    }
  },
  computed: {
    // Get state variables
    ...mapGetters('user',
      [
        'userData', // Get user
        'userWithCompanyData',
        'clientUserList',
        'userWithCompanyData',
      ]

    ),
    ...mapGetters('company', ['defaultCompanyList']),
  },
  methods: {
    ...mapActions('user',
      [
        'getAllRole', // Get all roles
        'getAllClientUser', // Get all admin user
      ]
    ),

    newAvatarUpload(e) {
      e.preventDefault();

      let userAvatarData = {
        id: this.userWithCompanyData.id
      }

      // append file
      let formData = new FormData()

      formData.append('file', e.target.files[0])
      formData.append('id', this.userWithCompanyData.id)

      const config = {
        headers: {
          'content-type': 'multipart/form-data'
        }
      }

      UserServices.uploadUserAvatar(userAvatarData, formData, config).then(response => {
        if (response.status === true || response.status == 'true') {

          // Call again for get updated user image
          store.dispatch('user/getUserWithCompanyData', router.currentRoute.params.id);

          this.$toast({
            component: ToastificationContent,
            position: 'top-right',
            props: {
              title: 'Notification',
              variant: 'success',
              text: response.message,
            },
          })
        } else {
          this.$toast({
            component: ToastificationContent,
            position: 'top-right',
            props: {
              title: 'Error',
              variant: 'danger',
              text: response.data.errors.file,
            },
          })
        }
        return Promise.resolve(response);
      });
    },
    // Remove user avatar which is exist
    removeAvatar() {
      this.$swal({
        title: 'Are you sure?',
        text: "You won't be able to revert this!",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Yes, remove it!',
        customClass: {
          confirmButton: 'btn btn-primary',
          cancelButton: 'btn btn-outline-danger ml-1',
        },
        buttonsStyling: false,
      }).then(result => {
        if (result.value) {
          UserServices.removeUserAvatar(this.userWithCompanyData.id).then(response => {
            if (response.status === true || response.status == 'true') {

              this.userWithCompanyData.avatar = "";

              this.$swal({
                title: 'Removed!',
                text: response.message,
                customClass: {
                  confirmButton: 'btn btn-success',
                },
              })
            } else {
              this.$toast({
                component: ToastificationContent,
                position: 'top-right',
                props: {
                  title: 'Error',
                  variant: 'danger',
                  text: response.data.errors.file,
                },
              })
            }
            return Promise.resolve(response);
          });
        }
      })
    }
  },
  mounted() {

    // Get all admin users
    this.getAllClientUser(this.table).catch((error) => {
      this.showToast(
        "Error",
        "XIcon",
        "danger",
        error.data.message
      );
    });
  },
  watch: {
    table: {
      handler() {
        this.getAllClientUser(this.table);
      },
      deep: true,
    },
  },
}
</script>

<style lang="scss">
@import '~@resources/scss/vue/libs/vue-flatpicker.scss';
</style>
