<template>
    <div>
      <!-- Table Container Card -->
      <b-card no-body class="mb-0">
        <client-edit-model></client-edit-model>
        <client-view-model></client-view-model>
        <b-table ref="refUserListTable" class="position-relative" :items="clientMakeAdminList" responsive
          :fields="tableColumns" primary-key="id" :sort-by.sync="table.sortBy" show-empty
          empty-text="No matching records found" :sort-desc.sync="isSortDirDesc">

          <!-- Column: User -->
          <template #cell(client_company_name)="data">

            <b-media vertical-align="center">
              <template #aside>
                <b-avatar size="32" :src="data.item.client_company_logo" :text="avatarText(data.item.client_company_name)"
                  :variant="`light-${resolveUserRoleVariant(data.item.role)}`"
                  @click="editCompany(data.item.id)" />
              </template>
              <b-link @click="editCompany(data.item.id)"
                class="font-weight-bold d-block text-nowrap">
                {{ data.item.client_company_name }}
              </b-link>
              <small class="text-muted">SA{{ data.item.id }}</small>
            </b-media>
          </template>

          <!-- Column: Contact Number -->
          <template #cell(client_company_contact_no)="data">
            <div class="text-nowrap">
              <span class="align-text-top text-capitalize">{{ data.item.client_company_contact_no }}</span>
            </div>
          </template>

          <!-- Column: Client Company Name with ABN -->
          <template #cell(client_abn)="data">
            {{ data.item.client_abn }}
          </template>

          <template #cell(converted_admin)="data">
            <b-badge href="#" pill :variant="`light-${resolveUserStatusVariant(data.item.converted_admin)}`"
              class="text-capitalize">
              {{ (data.item.converted_admin == 'Y')?'Yes':'No' }}
            </b-badge>
          </template>

          <!-- Column: Status -->
          <template #cell(status)="data">
            <b-badge href="#" pill :variant="`light-${resolveUserStatusVariant(data.item.status)}`"
              class="text-capitalize" @click="changeStatus(data.item.id, data.item.status)">
              {{ getStatusValue(data.item.status) }}
            </b-badge>
          </template>

          <!-- Column: Actions -->
          <template #cell(actions)="data">
            <b-dropdown variant="link" no-caret :right="$store.state.appConfig.isRTL">

              <template #button-content>
                <feather-icon icon="MoreVerticalIcon" size="16" class="align-middle text-body" />
              </template>
              <b-dropdown-item @click="viewCompany(data.item.id)">
                <feather-icon icon="FileTextIcon" />
                <span class="align-middle ml-50">Details</span>
              </b-dropdown-item>

              <b-dropdown-item @click="editCompany(data.item.id)">
                <feather-icon icon="EditIcon" />
                <span class="align-middle ml-50">Edit</span>
              </b-dropdown-item>

              <b-dropdown-item @click="deleteUser(data.item.id)">
                <feather-icon icon="TrashIcon" />
                <span class="align-middle ml-50">Delete</span>
              </b-dropdown-item>
            </b-dropdown>
          </template>

        </b-table>

      </b-card>
    </div>
  </template>

  <script>
  import {
    BCard,
    BRow,
    BCol,
    BFormInput,
    BButton,
    BTable,
    BMedia,
    BAvatar,
    BLink,
    BBadge,
    BDropdown,
    BDropdownItem,
    BPagination,
  } from 'bootstrap-vue'
  import vSelect from 'vue-select'
  import { avatarText } from '@core/utils/filter'

  import ToastificationContent from '@core/components/toastification/ToastificationContent.vue'
  import Ripple from 'vue-ripple-directive'
  import ClientEditModel from './ClientModal.vue'
  import ClientViewModel from './ClientViewModal.vue'
  import router from '@/router'

  import { mapActions, mapGetters } from 'vuex';
  import UserServices from "@/services/userServices";
  import BaseMixins from "@/mixins/BaseMixins";

  export default {
    mixins: [BaseMixins],
    components: {


      BCard,
      BRow,
      BCol,
      BFormInput,
      BButton,
      BTable,
      BMedia,
      BAvatar,
      BLink,
      BBadge,
      BDropdown,
      BDropdownItem,
      BPagination,
      ClientEditModel,
      ClientViewModel,

      vSelect,
    },
    directives: {
      Ripple,
    },
    data() {
      return {
        avatarText,
        table: {
          perPage: 25,
          search: '',
          sortBy: null,
          sortDesc: true,
          page: 1,
          role: '',
          status: '',
        },
        refUserListTable: null,
        perPageOptions: [10, 25, 50, 100],
        tableColumns: [
          { label: 'Company Name', key: 'client_company_name', sortable: true },
          { label: 'Admin User Name', key: 'full_name', sortable: true },
          { label: 'Email Id', key: 'email', sortable: true },
          { label: 'Contact Number', key: 'contact_number' },
          { label: 'Created Date', key: 'created_at_format', sortable: false },
          { label: 'Converted Admin', key: 'converted_admin' },
          { label: 'Status', key: 'status' },
          { label: 'Actions', key: 'actions' },
        ],
        isSortDirDesc: true,
        totalUsers: this.clientUserList != null ? this.clientUserList.total : 0,
      };
    },
    computed: {
      // Get state variables
      ...mapGetters('user',
        [
          'roleOptions', // Get role options
          'clientUserList', // Get all client users
          'userData', // Get user
          'clientMakeAdminList'
        ]
      ),
    },
    methods: {
      ...mapActions('user',
        [
          'getAllRole', // Get all roles
          'getAllClientUser', // Get all admin user
          'getUserWithCompanyData',
          'getUserData'
        ]
      ),
      refetchData() {
        this.getAllClientUser(this.table);
        //this.refUserListTable.value.refresh()
      },
      goToAddUser() {
        this.$router.push({ name: 'admin-client-add' });
      },
      editCompany(id) {
        this.getUserData(id);

            // Open category modal
            this.$bvModal.show('admin-modal');
     },
     viewCompany(id) {
        this.getUserData(id);

            // Open category modal
            this.$bvModal.show('admin-view-modal');
     },
      // Change user status
      changeStatus(id, status) {
        this.$swal({
          title: 'Are you sure?',
          text: "Do you want to change user status?",
          icon: 'warning',
          showCancelButton: true,
          confirmButtonText: 'Yes, change it!',
          customClass: {
            confirmButton: 'btn btn-primary',
            cancelButton: 'btn btn-outline-danger ml-1',
          },
          buttonsStyling: false,
        }).then(result => {
          if (result.value) {
            // check validation
            UserServices.changeStatus({ id: id, status: status }).then(response => {
              if (response.status === true || response.status == 'true') {
                this.getUserWithCompanyData(router.currentRoute.params.id);
                this.$swal({
                  icon: 'success',
                  title: 'Changed!',
                  text: response.message,
                  customClass: {
                    confirmButton: 'btn btn-success',
                  },
                })

                // Refetch table data
                this.refetchData()
              } else {
                this.$toast({
                  component: ToastificationContent,
                  position: 'top-right',
                  props: {
                    title: 'Error',
                    variant: 'danger',
                    text: response.message,
                  },
                })
              }
              return Promise.resolve(response);
            });
          }
        })
      },
      // User soft delete
      deleteUser(id) {
        this.$swal({
          title: 'Are you sure?',
          text: "You won't be able to revert this!",
          icon: 'warning',
          showCancelButton: true,
          confirmButtonText: 'Yes, delete it!',
          customClass: {
            confirmButton: 'btn btn-primary',
            cancelButton: 'btn btn-outline-danger ml-1',
          },
          buttonsStyling: false,
        }).then(result => {
          if (result.value) {
            // check validation
            UserServices.deleteUserData(id).then(response => {
              if (response.status === true || response.status == 'true') {
                this.getUserWithCompanyData(router.currentRoute.params.id);
                this.$swal({
                  icon: 'success',
                  title: 'Deleted!',
                  text: response.message,
                  customClass: {
                    confirmButton: 'btn btn-success',
                  },
                })

                // Refetch table data
                this.refetchData()

                // this.$toast({
                //   component: ToastificationContent,
                //   position: 'top-right',
                //   props: {
                //     title: `Notification`,
                //     icon: 'CoffeeIcon',
                //     variant: 'success',
                //     text: response.message,
                //   },
                // })
              } else {
                this.$toast({
                  component: ToastificationContent,
                  position: 'top-right',
                  props: {
                    title: 'Error',
                    variant: 'danger',
                    text: response.message,
                  },
                })
              }
              return Promise.resolve(response);
            }).catch((error) => {

this.showToast(
    "Error",
    "XIcon",
    "danger",
    error.message
);
});;
          }
        })
      },
    },
    mounted() {
      // Get all role
      this.getAllRole();

      // Get all admin users
    //   this.getAllClientUser(this.table).catch((error) => {
    //     this.showToast(
    //       "Error",
    //       "XIcon",
    //       "danger",
    //       error.data.message
    //     );
    //   });
    },
    watch: {
      table: {
        handler() {
          this.getAllClientUser(this.table);
        },
        deep: true,
      },
    },
  }
  </script>


  <style lang="scss">
  @import '~@resources/scss/vue/libs/vue-select.scss';
  @import '~@resources/scss/vue/libs/vue-select.scss';
