<template>
  <div>
    <!-- START :: Client Category Access Information -->
    <div class="pt-75">

      <!-- START: Clone Categories -->
      <div class="d-flex" v-if="defaultCategoryList.length > 0">
        <feather-icon icon="UserIcon" size="19" />
        <h4 class="mb-0 ml-50">
          Clone Categories
        </h4>
      </div>
      <div v-else class="text-center">
        No category record found.
      </div>

      <b-row class="mt-1" v-if="defaultCategoryList.length > 0">
        <b-col md="12">
          <b-form-group>
            <b-form-checkbox v-model="allSelected" :indeterminate="indeterminate" aria-describedby="defaultCategoryList"
              aria-controls="defaultCategoryList" @change="toggleAll">
              {{ allSelected ? 'Un-select All' : 'Select All' }}
            </b-form-checkbox>
          </b-form-group>

          <b-form-group v-for="option in defaultCategoryList" :key="option.value">
            <b-form-checkbox v-model="userWithCompanyData.categorySelected" :value="option.value" name="cloneCategory">
              {{ option.label }}
              <b-badge variant="warning" v-if="userWithCompanyData.clientCloneCategory && userWithCompanyData.clientCloneCategory.includes(option.value)">
                Already clone this category
              </b-badge>
            </b-form-checkbox>

          </b-form-group>
        </b-col>
      </b-row>
      <!-- END: Categories Access -->
    </div>
  </div>

</template>

<script>
import {
  BButton,
  BMedia,
  BAvatar,
  BRow,
  BCol,
  BFormGroup,
  BFormInput,
  BFormRadioGroup,
  BForm,
  BTable,
  BCard,
  BCardHeader,
  BCardTitle,
  BFormCheckbox,
  BFormInvalidFeedback,
  BFormFile,
  BBadge,
} from 'bootstrap-vue'

import { ValidationProvider, ValidationObserver } from 'vee-validate'
import { required, alpha, email } from '@validations'
import formValidation from '@core/comp-functions/forms/form-validation'
import vSelect from 'vue-select'
import flatPickr from 'vue-flatpickr-component'
import ToastificationContent from '@core/components/toastification/ToastificationContent.vue'

import { mapActions, mapGetters } from 'vuex';
import UserServices from "@/services/userServices";
import BaseMixins from "@/mixins/BaseMixins";
import ErrorMessage from '@/views/error/ErrorMessage'

export default {
  mixins: [BaseMixins],
  components: {
    BButton,
    BMedia,
    BAvatar,
    BRow,
    BCol,
    BFormGroup,
    BFormInput,
    BForm,
    BTable,
    BCard,
    BCardHeader,
    BCardTitle,
    BFormCheckbox,
    BFormInvalidFeedback,
    vSelect,
    BFormRadioGroup,
    BFormFile,
    BBadge,

    // Date picker
    flatPickr,

    // Form Validation
    ValidationProvider,
    ValidationObserver,

    ErrorMessage,
  },
  data() {

    return {
      allSelected: false,
      indeterminate: false
    };
  },
  mounted() {
    this.getDefaultCategoryList();
  },
  computed: {
    // Get state variables
    ...mapGetters('category', ['defaultCategoryList']),

    // Get state variables
    ...mapGetters('user', ['userData','userWithCompanyData']),
  },
  methods: {
    // Call store action
    ...mapActions("category", ['getDefaultCategoryList']),

    toggleAll(checked) {
      let tempSelected = [];
      for (const key in this.defaultCategoryList) {
        if (Object.hasOwnProperty.call(this.defaultCategoryList, key)) {
          const element = this.defaultCategoryList[key];
          tempSelected.push(element.value);
        }
      }

      this.userWithCompanyData.categorySelected = checked ? tempSelected : [];
    },
  },
  watch: {
    'userWithCompanyData.categorySelected': function (newValue, oldValue) {
      // Handle changes in individual flavour checkboxes
      if (newValue.length === 0) {
        this.indeterminate = false
        this.allSelected = false
      } else if (newValue.length === this.defaultCategoryList.length) {
        this.indeterminate = false
        this.allSelected = true
      } else {
        this.indeterminate = true
        this.allSelected = false
      }
    }
  }

}
</script>

