<template>
  <div>
    <!-- START :: User Personal Information -->
    <div class="mt-2 pt-75">
      <!-- Header: Personal Info -->
      <div class="d-flex">
        <feather-icon icon="UserIcon" size="19" />
        <h4 class="mb-0 ml-50">
          Personal Information
        </h4>
      </div>

      <!-- Form: Personal Info Form -->
      <b-row class="mt-1">
        <!-- Field: Birth Date -->
        <!-- <b-col cols="12" md="6" lg="4">
          <b-form-group label="Birth Date" label-for="birth-date">
            <flat-pickr v-model="userData.date_of_birth" class="form-control" :config="{ dateFormat: 'Y-m-d' }"
              placeholder="YYYY-MM-DD (Optional)" />
          </b-form-group>
        </b-col> -->

        <!-- Field: Contact Number -->
        <b-col cols="12" md="6" lg="4">
          <b-form-group label="Contact Number" label-for="contact_number">
            <b-form-input id="contact_number" v-model="userData.contact_number" />
          </b-form-group>
        </b-col>

      </b-row>

    </div>
    <!-- END :: User Personal Information -->
  </div>
</template>

<script>
import { BRow, BCol, BForm, BFormGroup, BFormInput, BFormRadioGroup, BFormCheckboxGroup, BFormInvalidFeedback, BButton } from 'bootstrap-vue'
import { ValidationProvider, ValidationObserver } from 'vee-validate'
import { required, alpha, email } from '@validations'
import formValidation from '@core/comp-functions/forms/form-validation'
import flatPickr from 'vue-flatpickr-component'
import vSelect from 'vue-select'
import { mapActions, mapGetters } from 'vuex';
import UserServices from "@/services/userServices";


export default {
  components: {
    BRow,
    BCol,
    BForm,
    BFormGroup,
    flatPickr,
    BFormInput,
    vSelect,
    BFormRadioGroup,
    BFormCheckboxGroup,
    BFormInvalidFeedback,
    BButton,

    // Form Validation
    ValidationProvider,
    ValidationObserver,
  },

  data() {
    const { refFormObserver, getValidationState } = formValidation(this.userData)

    return {
      // Validation
      required,
      alpha,
      email,

      refFormObserver,
      getValidationState,
    }
  },
  computed: {
    // Get state variables
    ...mapGetters('user',
      [
        'userData', // Get user
      ]
    ),
  },
}
</script>

<style lang="scss">
@import '~@resources/scss/vue/libs/vue-flatpicker.scss';
</style>
