<template>
  <b-card>
    <!-- form -->
    <b-form>
      <b-row>
        <!-- Current password -->
        <b-col md="6">
          <validation-provider
            #default="validationContext"
            name="account-old-password"
            :rules="passwordFieldRequiredOld"
          >
            <b-form-group
              label="Current Password"
              label-for="account-old-password"
            >
              <b-input-group class="input-group-merge" :class="validationContext.errors.length > 0 ? 'is-invalid':null">
                <b-form-input
                  id="account-old-password"
                  v-model="userData.passwordValueOld"
                  :type=passwordFieldTypeOld
                  :state="getValidationState(validationContext)"
                  trim
                  @keyup.delete="checkPasswordValidation($event)"
                  @keypress="checkPasswordValidation($event)"
                  placeholder="Current Password"
                />
                <b-input-group-append is-text>
                  <feather-icon
                    :icon="passwordToggleIconOld"
                    class="cursor-pointer"
                    @click="togglePasswordOld"
                  />
                </b-input-group-append>
              </b-input-group>
              <b-form-invalid-feedback>
                {{ validationContext.errors[0] }}
              </b-form-invalid-feedback>
            </b-form-group>
          </validation-provider>
        </b-col>
        <!--/ old password -->
      </b-row>
      <b-row>
        <!-- new password -->
        <b-col md="6">
          <validation-provider
            #default="validationContext"
            name="New Password"
            :rules="passwordFieldRequiredNew"
            ref="password" 
          >
            <b-form-group
              label-for="account-new-password"
              label="New Password"
            >
              <b-input-group class="input-group-merge" :class="validationContext.errors.length > 0 ? 'is-invalid':null">
                <b-form-input
                  id="account-new-password"
                  v-model="userData.newPasswordValue"
                  :type="passwordFieldTypeNew"
                  name="new-password"
                  placeholder="New Password"
                  :state="getValidationState(validationContext)"
                  trim
                />
                <b-input-group-append is-text>
                  <feather-icon
                    :icon="passwordToggleIconNew"
                    class="cursor-pointer"
                    @click="togglePasswordNew"
                  />
                </b-input-group-append>
              </b-input-group>

              <b-form-invalid-feedback>
                {{ validationContext.errors[0] }}
              </b-form-invalid-feedback>
            </b-form-group>
          </validation-provider>
        </b-col>
        <!--/ new password -->

        <!-- retype password -->
        <b-col md="6">
          <validation-provider
            #default="validationContext"
            name="Retype New Password"
            :rules="passwordFieldRequiredRetype"
          >
            <b-form-group
              label-for="account-retype-new-password"
              label="Retype New Password"
            >
              <b-input-group class="input-group-merge" :class="validationContext.errors.length > 0 ? 'is-invalid':null">
                <b-form-input
                  id="account-retype-new-password"
                  v-model="userData.retypePassword"
                  :type="passwordFieldTypeRetype"
                  name="retype-password"
                  placeholder="Retype New Password"
                  :state="getValidationState(validationContext)"
                  trim
                />
                <b-input-group-append is-text>
                  <feather-icon
                    :icon="passwordToggleIconRetype"
                    class="cursor-pointer"
                    @click="togglePasswordRetype"
                  />
                </b-input-group-append>
              </b-input-group>
              <b-form-invalid-feedback>
                {{ validationContext.errors[0] }}
              </b-form-invalid-feedback>
            </b-form-group>
          </validation-provider>
        </b-col>
        <!--/ retype password -->

      </b-row>
    </b-form>
  </b-card>
</template>

<script>
import {
  BButton, BForm, BFormGroup, BFormInput, BRow, BCol, BCard, BInputGroup, BInputGroupAppend,BFormInvalidFeedback
} from 'bootstrap-vue'
import Ripple from 'vue-ripple-directive'
import { ValidationProvider, ValidationObserver } from 'vee-validate'
import formValidation from '@core/comp-functions/forms/form-validation'

import {mapActions,mapGetters} from 'vuex';
import store from '@/store/index.js';

export default {
  components: {
    BButton,
    BForm,
    BFormGroup,
    BFormInput,
    BRow,
    BCol,
    BCard,
    BInputGroup,
    BInputGroupAppend,
    BFormInvalidFeedback,

    // Form Validation
    ValidationProvider,
    ValidationObserver,
  },
  directives: {
    Ripple,
  },
  props: {
    userData: {
      type: Object,
      required: true,
    },
  },
  setup(props) {

    const { refFormObserver, getValidationState } = formValidation(props.userData)

    return {
      // passwordFieldRequiredOld : '',
      // passwordFieldRequiredNew : '',
      // passwordFieldRequiredRetype : '',
      // passwordFieldTypeOld: 'password',
      // passwordFieldTypeNew: 'password',
      // passwordFieldTypeRetype: 'password',

      refFormObserver,
      getValidationState
    }
  },
  computed: {
    // Get state variables
    ...mapGetters('auth', 
        [
          'passwordFieldRequiredOld',
          'passwordFieldRequiredNew',
          'passwordFieldRequiredRetype',
          'passwordFieldTypeOld',
          'passwordFieldTypeNew',
          'passwordFieldTypeRetype'
        ]
    ),

    passwordToggleIconOld() {
      return this.passwordFieldTypeOld === 'password' ? 'EyeIcon' : 'EyeOffIcon'
    },
    passwordToggleIconNew() {
      return this.passwordFieldTypeNew === 'password' ? 'EyeIcon' : 'EyeOffIcon'
    },
    passwordToggleIconRetype() {
      return this.passwordFieldTypeRetype === 'password' ? 'EyeIcon' : 'EyeOffIcon'
    },
  },
  methods: {
    togglePasswordOld() {
      const passwordFieldTypeOld = this.passwordFieldTypeOld === 'password' ? 'text' : 'password'
      
      // value change in auth passwordFieldTypeOld
      store.commit('auth/UPDATE_PASSWORD_FIELD_TYPE_OLD', passwordFieldTypeOld);
    },
    togglePasswordNew() {
      const passwordFieldTypeNew = this.passwordFieldTypeNew === 'password' ? 'text' : 'password'

      // value change in auth passwordFieldTypeNew
      store.commit('auth/UPDATE_PASSWORD_FIELD_TYPE_NEW', passwordFieldTypeNew);
    },
    togglePasswordRetype() {
      const passwordFieldTypeRetype = this.passwordFieldTypeRetype === 'password' ? 'text' : 'password'

      // value change in auth passwordFieldTypeRetype
      store.commit('auth/UPDATE_PASSWORD_FIELD_TYPE_RETYPE', passwordFieldTypeRetype);
    },
    checkPasswordValidation(event) {
      if(event.key != 'Backspace' || this.userData.passwordValueOld != '') {
        // value change in auth variable
        store.commit('auth/UPDATE_PASSWORD_FIELD_REQUIRED_OLD', 'required');
        store.commit('auth/UPDATE_PASSWORD_FIELD_REQUIRED_NEW', 'required');
        store.commit('auth/UPDATE_PASSWORD_FIELD_REQUIRED_RETYPE', 'required|confirmed:New Password');
      } else if(this.userData.passwordValueOld == '') {
        store.commit('auth/UPDATE_PASSWORD_FIELD_REQUIRED_OLD', '');
        store.commit('auth/UPDATE_PASSWORD_FIELD_REQUIRED_NEW', '');
        store.commit('auth/UPDATE_PASSWORD_FIELD_REQUIRED_RETYPE', '');
      }
    }
  },
}
</script>
