<template>
    <div>

      <document-add-modal />

      <!-- Table Container Card -->
      <b-card no-body class="mb-0">

        <div class="m-2">

          <!-- Table Top -->
          <b-row>

            <!-- Per Page -->
            <b-col cols="12" md="6" class="d-flex align-items-center justify-content-start mb-1 mb-md-0">
              <label>Show</label>
              <v-select v-model="table.perPage" :dir="$store.state.appConfig.isRTL ? 'rtl' : 'ltr'"
                :options="perPageOptions" :clearable="false" class="per-page-selector d-inline-block mx-50" />
              <label>entries</label>
            </b-col>

            <!-- Search -->
            <b-col cols="12" md="6">
              <div class="d-flex align-items-center justify-content-end">
                <b-form-input v-model="table.search" class="d-inline-block mr-1" placeholder="Search..." />
                <b-button variant="primary" @click.prevent="goToAddDocument" class="mr-1">
                  <span class="text-nowrap">Add</span>
                </b-button>
                <b-button variant="outline-danger" @click.prevent="deleteDocument(0)">
                  <span class="text-nowrap">Delete</span>
                </b-button>
              </div>
            </b-col>
          </b-row>

        </div>

        <b-table hover ref="refUserListTable" class="position-relative" :items="documentList.documents.data" responsive
          :fields="tableColumns" primary-key="asset_id" :sort-by.sync="table.sortBy" show-empty
          empty-text="No matching records found" :sort-desc.sync="isSortDirDesc" v-if="documentList && documentList.documents">

          <!-- Column: Checkbox -->
          <template #cell(checkbox)="data">
            <b-form-checkbox v-model="data.item.selected" @input="documentSelect(data.item.ad_id)" />
          </template>

          <!-- Column: Date&Time -->
          <template #cell(raised)="data">
            <p class="mb-0">{{data.item.ad_date}}</p>
            <p class="mb-0">{{data.item.ad_time}}</p>
          </template>

          <!-- Column: Link -->
          <template #cell(ad_link)="data">
            <a v-if="data.item.ad_file" :href="storageBaseURL() +  data.item.ad_file" download="" target="_blank"><feather-icon icon="DownloadIcon" />&nbsp;</a>
            <a v-if="data.item.ad_link" :href="data.item.ad_link" target="_blank"><feather-icon icon="ExternalLinkIcon" /></a>
          </template>

          <!-- Column: Actions -->
          <template #cell(actions)="data">
            <b-dropdown variant="link" no-caret :right="$store.state.appConfig.isRTL">

                <template #button-content>
                    <feather-icon icon="MoreVerticalIcon" size="16" class="align-middle text-body" />
                </template>
                <b-dropdown-item @click.prevent="goToEditDocument(data.item.ad_id)">
                    <feather-icon icon="EditIcon" />
                    <span class="align-middle ml-50">Edit</span>
                </b-dropdown-item>

                <b-dropdown-item @click.prevent="deleteDocument(data.item.ad_id)">
                    <feather-icon icon="TrashIcon" />
                    <span class="align-middle ml-50">Delete</span>
                </b-dropdown-item>
            </b-dropdown>
          </template>

        </b-table>
        <!-- Data Information & Pagination -->
        <div class="mx-2 mb-2" v-if="documentList && documentList.documents && documentList.documents.total>0">
          <b-row>

            <b-col cols="12" sm="6" class="d-flex align-items-center justify-content-center justify-content-sm-start">
              <span class="text-muted">Showing {{ documentList.documents.from }} to {{ documentList.documents.to }} of {{ documentList.documents.total }} entries</span>
            </b-col>
            <!-- Pagination -->
            <b-col cols="12" sm="6" class="d-flex align-items-center justify-content-center justify-content-sm-end">

              <b-pagination v-model="currentPage" :total-rows="totalDocuments" :per-page="table.perPage" first-number
                last-number class="mb-0 mt-1 mt-sm-0" prev-class="prev-item" next-class="next-item">
                <template #prev-text>
                  <feather-icon icon="ChevronLeftIcon" size="18" />
                </template>
                <template #next-text>
                  <feather-icon icon="ChevronRightIcon" size="18" />
                </template>
              </b-pagination>

            </b-col>

          </b-row>
        </div>
      </b-card>
    </div>
</template>
<script>
import {
  BCard,
  BRow,
  BCol,
  BFormInput,
  BFormCheckbox,
  BButton,
  BTable,
  BMedia,
  BAvatar,
  BLink,
  BBadge,
  BDropdown,
  BDropdownItem,
  BPagination,
} from 'bootstrap-vue'
import ToastificationContent from '@core/components/toastification/ToastificationContent.vue'
import { ref } from '@vue/composition-api'
import DocumentAddModal from './DocumentAddModal.vue'
import vSelect from 'vue-select'
import BaseMixins from "@/mixins/BaseMixins";
import { mapGetters, mapActions } from 'vuex'
export default {
  mixins: [BaseMixins],
  components: {
    BCard,
    BRow,
    BCol,
    BFormInput,
    BFormCheckbox,
    BButton,
    BTable,
    BMedia,
    BAvatar,
    BLink,
    BBadge,
    BDropdown,
    BDropdownItem,
    BPagination,
    DocumentAddModal,

    vSelect,
  },
  data() {
    return {
      currentPage: 1,
      totalDocuments: 0,
      table: {
        asset_id: null,
        sortBy: null,
        sortDesc: false,
        perPage: 25,
        search: null,
        role: '',
        status: '',
      },
      tableColumns: [
        {label:'', key: 'checkbox'},
        {label:'Raised', key: 'raised', sortable: true },
        {label:'Name', key: 'ad_name', sortable: true },
        {label:'Type', key: 'ad_type', sortable: true },
        {label:'Size (in KB)', key: 'ad_size', sortable: true },
        {label:'Link', key: 'ad_link' },
        {label:'Actions', key: 'actions' },
      ],
      isSortDirDesc: true,
      perPageOptions: [10, 25, 50, 100],
      selectedDocuments: [],        // documents selected for batch delete
    }
  },
  computed: {
    ...mapGetters('documents', ['documentList', 'assetId']),
  },
  mounted() {
  },
  methods: {
    ...mapActions('documents', ['getDocumentsList', 'setModalButtonName', 'getAssetDocument', 'deleteBatchDocuments']),
    changeStatus(a,b) {
    //   alert('Upcoming functionality')
    },
    goToAddDocument() {
      this.setModalButtonName('Add');
      this.$bvModal.show('modal-add-asset-document');
    },
    goToEditDocument(documentId) {
      this.setModalButtonName('Update');
      this.getAssetDocument(documentId);
      this.$bvModal.show('modal-add-asset-document');
    },
    documentSelect(docId) {
        // if docId is present in selectedDocument then remove it else insert it.
        let idPresent = false;
        for(var i=0; i<this.selectedDocuments.length; i++) {
            if(this.selectedDocuments[i] == docId) {
                idPresent=true;
                break;
            }
        }
        if(idPresent) {
            this.selectedDocuments.splice(this.selectedDocuments.indexOf(docId), 1);
        } else {
            this.selectedDocuments.push(docId);
        }
    },
    deleteDocument(id) {
        let deleteData = [];
        if(id==0) {
            // id==0 => Batch delete
            if(this.selectedDocuments.length>0) {
                this.selectedDocuments.forEach(function (value) {
                    deleteData.push(value);
                });
            } else {
                // No data selected case
                this.$bvToast.toast('Please select at least one document to delete', {
                    title: 'Error',
                    variant: 'danger',
                    solid: true,
                })
                return false;
            }
        } else {
            // id!=0 => Single delete
            deleteData.push(id);
        }
        this.$swal({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Yes, delete it!',
            customClass: {
            confirmButton: 'btn btn-primary',
            cancelButton: 'btn btn-outline-danger ml-1',
            },
            buttonsStyling: false,
        }).then(result => {
            if (result.value) {
                // check validation
                var formData = new FormData();
                formData.append('assetDocumentIdArray', JSON.stringify(deleteData));
                this.deleteBatchDocuments(formData).then(response => {
                    if (response.status === true || response.status == 'true') {
                        this.selectedDocuments = [];
                        this.$swal({
                            icon: 'success',
                            title: 'Deleted!',
                            text: response.message,
                            customClass: {
                            confirmButton: 'btn btn-success',
                            },
                        })
                    }
                    return Promise.resolve(response);
                });
            }
        })
    },
  },
  watch: {
    assetId: function (val) {
      if (val) {
        this.table.asset_id = val
      }
    },
    table: {
        handler() {
            this.getDocumentsList(this.table);
        },
        deep: true,
    },
  }
}
</script>
<style lang="scss">
@import '~@resources/scss/vue/libs/vue-select.scss';
@import '~@resources/scss/vue/libs/vue-select.scss';
