<template>
    <b-row v-if="Object.keys(detailedInfo).length !== 0">
        <b-col md="2">
            <div>
                <div>
                    <b-card style="cursor:pointer" @click="goToDashboardDetails(authUserData.role, {apiKey: 'active_clients'})" class="rounded bg-light card-border-light card-wrapper-inner">
                        <p class="dashboard-card-heading">No. <span class="text-primary font-weight-bolder">Active Clients</span></p>
                        <h5 class="text-primary">{{detailedInfo.active_client}}</h5>
                    </b-card>
                </div>
                <div>
                    <b-card style="cursor:pointer" @click="goToDashboardDetails(authUserData.role, {apiKey: 'inactive_clients'})" class="rounded bg-light card-border-light card-wrapper-inner">
                        <p class="dashboard-card-heading">No. <span class="text-danger font-weight-bolder">Inactive Clients</span></p>
                        <h5 class="text-danger">{{detailedInfo.inactive_client}}</h5>
                    </b-card>
                </div>
            </div>
        </b-col>
        <b-col lg="5" xl="6">
            <b-card header="Last Location Added" class="rounded bg-light card-border-light card-wrapper-inner-large">
                <div class="dashboard-info-card-inner-wrapper text-left" v-if="detailedInfo && detailedInfo.last_location_added && Object.keys(detailedInfo.last_location_added)!==0">
                    <p>Date: <span class="text-primary">{{detailedInfo.last_location_added.date}}</span> Time: <span
                            class="text-primary">{{detailedInfo.last_location_added.time}}</span></p>
                    <p>Client name: <span class="text-primary">{{detailedInfo.last_location_added.client_name}}</span></p>
                    <p>User who added location: <span class="text-primary">{{detailedInfo.last_location_added.created_by_user_name}}</span></p>
                    <p>New Location Created: <span class="text-primary">{{detailedInfo.last_location_added.location_name}}</span></p>
                    <p>Total No. of Locations: <span class="text-primary">{{detailedInfo.last_location_added.location_count}} (Total for this client)</span></p>
                    <p>Total No. of Areas: <span class="text-primary">{{detailedInfo.last_location_added.area_count}} (Total for this client)</span></p>
                </div>
                <div class="dashboard-info-card-inner-wrapper text-left" v-else>
                    <p class="text-center">No Record Found!</p>
                </div>
            </b-card>
        </b-col>
        <b-col lg="5" xl="4">
            <b-card header="Last Admin User Created"
                class="rounded bg-light card-border-light card-wrapper-inner-large">
                <div class="dashboard-info-card-inner-wrapper text-left" v-if="detailedInfo && detailedInfo.last_client_admin_user_added && Object.keys(detailedInfo.last_client_admin_user_added).length!==0">
                    <p>Date: <span class="text-primary">{{detailedInfo.last_client_admin_user_added.date}}</span> Time: <span
                        class="text-primary">{{detailedInfo.last_client_admin_user_added.time}}</span></p>
                        <p>Client name: <span class="text-primary">{{detailedInfo.last_client_admin_user_added.client_name}}</span></p>
                        <p>Admin User Created: <span class="text-primary">{{detailedInfo.last_client_admin_user_added.client_admin_name}}</span></p>
                        <p>Created By: <span class="text-primary">{{detailedInfo.last_client_admin_user_added.created_by_user_name}}</span></p>
                </div>
                <div class="dashboard-info-card-inner-wrapper text-left" v-else>
                    <p class="text-center">No Record Found!</p>
                </div>
            </b-card>
        </b-col>
    </b-row>
</template>
<script>
import { BCard, BRow, BCol } from 'bootstrap-vue'
import { mapActions, mapGetters } from 'vuex'
import BaseMixins from '@/mixins/BaseMixins';
export default {
    mixins: [BaseMixins],
    components: {
        BCard,
        BRow,
        BCol,
    },
    computed: {
        ...mapGetters('dashboard', ['detailedInfo']),
        ...mapGetters('auth', ['authUserData']),
    },
}
</script>
