<template>
    <b-row v-if="Object.keys(detailedInfo).length !== 0">
        <b-col md="2">
            <b-card style="cursor:pointer" @click="goToDashboardDetails(authUserData.role, {apiKey: 'active_locations'})" class="rounded bg-light card-border-light card-wrapper-inner">
                <p class="dashboard-card-heading">No. <span class="text-success font-weight-bolder">Active Locations</span></p>
                <h5 class="text-success">{{detailedInfo.active_locations}}</h5>
            </b-card>
        </b-col>
        <b-col md="2">
            <b-card style="cursor:pointer" @click="goToDashboardDetails(authUserData.role, {apiKey: 'active_areas'})" class="rounded bg-light card-border-light card-wrapper-inner">
                <p class="dashboard-card-heading">No. <span class="text-success font-weight-bolder">Active Areas</span></p>
                <h5 class="text-success">{{detailedInfo.active_areas}}</h5>
            </b-card>
        </b-col>
        <b-col md="2">
            <b-card style="cursor:pointer" @click="goToDashboardDetails(authUserData.role, {apiKey: 'active_admin_users'})" class="rounded bg-light card-border-light card-wrapper-inner">
                <p class="dashboard-card-heading">No. <span class="text-success font-weight-bolder">Active Admin Users</span></p>
                <h5 class="text-success">{{detailedInfo.active_admin_users}}</h5>
            </b-card>
        </b-col>
        <b-col md="2">
            <b-card style="cursor:pointer" @click="goToDashboardDetails(authUserData.role, {apiKey: 'active_users'})" class="rounded bg-light card-border-light card-wrapper-inner">
                <p class="dashboard-card-heading">No. <span class="text-success font-weight-bolder">Active Users</span></p>
                <h5 class="text-success">{{detailedInfo.active_users}}</h5>
            </b-card>
        </b-col>
        <b-col md="2">
            <b-card style="cursor:pointer" @click="goToDashboardDetails(authUserData.role, {apiKey: 'active_categories'})" class="rounded bg-light card-border-light card-wrapper-inner">
                <p class="dashboard-card-heading">No. <span class="text-success font-weight-bolder">Active Categories</span></p>
                <h5 class="text-success">{{detailedInfo.active_categories}}</h5>
            </b-card>
        </b-col>
        <b-col md="2">
            <b-card style="cursor:pointer" @click="goToDashboardDetails(authUserData.role, {apiKey: 'active_modules'})" class="rounded bg-light card-border-light card-wrapper-inner">
                <p class="dashboard-card-heading">No. <span class="text-success font-weight-bolder">Active Modules</span></p>
                <h5 class="text-success">{{detailedInfo.active_modules}}</h5>
            </b-card>
        </b-col>
        <b-col md="2">
            <b-card style="cursor:pointer" @click="goToDashboardDetails(authUserData.role, {apiKey: 'inactive_locations'})" class="rounded bg-light card-border-light card-wrapper-inner last-card-wrapper">
                <p class="dashboard-card-heading">No. <span class="text-warning font-weight-bolder">Inactive Locations</span></p>
                <h5 class="text-warning">{{detailedInfo.inactive_locations}}</h5>
            </b-card>
        </b-col>
        <b-col md="2">
            <b-card style="cursor:pointer" @click="goToDashboardDetails(authUserData.role, {apiKey: 'inactive_areas'})" class="rounded bg-light card-border-light card-wrapper-inner last-card-wrapper">
                <p class="dashboard-card-heading">No. <span class="text-warning font-weight-bolder">Inactive Areas</span></p>
                <h5 class="text-warning">{{detailedInfo.inactive_areas}}</h5>
            </b-card>
        </b-col>
        <b-col md="2">
            <b-card style="cursor:pointer" @click="goToDashboardDetails(authUserData.role, {apiKey: 'inactive_admin_users'})" class="rounded bg-light card-border-light card-wrapper-inner last-card-wrapper">
                <p class="dashboard-card-heading">No. <span class="text-warning font-weight-bolder">Inactive Admin Users</span></p>
                <h5 class="text-warning">{{detailedInfo.inactive_admin_users}}</h5>
            </b-card>
        </b-col>
        <b-col md="2">
            <b-card style="cursor:pointer" @click="goToDashboardDetails(authUserData.role, {apiKey: 'inactive_users'})" class="rounded bg-light card-border-light card-wrapper-inner last-card-wrapper">
                <p class="dashboard-card-heading">No. <span class="text-warning font-weight-bolder">Inactive Users</span></p>
                <h5 class="text-warning">{{detailedInfo.inactive_users}}</h5>
            </b-card>
        </b-col>
        <b-col md="2">
            <b-card style="cursor:pointer" @click="goToDashboardDetails(authUserData.role, {apiKey: 'inactive_categories'})" class="rounded bg-light card-border-light card-wrapper-inner last-card-wrapper">
                <p class="dashboard-card-heading">No. <span class="text-warning font-weight-bolder">Inactive Categories</span></p>
                <h5 class="text-warning">{{detailedInfo.inactive_categories}}</h5>
            </b-card>
        </b-col>
        <b-col md="2">
            <b-card style="cursor:pointer" @click="goToDashboardDetails(authUserData.role, {apiKey: 'inactive_modules'})" class="rounded bg-light card-border-light card-wrapper-inner last-card-wrapper">
                <p class="dashboard-card-heading">No. <span class="text-warning font-weight-bolder">Inactive Modules</span></p>
                <h5 class="text-warning">{{detailedInfo.inactive_modules}}</h5>
            </b-card>
        </b-col>
    </b-row>
</template>
<script>
import { BCard, BRow, BCol } from 'bootstrap-vue'
import { mapGetters } from 'vuex'
import BaseMixins from '@/mixins/BaseMixins'
export default {
    mixins: [BaseMixins],
    components: {
        BCard,
        BRow,
        BCol,
    },
    computed: {
        ...mapGetters('dashboard', ['detailedInfo']),
        ...mapGetters('auth', ['authUserData']),
    }
}
</script>
