<template>

  <component :is="(userData === undefined) ? 'div' : 'b-card'">

    <!-- Alert: No item found -->
    <b-alert variant="danger" :show="(userData === undefined)">
      <h4 class="alert-heading">
        Error fetching user data
      </h4>
      <div class="alert-body">
        No user found with this user id. Check
        <b-link class="alert-link" :to="{ name: 'apps-users-list'}">
          User List
        </b-link>
        for other users.
      </div>
    </b-alert>

    <validation-observer #default="{ handleSubmit }" ref="editUserFormObserver">
      <b-form>
        <b-tabs v-if="userData" pills>

          <!-- Tab: Account -->
          <b-tab active>
            <template #title>
              <feather-icon icon="UserIcon" size="16" class="mr-0 mr-sm-50" />
              <span class="d-none d-sm-inline">Account</span>
            </template>
            <user-view-tab-account class="mt-2 pt-75" />
          </b-tab>

          <!-- Tab: Information -->
          <b-tab>
            <template #title>
              <feather-icon icon="InfoIcon" size="16" class="mr-0 mr-sm-50" />
              <span class="d-none d-sm-inline">Information</span>
            </template>
            <user-view-tab-information class="mt-2 pt-75" />
          </b-tab>

          <b-row class="mt-2">
            <b-col>
              <!-- Action Buttons -->
              <b-button variant="outline-secondary" type="reset"
                :block="$store.getters['app/currentBreakPoint'] === 'xs'" @click="onCancel">
                Cancel
              </b-button>
            </b-col>
          </b-row>

        </b-tabs>
      </b-form>
    </validation-observer>
  </component>
</template>

<script>
import {
  BTab, BTabs, BCard, BAlert, BLink, BRow, BCol, BButton, BForm
} from 'bootstrap-vue'
import router from '@/router'
import store from '@/store'
import UserViewTabAccount from './UserViewTabAccount.vue'
import UserViewTabInformation from './UserViewTabInformation.vue'
import ToastificationContent from '@core/components/toastification/ToastificationContent.vue'

import { ValidationProvider, ValidationObserver } from 'vee-validate'
import { required, alpha, email } from '@validations'
import formValidation from '@core/comp-functions/forms/form-validation'
import UserServices from "@/services/userServices";
import { mapActions, mapGetters } from 'vuex';

export default {
  components: {
    BTab,
    BTabs,
    BCard,
    BAlert,
    BLink,
    BRow,
    BCol,
    BButton,
    BForm,

    UserViewTabAccount,
    UserViewTabInformation,

    // Form Validation
    ValidationProvider,
    ValidationObserver,
  },
  mounted() {
    this.getUserData(router.currentRoute.params.id);
  },
  computed: {
    // Get state variables
    ...mapGetters('user',
      [
        'userData', // Get all admin users
      ]
    ),
  },
  methods: {
    // Action call for set state variables
    ...mapActions('user',
      [
        'getUserData', // Get all admin users
      ]
    ),
    // Submit user data
    updateUser(id) {
      this.$refs.editUserFormObserver.validate().then(success => {
        if (success) {
          // check validation
          UserServices.updateUserData(this.userData).then(response => {
            if (response.status === true || response.status == 'true') {

              //this.$router.push({ name: 'users-edit', params: { id: this.userData.id } })
              this.moveUp();

              this.$toast({
                component: ToastificationContent,
                position: 'top-right',
                props: {
                  title: `Notification`,
                  icon: 'CheckIcon',
                  variant: 'success',
                  text: response.message,
                },
              })
            } else {
              this.$toast({
                component: ToastificationContent,
                position: 'top-right',
                props: {
                    icon:"XIcon",
                  title: 'Error',
                  variant: 'danger',
                  text: response.message,
                },
              })
            }
            return Promise.resolve(response);
          });
        } else {
          this.$toast({
                component: ToastificationContent,
                position: 'top-right',
                props: {
                    icon:"XIcon",
                  title: 'Error',
                  variant: 'danger',
                  text: "Please fill required data.",
                },
              })
          //store.commit('app/UPDATE_ERRORS', errors);
        }
      })
    },

    // When Cancel button click
    onCancel() {
      this.$router.push({ name: 'admin-user-list' });
    },

    // move to top
    moveUp() {
      window.scrollTo(0, 0);
    }
  }
}
</script>

<style>

</style>
