<template>
    <div class="card">
        <div class="card-body">
            <!-- Alert - Server side error -->
            <error-message></error-message>

            <validation-observer
                #default="{ handleSubmit }"
                ref="newCompanyFormObserver"
            >
                <b-form class="mt-1">
                    <!-- START :: User Basic Information -->
                    <div class="mt-2 pt-75">
                        <!-- Header: Basic Info -->
                        <div class="d-flex">
                            <feather-icon icon="UserIcon" size="19" />
                            <h4 class="mb-2 ml-50">Basic Information</h4>
                        </div>

                        <!-- Media -->
                        <b-media class="mb-2">
                            <template #aside>
                                <b-avatar
                                    ref="previewEl"
                                    :src="companyData.logo"
                                    :text="avatarText(companyData.name)"
                                    size="90px"
                                    rounded
                                />
                            </template>
                            <h4 class="mb-1">
                                {{ companyData.name }}
                            </h4>
                            <div class="d-flex flex-wrap">
                                <b-button
                                    variant="primary"
                                    @click="$refs.refInputEl.click()"
                                >
                                    <input
                                        ref="refInputEl"
                                        type="file"
                                        class="d-none"
                                        @change="newAvatarUpload"
                                        accept="image/jpeg,image/gif,image/png"
                                    />
                                    <span class="d-none d-sm-inline"
                                        >Update</span
                                    >
                                    <feather-icon
                                        icon="EditIcon"
                                        class="d-inline d-sm-none"
                                    />
                                </b-button>
                                <b-button
                                    variant="outline-secondary"
                                    class="ml-1"
                                    @click="removeAvatar"
                                    :disabled="companyData.logo == ''"
                                >
                                    <span class="d-none d-sm-inline"
                                        >Remove</span
                                    >
                                    <feather-icon
                                        icon="TrashIcon"
                                        class="d-inline d-sm-none"
                                    />
                                </b-button>
                            </div>
                        </b-media>

                        <b-row class="mt-1">
                            <!-- Field: Company Name -->
                            <b-col cols="12" md="4">
                                <validation-provider
                                    #default="validationContext"
                                    name="Company Name"
                                    rules="required"
                                >
                                    <b-form-group>
                                        <label
                                            >Company Name
                                            <span class="text-danger"
                                                >*</span
                                            ></label
                                        >
                                        <b-form-input
                                            id="name"
                                            v-model="companyData.name"
                                            :state="
                                                getValidationState(
                                                    validationContext
                                                )
                                            "
                                            trim
                                            maxlength="50"
                                        />
                                        <b-form-invalid-feedback>
                                            {{ validationContext.errors[0] }}
                                        </b-form-invalid-feedback>
                                    </b-form-group>
                                </validation-provider>
                            </b-col>

                            <!-- Field: ABN -->
                            <b-col cols="12" md="4">
                                <validation-provider
                                    #default="validationContext"
                                    name="ABN"
                                    rules="required"
                                >
                                    <b-form-group>
                                        <label
                                            >ABN
                                            <span class="text-danger"
                                                >*</span
                                            ></label
                                        >
                                        <b-form-input
                                            id="abn"
                                            v-model="companyData.abn"
                                            :state="
                                                getValidationState(
                                                    validationContext
                                                )
                                            "
                                            trim
                                            maxlength="20"
                                        />
                                        <b-form-invalid-feedback>
                                            {{ validationContext.errors[0] }}
                                        </b-form-invalid-feedback>
                                    </b-form-group>
                                </validation-provider>
                            </b-col>

                            <!-- Field: Client ID -->
                            <b-col cols="12" md="4">
                                <validation-provider
                                    #default="validationContext"
                                    name="Client ID"
                                    rules="required"
                                >
                                    <b-form-group>
                                        <label
                                            >Client ID
                                            <span class="text-danger"
                                                >*</span
                                            ></label
                                        >
                                        <b-form-input
                                            id="client_id"
                                            v-model="companyData.client_id"
                                            :state="
                                                getValidationState(
                                                    validationContext
                                                )
                                            "
                                            trim
                                            maxlength="20"
                                        />
                                        <b-form-invalid-feedback>
                                            {{ validationContext.errors[0] }}
                                        </b-form-invalid-feedback>
                                    </b-form-group>
                                </validation-provider>
                            </b-col>

                            <!-- Field: Company Website -->
                            <b-col cols="12" md="6" lg="4">
                                <validation-provider
                                    #default="validationContext"
                                    name="Company Website"
                                    rules="required|url"
                                >
                                    <b-form-group>
                                        <label
                                            >Company Website
                                            <span class="text-danger"
                                                >*</span
                                            ></label
                                        >
                                        <b-form-input
                                            id="website"
                                            v-model="companyData.website"
                                            :state="
                                                getValidationState(
                                                    validationContext
                                                )
                                            "
                                            trim
                                            maxlength="120"
                                        />
                                        <b-form-invalid-feedback>
                                            {{ validationContext.errors[0] }}
                                        </b-form-invalid-feedback>
                                    </b-form-group>
                                </validation-provider>
                            </b-col>


                            <!-- Field: Confined Space -->
                            <b-col cols="12" md="4">
                                <b-form-group>
                                    <label>Confined Space</label>
                                    <v-select
                                        v-model="companyData.is_confined_space"
                                        :options="confinedSpaceOptions"
                                        :reduce="(val) => val.value"
                                        :clearable="true"
                                        input-id="user-is-confined-space"
                                    />
                                </b-form-group>
                            </b-col>


                            <!-- Field: Company Contact Number -->
                            <b-col cols="12" md="6" lg="4">
                                <validation-provider
                                    #default="validationContext"
                                    name="Company Contact Number"
                                    rules="required|isMobilePhone"
                                >
                                    <b-form-group>
                                        <label
                                            >Company Contact Number
                                            <span class="text-danger"
                                                >*</span
                                            ></label
                                        >
                                        <b-form-input
                                            id="contact_no"
                                            v-model="companyData.contact_no"
                                            :state="
                                                getValidationState(
                                                    validationContext
                                                )
                                            "
                                            trim
                                            maxlength="20"
                                        />
                                        <b-form-invalid-feedback>
                                            {{ validationContext.errors[0] }}
                                        </b-form-invalid-feedback>
                                    </b-form-group>
                                </validation-provider>
                            </b-col>

                            <!-- Field: Commence Date -->
                            <b-col cols="12" md="6" lg="4">
                                <validation-provider #default="validationContext" name="Commence Date" rules="required">
                                <b-form-group>
                                    <label>Commence Date <span class="text-danger">*</span></label>
                                    <flat-pickr id="commence_date" v-model="companyData.commence_date" class="form-control"
                                    :config="{ dateFormat: 'd M Y'}" placeholder="YYYY-MM-DD" :state="getValidationState(validationContext)">
                                    </flat-pickr>
                                    <b-form-invalid-feedback>
                                    {{ validationContext.errors[0] }}
                                    </b-form-invalid-feedback>
                                </b-form-group>
                                </validation-provider>
                            </b-col>

                        </b-row>
                    </div>
                    <!-- END :: User Basic Information -->

                    <!-- START :: User Personal Information -->
                    <div class="mt-2 pt-75">
                        <!-- Header: Address Info -->
                        <div class="d-flex">
                            <feather-icon icon="MapPinIcon" size="19" />
                            <h4 class="mb-0 ml-50">Address</h4>
                        </div>

                        <!-- Form: Address Information -->
                        <b-row class="mt-1">
                            <!-- Field: Street -->
                            <b-col cols="12" md="6" lg="4">
                                <validation-provider
                                    #default="validationContext"
                                    name="Street"
                                    rules="required"
                                >
                                    <b-form-group>
                                        <label
                                            >Street
                                            <span class="text-danger"
                                                >*</span
                                            ></label
                                        >
                                        <b-form-input
                                            id="street"
                                            v-model="companyData.street"
                                            :state="
                                                getValidationState(
                                                    validationContext
                                                )
                                            "
                                            trim
                                            maxlength="50"
                                        />
                                        <b-form-invalid-feedback>
                                            {{ validationContext.errors[0] }}
                                        </b-form-invalid-feedback>
                                    </b-form-group>
                                </validation-provider>
                            </b-col>

                            <!-- Field: City -->
                            <b-col cols="12" md="6" lg="4">
                                <validation-provider
                                    #default="validationContext"
                                    name="City"
                                    rules="required"
                                >
                                    <b-form-group>
                                        <label
                                            >City
                                            <span class="text-danger"
                                                >*</span
                                            ></label
                                        >
                                        <b-form-input
                                            id="city"
                                            v-model="companyData.city"
                                            :state="
                                                getValidationState(
                                                    validationContext
                                                )
                                            "
                                            trim
                                            maxlength="50"
                                        />
                                        <b-form-invalid-feedback>
                                            {{ validationContext.errors[0] }}
                                        </b-form-invalid-feedback>
                                    </b-form-group>
                                </validation-provider>
                            </b-col>

                            <!-- Field: State -->
                            <b-col cols="12" md="6" lg="4">
                                <validation-provider
                                    #default="validationContext"
                                    name="State"
                                    rules="required"
                                >
                                    <b-form-group>
                                        <label
                                            >State
                                            <span class="text-danger"
                                                >*</span
                                            ></label
                                        >
                                        <b-form-input
                                            id="state"
                                            v-model="companyData.state"
                                            :state="
                                                getValidationState(
                                                    validationContext
                                                )
                                            "
                                            trim
                                            maxlength="50"
                                        />
                                        <b-form-invalid-feedback>
                                            {{ validationContext.errors[0] }}
                                        </b-form-invalid-feedback>
                                    </b-form-group>
                                </validation-provider>
                            </b-col>

                            <!-- Field: Country -->
                            <b-col cols="12" md="6" lg="4">
                                <validation-provider
                                    #default="validationContext"
                                    name="Country"
                                    rules="required"
                                >
                                    <b-form-group>
                                        <label
                                            >Country
                                            <span class="text-danger"
                                                >*</span
                                            ></label
                                        >
                                        <b-form-input
                                            id="country"
                                            v-model="companyData.country"
                                            :state="
                                                getValidationState(
                                                    validationContext
                                                )
                                            "
                                            trim
                                            maxlength="50"
                                        />
                                        <b-form-invalid-feedback>
                                            {{ validationContext.errors[0] }}
                                        </b-form-invalid-feedback>
                                    </b-form-group>
                                </validation-provider>
                            </b-col>

                            <!-- Field: Postcode -->
                            <b-col cols="12" md="6" lg="4">
                                <validation-provider
                                    #default="validationContext"
                                    name="Postcode"
                                    rules="required|regex:^([0-9]+)$"
                                >
                                    <b-form-group>
                                        <label
                                            >Postcode
                                            <span class="text-danger"
                                                >*</span
                                            ></label
                                        >
                                        <b-form-input
                                            id="postcode"
                                            v-model="companyData.postal_code"
                                            :state="
                                                getValidationState(
                                                    validationContext
                                                )
                                            "
                                            trim
                                            maxlength="20"
                                        />
                                        <b-form-invalid-feedback>
                                            {{ validationContext.errors[0] }}
                                        </b-form-invalid-feedback>
                                    </b-form-group>
                                </validation-provider>
                            </b-col>
                        </b-row>
                    </div>
                    <!-- END :: Address Information -->

                    <!-- Action Buttons -->
                    <b-row class="mt-2">
                        <b-col>
                            <b-button
                                variant="primary"
                                class="mb-1 mb-sm-0 mr-0 mr-sm-1"
                                :block="
                                    $store.getters['app/currentBreakPoint'] ===
                                    'xs'
                                "
                                @click="updateCompany(companyData.id)"
                            >
                                Update
                            </b-button>
                            <b-button type="button" @click.prevent="onCancel">
                                Cancel
                            </b-button>
                        </b-col>
                    </b-row>
                </b-form>
            </validation-observer>
        </div>
    </div>
</template>

<script>
import {
    BButton,
    BMedia,
    BAvatar,
    BRow,
    BCol,
    BFormGroup,
    BFormInput,
    BFormRadioGroup,
    BForm,
    BTable,
    BCard,
    BCardHeader,
    BCardTitle,
    BFormCheckbox,
    BFormInvalidFeedback,
    BFormFile,
} from "bootstrap-vue";
import router from "@/router";
import { ValidationProvider, ValidationObserver } from "vee-validate";
import { required, alpha, email, isMobilePhone } from "@validations";
import formValidation from "@core/comp-functions/forms/form-validation";
import vSelect from "vue-select";
import { avatarText } from "@core/utils/filter";
import flatPickr from "vue-flatpickr-component";
import store from "@/store";

import ToastificationContent from "@core/components/toastification/ToastificationContent.vue";

import { mapActions, mapGetters } from "vuex";
import CompanyServices from "@/services/companyServices";
import BaseMixins from "@/mixins/BaseMixins";
import ErrorMessage from "@/views/error/ErrorMessage";

export default {
    mixins: [BaseMixins],
    components: {
        BButton,
        BMedia,
        BAvatar,
        BRow,
        BCol,
        BFormGroup,
        BFormInput,
        BForm,
        BTable,
        BCard,
        BCardHeader,
        BCardTitle,
        BFormCheckbox,
        BFormInvalidFeedback,
        vSelect,
        BFormRadioGroup,
        BFormFile,

        // Date picker
        flatPickr,

        // Form Validation
        ValidationProvider,
        ValidationObserver,

        ErrorMessage,
    },
    data() {
        //   const companyData = {
        //     logo: [],
        //     name: '',
        //     abn: '',
        //     website: '',
        //     is_confined_space: 'N',
        //     status: 'Y',
        //     street: '',
        //     city: '',
        //     state: '',
        //     country: '',
        //     postal_code: '',
        //     contact_no: '',
        //   }

        const { refFormObserver, getValidationState } = formValidation(
            this.companyData
        );

        return {
            // Validation
            required,
            alpha,
            email,
            isMobilePhone,
            avatarText,
            refFormObserver,
            getValidationState,

            //companyData,
            allSelected: false,
            indeterminate: false,
        };
    },
    mounted() {
        //   this.getDefaultCategoryList();
        this.getCompanyData(router.currentRoute.params.id);
    },
    computed: {
        // Get state variables
        //   ...mapGetters('category', ['defaultCategoryList']),
        ...mapGetters("company", ["companyData"]),
    },
    methods: {
        // Call store action
        //   ...mapActions("category", ['getDefaultCategoryList']),
        ...mapActions("company", ["getCompanyData"]),

        onCancel() {
            this.$router.push({ name: "admin-company-list" });
        },
        onLogoFileChange(event) {
            this.companyData.logo = event.target.files[0];
        },
        onAvatarFileChange(event) {
            this.companyData.avatar = event.target.files[0];
        },
        // Submit user data
        //   submitCompany() {
        //     this.$refs.newCompanyFormObserver.validate().then(success => {
        //       if (success) {
        //         const config = {
        //           headers: {
        //             'content-type': 'multipart/form-data'
        //           }
        //         }
        //         let formData = new FormData();

        //         // Set data in form
        //         for (const [key, value] of Object.entries(this.companyData)) {
        //           formData.append(key, value);
        //         }

        //         // check validation
        //         CompanyServices.saveCompany(formData, config).then(response => {
        //           if (response.status === true || response.status == 'true') {

        //             this.$router.push({ name: 'admin-company-list' })

        //             this.$toast({
        //               component: ToastificationContent,
        //               position: 'top-right',
        //               props: {
        //                 title: `Notification`,
        //                 icon: 'CheckIcon',
        //                 variant: 'success',
        //                 text: response.message,
        //               },
        //             })
        //           } else {
        //             this.moveUp();
        //           }
        //           return Promise.resolve(response);
        //         });
        //       }
        //       else {
        //         this.moveUp();
        //       }
        //     })
        //   },

        newAvatarUpload(e) {
            e.preventDefault();

            let companyAvatarData = {
                id: this.companyData.id,
            };

            // append file
            let formData = new FormData();

            formData.append("logo", e.target.files[0]);
            formData.append("id", this.companyData.id);

            const config = {
                headers: {
                    "content-type": "multipart/form-data",
                },
            };

            CompanyServices.uploadCompanyAvatar(
                companyAvatarData,
                formData,
                config
            ).then((response) => {
                if (response.status === true || response.status == "true") {
                    // Call again for get updated user image
                    store.dispatch(
                        "company/getCompanyData",
                        router.currentRoute.params.id
                    );

                    this.$toast({
                        component: ToastificationContent,
                        position: "top-right",
                        props: {
                            title: "Notification",
                            variant: "success",
                            text: response.message,
                        },
                    });
                } else {
                    this.$toast({
                        component: ToastificationContent,
                        position: "top-right",
                        props: {
                            title: "Error",
                            variant: "danger",
                            text: response.data.errors.file,
                        },
                    });
                }
                return Promise.resolve(response);
            });
        },
        // Remove user avatar which is exist
        removeAvatar() {
            this.$swal({
                title: "Are you sure?",
                text: "You won't be able to revert this!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonText: "Yes, remove it!",
                customClass: {
                    confirmButton: "btn btn-primary",
                    cancelButton: "btn btn-outline-danger ml-1",
                },
                buttonsStyling: false,
            }).then((result) => {
                if (result.value) {
                    CompanyServices.removeCompanyAvatar(
                        this.companyData.id
                    ).then((response) => {
                        if (
                            response.status === true ||
                            response.status == "true"
                        ) {
                            this.companyData.logo = "";

                            this.$swal({
                                icon: "success",
                                title: "Removed!",
                                text: response.message,
                                customClass: {
                                    confirmButton: "btn btn-success",
                                },
                            });

                            // this.$toast({
                            //   component: ToastificationContent,
                            //   position: 'top-right',
                            //   props: {
                            //     title: 'Notification',
                            //     icon: 'BellIcon',
                            //     variant: 'success',
                            //     text: response.message,
                            //   },
                            // })
                        } else {
                            this.$toast({
                                component: ToastificationContent,
                                position: "top-right",
                                props: {
                                    title: "Error",
                                    variant: "danger",
                                    text: response.data.errors.file,
                                },
                            });
                        }
                        return Promise.resolve(response);
                    });
                }
            });
        },

        // Submit user data
        updateCompany(id) {
            this.$refs.newCompanyFormObserver.validate().then((success) => {
                if (success) {
                    // check validation
                    CompanyServices.updateCompanyData(this.companyData).then(
                        (response) => {
                            if (
                                response.status === true ||
                                response.status == "true"
                            ) {
                                //this.$router.push({ name: 'admin-company-edit', params: { id: this.companyData.id } })
                                this.moveUp();
                                //this.$router.push({ name: 'admin-company-list' })

                                this.$toast({
                                    component: ToastificationContent,
                                    position: "top-right",
                                    props: {
                                        title: `Notification`,
                                        icon: "CheckIcon",
                                        variant: "success",
                                        text: response.message,
                                    },
                                });
                            } else {
                                this.$toast({
                                    component: ToastificationContent,
                                    position: "top-right",
                                    props: {
                                        title: "Error",
                                        variant: "danger",
                                        text: response.message,
                                    },
                                });
                            }
                            return Promise.resolve(response);
                        }
                    );
                } else {
                    this.$toast({
                        component: ToastificationContent,
                        position: "top-right",
                        props: {
                            title: "Error",
                            variant: "danger",
                            text: "Please fill required data.",
                        },
                    });
                    //store.commit('app/UPDATE_ERRORS', errors);
                }
            });
        },
    },
};
</script>

<style lang="scss">
@import "~@resources/scss/vue/libs/vue-select.scss";
@import "~@resources/scss/vue/libs/vue-flatpicker.scss";
</style>
