<template>
  <div>
    <!-- Filters -->
    <sub-site-list-filters :status-filter.sync="table.status" :status-options="statusOptions" />
    <!-- modal create-->
    <sub-site-modal :perPage="table.perPage" :page="table.page"></sub-site-modal>
    <!-- Table Container Card -->
    <b-card no-body class="mb-0">
      <div class="m-2">
        <!-- Table Top -->
        <b-row>
          <!-- Per Page -->
          <b-col cols="12" md="6" class="d-flex align-items-center justify-content-start mb-1 mb-md-0">
            <label>Show</label>
            <v-select v-model="table.perPage" :dir="$store.state.appConfig.isRTL ? 'rtl' : 'ltr'"
              :options="perPageOptions" :clearable="false" class="per-page-selector d-inline-block mx-50" />
            <label>entries</label>
          </b-col>

          <!-- Search -->
          <b-col cols="12" md="6">
            <div class="d-flex align-items-center justify-content-end">
              <b-form-input v-model="table.search" class="d-inline-block mr-1" placeholder="Search..." />
              <b-button variant="primary" @click="goToAddSubSite()">
                <span class="text-nowrap">Add Area</span>
              </b-button>
            </div>
          </b-col>
        </b-row>
      </div>

      <!-- table -->
      <b-table hover ref="refUserListTable" class="position-relative" :items="subSiteList.subsites.data" responsive
        :fields="tableColumns" primary-key="id" :sort-by.sync="table.sortBy" show-empty
        empty-text="No matching records found" :sort-desc.sync="isSortDirDesc">

        <!-- Column: ID -->
        <template #cell(index)="data">
          <div class="text-nowrap">
            <span class="align-text-top text-capitalize">{{ data.index + 1 }}</span>
          </div>
        </template>
        <!-- Column: Site Name -->
        <template #cell(sub_site_name)="data">
          <b-link @click="editSubSite(data.item.sub_site_id)" class="font-weight-bold d-block text-nowrap">
            {{ data.item.sub_site_name }}
          </b-link>
        </template>

        <!-- Column: Status -->
        <template #cell(sub_site_status)="data">
          <b-badge href="#" pill :variant="`light-${resolveUserStatusVariant(data.item.sub_site_status)}`"
            class="text-capitalize" @click="changeStatus(data.item.sub_site_id, data.item.sub_site_status)">
            {{ getStatusValue(data.item.sub_site_status) }}
          </b-badge>
        </template>

        <!-- Column: Status -->
        <template #cell(sub_site)="data">
          <b-button v-ripple.400="'rgba(113, 102, 240, 0.15)'" size="sm" class="my-1-custom" variant="outline-primary"
            :to="{
              name: 'client-category-module-permission',
              params: { id: data.item.sub_site_id },
            }">
            Manage Category
          </b-button>

          <b-button v-ripple.400="'rgba(113, 102, 240, 0.15)'" size="sm" class="my-1-custom" variant="outline-primary"
            :to="{
              name: 'client-users-permission',
              params: { id: data.item.sub_site_id },
            }">
            Manage Users
          </b-button>
          <b-button v-ripple.400="'rgba(113, 102, 240, 0.15)'" size="sm" class="my-1-custom" variant="outline-primary"
            :to="{
              name: 'client-asset-manage',
              params: { id: data.item.sub_site_id },
            }">
            Manage Assets
          </b-button>
        </template>

        <!-- Column: Actions -->
        <template #cell(actions)="data">
          <b-dropdown variant="link" no-caret :right="$store.state.appConfig.isRTL">
            <template #button-content>
              <feather-icon icon="MoreVerticalIcon" size="16" class="align-middle text-body" />
            </template>

            <b-dropdown-item @click="editSubSite(data.item.sub_site_id)">
              <feather-icon icon="EditIcon" />
              <span class="align-middle ml-50">Edit</span>
            </b-dropdown-item>

            <b-dropdown-item @click="deleteData(data.item.sub_site_id)">
              <feather-icon icon="TrashIcon" />
              <span class="align-middle ml-50">Delete</span>
            </b-dropdown-item>
          </b-dropdown>
        </template>
      </b-table>
      <div class="mx-2 mb-2">
        <b-row>
          <b-col cols="12" sm="6" class="d-flex align-items-center justify-content-center justify-content-sm-start">
            <span class="text-muted">Showing {{ subSiteList.subsites.from }} to {{ subSiteList.subsites.to }} of
              {{ subSiteList.subsites.total }} entries</span>
          </b-col>
          <!-- Pagination -->
          <b-col cols="12" sm="6" class="d-flex align-items-center justify-content-center justify-content-sm-end">
            <b-pagination v-model="table.page" :total-rows="subSiteList.total" :per-page="table.perPage" first-number
              last-number class="mb-0 mt-1 mt-sm-0" prev-class="prev-item" next-class="next-item">
              <template #prev-text>
                <feather-icon icon="ChevronLeftIcon" size="18" />
              </template>
              <template #next-text>
                <feather-icon icon="ChevronRightIcon" size="18" />
              </template>
            </b-pagination>
          </b-col>
        </b-row>
      </div>
    </b-card>
  </div>
</template>

<script>
import {
  BCard,
  //BModal,
  BButton,
  BRow,
  BCol,
  BBadge,
  BPagination,
  BFormInput,
  BDropdown,
  BDropdownItem,
  BTable,
  BLink,
} from "bootstrap-vue";
import SubSiteListFilters from "./AreaListFilters.vue";
import SubSiteModal from "../AreaModal.vue";
import vSelect from "vue-select";
import ToastificationContent from "@core/components/toastification/ToastificationContent.vue";
import Ripple from "vue-ripple-directive";
import { mapActions, mapGetters } from "vuex";
import BaseMixins from "@/mixins/BaseMixins";
import store from "@/store/index";
import router from "@/router";
export default {
  mixins: [BaseMixins],
  components: {
    SubSiteListFilters,
    SubSiteModal,
    BCard,
    BRow,
    BCol,
    BFormInput,
    BButton,
    BTable,
    BLink,
    BBadge,
    BDropdown,
    BDropdownItem,
    BPagination,
    vSelect,
  },
  directives: {
    Ripple,
  },
  data() {
    return {
      //   dir: "ltr",
      //   selected: "null",

      //   subSiteid: null,
      table: {
        perPage: 25,
        search: "",
        sortBy: null,
        sortDesc: true,
        page: 1,
        // role: "",
        // status: "",
        site_id: router.currentRoute.params.id,
      },
      perPageOptions: [10, 25, 50, 100],
      tableColumns: [
        { label: "No.", key: "index" },
        { label: "Location Name", key: "site.site_name", sortable: true },
        { label: "Area Name", key: "sub_site_name", sortable: true },
        { label: "Description", key: "sub_site_description", sortable: true },
        { label: "status", key: "sub_site_status", sortable: true },
        { label: "", key: "sub_site" },
        { key: "actions" },
      ],
      isSortDirDesc: true,
      currentPage: 1,
      subSiteButtonName: "Add",
    };
  },
  computed: {
    // Get state variables
    ...mapGetters("area", ["subSiteList"]),
  },

  methods: {
    ...mapActions("area", [
      "saveSubSite",
      "getAllSubSite",
      "getSubSiteData",
      "updateSubSite",
      "changeSubSiteStatus",
      "deleteSubSite",
    ]),
    refetchData() {
      this.getAllSubSite(this.table);
    },

    goToAddSubSite() {
      const subSiteData = {
        sub_site_name: "",
        sub_site_uuid: "",
        sub_site_description: "",
        sub_site_status: true,
        site_id: null,
        user_id: null,
      };

      // Set value for subSite button
      store.commit("area/UPDATE_SUB_SITE_BUTTON_NAME", this.subSiteButtonName);

      //Reset field data
      store.commit("area/UPDATE_SUB_SITE_DATA", subSiteData);
      this.$bvModal.show("subSite-modal");
    },

    editSubSite(subSitId) {
      this.getSubSiteData(subSitId);

      // Set variable value
      store.commit("area/UPDATE_SUB_SITE_BUTTON_NAME", "Update");
      store.commit("area/UPDATE_EDIT_MODE", true);

      // Open subSite field modal
      this.$bvModal.show("subSite-modal");
    },

    // Change subSite status
    changeStatus(id, status) {
      this.$swal({
        title: "Are you sure?",
        text: "You can always revert this later.",
        icon: "warning",
        showCancelButton: true,
        confirmButtonText: "Yes, change it!",
        customClass: {
          confirmButton: "btn btn-primary",
          cancelButton: "btn btn-outline-danger ml-1",
        },
        buttonsStyling: false,
      }).then((result) => {
        if (result.value) {
          // check validation
          this.changeSubSiteStatus({ id: id, status: status }).then((response) => {
            if (response.status === true || response.status == "true") {
              this.$swal({
                title: "Changed!",
                icon: "success",
                text: response.message,
                customClass: {
                  confirmButton: "btn btn-success",
                },
              });

              // Refetch table data
              this.refetchData();
            } else {
              this.$swal({
                component: ToastificationContent,
                position: "top-right",
                props: {
                  title: "Error",
                  variant: "danger",
                  text: response.message,
                },
              });
            }
            return Promise.resolve(response);
          });
        }
      });
    },
    // User soft delete
    deleteData(id) {
      this.$swal({
        title: "Are you sure?",
        text: "You won't be able to revert this!",
        icon: "warning",
        showCancelButton: true,
        confirmButtonText: "Yes, delete it!",
        customClass: {
          confirmButton: "btn btn-primary",
          cancelButton: "btn btn-outline-danger ml-1",
        },
        buttonsStyling: false,
      }).then((result) => {
        if (result.value) {
          // check validation
          this.deleteSubSite(id).then((response) => {
            if (response.status === true || response.status == "true") {
              this.$swal({
                icon: "success",
                title: "Deleted!",
                text: response.message,
                customClass: {
                  confirmButton: "btn btn-success",
                },
              });

              // Refetch table data
              this.refetchData();
            } else {
                this.$toast({
                    component: ToastificationContent,
                    position: "top-right",
                    props: {
                    icon: "XIcon",
                    variant: "danger",
                    text: response.data.message,
                    },
                });
            }
            return Promise.resolve(response);
          }).catch((error) => {
                this.showToast(
                    "Error",
                    "XIcon",
                    "danger",
                    error.data.message
                );
            });
        }
      });
    },
  },
  mounted() {
    // Get all SubSite
    this.getAllSubSite(this.table).catch((error) => {
      this.showToast("Error", "XIcon", "danger", error.data.message);
    });
  },
  watch: {
    table: {
      handler() {
        this.getAllSubSite(this.table);
      },
      deep: true,
    },
    $route(to, from) {
      if (to.params.id > 0) {
        this.table.site_id = from.params.id;
      } else {
        this.table.site_id = "";
      }
      // Get all default template
      this.getAllSubSite(this.table).catch((error) => {
        this.showToast("Error", "XIcon", "danger", error.data.message);
      });
    },
  },
};
</script>

<style lang="scss" scoped>
@import "~@resources/scss/vue/libs/vue-select.scss";
</style>
