<template>
  <section class="context-drag-drop-tree">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <!-- Checkbox Tree -->
            <v-tree
              :data="categoryModules"
              class="custom-tree-set"
              ref="tree"
              v-model="initSelected"
              getNodes
              @node-check="nodeChecked"
              :checked="true"
              :multiple="true"
            />
            <!--/ Checkbox Tree -->
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import BaseMixins from "@/mixins/BaseMixins";
import ToastificationContent from "@core/components/toastification/ToastificationContent.vue";
import { mapActions, mapGetters } from "vuex";
import router from "@/router";
import SubSiteListFilters from "./AreaListFilters.vue";
import { VTree, VSelectTree } from "vue-tree-halower";
import "vue-tree-halower/dist/halower-tree.min.css";
export default {
  mixins: [BaseMixins],
  components: {
    ToastificationContent,
    VTree,
    VSelectTree,
    SubSiteListFilters,
  },

  data() {
    return {
      initSelected: [],
      categoryModules: [],
      data: {
        subSite_id: router.currentRoute.params.id,
      },
    };
  },
  computed: {
    // Get state variables
    ...mapGetters("categoryModule", ["categoryModuleList", "templateName"]),
  },
  methods: {
    ...mapActions("categoryModule", ["getAllCategoryModule", "updateCategory"]),

    refetchData() {
      this.getAllCategoryModule(this.data);
    },
    nodeChecked() {

      this.initSelected = this.$refs.tree.getCheckedNodes();

      this.updateCategory({
        id: router.currentRoute.params.id,
        data: this.initSelected,
      }).then((response) => {
        if (response.status === true || response.status == "true") {
          this.$toast({
            component: ToastificationContent,
            position: "top-right",
            props: {
              variant: "success",
              icon: "CheckIcon",
              text: response.message,
            },
          });
        }

        return Promise.resolve(response);
      }).catch(error => {
        this.$toast({
            component: ToastificationContent,
            position: "top-right",
            props: {
              icon: "XIcon",
              variant: "danger",
              text: error.message,
            },
          });
        //this.showToast("Error", "AlertCircleIcon", "danger", error.message);
        this.getAllCategoryModule(this.data)
      .then((response) => {
        this.categoryModules = response.data.categoryWithModules;
      })
      .catch((error) => {
        this.showToast("Error", "XIcon", "danger", error.data.message);
      });
      })
    },

  },
  updated() {
    this.$route.meta.pageTitle = "Manage Category/Module - "+this.templateName;

    // Add a temporary query parameter.
    this.$router.replace({ query: { temp: Date.now() } });
  },
  mounted() {
    // Get all Category/Module
    this.getAllCategoryModule(this.data)
      .then((response) => {
        this.categoryModules = response.data.categoryWithModules;
      })
      .catch((error) => {
        this.showToast("Error", "XIcon", "danger", error.data.message);
      });
  },
};
</script>
<style lang="scss" scoped>
.tree3 {
  float: left;
  width: 100%;
  padding: 10px;
  overflow: auto;
  height: 800px;
}
.treebtn1 {
  background-color: transparent;
  border: 1px solid #ccc;
  padding: 1px 3px;
  border-radius: 5px;
  margin-right: 5px;
  color: rgb(148, 147, 147);
}
.treebtn2 {
  background-color: transparent;
  border: 1px solid #ccc;
  padding: 3px 5px;
  border-radius: 5px;
  margin-left: 5px;
  color: rgb(97, 97, 97);
}
.treebtn3 {
  background-color: transparent;
  padding: 3px 5px;
  margin-left: 5px;
  color: rgb(63, 63, 63);
}
.tree-search-input {
  width: 70%;
  padding: 6px 8px;
  outline: none;
  border-radius: 6px;
  border: 1px solid #ccc;
}
.tree-search-btn {
  width: 25%;
  padding: 6px 8px;
  outline: none;
  border-radius: 6px;
  background-color: rgb(218, 218, 218);
  border: 1px solid rgb(226, 225, 225);
  color: rgb(117, 117, 117);
}

@import "~@resources/scss/vue/libs/tree.scss";
</style>
