<template>
    <div>

        <!-- Filters -->
        <goto-site-filters :user-filter.sync="table.user_id" :user-options="userLists"
        :siteFilter.sync="table.site_id" :site-options="siteLists" :sub-site-filter.sync="table.sub_site_id"
        :sub-site-options="siteSubSiteLists" :category-filter.sync="table.category_id" :category-options="categoryLists"
        :module-filter.sync="table.module_id" :module-options="moduleLists" />

        <add-asset-modal :module_id="table.module_id" :user_id="table.user_id"/>

        <asset-detail-sidebar :is-asset-detail-sidebar-active.sync="isAssetDetailSidebarActive" :user_id="table.user_id" />
        <move-asset-modal :asset_array="this.selected" :selcted_user_id="table.user_id" @clear_asset_array="clearSelectedArray" />
        <!-- Table Container Card -->
        <b-card no-body class="mb-0">

            <div class="m-2"  v-if="this.table.user_id && this.table.module_id && this.table.sub_site_id">

                <!-- Table Top -->
                <b-row >

                    <!-- Per Page -->
                    <b-col cols="12" md="6" class="d-flex align-items-center justify-content-start mb-1 mb-md-0">
                        <label>Show</label>
                        <v-select v-model="table.perPage" :dir="$store.state.appConfig.isRTL ? 'rtl' : 'ltr'"
                            :options="perPageOptions" :clearable="false"
                            class="per-page-selector d-inline-block mx-50" />
                        <label>entries</label>
                    </b-col>

                    <!-- Search -->
                    <b-col cols="12" md="6">
                        <div class="d-flex align-items-center justify-content-end">
                            <b-form-input v-model="table.search" class="d-inline-block mr-1" placeholder="Search..." />
                            <b-button variant="primary" @click="goToAddAsset" class="mr-1">
                                <span class="text-nowrap">Add Asset</span>
                            </b-button>
                            <b-button variant="primary" :disabled="isDisabled" @click="goToMoveAsset" class="mr-1">
                                <span class="text-nowrap">Move Asset</span>
                            </b-button>
                            <b-button variant="outline-danger" @click="batchDelete">
                                <span class="text-nowrap">Delete</span>
                            </b-button>
                        </div>
                    </b-col>
                </b-row>

            </div>

            <b-table hover ref="refUserListTable" class="position-relative"  v-if="this.table.user_id && this.table.module_id && this.table.sub_site_id && assetsList && assetsList.assets " :items="assetsList.assets.data" responsive
                :fields="tableColumns" primary-key="asset_id" :sort-by.sync="table.sortBy" show-empty
                empty-text="No matching records found" :sort-desc.sync="isSortDirDesc" sticky-header>

                <!-- checkbox -->
                <template #head(checkbox)>
                    <b-form-checkbox v-model="selectAll" id="user-asset-list-checkbox-all" @input="select" />
                </template>

                <!-- Column: Checkbox -->
                <template #cell(checkbox)="data">
                    <b-form-checkbox v-model="selected" :value="data.item.asset_id"    />
                </template>

                <!-- Column: Asset UID -->
                <template #cell(asset_uid)="data">
                    <span style="min-width: 70px; display:block;">{{ data.item.asset_uid }}</span>
                </template>

                <!-- Column: Image -->
                <template #cell(asset_image)="data">
                    <div>
                        <b-img :src="data.item.asset_image" width="60px" v-if="data.item.asset_image" @click="show(data.item.asset_image)" />
                    </div>
                </template>

                <!-- Column: Color -->
                <template #cell(color)="data">
                    <!-- <div :style="'width=50px; height=20px; background-color: '+data.item.color"></div> -->
                    <div v-if="data.item.color" class="text-center asset-listing-color" :style="'background-color: '+data.item.color">
                        <span class="text-white" v-if="data.item.color=='rgb(0,0,255)'">{{ getColorText(data.item.color) }}</span>
                        <span class="text-black" v-else>{{ getColorText(data.item.color) }}</span>
                    </div>
                </template>

                <!-- Column: Map -->
                <template #cell(asset_location_map)="data">
                    <a v-if="data.item.asset_latitude" :href="googleMapLinkLatLong(data.item.asset_latitude, data.item.asset_longitude)" target="_blank">
                        <feather-icon icon="MapPinIcon" size="16" class="mx-1" />
                    </a>
                </template>

                <template #cell(status)="data">
                    <p v-if="data.item.status == 'Pass'">
                        <span class="text-success">Pass</span>
                    </p>
                    <p v-else-if="data.item.status == 'Fail'">
                        <span class="text-danger">Fail</span>
                    </p>
                    <p v-else-if="data.item.status == 'Inspection Pending'">
                        <span style="color:rgb(65, 65, 65)">Inspection Pending</span>
                    </p>
                    <p v-else>
                        <span class="text-warning">Maintenance Required</span>
                    </p>
                </template>

                <!-- Column: Actions -->
                <!-- <template #cell(actions)="data">
                    <div class="d-flex justify-content-center">
                        <b-button variant="white" @click="goToAssetDetail(data.item.asset_id)" class="w-100 text-center">
                            <feather-icon :id="`asset-row-${data.item.asset_id}-view-detail`" icon="EyeIcon" size="16"
                                class="mx-1" />
                            <b-tooltip title="View Detail" :target="`asset-row-${data.item.asset_id}-view-detail`" />
                        </b-button>

                        <b-button variant="white" @click="duplicateAssetAction({ assetId: data.item.asset_id })" class="" v-if="data.item.allow_duplicate">
                            <feather-icon :id="`asset-row-${data.item.asset_id}-duplicate`" icon="CopyIcon" size="16"
                            class="mx-1" />
                            <b-tooltip title="Duplicate" :target="`asset-row-${data.item.asset_id}-duplicate`" />
                        </b-button>
                    </div>
                </template> -->
                <!-- Column: Actions -->
                <template #cell(actions)="data">
                    <div class="d-flex justify-content-center">
                        <b-button variant="white" @click="goToAssetDetail(data.item.asset_id)" class="p-0">
                            <feather-icon :id="`asset-row-${data.item.asset_id}-view-detail`" icon="EyeIcon" size="16"
                            class="mx-1" />
                            <b-tooltip title="View Detail" :target="`asset-row-${data.item.asset_id}-view-detail`" />
                        </b-button>

                        <b-button variant="white" @click="duplicateAssetAction(data.item.asset_id)" class="p-0" v-if="data.item.allow_duplicate">
                            <feather-icon :id="`asset-row-${data.item.asset_id}-duplicate`" icon="CopyIcon" size="16"
                            class="mx-1" />
                            <b-tooltip title="Duplicate" :target="`asset-row-${data.item.asset_id}-duplicate`" />
                        </b-button>
                    </div>
                </template>

                <!-- Column: Duplicate -->
                <!-- <template #cell(duplicate)="data">
                    <b-button variant="white" @click="duplicateAssetAction({ assetId: data.item.asset_id })" class="w-100 text-center">
                        <feather-icon :id="`asset-row-${data.item.asset_id}-duplicate`" icon="CopyIcon" size="16"
                            class="mx-1" />
                        <b-tooltip title="Duplicate" :target="`asset-row-${data.item.asset_id}-duplicate`" />
                    </b-button>
                </template> -->

            </b-table>
            <!-- Data Information & Pagination -->
            <div class="mx-2 mb-2" v-if="this.table.user_id && this.table.module_id && this.table.sub_site_id && assetsList.total > 0">
                <b-row>

                    <b-col cols="12" sm="6"
                        class="d-flex align-items-center justify-content-center justify-content-sm-start">
                        <span class="text-muted">Showing {{ assetsList.pagination.from }} to {{ assetsList.pagination.to }} of {{ assetsList.pagination.total }} entries</span>
                    </b-col>
                    <!-- Pagination -->
                    <b-col cols="12" sm="6"
                        class="d-flex align-items-center justify-content-center justify-content-sm-end">

                        <b-pagination v-model="table.page" :total-rows="assetsList.pagination.total" :per-page="table.perPage"
                            first-number last-number class="mb-0 mt-1 mt-sm-0" prev-class="prev-item"
                            next-class="next-item">
                            <template #prev-text>
                                <feather-icon icon="ChevronLeftIcon" size="18" />
                            </template>
                            <template #next-text>
                                <feather-icon icon="ChevronRightIcon" size="18" />
                            </template>
                        </b-pagination>

                    </b-col>

                </b-row>
            </div>
        </b-card>
    </div>
</template>

<script>
import {
  BCard,
  BRow,
  BCol,
  BImg,
  BFormInput,
  BButton,
  BTable,
  BMedia,
  BAvatar,
  BLink,
  BBadge,
  BDropdown,
  BDropdownItem,
  BPagination,
  BFormCheckbox,
  BTooltip,
} from "bootstrap-vue";
import BaseMixins from "@/mixins/BaseMixins";
import GotoSiteFilters from "./GotoSiteFilters.vue";
import AddAssetModal from './asset/AddAssetModal.vue';
import AssetDetailSidebar from './asset/details/Index.vue';
import MoveAssetModal from './asset/MoveAssetModal.vue';
import ToastificationContent from "@core/components/toastification/ToastificationContent.vue";
import router from '@/router'
import store from '@/store';
import { mapActions, mapGetters } from "vuex";
import vSelect from 'vue-select'
import 'viewerjs/dist/viewer.css'
import VueViewer from 'v-viewer'
import Vue from 'vue'
Vue.use(VueViewer)




export default {
    mixins: [BaseMixins],
    data(){
        return{

            isAssetDetailSidebarActive: false,

            perPageOptions: [10, 25, 50, 100],
            currentPage: 1,
            totalAssets: 0,
            isSortDirDesc: true,
            //selected: [],
            siteLists: [],
            siteSubSiteLists: [],
            userLists: [],
            moduleLists: [],
            categoryLists: [],
            oldSiteId: null,
            oldSubSiteId: null,
            oldUserId: null,
            oldCategoryId: null,
            table: {
                module_id: null,
                sub_site_id: null,
                sortBy: null,
                sortDesc: true,
                perPage: 25,
                search: null,
                role: '',
                status: '',
                page: 1,
                site_id: null,
                user_id: null,
                category_id: null
            },
            selected: [],
            selectAll: false,

        }
    },
    components:{
        GotoSiteFilters,
        AddAssetModal,
        AssetDetailSidebar,
        MoveAssetModal,
        BCard,
        BRow,
        BCol,
        BFormInput,
        BButton,
        BTable,
        BMedia,
        BAvatar,
        BLink,
        BBadge,
        BDropdown,
        BDropdownItem,
        BPagination,
        vSelect,
        BFormCheckbox,
        BTooltip,
        BImg,
    },
    computed: {
        ...mapGetters("category", ["userCategoryOptions"]),
        ...mapGetters('siteManager', ['assetsList']),
        //...mapGetters('assets', ['selectedSubSiteId', 'fieldsList', 'tableColumns', 'table', 'defaultAsset']),
        ...mapGetters('gotoSite', ['selectedSubSiteId', 'fieldsList', 'tableColumns', 'defaultAsset', 'activeSubSiteId']),
        isDisabled() {
            return this.selected.length === 0
        }

    },
    methods: {
        ...mapActions("location", ["getAllSite"]),
        ...mapActions("area", ["getAllSubSite", "getSiteOnSubSite","getUserOnSubSite"]),
        ...mapActions("user", ["getAllSiteUser"]),
        ...mapActions("category", ["getUserCategoryOptions"]),
        ...mapActions("module", ["getModuleList"]),
        ...mapActions('siteManager', ['getMaxFileSize', 'getAssetsList', 'getSitesAndSubSitesList', 'setSideBar','getClientPanelCategory', 'defaultSite', 'defaultSubSite',]),
        ...mapActions('documents', ['getDocumentsList']),
        ...mapActions('activity', ['fetchAssetActivity']),
        ...mapActions('inspection', ['getAssetInspection']),
        //...mapActions('assets', ['updateEditMode', 'updateModalButtonName', 'updateViewMode', 'setActiveModuleId', 'getAssetDetails', 'getFieldsList', 'deleteBatchAssets', 'updateSelectedSubSiteId']),
        ...mapActions('gotoSite', ['updateEditMode', 'updateModalButtonName', 'updateViewMode', 'setActiveModuleId', 'getAssetDetails', 'getFieldsList', 'deleteBatchAssets', 'setActiveUserId','setActiveSubSiteId', 'duplicateAsset']),



        goToAddAsset() {
            this.$bvModal.show('modal-add-asset')
            this.updateViewMode(false);
            this.updateEditMode(false);
            this.updateModalButtonName('Add');
            // Call action to load the input field name and type
            this.getFieldsList({ moduleId: this.table.module_id });
            this.setActiveUserId(this.table.user_id);
            this.setActiveSubSiteId(this.table.sub_site_id);
        },
        show(url) {
            this.$viewerApi({

                images: [url],
            })
        },
        clearSelectedArray() {
            this.selected =  [];
        },
        select() {
			this.selected = [];
			if (this.selectAll) {
				for (let i in this.assetsList.assets.data) {
					this.selected.push(this.assetsList.assets.data[i].asset_id);
				}
			}
		},
        goToMoveAsset(){
            this.setActiveSubSiteId(this.table.sub_site_id);
            this.$bvModal.show('modal-move-asset');
        },
        duplicateAssetAction(assetId) {

            this.setActiveSubSiteId(this.table.sub_site_id);
            this.setActiveUserId(this.table.user_id);
            // Take confirmation via SweetAlert2
            this.$swal({
                title: "Are you sure?",
                text: "",
                icon: "warning",
                showCancelButton: true,
                confirmButtonText: "Yes, duplicate it!",
                cancelButtonText: "No, cancel!",
                customClass: {
                    confirmButton: "btn btn-primary",
                    cancelButton: "btn btn-outline-danger ml-1",
                },
                buttonsStyling: false,
            }).then((result) => {
                if (result.value) {
                    this.duplicateAsset({assetId: assetId, user_id: this.table.user_id }).then((response) => {
                        if (response.status === true || response.status == "true") {

                            this.$toast({
                                component: ToastificationContent,
                                position: "top-right",
                                props: {
                                    title: `Notification`,
                                    variant: "success",
                                    icon: 'CheckIcon',
                                    text: response.message,
                                },
                            });
                        } else {
                            //this.moveUp();
                        }
                        return Promise.resolve(response);
                    });
                }
            });
        },

        goToAssetDetail(assetId) {
            // open slider/sidebar
            this.updateViewMode(true);
            this.updateEditMode(true);
            this.updateModalButtonName('Update');
            this.setActiveSubSiteId(this.table.sub_site_id);
            this.isAssetDetailSidebarActive = true;
            // Action to API call to get assets details
            this.getAssetDetails(assetId);
            // Action to API call to get assets documents
            this.getDocumentsList({
                asset_id: assetId,
                per_page: 10,
                search: '',
                page: 1,
                sortBy: 'ad_id',
                sortDesc: false
            });
            this.fetchAssetActivity(assetId);
            // Action to API call to get assets inspection
            this.getAssetInspection(assetId);
            this.setSideBar(true);
        },

        assetSelect(assetId) {

            // Method to select/unselect the asset id
            // if assetId is present in selectedDocument then remove it else insert it.
            let idPresent = false;
            for(var i=0; i<this.selected.length; i++) {
                if(this.selected[i] == assetId) {
                    idPresent=true;
                    break;
                }
            }
            if(idPresent) {
                this.selected.splice(this.selected.indexOf(assetId), 1);
            } else {
                this.selected.push(assetId);
            }
        },

        batchDelete() {
            if(this.selected.length == 0) {
                this.$bvToast.toast('Please select at least one asset to delete', {
                    title: 'Error',
                    variant: 'danger',
                    solid: true,
                })
                return false;
            }
            this.$swal({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Yes, delete it!',
                customClass: {
                confirmButton: 'btn btn-primary',
                cancelButton: 'btn btn-outline-danger ml-1',
                },
                buttonsStyling: false,
            }).then(result => {
                if (result.value) {
                    this.setActiveSubSiteId(this.table.sub_site_id);
                    // check validation
                    var formData = new FormData();
                    formData.append('assetIdArray', JSON.stringify(this.selected));
                    this.deleteBatchAssets(formData).then(response => {
                        if (response.status === true || response.status == 'true') {


                            this.selected=[];
                            this.$swal({
                                icon: 'success',
                                title: 'Deleted!',
                                text: response.message,
                                customClass: {
                                confirmButton: 'btn btn-success',
                                },
                            })
                        }
                        return Promise.resolve(response);
                    });
                }
            })
        },

    },
    mounted() {
        this.oldSubSiteId = parseInt(router.currentRoute.params.id);
        //Get Site ID
        this.getSiteOnSubSite(parseInt(router.currentRoute.params.id)).then((response) => {
            this.oldSiteId = response.site_id,
            this.table.site_id = response.site_id,
            this.table.sub_site_id = parseInt(router.currentRoute.params.id)
            //Get all Sub site ID On Site ID
            this.getAllSubSite({ site_id: response.site_id }).then((response) => {
                this.siteSubSiteLists = response.data.subSiteList;
            });

            //Get User ID On Site ID, Sub Site ID
            this.getUserOnSubSite({site_id : response.site_id, sub_site_id: parseInt(router.currentRoute.params.id)}).then((response) => {
                this.table.user_id = response.ssu_user_id,
                this.oldUserId = response.ssu_user_id,
                this.setActiveUserId(response.ssu_user_id);
                this.getClientPanelCategory({user_id : response.ssu_user_id, sub_site_id: parseInt(router.currentRoute.params.id) }).then((response) => {
                    this.categoryLists = response;
                    this.oldCategoryId = this.table.category_id;
                });
            });

        });

    // Get all Site
    this.getAllSite()
      .then((response) => {
        this.siteLists = response.data.siteList;
      })
      .catch((error) => {
        this.showToast("Error", "XIcon", "danger", error.data.message);
      });
      //Get All Users Userlist form listing user
        this.getAllSiteUser(this.userList)
        .then((response) => {
            this.userLists = response.data.userList.slice(1);
            //this.allUsers = response.data.userList;
        })
        .catch((error) => {
            this.showToast("Error", "XIcon", "danger", error.data.message);
        });

        // Get category for dropdown option
        this.getUserCategoryOptions().then((response) => {
            this.categoryLists = response.data;
        });
        this.getMaxFileSize();
    },
    watch:{
        table: {
            handler(val) {
                    
                    // alert((this.table.sub_site_id != null) && (this.table.category_id != null) && (this.table.module_id != null) && (this.table.user_id != null))
                    if((this.table.sub_site_id > 0) && (this.table.category_id > 0) && (this.table.module_id > 0) && (this.table.user_id > 0)){
                        //console.log('table ',this.table)

                        this.getAssetsList(this.table).then((response) => {
                        }).catch((error) => {
                            this.showToast(
                                    "Error",
                                    "XIcon",
                                    "danger",
                                    error.data.message
                                );
                        });
                    }else if((this.table.sub_site_id != null) && (this.table.category_id != null) && this.table.user_id){
                        //alert('test else')
                        this.getModuleList({sub_site_id: this.table.sub_site_id, category_id: this.table.category_id, user_id: this.table.user_id}).then((response) => {
                            this.moduleLists = response.data.moduleList;
                        }).catch((error) => {
                            this.showToast("Error", "XIcon", "danger", error.data.message);
                        });
                    }else {
                            store.commit('siteManager/UPDATE_ASSETS_LIST', {})
                    }
            },
            deep: true,
        },

        'table.site_id': function (val) {
            if (val > 0) {
                this.getAllSubSite({ site_id: val }).then((response) => {

                this.siteSubSiteLists = response.data.subSiteList;

                }).catch((error) => {
                this.showToast("Error", "XIcon", "danger", error.data.message);
                });
            }
           

            if(this.oldSiteId != val){
                this.oldSiteId = val;
                    this.table.sub_site_id = null;
                    this.table.category_id = null;
                    this.table.module_id = null;
                    this.table.user_id = null;
                    this.categoryLists = [];
                    this.moduleLists = [];
                    store.commit('siteManager/UPDATE_ASSETS_LIST', {})
                    this.setActiveModuleId(null);
                    this.setActiveUserId(null);
                    store.commit('gotoSite/UPDATE_FIELDS_LIST', []);

            }
        },
        'table.sub_site_id': function(val){
            if(this.oldSubSiteId != val){
                    this.oldSubSiteId = val;
                    this.table.user_id = null;
                    this.table.category_id = null;
                    this.table.module_id = null;
                    this.categoryLists = [];
                    this.moduleLists = [];
                    store.commit('siteManager/UPDATE_ASSETS_LIST', {})
            }
        },
        'table.user_id': function(val){
            if(this.oldUserId != val){
                this.oldUserId = val;
                this.table.category_id = null;
                this.table.module_id = null;

                if(val > 0 && this.table.sub_site_id > 0) {
                    this.getClientPanelCategory({user_id : val, sub_site_id: this.table.sub_site_id }).then((response) => {
                        this.categoryLists = response;
                    });
                }

                this.moduleLists = [];
                store.commit('siteManager/UPDATE_ASSETS_LIST', {})
            }
        },
        'table.category_id': function(val){
            if(this.oldCategoryId != val){
                this.table.module_id = null;
                store.commit('siteManager/UPDATE_ASSETS_LIST', {})
            }

        },
        'table.module_id': function(val) {
            this.setActiveModuleId(val);
            this.getFieldsList({ moduleId: val });
        },

    }


};
</script>
<style lang="scss">
@import '~@resources/scss/vue/libs/vue-select.scss';
