<template>
  <b-card no-body>
    <b-card-header class="pb-50">
      <h5>Filter By:</h5>
    </b-card-header>
    <b-card-body>
      <b-row>
        <b-col cols="12" md="4" class="mb-md-0 mb-2 my-1">
          <label>Location</label>
          <v-select
            :dir="$store.state.appConfig.isRTL ? 'rtl' : 'ltr'"
            :value="siteFilter"
            :options="siteOptions"
            label="text"
            class="w-100"
            :reduce="(val) => val.value"
            @input="(val) => $emit('update:siteFilter', val)"
            placeholder="Please select Location"
            @change="resetData($event)"
            :clearable="false"
          />
        </b-col>
        <b-col cols="12" md="4" class="mb-md-0 mb-2 my-1">
          <label>Area</label>
          <v-select
            :dir="$store.state.appConfig.isRTL ? 'rtl' : 'ltr'"
            :value="subSiteFilter"
            :options="subSiteOptions"
            label="text"
            class="w-100"
            :reduce="(val) => val.value"
            @input="(val) => $emit('update:subSiteFilter', val)"
            placeholder="Please select Area"
          />
        </b-col>
        <b-col cols="12" md="4" class="mb-md-0 mb-2 my-1">
          <label>Users</label>
          <v-select
            :dir="$store.state.appConfig.isRTL ? 'rtl' : 'ltr'"
            :value="userFilter"
            :options="userOptions"
            label="text"
            class="w-100"
            :reduce="(val) => val.value"
            @input="(val) => $emit('update:userFilter', val)"
            placeholder="Please select User"
          />
        </b-col>
        <b-col cols="12" md="4" class="mb-md-0 mb-2 my-1">
          <label>Category</label>
          <v-select
            :dir="$store.state.appConfig.isRTL ? 'rtl' : 'ltr'"
            :value="categoryFilter"
            :options="categoryOptions"
            label="label"
            class="w-100"
            :reduce="(val) => val.value"
            @input="(val) => $emit('update:categoryFilter', val)"
            placeholder="Please select Category"
          />
        </b-col>
        <b-col cols="12" md="4" class="mb-md-0 mb-2 my-1">
          <label>Module</label>
          <v-select
            :dir="$store.state.appConfig.isRTL ? 'rtl' : 'ltr'"
            :value="moduleFilter"
            :options="moduleOptions"
            label="text"
            class="w-100"
            :reduce="(val) => val.value"
            @input="(val) => $emit('update:moduleFilter', val)"
            placeholder="Please select Module"
          />
        </b-col>

      </b-row>
    </b-card-body>
  </b-card>
</template>

<script>
import { BCard, BCardHeader, BCardBody, BRow, BCol } from "bootstrap-vue";
import vSelect from "vue-select";

export default {
  components: {
    BRow,
    BCol,
    BCard,
    BCardHeader,
    BCardBody,
    vSelect,
  },
  props: {
    siteOptions: {
      type: Array,
      required: true,
    },
    siteFilter: {
      type: [String, Number, null],
      default: null,
    },
    subSiteOptions: {
      type: Array,
      //required: true,
    },
    subSiteFilter: {
      type: [String, Number, null],
      default: null,
    },
    categoryOptions: {
      type: Array,
      //required: true,
    },
    categoryFilter: {
      type: [String, Number, null],
      default: null,
    },
    moduleOptions: {
      type: Array,
      //required: true,
    },
    moduleFilter: {
      type: [String, Number, null],
      default: null,
    },
    userOptions: {
      type: Array,
      required: true,
    },
    userFilter: {
      type: [String, Number, null],
      default: null,
    },
  }
};
</script>

<style lang="scss">
@import "~@resources/scss/vue/libs/vue-select.scss";
</style>
