<template>
    <div>
        <!-- Table Container Card -->
        <b-card no-body class="mb-0">

            <div class="m-2">
                <!-- Table Top -->
                <b-row>
                    <!-- Per Page -->
                    <b-col cols="12" md="6" class="d-flex align-items-center justify-content-start mb-1 mb-md-0">
                        <label>Show</label>
                        <v-select v-model="table.perPage" :dir="$store.state.appConfig.isRTL ? 'rtl' : 'ltr'"
                            :options="perPageOptions" :clearable="false" class="per-page-selector d-inline-block mx-50" />
                        <label>entries</label>
                    </b-col>
                    <!-- Search -->
                    <b-col cols="12" md="6">
                    <div class="d-flex align-items-center justify-content-end">
                        <b-form-input v-model="table.search" class="d-inline-block mr-1" placeholder="Search..." />
                        <b-button variant="outline-danger"  @click="batchDelete">
                        <span class="text-nowrap">Delete</span>
                        </b-button>
                    </div>
                    </b-col>
                </b-row>
            </div>

            <b-table hover ref="refUserListTable" class="position-relative" :items="inspectionList.inspection.data" responsive
            :fields="tableColumns" primary-key="asset_id" :sort-by.sync="table.sortBy" show-empty
            empty-text="No matching records found" :sort-desc.sync="isSortDirDesc" v-if="inspectionList && inspectionList.inspection">

                <!-- Column: Checkbox -->
                <template #cell(checkbox)="data">
                    <b-form-checkbox v-model="data.item.selected" @input="inspectionSelect(data.item.inspection_id)" />
                </template>


                <!-- Column: Link -->
                <template #cell(ad_link)="data">
                    <a :href="data.item.ad_link" target="_blank">{{data.item.ad_link}}</a>
                </template>

                <template #cell(inspection_image_1)="data">
                    <b-img :src="data.item.inspection_image_1" width="60px" @click="show(data.item.inspection_image_1)"/>
                </template>

                <!-- <template #cell(inspection_image_2)="data">
                    <b-img :src="data.item.inspection_image_2" width="60px" @click="show(data.item.inspection_image_2)"/>
                </template> -->

                <!-- Column: Status -->
                <template #cell(inspection_result)="data">
                <b-badge
                    pill
                    :variant="`light-${resolveInspectionStatusVariant(data.item.inspection_result)}`"
                    class="text-capitalize"
                >
                    {{ getResultValue(data.item.inspection_result) }}
                </b-badge>
                </template>

                <!-- Column: Actions -->
                <!-- <template #cell(actions)="data">
                    <b-button variant="light" @click="deleteInspection(data.item.inspection_id)">
                        <feather-icon :id="`asset-row-${data.item.inspection_id}-view-detail`" icon="TrashIcon" size="16"
                                    class="mx-1" @click="deleteInspection(data.item.inspection_id)" />
                        <b-tooltip title="Delete Inspection" :target="`asset-row-${data.item.inspection_id}-view-detail`" />
                    </b-button>
                </template> -->


            </b-table>
            <!-- Data Information & Pagination -->
            <div class="mx-2 mb-2" v-if="inspectionList && inspectionList.inspection && inspectionList.inspection.total>0">
                <b-row>
                    <b-col cols="12" sm="6" class="d-flex align-items-center justify-content-center justify-content-sm-start">
                        <span class="text-muted">Showing {{ inspectionList.inspection.from }} to {{ inspectionList.inspection.to }} of {{ inspectionList.inspection.total }} entries</span>
                    </b-col>
                    <!-- Pagination -->
                    <b-col cols="12" sm="6" class="d-flex align-items-center justify-content-center justify-content-sm-end">
                        <b-pagination v-model="currentPage" :total-rows="totalInspection" :per-page="table.perPage" first-number
                            last-number class="mb-0 mt-1 mt-sm-0" prev-class="prev-item" next-class="next-item">
                            <template #prev-text>
                            <feather-icon icon="ChevronLeftIcon" size="18" />
                            </template>
                            <template #next-text>
                            <feather-icon icon="ChevronRightIcon" size="18" />
                            </template>
                        </b-pagination>
                    </b-col>
                </b-row>
            </div>
        </b-card>
    </div>
</template>
<script>
import {
  BCard,
  BImg,
  BRow,
  BCol,
  BFormInput,
  BFormCheckbox,
  BButton,
  BTable,
  BMedia,
  BAvatar,
  BLink,
  BBadge,
  BDropdown,
  BDropdownItem,
  BPagination,
  BTooltip,
} from 'bootstrap-vue'
import ToastificationContent from '@core/components/toastification/ToastificationContent.vue'
import { ref } from '@vue/composition-api'

import vSelect from 'vue-select'
import BaseMixins from "@/mixins/BaseMixins";
import { mapGetters, mapActions } from 'vuex'
export default {
  mixins: [BaseMixins],
  components: {
    BCard,
    BRow,
    BCol,
    BFormInput,
    BFormCheckbox,
    BButton,
    BTable,
    BMedia,
    BAvatar,
    BLink,
    BBadge,
    BDropdown,
    BDropdownItem,
    BPagination,
    BImg,
    vSelect,
    BTooltip,
  },
  data() {
    return {
      currentPage: 1,
      totalInspection: 0,
      tableColumns: [
        {label:'', key: 'checkbox'},
        {label:'Raised', key: 'created_at_format', sortable: true },
        {label:'Name', key: 'user_name.full_name', sortable: true },
        {label:'Notes', key: 'inspection_note', sortable: true },
        {label:'Inspection Image', key: 'inspection_image_1', sortable: true },
        //{label:'Inspection Image 2', key: 'inspection_image_2', sortable: true },
        {label:'Result', key: 'inspection_result', sortable: true },
        // {label:'Actions', key: 'actions' },
      ],
      isSortDirDesc: true,
      perPageOptions: [10, 25, 50, 100],
      selectedInspection: [],        // documents selected for batch delete
    }
  },
  computed: {
    ...mapGetters('inspection', ['inspectionList', 'table']),
  },
  mounted() {
    // this.getAssetInspection(this.table.asset)
    //   .then((response) => {})
    //   .catch((error) => {
    //     this.showToast("Error", "AlertCircleIcon", "danger", error.data.message);
    //   });
  },
  methods: {
    ...mapActions('inspection', ['getAssetInspection','deleteBatchInspections']),

    deleteInspection(id) {
        let deleteData = [];
        if(id==0) {
            // id==0 => Batch delete
            if(this.selectedInspection.length>0) {
                this.selectedInspection.forEach(function (value) {
                    deleteData.push(value);
                });
            } else {
                // No data selected case
                this.$bvToast.toast('Please select at least one inspection to delete', {
                    title: 'Error',
                    variant: 'danger',
                    solid: true,
                })
                return false;
            }
        } else {
            // id!=0 => Single delete
            deleteData.push(id);
        }
        this.$swal({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Yes, delete it!',
            customClass: {
            confirmButton: 'btn btn-primary',
            cancelButton: 'btn btn-outline-danger ml-1',
            },
            buttonsStyling: false,
        }).then(result => {
            if (result.value) {
                // check validation
                var formData = new FormData();
                formData.append('inspectionIdArray', JSON.stringify(deleteData));
                this.deleteBatchInspections(formData).then(response => {
                    if (response.status === true || response.status == 'true') {
                        this.getAssetInspection(this.table.asset_id).then((response) => {})
                            .catch((error) => {
                                this.showToast("Error", "XIcon", "danger", error.data.message);
                            });
                        this.selectedInspection = [];
                        this.$swal({
                            icon: 'success',
                            title: 'Deleted!',
                            text: response.message,
                            customClass: {
                            confirmButton: 'btn btn-success',
                            },
                        })
                    }
                    return Promise.resolve(response);
                });
            }
        })
    },
    show(url) {
            this.$viewerApi({
                images: [url],
            })
        },
    getResultValue(mResult) {
      if (mResult == "pass") {
        return "Pass";
      } else if (mResult == "fail") {
        return "Fail";
      } else if (mResult == "maintenance_required") {
        return "Maintenance";
      } else if (mResult == "inspect") {
        return "Inspect";
      }
    },
    inspectionSelect(inspectionId) {
            // Method to select/unselect the asset id
            // if inspectionId is present in selectedDocument then remove it else insert it.
            let idPresent = false;
            for(var i=0; i<this.selectedInspection.length; i++) {
                if(this.selectedInspection[i] == inspectionId) {
                    idPresent=true;
                    break;
                }
            }
            if(idPresent) {
                this.selectedInspection.splice(this.selectedInspection.indexOf(inspectionId), 1);
            } else {
                this.selectedInspection.push(inspectionId);
            }
    },
    batchDelete() {
            if(this.selectedInspection.length == 0) {
                this.$bvToast.toast('Please select at least one inspection to delete', {
                    title: 'Error',
                    variant: 'danger',
                    solid: true,
                })
                return false;
            }
            this.$swal({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Yes, delete it!',
                customClass: {
                confirmButton: 'btn btn-primary',
                cancelButton: 'btn btn-outline-danger ml-1',
                },
                buttonsStyling: false,
            }).then(result => {
                if (result.value) {
                    // check validation
                    var formData = new FormData();
                    formData.append('inspectionIdArray', JSON.stringify(this.selectedInspection));
                    this.deleteBatchInspections(formData).then(response => {
                        if (response.status === true || response.status == 'true') {
                            this.getAssetInspection(this.table.asset_id).then((response) => {})
                            .catch((error) => {
                                this.showToast("Error", "XIcon", "danger", error.data.message);
                            });
                            this.selectedInspection=[];
                            this.$swal({
                                icon: 'success',
                                title: 'Deleted!',
                                text: response.message,
                                customClass: {
                                confirmButton: 'btn btn-success',
                                },
                            })
                        }
                        return Promise.resolve(response);
                    });
                }
            })
        },
  },
  watch: {
    table: {
        handler() {
            this.getAssetInspection(this.table.asset_id);
        },
        deep: true,
    },
  }
}
</script>
<style lang="scss">
@import '~@resources/scss/vue/libs/vue-select.scss';
