<template>

  <div>

    <!-- Filters -->
    <category-list-filters :status-filter.sync="table.status" :status-options="statusOptions" />

    <category-add-modal :perPage="table.perPage" :page="table.page"></category-add-modal>

    <!-- Table Container Card -->
    <b-card no-body class="mb-0">

      <div class="m-2">

        <!-- Table Top -->
        <b-row>

          <!-- Per Page -->
          <b-col cols="12" md="6" class="d-flex align-items-center justify-content-start mb-1 mb-md-0">
            <label>Show</label>
            <v-select v-model="table.perPage" :dir="$store.state.appConfig.isRTL ? 'rtl' : 'ltr'"
              :options="perPageOptions" :clearable="false" class="per-page-selector d-inline-block mx-50" />
            <label>entries</label>
          </b-col>

          <!-- Search -->
          <b-col cols="12" md="6">
            <div class="d-flex align-items-center justify-content-end">
              <b-form-input v-model="table.search" class="d-inline-block mr-1" placeholder="Search..." />
              <b-button variant="primary" @click="goToAddCategory">
                <span class="text-nowrap">Add</span>
              </b-button>
            </div>
          </b-col>
        </b-row>

      </div>

      <b-table hover ref="refUserListTable" class="position-relative" :items="categoryList.categories.data" responsive
        :fields="tableColumns" primary-key="id" :sort-by.sync="table.sortBy" show-empty
        empty-text="No matching records found" :sort-desc.sync="isSortDirDesc">

        <!-- Column: Category Name -->
        <template #cell(category_name)="data">
          <b-link class="font-weight-bold d-block text-nowrap"
          @click="editCategory(data.item.category_id)" >
            {{ data.item.category_name }}
          </b-link>
        </template>

        <!-- Column: Status -->
        <template #cell(category_status)="data">
          <b-badge href="#" pill :variant="`light-${resolveUserStatusVariant(data.item.category_status)}`"
            class="text-capitalize" @click="changeStatus(data.item.category_id, data.item.category_status)">
            {{ getStatusValue(data.item.category_status) }}
          </b-badge>
        </template>

        <!-- Column: Module -->
        <template #cell(module)="data">
          <b-button v-ripple.400="'rgba(113, 102, 240, 0.15)'" variant="outline-primary"
            :to="{ name: 'admin-category-module-list', params: { category_id: data.item.category_id } }">
            Module
          </b-button>
        </template>

        <!-- Column: Actions -->
        <template #cell(actions)="data">
          <b-dropdown variant="link" no-caret :right="$store.state.appConfig.isRTL">

            <template #button-content>
              <feather-icon icon="MoreVerticalIcon" size="16" class="align-middle text-body" />
            </template>
            <b-dropdown-item @click="viewCategory(data.item.category_id)">
              <feather-icon icon="FileTextIcon" />
              <span class="align-middle ml-50">Details</span>
            </b-dropdown-item>

            <b-dropdown-item @click="editCategory(data.item.category_id)">
              <feather-icon icon="EditIcon" />
              <span class="align-middle ml-50">Edit</span>
            </b-dropdown-item>

            <b-dropdown-item @click="deleteCategory(data.item.category_id)">
              <feather-icon icon="TrashIcon" />
              <span class="align-middle ml-50">Delete</span>
            </b-dropdown-item>
          </b-dropdown>
        </template>

      </b-table>
      <div class="mx-2 mb-2">
        <b-row>

          <b-col cols="12" sm="6" class="d-flex align-items-center justify-content-center justify-content-sm-start">
            <span class="text-muted">Showing {{ categoryList.categories.from }} to {{ categoryList.categories.to }} of
              {{
                  categoryList.categories.total
              }}
              entries</span>
          </b-col>
          <!-- Pagination -->
          <b-col cols="12" sm="6" class="d-flex align-items-center justify-content-center justify-content-sm-end">

            <b-pagination v-model="table.page" :total-rows="categoryList.total" :per-page="table.perPage" first-number
              last-number class="mb-0 mt-1 mt-sm-0" prev-class="prev-item" next-class="next-item">
              <template #prev-text>
                <feather-icon icon="ChevronLeftIcon" size="18" />
              </template>
              <template #next-text>
                <feather-icon icon="ChevronRightIcon" size="18" />
              </template>
            </b-pagination>

          </b-col>

        </b-row>
      </div>
    </b-card>
  </div>
</template>

<script>
import {
  BCard,
  BRow,
  BCol,
  BFormInput,
  BButton,
  BTable,
  BMedia,
  BAvatar,
  BLink,
  BBadge,
  BDropdown,
  BDropdownItem,
  BPagination,
} from 'bootstrap-vue'
import vSelect from 'vue-select'
import CategoryAddModal from '../CategoryModal.vue'
import CategoryListFilters from './CategoryListFilters.vue'
import ToastificationContent from '@core/components/toastification/ToastificationContent.vue'
import Ripple from 'vue-ripple-directive'
import store from '@/store/index'

import { mapActions, mapGetters } from 'vuex';
import CategoryServices from "@/services/categoryServices";
import BaseMixins from "@/mixins/BaseMixins";

export default {
  mixins: [BaseMixins],
  components: {
    CategoryListFilters,
    CategoryAddModal,

    BCard,
    BRow,
    BCol,
    BFormInput,
    BButton,
    BTable,
    BMedia,
    BAvatar,
    BLink,
    BBadge,
    BDropdown,
    BDropdownItem,
    BPagination,

    vSelect,
  },
  directives: {
    Ripple,
  },
  data() {
    return {
      table: {
        perPage: 25,
        search: '',
        sortBy: null,
        sortDesc: true,
        page: 1,
        categoryIsDefault: 'Y',
        status: '',
      },
      perPageOptions: [10, 25, 50, 100],
      tableColumns: [
        { label: 'Category Name', key: 'category_name', sortable: true },
        { label: 'Created Date', key: 'created_at_format' },
        { label: 'Modified Date', key: 'updated_at_format' },
        { label: 'Status', key: 'category_status', sortable: true },
        { label: "", key: "module" },
        { label: 'Actions', key: 'actions' },
      ],
      isSortDirDesc: true,
      modalButtonName: 'Add'
    };
  },
  computed: {
    // Get state variables
    ...mapGetters('category',
      [
        'categoryList', // Get all default template list
      ]
    ),
  },
  methods: {
    ...mapActions('category',
      [
        'getAllCategory', // Get all default template
        'getCategoryData'
      ]
    ),
    refetchData() {
      this.getAllCategory(this.table);
    },
    goToAddCategory() {
      const category = {
        category_id: '',
        category_name: '',
        category_desc: '',
        category_status: true,
        created_at: '',
        updated_at: '',
      };

      // Set value for modal button
      store.commit('category/UPDATE_MODAL_BUTTON_NAME', this.modalButtonName);
      store.commit('category/UPDATE_VIEW_MODE', false);

      //Reset field data
      store.commit('category/UPDATE_CATEGORY', category)

      // Open category add modal
      this.$bvModal.show("category-modal");
    },
    editCategory(categoryId) {
      // Get category based on category_id
      this.getCategoryData(categoryId);

      // Set variable value
      store.commit('category/UPDATE_MODAL_BUTTON_NAME', 'Update');
      store.commit('category/UPDATE_VIEW_MODE', false);
      store.commit('category/UPDATE_EDIT_MODE', true);

      // Open category modal
      this.$bvModal.show('category-modal');
    },
    viewCategory(categoryId) {
      // Get category based on category_id
      this.getCategoryData(categoryId);

      // Set variable value
      store.commit('category/UPDATE_MODAL_BUTTON_NAME', 'View')
      store.commit('category/UPDATE_VIEW_MODE', true);

      // Open category modal
      this.$bvModal.show("category-modal");
    },
    // Change status
    changeStatus(id, status) {
      this.$swal({
        title: 'Are you sure?',
        text: "Do you want to change category status?",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Yes, change it!',
        customClass: {
          confirmButton: 'btn btn-primary',
          cancelButton: 'btn btn-outline-danger ml-1',
        },
        buttonsStyling: false,
      }).then(result => {
        if (result.value) {
          // check validation
          CategoryServices.changeStatus({ id: id, status: status }).then(response => {
            if (response.status === true || response.status == 'true') {
              this.$swal({
                icon: 'success',
                title: 'Changed!',
                text: response.message,
                customClass: {
                  confirmButton: 'btn btn-success',
                },
              })

              // Refetch table data
              this.refetchData()
            } else {
              this.$toast({
                component: ToastificationContent,
                position: 'top-right',
                props: {
                  title: 'Error',
                  variant: 'danger',
                  text: response.message,
                },
              })
            }
            return Promise.resolve(response);
          });
        }
      })
    },
    // Template soft delete
    deleteCategory(id) {
      this.$swal({
        title: 'Are you sure?',
        text: "You won't be able to revert this!",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Yes, delete it!',
        customClass: {
          confirmButton: 'btn btn-primary',
          cancelButton: 'btn btn-outline-danger ml-1',
        },
        buttonsStyling: false,
      }).then(result => {
        if (result.value) {
            this.$swal({
          title: "<span style='color:white'>WARING!!</span>",
          html: "<p style='color:white'>If you delete this category you will delete all the modules, module fields and questions in this category. You will not be able to undo this action. If in doubt contact your administrator.</p>",
          icon: "warning",
          background: '#FF0000',
          color: '#FFFFFF',
          showCancelButton: true,
          confirmButtonText: "Yes, delete it!",
          customClass: {
            confirmButton: "btn btn-primary",
            cancelButton: "btn btn-outline-light ml-1 text-white",
            icon: "text-white border border-white "
          },
          buttonsStyling: false,
        }).then((secondResult) => {
        if(secondResult.value){
          // check validation
          CategoryServices.deleteCategoryData(id).then(response => {
            if (response.status === true || response.status == 'true') {
              this.$swal({
                icon: 'success',
                title: 'Deleted!',
                text: response.message,
                customClass: {
                  confirmButton: 'btn btn-success',
                },
              })

              // Refetch table data
              this.refetchData()
            } else {
              this.$toast({
                component: ToastificationContent,
                position: 'top-right',
                props: {
                  title: 'Error',
                  variant: 'danger',
                  text: response.data.message,
                },
              })
            }
            return Promise.resolve(response);
          });
        }
        })
        }
      })
    },
  },
  mounted() {
    // Get all default template
    this.getAllCategory(this.table).catch((error) => {
      this.showToast(
        "Error",
        "XIcon",
        "danger",
        error.data.message
      );
    });
  },
  watch: {
    table: {
      handler() {
        this.getAllCategory(this.table);
      },
      deep: true,
    },
  },
}
</script>



<style lang="scss">
@import '~@resources/scss/vue/libs/vue-select.scss';
@import '~@resources/scss/vue/libs/vue-select.scss';
