<template>
  <!-- modal create-->
  <b-modal
    id="module-modal"
    cancel-variant="outline-secondary"
    ok-title="Add to New Template"
    cancel-title="Close"
    centered
    :title="modalButtonName + ' Module'"
    hide-footer
    header-class="justify-content-center"
    @hide="closeModal"
    :no-close-on-backdrop="true"
  >
    <!-- Alert - Server side error -->
    <error-message></error-message>
    <validation-observer ref="moduleFormObserver">
      <b-form>
        <b-row>
          <b-col md="12" v-if="moduleData.module_icon != ''">
            <b-media class="mb-2">
              <template #aside>
                <b-avatar :src="moduleData.module_icon" size="90px" rounded />
              </template>
              <div class="demo-inline-spacing">
                <b-button
                  v-ripple.400="'rgba(255, 255, 255, 0.15)'"
                  variant="primary"
                  class="btn-icon"
                  @click="$refs.refInputEl.click()"
                  :disabled="viewMode"
                >
                  <input
                    ref="refInputEl"
                    type="file"
                    class="d-none"
                    @change="uploadIcon"
                    accept="image/*"
                  />
                  <feather-icon icon="UploadIcon" />
                </b-button>
                <b-button
                  v-ripple.400="'rgba(255, 255, 255, 0.15)'"
                  variant="gradient-danger"
                  class="btn-icon"
                  @click="removeIcon"
                  :disabled="viewMode"
                >
                  <feather-icon icon="TrashIcon" />
                </b-button>
              </div>
            </b-media>
          </b-col>

          <b-col md="12">
            <validation-provider
              #default="validationContext"
              name="Module Name"
              rules="required"
            >
              <b-form-group label-for="module_name">
                <label>Module Name <span class="text-danger">*</span></label>
                <b-form-input
                  id="module_name"
                  v-model="moduleData.module_name"
                  :state="getValidationState(validationContext)"
                  trim
                  :disabled="viewMode"
                />
                <b-form-invalid-feedback>
                  {{ validationContext.errors[0] }}
                </b-form-invalid-feedback>
              </b-form-group>
            </validation-provider>
          </b-col>

          <!-- <b-col md="6">
            <validation-provider
              #default="validationContext"
              name="Prefix"
              rules="required"
            >
              <b-form-group label-for="module_prefix">
                <label>Prefix <span class="text-danger">*</span></label>
                <b-form-input
                  id="module_prefix"
                  v-model="moduleData.module_prefix"
                  :state="getValidationState(validationContext)"
                  trim
                  :disabled="viewMode"
                />
                <b-form-invalid-feedback>
                  {{ validationContext.errors[0] }}
                </b-form-invalid-feedback>
              </b-form-group>
            </validation-provider>
          </b-col> -->

          <b-col md="12">
            <b-form-group label="Description" label-for="module_desc">
              <b-form-textarea
                v-model="moduleData.module_desc"
                placeholder="Description"
                rows="3"
                trim
                :disabled="viewMode"
              />
            </b-form-group>
          </b-col>

          <!-- <b-col md="12" v-if="moduleData.module_icon == ''">
            <b-form-group label="Icon" label-for="module_icon">
              <b-form-file
                v-model="moduleIcon"
                id="module_icon"
                accept="image/*"
                @change="onFileChange"
                :disabled="viewMode"
              />
            </b-form-group>
          </b-col> -->

          <b-col md="12" v-if="isCategoryDisplay">
            <validation-provider
              #default="validationContext"
              name="Category"
              rules="required"
            >
              <b-form-group
                label-for="module_category_id"
                :state="getValidationState(validationContext)"
              >
                <label>Category <span class="text-danger">*</span></label>

                <v-select
                  v-model="moduleData.module_category_id"
                  :dir="$store.state.appConfig.isRTL ? 'rtl' : 'ltr'"
                  :options="userCategoryOptions"
                  :reduce="(val) => val.value"
                  :clearable="true"
                  input-id="module_category_id"
                  placeholder="Select Category or Search Categories"
                  :disabled="viewMode"
                />
                <b-form-invalid-feedback :state="getValidationState(validationContext)">
                  {{ validationContext.errors[0] }}
                </b-form-invalid-feedback>
              </b-form-group>
            </validation-provider>
          </b-col>

          <b-col md="12">
            <b-form-group
              label="If you want clone from a Template then Select Template Below"
              label-for="module_template_id"
            >
              <v-select
                v-model="moduleData.module_template_id"
                :dir="$store.state.appConfig.isRTL ? 'rtl' : 'ltr'"
                :options="userTemplateOptions"
                :reduce="(val) => val.value"
                :clearable="true"
                input-id="module_template_id"
                placeholder="Select Template"
                :disabled="viewMode"
              />
            </b-form-group>
          </b-col>
          <b-col md="12">
            <validation-provider
              #default="validationContext"
              name="Inspection schedule"
              rules="required"
            >
                <b-form-group
                label-for="module_inspection_schedule"
                :state="getValidationState(validationContext)"
                >
                    <label>Inspection Schedule <span class="text-danger">*</span></label>
                    <v-select
                        v-model="moduleData.module_inspection_schedule"
                        :dir="$store.state.appConfig.isRTL ? 'rtl' : 'ltr'"
                        :options="scheduleOptions"
                        :reduce="(val) => val.value"
                        :clearable="true"
                        input-id="module_inspection_schedule"
                        placeholder="Please select the required inspection interval"
                        :disabled="viewMode"
                    />
                    <b-form-invalid-feedback :state="getValidationState(validationContext)">
                    {{ validationContext.errors[0] }}
                    </b-form-invalid-feedback>
                </b-form-group>
            </validation-provider>
          </b-col>
          <b-col md="6">
            <b-form-group>
              <b-form-checkbox
                v-model="moduleData.module_allow_duplicates"
                :disabled="viewMode"
              >
                Allow Duplicates
              </b-form-checkbox>
            </b-form-group>
            <b-form-group>

              <b-form-checkbox
                v-model="moduleData.module_has_activity"
                :disabled="viewMode"
              >
                Has Activity
              </b-form-checkbox>
            </b-form-group>

            <b-form-group>
              <b-form-checkbox v-model="moduleData.module_has_image" :disabled='viewMode'>
                Has Image
              </b-form-checkbox>
            </b-form-group>

          </b-col>

          <b-col md="12">
            <b-form-group class="change-status">
              <label>Active</label>
              <b-form-checkbox
                checked="true"
                name="check-button"
                v-model="moduleData.module_status"
                switch
                inline
                :disabled="viewMode"
              >
              </b-form-checkbox>
            </b-form-group>
          </b-col>
          <!-- submit button -->
          <b-col offset-md="4">
            <b-button variant="primary" @click.prevent="submitModule" :disabled="viewMode"
              >{{ modalButtonName }}
            </b-button>
            <b-button
              v-ripple.400="'rgba(186, 191, 199, 0.15)'"
              variant="outline-secondary"
              @click.prevent="closeModal()"
            >
              Cancel
            </b-button>
          </b-col>
        </b-row>
      </b-form>
    </validation-observer>
  </b-modal>
</template>

<script>
import {
  BModal,
  VBModal,
  BRow,
  BCol,
  BButton,
  BForm,
  BFormGroup,
  BFormInput,
  BFormTextarea,
  BFormCheckbox,
  BFormInvalidFeedback,
  BFormFile,
  BMedia,
  BAvatar,
} from "bootstrap-vue";
import vSelect from "vue-select";
import { ValidationProvider, ValidationObserver } from "vee-validate";
import { required, alpha, email } from "@validations";
import formValidation from "@core/comp-functions/forms/form-validation";
import Ripple from "vue-ripple-directive";
import ErrorMessage from "@/views/error/ErrorMessage";
import { mapActions, mapGetters } from "vuex";
import ToastificationContent from "@core/components/toastification/ToastificationContent.vue";
import store from "@/store/index";
import router from "@/router";


export default {
  components: {
    BModal,
    VBModal,
    BRow,
    BCol,
    BButton,
    BForm,
    BFormGroup,
    BFormInput,
    BFormTextarea,
    BFormCheckbox,
    BFormInvalidFeedback,
    vSelect,
    BFormFile,
    BMedia,
    BAvatar,

    // Form Validation
    ValidationProvider,
    ValidationObserver,

    ErrorMessage,
  },
  directives: {
    "b-modal": VBModal,
    Ripple,
  },
  data() {
    const { refFormObserver, getValidationState } = formValidation(this.moduleData);

    const moduleIcon = [];

    return {
        refFormObserver,
      getValidationState,
      required,
      moduleIcon,
        scheduleOptions: [
            {label: "Weekly", value: 7},
            {label: "Monthly", value: 30},
            {label: "Every 3 Months", value: 90},
            {label: "Quarterly with RGBY", value: 'RGBY'},
            {label: "Every 6 Months", value: 180},
            {label: "Every 12 Months", value: 360},
            {label: "Every 18 Months", value: 540},
            {label: "Every 24 Months", value: 720},

        ],
    };
  },
  mounted() {
    // Get user category for dropdown option
    this.getUserCategoryOptions();

    // Get user template for dropdown option
    this.getUserTemplateOptions();
  },
  props: ['perPage', 'page'],
  computed: {
    // Get state variables
    ...mapGetters("category", ["userCategoryOptions"]),
    ...mapGetters("template", ["userTemplateOptions"]),
    ...mapGetters("module", [
      "categoryName",
      "modalButtonName",
      "isCategoryDisplay",
      "moduleData",
      "editMode",
      "viewMode",
    ]),
  },
  methods: {
    ...mapActions("category", ["getUserCategoryOptions"]),
    ...mapActions("template", ["getUserTemplateOptions"]),
    ...mapActions("module", [
      "saveModule",
      "updateModuleData",
      "uploadModuleIcon",
      "removeModuleIcon",
      "getCategoryList",
      "getModuleData",
    ]),
    closeModal() {
      this.$bvModal.hide("module-modal");
    },
    onFileChange(event) {
      this.moduleIcon = event.target.files[0];
    },
    // Submit template data
    submitModule() {
      this.$refs.moduleFormObserver.validate().then((success) => {
        if (success) {
          const config = {
            headers: {
              "content-type": "multipart/form-data",
            },
          };
          let formData = new FormData();

          // Set data in form
          for (const [key, value] of Object.entries(this.moduleData)) {
            if (value != null) {
              formData.append(key, value);
            }
          }

          // Upend module icon
          formData.append("module_icon", this.moduleIcon);

          let data = {
            id: this.moduleData.module_id,
            payload: formData,
            config: config,
          };

          if (this.modalButtonName == "Update" && this.editMode) {
            this.updateModuleData(data).then((response) => {
              if (response.status === true || response.status == "true") {
                // Close modal
                this.closeModal();

                // Get data after update
                store.dispatch("module/getModuleList", {
                  perPage: this.perPage,
                  sortBy: "module_id",
                  sortDesc: "true",
                  page: this.page,
                  categoryId:  this.$route.params.category_id,
                });

                this.$toast({
                  component: ToastificationContent,
                  position: "top-right",
                  props: {
                    icon: "CheckIcon",
                    title: `Notification`,
                    riant: "success",
                    text: response.message,
                  },
                });
              }
              return Promise.resolve(response);
            });
          } else {
            // check validation
            this.saveModule(data).then((response) => {
              if (response.status === true || response.status == "true") {
                // Close modal
                this.closeModal();

                // Get data after save
                store.dispatch("module/getModuleList", {
                  perPage: this.perPage,
                  sortBy: "module_id",
                  sortDesc: "true",
                  page: this.page,
                  categoryId: this.$route.params.category_id,
                });

                this.$toast({
                  component: ToastificationContent,
                  position: "top-right",
                  props: {
                    icon: "CheckIcon",
                    title: `Notification`,
                    riant: "success",
                    text: response.message,
                  },
                });
              } else {
                //this.moveUp();
              }
              return Promise.resolve(response);
            });
          }
        } else {
          //this.moveUp();
        }
      });
    },
    uploadIcon(e) {
      e.preventDefault();

      const config = {
        headers: {
          "content-type": "multipart/form-data",
        },
      };
      let formData = new FormData();

      // Set data in form
      formData.append("module_id", this.moduleData.module_id);
      formData.append("module_icon", e.target.files[0]);

      let data = {
        payload: formData,
        config: config,
      };

      this.uploadModuleIcon(data).then((response) => {
        if (response.status === true || response.status == "true") {
          // Call again for get updated icon
          this.getModuleData(this.moduleData.module_id);

          this.$toast({
            component: ToastificationContent,
            position: "top-right",
            props: {
                icon: "CheckIcon",
              title: `Notification`,
              variant: "success",
              text: response.message,
            },
          });
        }
        return Promise.resolve(response);
      });
    },
    // Remove module icon which is exist
    removeIcon() {
      this.$swal({
        title: "Are you sure?",
        text: "You won't be able to revert this!",
        icon: "warning",
        showCancelButton: true,
        confirmButtonText: "Yes, remove it!",
        customClass: {
          confirmButton: "btn btn-primary",
          cancelButton: "btn btn-outline-danger ml-1",
        },
        buttonsStyling: false,
      }).then((result) => {
        if (result.value) {
          this.removeModuleIcon(this.moduleData.module_id).then((response) => {
            if (response.status === true || response.status == "true") {
              // Call again for get updated icon
              this.getModuleData(this.moduleData.module_id);

              this.$swal({
                icon: "success",
                title: "Removed!",
                text: response.message,
                customClass: {
                  confirmButton: "btn btn-success",
                },
              });
            } else {
              this.$toast({
                component: ToastificationContent,
                position: "top-right",
                props: {
                  title: "Error",
                  variant: "danger",
                  text: response.data.errors.file,
                },
              });
            }
            return Promise.resolve(response);
          });
        }
      });
    },
  },
};
</script>

<style lang="scss">
@import "~@resources/scss/vue/libs/vue-select.scss";
</style>
