<template>
  <div class="auth-wrapper auth-v2">
    <b-row class="auth-inner m-0">
      <!-- Brand logo-->
      <!-- <b-link class="brand-logo">
        <vuexy-logo />
        <h2 class="brand-text font-weight-normal text-primary ml-1">
          {{ projectName }}
        </h2>
      </b-link> -->
      <!-- /Brand logo-->

      <!-- Left Text-->
      <b-col lg="8" class="d-none d-lg-flex align-items-center p-5">
        <div class="w-50 mx-auto d-lg-flex align-items-center justify-content-center px-5">
          <b-img fluid :src="imgUrl" alt="Login V2" />
        </div>
      </b-col>
      <!-- /Left Text-->

      <!-- Login-->
      <b-col lg="4" class="d-flex align-items-center auth-bg px-2 p-lg-5">
        <b-col sm="8" md="6" lg="12" class="px-xl-2 mx-auto">
          <b-card-title title-tag="h2" class="font-weight-bold mb-1">
            <b-img fluid :src="imgUrl" alt="Login V2" class="mobileLogo" />
            <!-- Welcome to {{ projectName }} Tag -->
            <div class="text-center">Welcome to</div>
            <div class="text-center">{{ projectName }} Tag</div>
          </b-card-title>
          <b-card-text class="mb-2">
            Please sign-in to your account.
          </b-card-text>

          <!-- form -->
          <validation-observer ref="loginForm">
            <b-form class="auth-login-form mt-2" @submit.prevent>
              <!-- email -->
              <b-form-group label="Email" label-for="login-email">
                <validation-provider #default="{ errors }" name="Email" rules="required|email">
                  <b-form-input id="login-email" v-model="userEmail" :state="errors.length > 0 ? false : null"
                    name="login-email" placeholder="john@example.com" />
                  <small class="text-danger">{{ errors[0] }}</small>
                </validation-provider>
              </b-form-group>

              <!-- forgot password -->
              <b-form-group>
                <div class="d-flex justify-content-between">
                  <label for="login-password">Password</label>
                  <b-link :to="{ name: 'auth-forgot-password' }">
                    <small>Forgot Password?</small>
                  </b-link>
                </div>
                <validation-provider #default="{ errors }" name="Password" rules="required">
                  <b-input-group class="input-group-merge" :class="errors.length > 0 ? 'is-invalid' : null">
                    <b-form-input id="login-password" v-model="password" :state="errors.length > 0 ? false : null"
                      class="form-control-merge" :type="passwordFieldType" name="login-password"
                      placeholder="············" />
                    <b-input-group-append is-text>
                      <feather-icon class="cursor-pointer" :icon="passwordToggleIcon" @click="togglePasswordVisibility" />
                    </b-input-group-append>
                  </b-input-group>
                  <small class="text-danger">{{ errors[0] }}</small>
                </validation-provider>
              </b-form-group>

              <!-- checkbox -->
              <b-form-group>
                <b-form-checkbox id="remember-me" v-model="status" name="checkbox-1">
                  Remember Me
                </b-form-checkbox>
              </b-form-group>

              <!-- submit buttons -->
              <b-button type="submit" variant="primary" block @click="loginForm">
                Sign in
              </b-button>
            </b-form>
          </validation-observer>
        </b-col>
      </b-col>
      <!-- /Login-->
    </b-row>
  </div>
</template>

<script>
/* eslint-disable global-require */
import { $themeConfig } from "@themeConfig";
import { ValidationProvider, ValidationObserver } from "vee-validate";
import VuexyLogo from "@core/layouts/components/Logo.vue";
import {
  BRow,
  BCol,
  BLink,
  BFormGroup,
  BFormInput,
  BInputGroupAppend,
  BInputGroup,
  BFormCheckbox,
  BCardText,
  BCardTitle,
  BImg,
  BForm,
  BButton,
} from "bootstrap-vue";
import useJwt from "@/auth/jwt/useJwt";
import { required, email } from "@validations";
import { togglePasswordVisibility } from "@core/mixins/ui/forms";
import store from "@/store/index";
import { getHomeRouteForLoggedInUser } from "@/auth/utils";
import ToastificationContent from "@core/components/toastification/ToastificationContent.vue";
import { mapGetters, mapActions } from "vuex";
import BaseMixins from "@/mixins/BaseMixins";

export default {
  components: {
    BRow,
    BCol,
    BLink,
    BFormGroup,
    BFormInput,
    BInputGroupAppend,
    BInputGroup,
    BFormCheckbox,
    BCardText,
    BCardTitle,
    BImg,
    BForm,
    BButton,
    VuexyLogo,
    ValidationProvider,
    ValidationObserver,
  },
  mixins: [togglePasswordVisibility, BaseMixins],
  data() {
    return {
      projectName: $themeConfig.app.appName,
      status: "",
      password: "",
      userEmail: "",
      sideImg: require("@/assets/images/pages/login-v3-dark.svg"),
      // validation rules import store from '@/store/index'
      required,
      email,
    };
  },
  mounted() {
    if (localStorage.checkbox && localStorage.checkbox !== "") {
      this.userEmail = localStorage.username;
      this.password = localStorage.userpassword;
      this.status = localStorage.checkbox;
    } else {
      this.userEmail = "";
      this.password = "";
      this.status = "";
    }
  },
  computed: {
    passwordToggleIcon() {
      return this.passwordFieldType === "password" ? "EyeIcon" : "EyeOffIcon";
    },
    imgUrl() {
      if (store.state.appConfig.layout.skin === "dark") {
        // eslint-disable-next-line vue/no-side-effects-in-computed-properties
        this.sideImg = require("@/assets/images/pages/login-v2-white.svg");
        return this.sideImg;
      }
      return this.sideImg;
    },
  },
  methods: {
    ...mapActions("auth", ["login"]),
    loginForm() {
      this.$refs.loginForm.validate().then((success) => {
        if (success) {
          this.login({
            email: this.userEmail,
            password: this.password,
          }).then((response) => {
            if (response.status == 200 || response.status === true) {
              const userData = response.data.user.loggedUserData;

              // Nav Menu Set as per the role
              if (userData.role == "Super Admin") {
                store.commit(
                  "verticalMenu/UPDATE_NAV_MENU_ITEMS",
                  store.state.verticalMenu.superAdminMenuData
                );
              } else if (userData.role == "Admin") {
                store.commit(
                  "app/UPDATE_APP_NAME",
                  userData.client_company_name == null
                    ? store.state.app.appName
                    : userData.client_company_name
                );
                store.commit("app/UPDATE_APP_LOGO_IMAGE", userData.client_company_logo);
                if (userData.is_confined_space == 'Y') {
                  store.commit("verticalMenu/UPDATE_CLIENT_ADMIN_MENU_DATA", {
                    data: [{
                      title: 'Confined Space',
                      icon: 'InfoIcon',
                      route: 'client-confined-space-list'
                    }], index: 7
                  });

                  const uniqueData = [...new Set(store.state.verticalMenu.clientAdminMenuData.map(item => JSON.stringify(item)))].map(item => JSON.parse(item));
                  store.commit("verticalMenu/UPDATE_NAV_MENU_ITEMS", uniqueData);
                } else {
                  store.commit(
                    "verticalMenu/UPDATE_NAV_MENU_ITEMS",
                    store.state.verticalMenu.resetClientAdminMenuData
                  );
                }
              } else if (userData.role == "User") {
                store.commit("app/UPDATE_APP_LOGO_IMAGE", userData.client_company_logo);
                store.commit(
                  "app/UPDATE_APP_NAME",
                  userData.client_company_name == null
                    ? store.state.app.appName
                    : userData.client_company_name
                );
                store.commit(
                  "verticalMenu/UPDATE_NAV_MENU_ITEMS",
                  store.state.verticalMenu.siteManagerMenuData
                );
              }

              // User avatar set
              store.commit("auth/UPDATE_USER_AVATAR", userData.avatar);

              // User avatar set
              store.commit("auth/UPDATE_USER_FULL_NAME", userData.fullName);

              useJwt.setToken(response.accessToken);
              useJwt.setRefreshToken(response.setRefreshToken);

              localStorage.setItem("userData", JSON.stringify(userData));
              this.$ability.update(userData.ability);

              if (this.status && this.userEmail !== "" && this.password !== "") {
                localStorage.username = this.userEmail;
                localStorage.userpassword = this.password;
                localStorage.checkbox = this.status;
              } else {
                localStorage.username = "";
                localStorage.userpassword = "";
                localStorage.checkbox = "";
              }

              this.$router
                .replace(getHomeRouteForLoggedInUser(userData.role))
                .then(() => {
                  // Success Message
                  this.showToast("Welcome", "CheckIcon", "success", response.message);
                });
            } else {
              // Error Message
              this.showToast("Error", "XIcon", "danger", response.message);
            }
          });
        }
      });
    },
  },
};
</script>

<style lang="scss">
@import "@resources/scss/vue/pages/page-auth.scss";
</style>
