<template>
    <div class="card">
      <div class="card-body">

        <!-- Alert - Server side error -->
        <error-message></error-message>

        <validation-observer #default="{ handleSubmit }" ref="newCompanyFormObserver">
          <b-form class="mt-1">
            <!-- START :: User Basic Information -->
            <div class="mt-2 pt-75">
              <!-- Header: Basic Info -->
              <div class="d-flex">
                <feather-icon icon="UserIcon" size="19" />
                <h4 class="mb-0 ml-50">
                  Basic Information
                </h4>
              </div>

              <b-row class="mt-1">
                <!-- Field: Company Name -->
                <b-col cols="12" md="4">
                  <validation-provider #default="validationContext" name="Company Name" rules="required">
                    <b-form-group>
                      <label>Company Name <span class="text-danger">*</span></label>
                      <b-form-input id="name" v-model="companyData.name"
                        :state="getValidationState(validationContext)" trim maxlength="50"/>
                      <b-form-invalid-feedback>
                        {{ validationContext.errors[0] }}
                      </b-form-invalid-feedback>
                    </b-form-group>
                  </validation-provider>
                </b-col>

                <!-- Field: ABN -->
                <b-col cols="12" md="4">
                  <validation-provider #default="validationContext" name="ABN" rules="required">
                    <b-form-group>
                      <label>ABN <span class="text-danger">*</span></label>
                      <b-form-input id="abn" v-model="companyData.abn"
                        :state="getValidationState(validationContext)" trim maxlength="20"/>
                      <b-form-invalid-feedback>
                        {{ validationContext.errors[0] }}
                      </b-form-invalid-feedback>
                    </b-form-group>
                  </validation-provider>
                </b-col>

                <!-- Field: Client ID -->
                <b-col cols="12" md="4">
                  <validation-provider #default="validationContext" name="Client ID" rules="required">
                    <b-form-group>
                      <label>Client ID <span class="text-danger">*</span></label>
                      <b-form-input id="client_id" v-model="companyData.client_id"
                        :state="getValidationState(validationContext)" trim maxlength="20"/>
                      <b-form-invalid-feedback>
                        {{ validationContext.errors[0] }}
                      </b-form-invalid-feedback>
                    </b-form-group>
                  </validation-provider>
                </b-col>

                <!-- Field: Company Website -->
                <b-col cols="12" md="6" lg="4">
                  <validation-provider #default="validationContext" name="Company Website" rules="required|url">
                    <b-form-group>
                      <label>Company Website <span class="text-danger">*</span></label>
                      <b-form-input id="website" v-model="companyData.website"
                        :state="getValidationState(validationContext)" trim maxlength="120"/>
                      <b-form-invalid-feedback>
                        {{ validationContext.errors[0] }}
                      </b-form-invalid-feedback>
                    </b-form-group>
                  </validation-provider>
                </b-col>

                <!-- Field: company Logo -->
                <b-col cols="12" md="6" lg="4">
                  <validation-provider #default="validationContext" name="Logo" rules="required">
                    <b-form-group>
                      <label>Logo <span class="text-danger">*</span></label>
                      <b-form-file v-model="companyData.logo" id="logo" accept="image/jpeg,image/gif,image/png"
                        @change="onLogoFileChange" :state="getValidationState(validationContext)" trim />
                      <b-form-invalid-feedback>
                        {{ validationContext.errors[0] }}
                      </b-form-invalid-feedback>
                    </b-form-group>
                  </validation-provider>
                </b-col>

                <!-- Field: Confined Space -->
                <b-col cols="12" md="4">
                    <b-form-group>
                      <label>Confined Space</label>
                      <v-select v-model="companyData.is_confined_space" :options="confinedSpaceOptions" :reduce="val => val.value" :clearable="true" input-id="user-is-confined-space" />
                    </b-form-group>
                </b-col>


                <!-- Field: Company Contact Number -->
                <b-col cols="12" md="6" lg="4">
                  <validation-provider #default="validationContext" name="Company Contact Number"
                    rules="required|isMobilePhone">
                    <b-form-group>
                      <label>Company Contact Number <span class="text-danger">*</span></label>
                      <b-form-input id="contact_no" v-model="companyData.contact_no"
                        :state="getValidationState(validationContext)" trim maxlength="20"/>
                      <b-form-invalid-feedback>
                        {{ validationContext.errors[0] }}
                      </b-form-invalid-feedback>
                    </b-form-group>
                  </validation-provider>
                </b-col>

                <!-- Field: Commence Date -->
                <b-col cols="12" md="6" lg="4">
                    <validation-provider #default="validationContext" name="Commence Date" rules="required">
                      <b-form-group>
                        <label>Commence Date <span class="text-danger">*</span></label>
                        <flat-pickr id="commence_date" v-model="companyData.commence_date" class="form-control"
                          :config="{ dateFormat: 'Y-m-d'}" placeholder="YYYY-MM-DD" :state="getValidationState(validationContext)">
                        </flat-pickr>
                        <b-form-invalid-feedback>
                          {{ validationContext.errors[0] }}
                        </b-form-invalid-feedback>
                      </b-form-group>
                    </validation-provider>
                  </b-col>

              </b-row>
            </div>
            <!-- END :: User Basic Information -->

            <!-- START :: User Personal Information -->
            <div class="mt-2 pt-75">
              <!-- Header: Address Info -->
              <div class="d-flex">
                <feather-icon icon="MapPinIcon" size="19" />
                <h4 class="mb-0 ml-50">
                  Address
                </h4>
              </div>

              <!-- Form: Address Information -->
              <b-row class="mt-1">

                <!-- Field: Street -->
                <b-col cols="12" md="6" lg="4">
                  <validation-provider #default="validationContext" name="Street" rules="required">
                    <b-form-group>
                      <label>Street <span class="text-danger">*</span></label>
                      <b-form-input id="street" v-model="companyData.street" :state="getValidationState(validationContext)"
                        trim maxlength="50"/>
                      <b-form-invalid-feedback>
                        {{ validationContext.errors[0] }}
                      </b-form-invalid-feedback>
                    </b-form-group>
                  </validation-provider>
                </b-col>

                <!-- Field: City -->
                <b-col cols="12" md="6" lg="4">
                  <validation-provider #default="validationContext" name="City" rules="required">
                    <b-form-group>
                      <label>City <span class="text-danger">*</span></label>
                      <b-form-input id="city" v-model="companyData.city"
                        :state="getValidationState(validationContext)" trim maxlength="50"/>
                      <b-form-invalid-feedback>
                        {{ validationContext.errors[0] }}
                      </b-form-invalid-feedback>
                    </b-form-group>
                  </validation-provider>
                </b-col>

                <!-- Field: State -->
                <b-col cols="12" md="6" lg="4">
                  <validation-provider #default="validationContext" name="State" rules="required">
                    <b-form-group>
                      <label>State <span class="text-danger">*</span></label>
                      <b-form-input id="state" v-model="companyData.state"
                        :state="getValidationState(validationContext)" trim maxlength="50"/>
                      <b-form-invalid-feedback>
                        {{ validationContext.errors[0] }}
                      </b-form-invalid-feedback>
                    </b-form-group>
                  </validation-provider>
                </b-col>

                <!-- Field: Country -->
                <b-col cols="12" md="6" lg="4">
                  <validation-provider #default="validationContext" name="Country" rules="required">
                    <b-form-group>
                      <label>Country <span class="text-danger">*</span></label>
                      <b-form-input id="country" v-model="companyData.country"
                        :state="getValidationState(validationContext)" trim maxlength="50"/>
                      <b-form-invalid-feedback>
                        {{ validationContext.errors[0] }}
                      </b-form-invalid-feedback>
                    </b-form-group>
                  </validation-provider>
                </b-col>

                <!-- Field: Postcode -->
                <b-col cols="12" md="6" lg="4">
                  <validation-provider #default="validationContext" name="Postcode" rules="required|regex:^([0-9]+)$">
                    <b-form-group>
                      <label>Postcode <span class="text-danger">*</span></label>
                      <b-form-input id="postcode" v-model="companyData.postal_code"
                        :state="getValidationState(validationContext)" trim maxlength="20"/>
                      <b-form-invalid-feedback>
                        {{ validationContext.errors[0] }}
                      </b-form-invalid-feedback>
                    </b-form-group>
                  </validation-provider>
                </b-col>


              </b-row>




            </div>
            <!-- END :: Address Information -->

            <!-- Action Buttons -->
            <b-row class="mt-2">
              <b-col>
                <b-button variant="primary" class="mb-1 mb-sm-0 mr-0 mr-sm-1"
                  :block="$store.getters['app/currentBreakPoint'] === 'xs'" @click="submitCompany">
                  Save
                </b-button>
                <b-button type=button @click.prevent="onCancel">
                  Cancel
                </b-button>
              </b-col>
            </b-row>
          </b-form>
        </validation-observer>
      </div>
    </div>
  </template>

  <script>
  import {
    BButton,
    BMedia,
    BAvatar,
    BRow,
    BCol,
    BFormGroup,
    BFormInput,
    BFormRadioGroup,
    BForm,
    BTable,
    BCard,
    BCardHeader,
    BCardTitle,
    BFormCheckbox,
    BFormInvalidFeedback,
    BFormFile,
  } from 'bootstrap-vue'

  import { ValidationProvider, ValidationObserver } from 'vee-validate'
  import { required, alpha, email, isMobilePhone, min } from '@validations'
  import formValidation from '@core/comp-functions/forms/form-validation'
  import vSelect from 'vue-select'
  import flatPickr from 'vue-flatpickr-component'
  import ToastificationContent from '@core/components/toastification/ToastificationContent.vue'

  import { mapActions, mapGetters } from 'vuex';
  import CompanyServices from "@/services/companyServices";
  import BaseMixins from "@/mixins/BaseMixins";
  import ErrorMessage from '@/views/error/ErrorMessage'

  export default {
    mixins: [BaseMixins],
    components: {
      BButton,
      BMedia,
      BAvatar,
      BRow,
      BCol,
      BFormGroup,
      BFormInput,
      BForm,
      BTable,
      BCard,
      BCardHeader,
      BCardTitle,
      BFormCheckbox,
      BFormInvalidFeedback,
      vSelect,
      BFormRadioGroup,
      BFormFile,

      // Date picker
      flatPickr,

      // Form Validation
      ValidationProvider,
      ValidationObserver,

      ErrorMessage,
    },
    data() {

      const companyData = {
        logo: [],
        name: '',
        abn: '',
        website: '',
        is_confined_space: 'N',
        status: 'Y',
        street: '',
        city: '',
        state: '',
        country: '',
        postal_code: '',
        contact_no: '',
        commence_date:'',
      }

      const { refFormObserver, getValidationState } = formValidation(companyData)

      return {
        // Validation
        required,
        alpha,
        email,
        isMobilePhone,
        min,

        refFormObserver,
        getValidationState,

        companyData,
        allSelected: false,
        indeterminate: false,
      };
    },
    mounted() {
      this.getDefaultCategoryList();
    },
    computed: {
      // Get state variables
      ...mapGetters('category', ['defaultCategoryList']),
    },
    methods: {
      // Call store action
      ...mapActions("category", ['getDefaultCategoryList']),

      onCancel() {
        this.$router.push({ name: 'admin-company-list' });
      },
      onLogoFileChange(event) {
        this.companyData.logo = event.target.files[0];
      },
      onAvatarFileChange(event) {
        this.companyData.avatar = event.target.files[0];
      },
      // Submit user data
      submitCompany() {
        this.$refs.newCompanyFormObserver.validate().then(success => {
          if (success) {
            const config = {
              headers: {
                'content-type': 'multipart/form-data'
              }
            }
            let formData = new FormData();

            // Set data in form
            for (const [key, value] of Object.entries(this.companyData)) {
              formData.append(key, value);
            }

            // check validation
            CompanyServices.saveCompany(formData, config).then(response => {
              if (response.status === true || response.status == 'true') {

                this.$router.push({ name: 'admin-company-list' })

                this.$toast({
                  component: ToastificationContent,
                  position: 'top-right',
                  props: {
                    title: `Notification`,
                    icon: 'CheckIcon',
                    variant: 'success',
                    text: response.message,
                  },
                })
              } else {
                this.moveUp();
              }
              return Promise.resolve(response);
            });
          }
          else {
            this.moveUp();
          }
        })
      },
      toggleAll(checked) {
        let tempSelected = [];
        for (const key in this.defaultCategoryList) {
          if (Object.hasOwnProperty.call(this.defaultCategoryList, key)) {
            const element = this.defaultCategoryList[key];
            tempSelected.push(element.value);
          }
        }

        this.companyData.categorySelected = checked ? tempSelected : [];
      },
    },
    watch: {
      'companyData.categorySelected': function (newValue, oldValue){
        // Handle changes in individual flavour checkboxes
        if (newValue.length === 0) {
          this.indeterminate = false
          this.allSelected = false
        } else if (newValue.length === this.defaultCategoryList.length) {
          this.indeterminate = false
          this.allSelected = true
        } else {
          this.indeterminate = true
          this.allSelected = false
        }
      }
    }

  }
  </script>

  <style lang="scss">
  @import '~@resources/scss/vue/libs/vue-select.scss';
  @import '~@resources/scss/vue/libs/vue-flatpicker.scss';
  </style>

