<template>
  <!-- modal create-->
  <b-modal
    id="reportIssue-modal"
    cancel-variant="outline-secondary"
    ok-title="Add to New Site"
    cancel-title="Close"
    centered
    title="Report Form"
    hide-footer
    header-class="justify-content-center"
    :no-close-on-backdrop="true"
  >
    <!-- Alert - Server side error -->
    <error-message></error-message>
    <validation-observer ref="simpleRules">
      <b-form>
        <b-row>
          <b-col md="12">
            <b-form-group>
              <label>Message<span class="text-danger">*</span></label>
              <validation-provider #default="{ errors }" name="Message" rules="required">
                <b-form-textarea
                  v-model="array.message"
                  :state="errors.length > 0 ? false : null"
                  placeholder="Message describing the issue and contact details of person completing this form"
                  rows="3"
                />

                <small class="text-danger">{{ errors[0] }}</small>
              </validation-provider>
            </b-form-group>
          </b-col>
          <b-col md="12">
            <b-form-group>
              <label>Photo or file </label>
              <validation-provider #default="{ errors }" name="Users">
                <b-form-file
                  v-model="array.file"
                  placeholder="Choose a file or drop it here..."
                  drop-placeholder="Drop file here..."
                  @change="onFileChange"
                />
                <small class="text-danger">{{ errors[0] }}</small>
              </validation-provider>
            </b-form-group>
          </b-col>

          <!-- submit button -->
          <b-col offset-md="4">
            <b-button variant="primary" type="submit" @click.prevent="submitReport">
              Submit
            </b-button>
            <b-button
              v-ripple.400="'rgba(186, 191, 199, 0.15)'"
              variant="outline-secondary"
              @click.prevent="closeReport()"
            >
              Cancel
            </b-button>
          </b-col>
        </b-row>
      </b-form>
    </validation-observer>
  </b-modal>
</template>
<script>
import {
  BModal,
  VBModal,
  BRow,
  BCol,
  BButton,
  BForm,
  BFormGroup,
  BFormInput,
  BFormTextarea,
  BFormCheckbox,
  BFormInvalidFeedback,
  BFormSelect,
  BFormFile,
} from "bootstrap-vue";
import vSelect from "vue-select";
import { ValidationProvider, ValidationObserver } from "vee-validate";
import { required, alpha, email } from "@validations";
import formValidation from "@core/comp-functions/forms/form-validation";
import Ripple from "vue-ripple-directive";
import ErrorMessage from "@/views/error/ErrorMessage";
import { mapActions, mapGetters } from "vuex";
import ToastificationContent from "@core/components/toastification/ToastificationContent.vue";
import store from "@/store/index";
import router from "@/router";
export default {
 // props: ["colour"],
  components: {
    BModal,
    VBModal,
    BRow,
    BCol,
    BButton,
    BForm,
    BFormGroup,
    BFormInput,
    BFormTextarea,
    BFormCheckbox,
    BFormInvalidFeedback,
    vSelect,
    BFormSelect,
    BFormFile,
    // Form Validation
    ValidationProvider,
    ValidationObserver,

    ErrorMessage,
  },
  directives: {
    "b-modal": VBModal,
    Ripple,
  },
  data() {
    const { refFormObserver, getValidationState } = formValidation(this.subSiteData);
    return {
        array:{
            asset_nfc_uuid: router.currentRoute.params.asset_nfc_uuid,
            message: "",
            file: []
        }
    };
  },

  methods: {

    ...mapActions("assetInfo", ["submitAssetReport"]),
    closeReport() {
      this.$bvModal.hide("reportIssue-modal");
    },
    onFileChange(event) {
      this.array.file = event.target.files[0];
    },
    submitReport() {
      this.$refs.simpleRules.validate().then((success) => {
        if (success) {
            const config = {
                headers: {
                "content-type": "multipart/form-data",
                },
            };
            let formData = new FormData();

            for (const [key, value] of Object.entries(this.array)) {
                formData.append(key, value);
            }

          this.submitAssetReport(formData, config).then((response) => {
              if (response.status === true || response.status == "true") {
                this.$toast({
                  component: ToastificationContent,
                  position: "top-right",
                  props: {
                    icon: "CheckIcon",
                    variant: "success",
                    text: response.message,
                  },
                });
                this.$bvModal.hide("reportIssue-modal");
                this.array = {
                    asset_nfc_uuid: "",
                    message: "",
                    file: []
                }
                // store.dispatch("area/getAllSubSite", {
                //   perPage: this.perPage,
                //   sortBy: "sub_site_id",
                //   sortDesc: "true",
                //   page: this.page,
                //   site_id: router.currentRoute.params.id,
                // });
              }
            });
        }
      });
    },
  },

};
</script>
