<template>
<div>
    <!-- Asset Details fields here -->
    <error-message></error-message>
    <validation-observer ref="assetDetailFormObserver">
        <b-form>
            <b-row v-if="sideBar">
            <!-- <b-row> -->
                <!-- Dynamic Field List Testing -->
                <b-col md="6" v-for="fields in fieldsList" :keys="fields.id" v-bind:data="fields"
                    v-bind:key="fields.id">
                    <!-- all dynamic fields with required validation -->
                    <!-- Form Field for map input -->
                    <!-- <div v-if="fields.isMap">
                        <label>{{ fields.name }}</label>

                    </div> -->
                    <div v-if="fields.isRequired">
                        <!-- Form field with integer or real number(decimal upto and digits) -->
                        <b-form-group v-if="fields.type === 'number' || fields.type === 'decimal' || fields.type === 'double'" :label-for="fields.name">
                            <label>{{ fields.name }}</label>
                            <!-- Form field with integer validation only -->
                            <validation-provider v-if="fields.type === 'number'" #default="{ errors }"
                                rules="required|integer" :name="fields.name">
                                <b-form-input v-model="defaultAsset[fields.slug].value"
                                    :state="errors.length > 0 ? false : null" placeholder="Enter Number Only" />
                                <small class="text-danger">{{ errors[0] }}</small>
                            </validation-provider>
                            <!-- Form field with decimal validation only -->
                            <validation-provider v-else #default="{ errors }" rules="required|decimal2DP"
                                :name="fields.name">
                                <b-form-input v-model="defaultAsset[fields.slug].value"
                                    :state="errors.length > 0 ? false : null" placeholder="Enter decimal value upto 2dp" />
                                <small class="text-danger">{{ errors[0] }}</small>
                            </validation-provider>
                        </b-form-group>

                        <!-- Form field with required validation only -->
                        <b-form-group v-else>
                            <validation-provider #default="validationContext"
                                :name="fields.name" rules="required">
                                <b-form-group :label-for="fields.name">
                                    <label>{{ fields.name }} <span class="text-danger">*</span></label>
                                    <!-- Form field with input type=color -->
                                    <div class="ad-color-panel" v-if="fields.isColor">
                                        <v-select v-model="defaultAsset[fields.slug].value" :dir="$store.state.appConfig.isRTL ? 'rtl' : 'ltr'" :options="colorOptions" :reduce="val => val.value" :clearable="true" input-id="user-status" placeholder="Select Color" />
                                        <b-form-invalid-feedback :state="getValidationState(validationContext)">
                                        {{ validationContext.errors[0] }}
                                        </b-form-invalid-feedback>
                                    </div>
                                    <!-- Form field for textarea input -->
                                    <div v-else-if="fields.type === 'textarea'">
                                        <b-form-textarea
                                            :id="'dynamicModuleFields' + fields.id" placeholder="Enter... "
                                            v-model="defaultAsset[fields.slug].value"
                                            :state="getValidationState(validationContext)" trim
                                        />
                                        <b-form-invalid-feedback :state="getValidationState(validationContext)">
                                            {{ validationContext.errors[0] }}
                                        </b-form-invalid-feedback>
                                    </div>
                                    <!-- Form field for date input -->
                                    <div v-else-if="fields.type === 'date'">
                                        <b-form-datepicker value-type="format" v-model="defaultAsset[fields.slug].value" type="date" class="w-100 check" placeholder="YYYY-MM-DD"
                                        :date-format-options="{
                                            year: 'numeric',
                                            month: 'long',
                                            day: 'numeric',
                                        }"
                                        locale="en-UK"></b-form-datepicker>
                                        <b-form-invalid-feedback :state="getValidationState(validationContext)">
                                            {{ validationContext.errors[0] }}
                                        </b-form-invalid-feedback>
                                    </div>
                                    <!-- Form Field for time input -->
                                    <div v-else-if="fields.type === 'time'">
                                        <date-picker value-type="format" v-model="defaultAsset[fields.slug].value" :minute-step="5" type="time" format="HH:mm" class="w-100" placeholder="HH:mm"></date-picker>
                                        <b-form-invalid-feedback :state="getValidationState(validationContext)">
                                            {{ validationContext.errors[0] }}
                                        </b-form-invalid-feedback>
                                    </div>
                                    <!-- Form Field for datetime input -->
                                    <div v-else-if="fields.type === 'datetime'">
                                        <date-picker value-type="format" v-model="defaultAsset[fields.slug].value" :minute-step="5" type="datetime" format="YYYY-MM-DD HH:mm" class="w-100" placeholder="YYYY-MM-DD hh:mm"></date-picker>
                                        <b-form-invalid-feedback :state="getValidationState(validationContext)">
                                            {{ validationContext.errors[0] }}
                                        </b-form-invalid-feedback>
                                    </div>
                                    <!-- Form Field for boolean: radio switch -->
                                    <div v-else-if="fields.type === 'boolean'">
                                        <b-form-checkbox
                                            checked="true"
                                            name="check-button"
                                            v-model="defaultAsset[fields.slug].value"
                                            switch
                                            inline
                                        >
                                        </b-form-checkbox>
                                    </div>
                                    <!-- Form Field for text input (default) -->
                                    <div v-else>
                                        <b-form-input :id="'dynamicModuleFields' + fields.id" placeholder="Enter... "
                                            v-model="defaultAsset[fields.slug].value"
                                            :state="getValidationState(validationContext)" trim />
                                        <b-form-invalid-feedback :state="getValidationState(validationContext)">
                                        {{ validationContext.errors[0] }}
                                        </b-form-invalid-feedback>
                                    </div>

                                    <b-form-invalid-feedback>
                                        {{ validationContext.errors[0] }}
                                    </b-form-invalid-feedback>

                                </b-form-group>
                            </validation-provider>
                        </b-form-group>
                    </div>
                    <!-- all dynamic fields with nullable allowed values -->
                    <div v-else>
                        <!-- Form field with integer or real number(decimal upto and digits) -->
                        <b-form-group v-if="fields.type === 'number' || fields.type === 'decimal' || fields.type === 'double'"
                            :label-for="fields.name">
                            <label>{{ fields.name }}</label>
                            <!-- Form field with integer validation only -->
                            <validation-provider v-if="fields.type === 'number'" #default="{ errors }"
                                rules="integer" :name="fields.name">
                                <b-form-input v-model="defaultAsset[fields.slug].value"
                                    :state="errors.length > 0 ? false : null" placeholder="Enter Number Only" />
                                <small class="text-danger">{{ errors[0] }}</small>
                            </validation-provider>
                            <!-- Form field with decimal validation only -->
                            <validation-provider v-else #default="{ errors }" rules="decimal2DP"
                                :name="fields.name">
                                <b-form-input v-model="defaultAsset[fields.slug].value"
                                    :state="errors.length > 0 ? false : null" placeholder="Enter decimal value upto 2dp" />
                                <small class="text-danger">{{ errors[0] }}</small>
                            </validation-provider>
                        </b-form-group>
                        <!-- Form field with no validation -->
                        <b-form-group v-else :label-for="fields.name">
                            <label>{{ fields.name }}</label>
                            <!-- Form field with input type=color -->
                            <div class="ad-color-panel" v-if="fields.isColor">
                                <v-select v-model="defaultAsset[fields.slug].value" :dir="$store.state.appConfig.isRTL ? 'rtl' : 'ltr'" :options="colorOptions" :reduce="val => val.value" :clearable="true" input-id="module-color" placeholder="Select Color" />
                            </div>
                            <!-- Form field for textarea input -->
                            <div v-else-if="fields.type === 'textarea'">
                                <b-form-textarea
                                    :id="'dynamicModuleFields' + fields.id" placeholder="Enter... "
                                    v-model="defaultAsset[fields.slug].value" trim
                                />
                            </div>
                            <!-- Form field for date input -->
                            <div v-else-if="fields.type === 'date'">
                                <!-- <date-picker value-type="format" v-model="defaultAsset[fields.slug].value" type="date" class="w-100" placeholder="YYYY-MM-DD"></date-picker> -->
                                <b-form-datepicker value-type="DD-MM-YYYY" v-model="defaultAsset[fields.slug].value" type="date" class="w-100" placeholder="YYYY-MM-DD" :date-format-options="{
                                    year: 'numeric',
                                    month: 'long',
                                    day: 'numeric',
                                }"
                                locale="en-UK"></b-form-datepicker>
                            </div>
                            <!-- Form Field for time input -->
                            <div v-else-if="fields.type === 'time'">
                                <date-picker value-type="format" v-model="defaultAsset[fields.slug].value" :minute-step="5" type="time" format="HH:mm" class="w-100" placeholder="HH:mm"></date-picker>
                            </div>
                            <!-- Form Field for datetime input -->
                            <div v-else-if="fields.type === 'datetime'">
                                <date-picker value-type="format" v-model="defaultAsset[fields.slug].value" :minute-step="5" type="datetime" format="YYYY-MM-DD HH:mm" class="w-100" placeholder="YYYY-MM-DD hh:mm"></date-picker>
                            </div>
                            <!-- Form Field for boolean: radio switch -->
                            <div v-else-if="fields.type === 'boolean'">
                                <b-form-checkbox
                                    checked="true"
                                    name="check-button"
                                    v-model="defaultAsset[fields.slug].value"
                                    switch
                                    inline
                                >
                                </b-form-checkbox>
                            </div>
                            <!-- Form Field for map input -->
                            <!-- <div v-else-if="fields.isMap">
                                <input class="form-control" type="text" value="Location determined by mobile app" style="pointer-events: none;">
                            </div> -->
                            <!-- Form Field for text input (default) -->
                            <div v-else>
                                <b-form-input :id="'dynamicModuleFields' + fields.id" placeholder="Enter... "
                                    v-model="defaultAsset[fields.slug].value" trim />
                            </div>
                        </b-form-group>
                    </div>
                </b-col>
                <!-- For Assets Image & map -->
                <b-col md="6" v-if="activeModuleHasImage">
                    <div class="map-label-wrapper">
                        <label>Asset Image</label>
                        <b-button v-if="!newImage" @click="editImage" class="btn-flat-primary">
                            <feather-icon icon="UploadIcon" size="16" />
                        </b-button>
                        <b-button v-else
                        class="btn-flat-primary" @click="defaultAsset.image=prevImage; newImage=null;">
                            <feather-icon icon="RefreshCcwIcon" size="16" />
                        </b-button>
                    </div>
                    <div class="map-inner">
                        <input v-if="!defaultAsset.image" class="form-control px-0 border-0" type="text" value="No Image Found" style="pointer-events: none;">
                        <b-img v-else
                        :src="defaultAsset['image']"
                        class="w-50"
                        @click="show(defaultAsset['image'])"
                        >
                        </b-img>
                        <b-form-file class="d-none" v-model="newImage" placeholder="Choose a file or drop it here..." drop-placeholder="Drop file here..." id="asset-detail-edit-image" @change="newImageUpload" accept="image/*" />
                    </div>
                </b-col>
                <b-col md="6">
                    <label>Asset Location On Map</label>
                    <div class="">
                        <a v-if="defaultAsset.latitude" :href="googleMapLinkLatLong(defaultAsset.latitude, defaultAsset.longitude)" target="_blank"  id="asset-location-map-marker">
                            <feather-icon icon="MapPinIcon" size="16" class="mx-1" />
                            <b-tooltip title="Location determined by mobile app" target="asset-location-map-marker" />
                        </a>
                        <!-- <input v-else class="form-control px-0 border-0" type="text" style="pointer-events: none;" value="Location determined by mobile app"> -->
                        <span v-else class="px-0">Location determined by mobile app</span>
                    </div>
                </b-col>
            </b-row>
            <b-row>
                <!-- submit button -->
                <b-col offset-md="8" class="text-right">
                    <b-button
                        variant="primary"
                        @click.prevent="updateAssetDetails"
                        >{{ modalButtonName }}</b-button>
                    <b-button
                        v-ripple.400="'rgba(186, 191, 199, 0.15)'"
                        variant="outline-secondary"
                        @click.prevent="closeSideBar()"
                    >Cancel</b-button>
                </b-col>
            </b-row>
        </b-form>
    </validation-observer>
</div>
</template>

<script>
import { BSidebar, BForm, BFormGroup, BFormInput, BFormTextarea, BFormInvalidFeedback, BFormTimepicker, BButton, BTabs, BTab, BCardText, BCard, BImg, BRow, BCol, BFormCheckbox, BFormFile, BFormRadio, BInputGroup, BInputGroupPrepend, BInputGroupAppend, BTooltip, BFormDatepicker } from 'bootstrap-vue'
import { ValidationProvider, ValidationObserver } from 'vee-validate'
import { ref } from '@vue/composition-api'
import { required, email, confirmed, url, between, alpha, integer, password, min, digits, alphaDash, length, decimal2DP } from '@validations'
import DatePicker from 'vue2-datepicker';
import 'vue2-datepicker/index.css';
import ErrorMessage from "@/views/error/ErrorMessage";
import BCardCode from '@core/components/b-card-code'
import formValidation from '@core/comp-functions/forms/form-validation'
import Ripple from 'vue-ripple-directive'
import vSelect from 'vue-select'
import { mapGetters } from 'vuex'
import BaseMixins from '@/mixins/BaseMixins';
import ToastificationContent from "@core/components/toastification/ToastificationContent.vue";
import { mapActions } from 'vuex';
import store from "@/store/index";
import 'viewerjs/dist/viewer.css'
import VueViewer from 'v-viewer'
import Vue from 'vue'
Vue.use(VueViewer)


export default {
    mixins: [BaseMixins],
    components: {
        BSidebar,
        BForm,
        BFormCheckbox,
        BFormGroup,
        BFormInput,
        BInputGroup,
        BInputGroupPrepend,
        BInputGroupAppend,
        BFormFile,
        BFormRadio,
        BFormTextarea,
        BFormTimepicker,
        BFormInvalidFeedback,
        BButton,
        BTabs,
        BTab,
        BCardText,
        BCard,
        BImg,
        BCardCode,
        vSelect,
        BRow,
        BCol,
        BTooltip,

        // Form Validation
        ValidationProvider,
        ValidationObserver,
        ErrorMessage,
        // DatePicker
        DatePicker,
        BFormDatepicker
    },
    directives: {
        Ripple,
    },
    computed: {
        ...mapGetters('gotoSite', ['editMode', 'viewMode', 'modalButtonName', 'defaultAsset', 'fieldsList', 'activeModuleHasImage']),
        ...mapGetters('siteManager', ['sideBar'])
    },
    data() {
        const { refFormObserver, getValidationState } = formValidation(this.defaultAsset);

        return {
            refFormObserver,
            getValidationState,
            required,
            confirmed,
            password,
            email,
            min,
            integer,
            url,
            alpha,
            between,
            digits,
            length,
            alphaDash,
            decimal2DP,
            countries: [],
            asset: {},
            prevImage: null,
            newImage: null,
            newImageSrc: null,
            image_slug:'',
            locationVar: 'Location determined by mobile app',
        }
    },
    setup(props, { emit }) {
        const blankAssetData = {
            fullName: '',
            username: '',
            email: '',
            role: null,
            currentPlan: null,
            company: '',
            country: '',
            contact: '',
        }

        const assetData = ref(JSON.parse(JSON.stringify(blankAssetData)))
        const resetAssetData = () => {
            assetData.value = JSON.parse(JSON.stringify(blankAssetData))
        }

        const onSubmit = () => {
        }

        const { refFormObserver, getValidationState, resetForm } = formValidation(resetAssetData)

        return {
            assetData,
            onSubmit,

            refFormObserver,
            getValidationState,
            resetForm,
        }
    },
    methods: {
        ...mapActions('gotoSite', ['updateAsset']),
        closeSideBar(){
            // reset newImage
            this.newImage = null;
            this.prevImage = null;
            this.newImageSrc = null;

            // reset form validation
            this.$refs.assetDetailFormObserver.reset();
            // Resetting the fields values....
            store.commit("gotoSite/UPDATE_DEFAULT_ASSET", {});
            // throws reset error from formObserver
            this.$emit('closeSideBar');
        },
        show(url) {
            this.$viewerApi({
                images: [url],
            })
        },
        editImage(slug) {
            this.image_slug = slug;
            this.prevImage = this.defaultAsset.image;
            document.getElementById('asset-detail-edit-image').click();
        },
        newImageUpload(e) {
            e.preventDefault();
            if (!e.target.files[0].type.includes("image/")) {
                this.$toast({
                    component: ToastificationContent,
                    position: "top-right",
                    props: {
                        title: `Notification`,
                        variant: "success",
                        text: 'Please select image file only.',
                    },
                });
                return false;
            }
            this.newImage = e.target.files[0];
            this.newImageSrc = URL.createObjectURL(this.newImage);
            this.defaultAsset['image'] = this.newImageSrc;
            // this.isImageChange = true;
        },
        // Update asset data
        updateAssetDetails() {
            this.$refs.assetDetailFormObserver.validate().then((success) => {
                if (success) {
                    // return;
                    // check validation
                    let assetValue = [];
                    let imageCMFV = null;
                    let image_mf_id = '';
                    for (let i = 0; i < this.fieldsList.length; i++) {
                        let newValue = this.defaultAsset[this.fieldsList[i].slug] && this.defaultAsset[this.fieldsList[i].slug].value ? this.defaultAsset[this.fieldsList[i].slug].value : null
                        if(this.defaultAsset[this.fieldsList[i].slug].var == 'cmfv_value_boolean') {
                            newValue = this.defaultAsset[this.fieldsList[i].slug].value
                            if(newValue == true) {
                                newValue = 'Y';
                            } else if(newValue == false) {
                                newValue = 'N';
                            }
                        }
                        assetValue.push({
                            val: newValue,
                            var: this.defaultAsset[this.fieldsList[i].slug].var,
                            cmfv: this.defaultAsset[this.fieldsList[i].slug].cmfv_id
                        });
                    }
                    var formData = new FormData();
                    formData.append('asset_id', this.defaultAsset.asset_id);
                    formData.append('values', JSON.stringify(assetValue));
                    formData.append('user_id', this.user_id);
                    if (this.newImage) {
                        formData.append('image', this.newImage);
                    }
                    this.updateAsset(formData).then((response) => {
                        if (response.status === true || response.status == "true") {
                            // now set the prev image to current image
                            // this.prevImage = this.defaultAsset[imageSlug];
                            // close sidebar
                            this.closeSideBar();
                            this.$toast({
                                component: ToastificationContent,
                                position: "top-right",
                                props: {
                                    title: `Notification`,
                                    variant: "success",
                                    text: response.message,
                                },
                            });
                        } else {
                            //this.moveUp();
                        }
                        return Promise.resolve(response);
                    });
                }
            });
        },
    }
}
</script>

<style lang="scss">
@import '~@resources/scss/vue/libs/vue-select.scss';

#asset-detail-sidebar {
    .vs__dropdown-menu {
        max-height: 200px !important;
    }
}
</style>
