<template>
    <!-- @hidden="resetForm" -->
    <b-sidebar id="asset-detail-sidebar" :visible="isAssetDetailSidebarActive"  bg-variant="white"
        sidebar-class="sidebar-lg" shadow backdrop no-header right :no-close-on-backdrop="true"
        @change="(val) => $emit('update:is-asset-detail-sidebar-active', val)">
        <template #default="{ isAssetDetailSidebarActive }">
            <!-- Header -->
            <div class="d-flex justify-content-between align-items-center content-sidebar-header px-2 py-1">
                <h5 class="mb-0">
                    Asset Details
                </h5>

                <feather-icon class="ml-1 cursor-pointer" icon="XIcon" size="16" @click.prevent="closeSideBar" />

            </div>

            <!-- BODY -->
            <div class="">
                <b-card title="">
                    <b-tabs
                    content-class="pt-1"
                    fill
                    align="left"
                    >
                        <!-- Asset Detail starts here -->
                        <b-tab
                            title=""
                            active
                        >
                            <template #title>
                                <feather-icon icon="FileTextIcon" />
                                <span>Asset Details</span>
                            </template>
                            <b-card-text>
                                <asset-detail @closeSideBar="closeSideBar" />
                            </b-card-text>
                        </b-tab>
                        <!-- Detail div ends here -->

                        <!-- Activity div starts here -->
                        <b-tab>
                            <template #title>
                                <feather-icon icon="EditIcon" />
                                <span>Activity</span>
                            </template>
                            <b-card-text>
                                <asset-activity />
                            </b-card-text>
                        </b-tab>
                        <!-- Activity div ends here -->

                        <!-- Inspections div starts here -->
                        <b-tab>
                            <template #title>
                                <feather-icon icon="EyeIcon" />
                                <span>Inspections</span>
                            </template>
                            <b-card-text>
                                <asset-inspection />
                            </b-card-text>
                        </b-tab>
                        <!-- Inspections div ends here -->

                        <!-- Documents div starts here -->
                        <b-tab>
                            <template #title>
                                <feather-icon icon="FolderIcon" />
                                <span>Documents</span>
                            </template>
                            <b-card-text>
                                <asset-document />
                            </b-card-text>
                        </b-tab>
                        <!-- Documents div ends here -->
                    </b-tabs>

                </b-card>
            </div>

        </template>
    </b-sidebar>
</template>

<script>
import { BSidebar, BButton, BTabs, BTab, BCardText, BCard, BImg, BRow, BCol, BTooltip } from 'bootstrap-vue'
import Ripple from 'vue-ripple-directive'
import { mapActions, mapGetters } from 'vuex'
import BaseMixins from '@/mixins/BaseMixins';

import AssetDetail from './Detail.vue';
import AssetActivity from './Activity.vue';
import AssetInspection from './Inspection.vue';
import AssetDocument from './document/DocumentList.vue';
import store from '../../../../../../../src/store';

export default {
    mixins: [BaseMixins],
    components: {
        BSidebar,
        BButton,
        BTabs,
        BTab,
        BCardText,
        BCard,
        BImg,
        BRow,
        BCol,
        BTooltip,

        // DocumentList,
        AssetDetail,
        AssetActivity,
        AssetInspection,
        AssetDocument,
    },
    directives: {
        Ripple,
    },
    model: {
        prop: 'isAssetDetailSidebarActive',
        event: 'update:is-asset-detail-sidebar-active',
        //user_id: 'user_id'
    },
    props: {
        isAssetDetailSidebarActive: {
            type: Boolean,
            required: true,
        }
    },
    computed: {
        ...mapGetters('gotoSite', ['defaultAsset'])
    },
    data() {
        return {
        }
    },
    methods: {
        ...mapActions('siteManager', ['setSideBar']),
        closeSideBar(){
            // throws reset error from formObserver
            // Call Action to set Sidebar Active to false
            this.$emit('update:is-asset-detail-sidebar-active', false);
            this.setSideBar(false);
        },
    },
    watch: {
        isAssetDetailSidebarActive(val) {
            if (!val) {
                // clear defaultAsset state variable
                store.commit('gotoSite/UPDATE_DEFAULT_ASSET', {});
            }
        },
    },
}
</script>

<style lang="scss">
@import '~@resources/scss/vue/libs/vue-select.scss';

#asset-detail-sidebar {
    .vs__dropdown-menu {
        max-height: 200px !important;
    }
}
</style>
