<template>
  <div>
    <!-- Filters -->
    <confined-space-list-filters :site-filter.sync="site_id" :site-options="siteLists"
      :sub-site-filter.sync="table.sub_site_id" :sub-site-options="siteSubSiteLists" :result-filter.sync="table.result"
      :result-options="resultOptions" />

    <!-- Table Container Card -->
    <b-card no-body class="mb-0">

      <div class="m-2">

        <!-- Table Top -->
        <b-row>

          <!-- Per Page -->
          <b-col cols="12" md="6" class="d-flex align-items-center justify-content-start mb-1 mb-md-0">
            <label>Show</label>
            <v-select v-model="table.perPage" :dir="$store.state.appConfig.isRTL ? 'rtl' : 'ltr'"
              :options="perPageOptions" :clearable="false" class="per-page-selector d-inline-block mx-50" />
            <label>entries</label>
          </b-col>

          <!-- Search -->
          <b-col cols="12" md="6">
            <div class="d-flex align-items-center justify-content-end">
              <b-form-input v-model="table.search" class="d-inline-block mr-1" placeholder="Search..." />
            </div>
          </b-col>
        </b-row>

      </div>

      <b-table hover ref="refUserListTable" class="position-relative confined-table" :items="confinedSpaceList.confinedSpace.data"
        responsive :fields="tableColumns" primary-key="id" :sort-by.sync="table.sortBy" show-empty
        empty-text="No matching records found" :sort-desc.sync="isSortDirDesc">

        <!-- Column: csfr_is_confined_space_number -->
        <template #cell(csfr_is_confined_space_number)="data">
          <div v-if="data.item.csfr_is_confined_space_number == 'Y'">
            Yes
          </div>
          <div v-else>
            No
          </div>
        </template>

        <!-- Column: csfr_result -->
        <template #cell(csfr_result)="data">
          <b-badge href="#" pill :variant="`light-${confinedSpaceStatusVariant(data.item.csfr_result)}`"
            class="">
            {{ (data.item.csfr_result == 'No Confined Space')?'Not a confined space':data.item.csfr_result}}
          </b-badge>
        </template>

        <!-- Column: Actions -->
        <template #cell(actions)="data">
          <div class="d-flex justify-content-center">
            <b-button variant="white" :to="{ name: 'client-confined-space-detail', params: { id: data.item.csfr_id } }" class="p-0">
              <feather-icon id="confined-space" icon="EyeIcon" size="16" class="mx-1" />
              <b-tooltip title="View Detail" target="confined-space"/>
            </b-button>
          </div>
        </template>

      </b-table>
      <div class="mx-2 mb-2">
        <b-row>

          <b-col cols="12" sm="6" class="d-flex align-items-center justify-content-center justify-content-sm-start">
            <span class="text-muted">Showing {{ confinedSpaceList.confinedSpace.from }} to {{
              confinedSpaceList.confinedSpace.to
            }} of
              {{
                confinedSpaceList.confinedSpace.total
              }}
              entries</span>
          </b-col>
          <!-- Pagination -->
          <b-col cols="12" sm="6" class="d-flex align-items-center justify-content-center justify-content-sm-end">

            <b-pagination v-model="table.page" :total-rows="confinedSpaceList.total" :per-page="table.perPage"
              first-number last-number class="mb-0 mt-1 mt-sm-0" prev-class="prev-item" next-class="next-item">
              <template #prev-text>
                <feather-icon icon="ChevronLeftIcon" size="18" />
              </template>
              <template #next-text>
                <feather-icon icon="ChevronRightIcon" size="18" />
              </template>
            </b-pagination>

          </b-col>

        </b-row>
      </div>
    </b-card>
  </div>
</template>

<script>
import {
  BCard,
  BRow,
  BCol,
  BFormInput,
  BButton,
  BTable,
  BLink,
  BBadge,
  BDropdown,
  BDropdownItem,
  BPagination,
  BTooltip,
} from 'bootstrap-vue'
import vSelect from 'vue-select';
import ToastificationContent from '@core/components/toastification/ToastificationContent.vue'
import Ripple from 'vue-ripple-directive'
import { mapActions, mapGetters } from "vuex";
import ConfinedSpaceListFilters from './ConfinedSpaceListFilters.vue';
import store from "@/store/index";

export default {
  components: {
    BCard,
    BRow,
    BCol,
    BFormInput,
    BButton,
    BTable,
    BLink,
    BBadge,
    BDropdown,
    BDropdownItem,
    BPagination,
    BTooltip,


    vSelect,
    ConfinedSpaceListFilters,
  },
  directives: {
    Ripple,
  },
  data() {
    const resultOptions = [
      { label: 'Restricted Area', value: 'Restricted Area' },
      { label: 'Not Confined Space', value: 'No Confined Space' },
      { label: 'Confined Space', value: 'Confined Space' },
    ]

    return {
      table: {
        perPage: 25,
        search: '',
        sortBy: null,
        sortDesc: true,
        page: 1,
        result: '',
        site_id: 0,
        sub_site_id: 0,
      },
      resultOptions,
      oldSiteId: '',
      site_id: '',
      siteLists: [],
      siteSubSiteLists: [],
      perPageOptions: [10, 25, 50, 100],
      tableColumns: [
        { label: 'Location', key: 'location.site_name', sortable: true },
        { label: 'Area', key: 'area.sub_site_name' },
        { label: 'User', key: 'user.full_name' },
        { label: 'Department', key: 'csfr_department' },
        { label: 'Report Date', key: 'csfr_date_format' },
        { label: 'User Position', key: 'csfr_position' },
        { label: 'Location Of Space', key: 'csfr_location_of_space' },
        { label: 'Description Of Space', key: 'csfr_description_of_space' },
        { label: 'Has Confined Space Number', key: 'csfr_is_confined_space_number' },
        { label: 'Confined Space Number', key: 'csfr_confined_space_number' },
        { label: 'Result', key: 'csfr_result' },
        { label: 'Created At', key: 'created_at_format' },
        { label: 'Actions', key: 'actions' },
      ],
      isSortDirDesc: true,
    }
  },
  computed: {
    // Get state variables
    ...mapGetters('confinedSpace', ['confinedSpaceList']),
  },
  watch: {
    table: {
      handler() {
        this.getAllConfinedSpace(this.table);
      },
      deep: true,
    },
    'site_id': function (val) {
      if(val) {
        this.table.site_id = val;  
        this.getAllSubSite({ site_id: val }).then((response) => {
          this.siteSubSiteLists = response.data.subSiteList;
        }).catch((error) => {
          this.showToast("Error", "XIcon", "danger", error.data.message);
        });
        if (this.oldSiteId != val) {
          this.oldSiteId = val;
          this.table.sub_site_id = "";
        }
      }
    },
  },
  mounted() {
    this.getAllSite()
      .then((response) => {
        this.siteLists = response.data.siteList;
      });
    this.oldSiteId = this.site_id;

    // Get all confined space
    this.getAllConfinedSpace(this.table).catch((error) => {
      this.showToast(
        "Error",
        "XIcon",
        "danger",
        error.data.message
      );
    });
  },
  methods: {
    ...mapActions('location', ['getAllSite']),
    ...mapActions('area', ['getAllSubSite']),
    ...mapActions('confinedSpace', ['getAllConfinedSpace']),
    refetchData() {
      this.getAllConfinedSpace(this.table);
    },
    confinedSpaceStatusVariant(status) {
      if (status === 'Restricted Area') return 'warning'
      if (status === 'No Confined Space') return 'success'
      if (status === 'Confined Space') return 'danger'
      //if (status === 'inspect') return 'secondary'

      return 'primary'
    },
  },

}
</script>

<style lang="scss">
@import '~@resources/scss/vue/libs/vue-select.scss';
@import '~@resources/scss/vue/libs/vue-select.scss';
