<template>
  <!-- modal create-->
  <b-modal
    id="template-field-modal"
    cancel-variant="outline-secondary"
    ok-title="Add to New Template"
    cancel-title="Close"
    centered
    :title="templateName + ' - ' + modalButtonName + ' New Field'"
    hide-footer
    header-class="justify-content-center"
    @hide="closeModal"
    :no-close-on-backdrop="true"
  >
    <!-- Alert - Server side error -->
    <error-message></error-message>
    <validation-observer ref="templateFieldFormObserver">
      <b-form>
        <b-row>
          <b-col md="6">
            <b-form-group>
              <validation-provider
                #default="validationContext"
                name="Field Name"
                rules="required"
              >
                <b-form-group label-for="template_field_name">
                  <label>Field Name <span class="text-danger">*</span></label>
                  <b-form-input
                    id="template_field_name"
                    v-model="templateFieldData.template_field_name"
                    :state="getValidationState(validationContext)"
                    trim
                    :disabled="viewMode"
                  />
                  <b-form-invalid-feedback>
                    {{ validationContext.errors[0] }}
                  </b-form-invalid-feedback>
                </b-form-group>
              </validation-provider>
            </b-form-group>
          </b-col>
          <b-col md="6">
            <b-form-group>
              <validation-provider
                #default="validationContext"
                name="Field Type"
                rules="required"
              >
                <b-form-group
                  label-for="template_field_input_field_type_id"
                  :state="getValidationState(validationContext)"
                >
                  <label>Field Type <span class="text-danger">*</span></label>
                  <v-select
                    v-model="templateFieldData.template_field_input_field_type_id"
                    :dir="$store.state.appConfig.isRTL ? 'rtl' : 'ltr'"
                    :options="inputFieldType"
                    :reduce="(val) => val.value"
                    :clearable="true"
                    input-id="template_field_input_field_type_id"
                    placeholder="Select Field Type"
                    :disabled="viewMode"
                  />
                  <b-form-invalid-feedback :state="getValidationState(validationContext)">
                    {{ validationContext.errors[0] }}
                  </b-form-invalid-feedback>
                </b-form-group>
              </validation-provider>
            </b-form-group>
          </b-col>

          <b-col md="12">
            <b-form-group>
              <b-form-checkbox
                v-model="templateFieldData.template_field_is_required"
                :disabled="viewMode"
              >
                Required
              </b-form-checkbox>
            </b-form-group>
          </b-col>
          <b-col md="12">
            <b-form-group>
              <b-form-checkbox
                v-model="templateFieldData.template_field_is_show_on_grid"
                :disabled="viewMode"
              >
                Show on grid
              </b-form-checkbox>
            </b-form-group>
          </b-col>
          <b-col md="12">
            <b-form-group>
              <b-form-checkbox
                v-model="templateFieldData.template_field_is_show_on_details"
                :disabled="viewMode"
              >
                Show on details
              </b-form-checkbox>
            </b-form-group>
          </b-col>
          <b-col md="12" v-if="templateFieldData.template_field_input_field_type_id == 7">
            <b-form-group>
              <b-form-checkbox
                v-model="templateFieldData.template_field_has_expiry_date"
                :disabled="viewMode"
              >
                Has Expiry Date
              </b-form-checkbox>
            </b-form-group>
          </b-col>
          <b-col md="12">
            <b-form-group>
              <label>Active</label>
              <b-form-checkbox
                checked="true"
                name="check-button"
                v-model="templateFieldData.template_field_status"
                switch
                inline
                :disabled="viewMode"
              >
              </b-form-checkbox>
            </b-form-group>
          </b-col>
          <!-- submit button -->
          <b-col offset-md="4">
            <b-button
              variant="primary"
              @click.prevent="submitTemplateField"
              :disabled="viewMode"
              >{{ modalButtonName }}
            </b-button>
            <b-button
              v-ripple.400="'rgba(186, 191, 199, 0.15)'"
              variant="outline-secondary"
              @click.prevent="closeModal()"
            >
              Cancel
            </b-button>
          </b-col>
        </b-row>
      </b-form>
    </validation-observer>
  </b-modal>
</template>

<script>
import {
  BModal,
  VBModal,
  BRow,
  BCol,
  BButton,
  BForm,
  BFormGroup,
  BFormInput,
  BFormTextarea,
  BFormCheckbox,
  BFormInvalidFeedback,
} from "bootstrap-vue";
import vSelect from "vue-select";
import { ValidationProvider, ValidationObserver } from "vee-validate";
import { required, alpha, email } from "@validations";
import formValidation from "@core/comp-functions/forms/form-validation";
import Ripple from "vue-ripple-directive";
import ErrorMessage from "@/views/error/ErrorMessage";
import { mapActions, mapGetters } from "vuex";
import ToastificationContent from "@core/components/toastification/ToastificationContent.vue";
import store from "@/store/index";
import router from "@/router";

export default {
  components: {
    BModal,
    VBModal,
    BRow,
    BCol,
    BButton,
    BForm,
    BFormGroup,
    BFormInput,
    BFormTextarea,
    BFormCheckbox,
    BFormInvalidFeedback,
    vSelect,

    // Form Validation
    ValidationProvider,
    ValidationObserver,

    ErrorMessage,
  },
  directives: {
    "b-modal": VBModal,
    Ripple,
  },
  data() {
    const { refFormObserver, getValidationState } = formValidation(this.defaultTemplate);

    return {
      refFormObserver,
      getValidationState,
      required,
    };
  },
  props: ['perPage', 'page'],
  mounted() {
    // Get all input type field for dropdown option
    this.getAllInputField();
  },
  computed: {
    // Get state variables
    ...mapGetters("templateField", [
      "templateName",
      "inputFieldType",
      "modalButtonName",
      "templateFieldData",
      "editMode",
      "viewMode",
    ]),
  },
  methods: {
    ...mapActions("templateField", [
      "getAllInputField",
      "saveTemplateField",
      "updateTemplateField",
      "getTemplateFieldList",
    ]),
    closeModal() {
      this.$bvModal.hide("template-field-modal");
    },
    // Submit template data
    submitTemplateField() {
      this.$refs.templateFieldFormObserver.validate().then((success) => {
        if (success) {
          if (this.modalButtonName == "Update" && this.editMode) {
            this.updateTemplateField(this.templateFieldData).then((response) => {
              if (response.status === true || response.status == "true") {
                // Close modal
                this.closeModal();

                // Get data after update
                store.dispatch("templateField/getTemplateFieldList", {
                  perPage: this.perPage,
                  sortBy: "template_field_id",
                  sortDesc: "true",
                  page: this.page,
                  templateId: router.currentRoute.params.id,
                });

                this.$toast({
                  component: ToastificationContent,
                  position: "top-right",
                  props: {
                    icon: "CheckIcon",
                    title: `Notification`,
                    variant: "success",
                    text: response.message,
                  },
                });
              }
              return Promise.resolve(response);
            });
          } else {
            // check validation
            this.saveTemplateField(this.templateFieldData).then((response) => {
              if (response.status === true || response.status == "true") {
                // Close modal
                this.closeModal();

                // Get data after save
                store.dispatch("templateField/getTemplateFieldList", {
                  perPage: this.perPage,
                  sortBy: "template_field_id",
                  sortDesc: "true",
                  page: this.page,
                  templateId: router.currentRoute.params.id,
                });

                this.$toast({
                  component: ToastificationContent,
                  position: "top-right",
                  props: {
                    icon: "CheckIcon",
                    title: `Notification`,
                    variant: "success",
                    text: response.message,
                  },
                });
              } else {
                //this.moveUp();
              }
              return Promise.resolve(response);
            });
          }
        } else {
          //this.moveUp();
        }
      });
    },
  },
};
</script>

<style lang="scss">
@import "~@resources/scss/vue/libs/vue-select.scss";
</style>
