<template>
    <!-- modal create-->
    <b-modal id="modal-add-asset" :no-close-on-backdrop="true" size="lg" cancel-variant="outline-secondary" ok-title="Add to New Asset"
        cancel-title="Close" centered :title="modalButtonName + ' Asset'" hide-footer
        header-class="justify-content-center" @hide="closeModal">
        <!-- Alert - Server side error -->
        <error-message></error-message>
        <validation-observer ref="assetFormObserver">
            <b-form>
                <b-row>
                    <!-- Dynamic Field List Testing -->
                    <b-col md="6" v-for="fields in activeFieldsList" :keys="fields.id" v-bind:data="fields"
                        v-bind:key="fields.id">
                        <!-- all dynamic fields with required validation -->
                        <div v-if="fields.isRequired">
                            <!-- Form field with integer or real number(decimal upto and digits) -->
                            <b-form-group v-if="fields.type === 'number' || fields.type === 'decimal' || fields.type === 'double'" :label-for="fields.name">
                                <label>{{ fields.name }} <span class="text-danger">*</span></label>
                                <!-- Form field with integer validation only -->
                                <validation-provider v-if="fields.type === 'number'" #default="{ errors }"
                                    rules="required|integer|maxInt" :name="fields.name">
                                    <b-form-input v-model="defaultAsset[fields.slug]"
                                        :state="errors.length > 0 ? false : null" placeholder="Enter Number Only" />
                                    <small class="text-danger">{{ errors[0] }}</small>
                                </validation-provider>
                                <!-- Form field with decimal validation only -->
                                <validation-provider v-else #default="{ errors }" rules="required|decimal2DP"
                                    :name="fields.name">
                                    <b-form-input v-model="defaultAsset[fields.slug]"
                                        :state="errors.length > 0 ? false : null" placeholder="Enter decimal value upto 2dp" />
                                    <small class="text-danger">{{ errors[0] }}</small>
                                </validation-provider>
                            </b-form-group>
                            <!-- Form field with required validation only -->
                            <b-form-group v-else>
                                <validation-provider #default="validationContext"
                                    :name="fields.name" :rules="fieldValidation(fields.type)">
                                    <b-form-group :label-for="fields.name">
                                        <label>{{ fields.name }} <span class="text-danger">*</span></label>
                                        <!-- Form field for image input -->
                                        <div v-if="fields.isImage">
                                            <b-form-file v-model="defaultAsset[fields.slug]"
                                                accept="image/*"
                                                placeholder="Choose a file or drop it here..."
                                                drop-placeholder="Drop file here..." @change="newImageUpload"
                                                :state="getValidationState(validationContext)" />
                                            <b-form-invalid-feedback :state="getValidationState(validationContext)">
                                                {{ validationContext.errors[0] }}
                                            </b-form-invalid-feedback>
                                        </div>
                                        <!-- Form field with input type=color -->
                                        <div v-else-if="fields.isColor">
                                            <v-select v-model="defaultAsset[fields.slug]" :dir="$store.state.appConfig.isRTL ? 'rtl' : 'ltr'" :options="colorOptions" :reduce="val => val.value" :clearable="true" input-id="add-asset-color-required" placeholder="Select Color">
                                                <template #options="{label,value}">
                                                    <p class="text-center" :style="'background-color:'+value">{{ label }}</p>
                                                </template>
                                            </v-select>
                                            <b-form-invalid-feedback :state="getValidationState(validationContext)">
                                            {{ validationContext.errors[0] }}
                                            </b-form-invalid-feedback>
                                        </div>
                                        <!-- Form field for textarea input -->
                                        <div v-else-if="fields.type === 'textarea'">
                                            <b-form-textarea
                                                :id="'dynamicModuleFields' + fields.id" placeholder="Enter... "
                                                v-model="defaultAsset[fields.slug]"
                                                :state="getValidationState(validationContext)" trim
                                            />
                                            <b-form-invalid-feedback :state="getValidationState(validationContext)">
                                            {{ validationContext.errors[0] }}
                                            </b-form-invalid-feedback>
                                        </div>
                                        <!-- Form field for date input -->
                                        <div v-else-if="fields.type === 'date'">
                                            <b-form-datepicker value-type="format" v-model="defaultAsset[fields.slug]" type="date" class="w-100" placeholder="YYYY-MM-DD" :date-format-options="{
                                            year: 'numeric',
                                            month: 'long',
                                            day: 'numeric',
                                        }"
                                        locale="en-UK"></b-form-datepicker>
                                            <b-form-invalid-feedback :state="getValidationState(validationContext)">
                                                {{ validationContext.errors[0] }}
                                            </b-form-invalid-feedback>
                                        </div>
                                        <!-- Form Field for time input -->
                                        <div class="w-100" v-else-if="fields.type === 'time'">
                                            <date-picker value-type="format" v-model="defaultAsset[fields.slug]" :minute-step="5" type="time" format="HH:mm" class="w-100" placeholder="HH:mm"></date-picker>
                                            <b-form-invalid-feedback :state="getValidationState(validationContext)">
                                                {{ validationContext.errors[0] }}
                                            </b-form-invalid-feedback>
                                        </div>
                                        <!-- Form Field for datetime input -->
                                        <div class="w-100" v-else-if="fields.type === 'datetime'">
                                            <date-picker value-type="format" v-model="defaultAsset[fields.slug]" :minute-step="5" type="datetime" format="YYYY-MM-DD HH:mm" class="w-100" placeholder="YYYY-MM-DD hh:mm"></date-picker>
                                            <b-form-invalid-feedback :state="getValidationState(validationContext)">
                                                {{ validationContext.errors[0] }}
                                            </b-form-invalid-feedback>
                                        </div>
                                        <!-- Form Field for boolean: radio switch -->
                                        <div v-else-if="fields.type === 'boolean'">
                                            <b-form-checkbox
                                                checked="true"
                                                name="check-button"
                                                v-model="defaultAsset[fields.slug]"
                                                switch
                                                inline
                                            >
                                            </b-form-checkbox>
                                        </div>
                                        <!-- Form Field for map input -->
                                        <div v-else-if="fields.isMap">
                                            <input class="form-control px-0 border-0" type="text" v-model="locationVar" style="pointer-events: none;">
                                        </div>
                                        <!-- Form Field for text input (default) -->
                                        <div v-else>
                                            <b-form-input :id="'dynamicModuleFields' + fields.id" placeholder="Enter... "
                                                v-model="defaultAsset[fields.slug]"
                                                :state="getValidationState(validationContext)" trim />
                                            <b-form-invalid-feedback :state="getValidationState(validationContext)">
                                                {{ validationContext.errors[0] }}
                                            </b-form-invalid-feedback>
                                        </div>

                                        <b-form-invalid-feedback>
                                            {{ validationContext.errors[0] }}
                                        </b-form-invalid-feedback>

                                    </b-form-group>
                                </validation-provider>
                            </b-form-group>
                        </div>
                        <!-- all dynamic fields with nullable allowed values -->
                        <div v-else>
                            <!-- Form field with integer or real number(decimal upto and digits) -->
                            <b-form-group v-if="fields.type === 'number' || fields.type === 'decimal' || fields.type === 'double'"
                                :label-for="fields.name">
                                <label>{{ fields.name }}</label>
                                <!-- Form field with integer validation only -->
                                <validation-provider v-if="fields.type === 'number'" #default="{ errors }"
                                    rules="integer|maxInt" :name="fields.name">
                                    <b-form-input v-model="defaultAsset[fields.slug]"
                                        :state="errors.length > 0 ? false : null" placeholder="Enter Number Only" />
                                    <small class="text-danger">{{ errors[0] }}</small>
                                </validation-provider>
                                <!-- Form field with decimal validation only -->
                                <validation-provider v-else #default="{ errors }" rules="decimal2DP"
                                    :name="fields.name">
                                    <b-form-input v-model="defaultAsset[fields.slug]"
                                        :state="errors.length > 0 ? false : null" placeholder="Enter decimal value upto 2dp" />
                                    <small class="text-danger">{{ errors[0] }}</small>
                                </validation-provider>
                            </b-form-group>
                            <!-- Form field with no validation -->
                            <b-form-group v-else :label-for="fields.name">
                                <label>{{ fields.name }}</label>
                                <!-- Form field for image input -->
                                <div v-if="fields.isImage">
                                    <b-form-file v-model="defaultAsset[fields.slug]"
                                        placeholder="Choose a file or drop it here..."
                                        accept="image/*"
                                        drop-placeholder="Drop file here..." @change="newImageUpload"
                                    />
                                </div>
                                <!-- Form field with input type=color -->
                                <div v-else-if="fields.isColor">
                                    <v-select v-model="defaultAsset[fields.slug]" :dir="$store.state.appConfig.isRTL ? 'rtl' : 'ltr'" :options="colorOptions" :reduce="val => val.value" :clearable="true" input-id="add-asset-color-nullable" placeholder="Select Color" />
                                </div>
                                <!-- Form field for textarea input -->
                                <div v-else-if="fields.type === 'textarea'">
                                    <b-form-textarea
                                        :id="'dynamicModuleFields' + fields.id" placeholder="Enter... "
                                        v-model="defaultAsset[fields.slug]" trim
                                    />
                                </div>
                                <!-- Form field for date input -->
                                <div v-else-if="fields.type === 'date'">
                                    <b-form-datepicker value-type="format" v-model="defaultAsset[fields.slug]" type="date" class="w-100" placeholder="YYYY-MM-DD" :date-format-options="{
                                            year: 'numeric',
                                            month: 'long',
                                            day: 'numeric',
                                        }"
                                        locale="en-UK"></b-form-datepicker>
                                </div>
                                <!-- Form Field for time input -->
                                <div class="w-100" v-else-if="fields.type === 'time'">
                                    <date-picker value-type="format" v-model="defaultAsset[fields.slug]" :minute-step="5" type="time" format="HH:mm" class="w-100" placeholder="HH:mm"></date-picker>
                                </div>
                                <!-- Form Field for datetime input -->
                                <div class="w-100" v-else-if="fields.type === 'datetime'">
                                    <date-picker value-type="format" v-model="defaultAsset[fields.slug]" :minute-step="5" type="datetime" format="YYYY-MM-DD HH:mm" class="w-100" placeholder="YYYY-MM-DD hh:mm"></date-picker>
                                </div>
                                <!-- Form Field for boolean: radio switch -->
                                <div v-else-if="fields.type === 'boolean'">
                                    <b-form-checkbox
                                        checked="true"
                                        name="check-button"
                                        v-model="defaultAsset[fields.slug]"
                                        switch
                                        inline
                                    >
                                    </b-form-checkbox>
                                </div>
                                <!-- Form Field for map input -->
                                <div v-else-if="fields.isMap">
                                    <input class="form-control" type="text" value="Map location is updated by mobile app" style="pointer-events: none;">
                                </div>
                                <!-- Form Field for text input (default) -->
                                <div v-else>
                                    <b-form-input :id="'dynamicModuleFields' + fields.id" placeholder="Enter... "
                                        v-model="defaultAsset[fields.slug]" trim />
                                </div>
                            </b-form-group>
                        </div>
                    </b-col>
                    <b-col md="6" v-if="activeModuleHasImage">
                        <b-form-group>
                            <label>Asset Image</label>
                            <b-form-file v-model="asset_image"
                            placeholder="Choose a file or drop it here..."
                            accept="image/*"
                            id="add-asset-form-image"
                            drop-placeholder="Drop file here..." @change="newImageUpload"
                            />
                        </b-form-group>
                    </b-col>

                    <b-col md="6">
                        <label>Asset Location On Map</label>
                        <input class="form-control px-0 border-0" type="text" v-model="locationVar" style="pointer-events: none;">
                    </b-col>
                </b-row>
                <b-row>
                    <!-- submit button -->
                    <b-col md="12" class="d-flex justify-content-center">
                        <b-button class="mr-2" variant="primary" @click.prevent="submitAsset" :disabled="!activeFieldsList.length">{{ modalButtonName }}</b-button>
                        <b-button v-ripple.400="'rgba(186, 191, 199, 0.15)'" variant="outline-secondary" @click.prevent="closeModal()">Cancel</b-button>
                    </b-col>
                </b-row>
            </b-form>
        </validation-observer>
    </b-modal>
</template>

<script>
import {
    BModal,
    VBModal,
    BRow,
    BCol,
    BButton,
    BForm,
    BFormGroup,
    BFormInput,
    BInputGroup,
    BInputGroupAppend,
    BFormTextarea,
    BFormCheckbox,
    BFormFile,
    BFormDatepicker,
    BFormTimepicker,
    BFormInvalidFeedback,
} from "bootstrap-vue";
import { ValidationProvider, ValidationObserver } from "vee-validate";
import { required, email, confirmed, url, between, alpha, integer, password, min, digits, alphaDash, length, decimal2DP, maxInt, maxText, maxMediumText } from '@validations'
import formValidation from "@core/comp-functions/forms/form-validation";
import Ripple from "vue-ripple-directive";
import ErrorMessage from "@/views/error/ErrorMessage";
import { mapActions, mapGetters } from "vuex";
import ToastificationContent from "@core/components/toastification/ToastificationContent.vue";
import store from "@/store/index";
import vSelect from 'vue-select'
import BaseMixins from "../../../mixins/BaseMixins";
import DatePicker from 'vue2-datepicker';
import 'vue2-datepicker/index.css';

export default {
    props: ['module_id'],
    mixins: [BaseMixins],
    components: {
        BModal,
        VBModal,
        BRow,
        BCol,
        BButton,
        BForm,
        BFormGroup,
        BFormInput,
        BInputGroup,
        BInputGroupAppend,
        BFormTextarea,
        BFormCheckbox,
        BFormDatepicker,
        BFormTimepicker,
        BFormFile,
        BFormInvalidFeedback,

        // Form Validation
        ValidationProvider,
        ValidationObserver,

        ErrorMessage,
        vSelect,
        // DatePicker
        DatePicker
    },
    directives: {
        "b-modal": VBModal,
        Ripple,
    },
    data() {
        const { refFormObserver, getValidationState } = formValidation(this.defaultAsset);

        return {
            refFormObserver,
            getValidationState,
            required,
            confirmed,
            password,
            email,
            min,
            integer,
            url,
            alpha,
            between,
            digits,
            length,
            alphaDash,
            decimal2DP,
            maxInt,
            maxText,
            maxMediumText,
            locationVar: 'Map location is updated by mobile app',
            asset_image: null
        };
    },
    computed: {
        // Get state variables
        ...mapGetters("assets", [
            "modalButtonName",
            "defaultAsset",
            "editMode",
            "viewMode",
            "fieldsList",
            "activeFieldsList",
            "activeModuleHasImage"
        ]),
        ...mapGetters("auth", ["authUserData"]),
        ...mapGetters("siteManager", ["activeModuleId", "defaultSubSite"]),
    },
    methods: {
        ...mapActions("assets", ["saveAsset", "storeAsset"]),
        fieldValidation(type) {
            if(type === 'textarea') {
                return 'required|maxMediumText'
            } else if(type === 'text') {
                return 'required|maxText'
            }
            return 'required'
        },
        closeModal() {
            this.$bvModal.hide("modal-add-asset");
            // Resetting the fields values....
            store.commit("assets/UPDATE_DEFAULT_ASSET", {});
            // reset form validation
            this.$refs.assetFormObserver.reset();
            this.asset_image = null;
        },
        newImageUpload(e) {
            e.preventDefault();
            if (!e.target.files[0].type.includes("image/")) {
                this.$toast({
                    component: ToastificationContent,
                    position: "top-right",
                    props: {
                        title: `Notification`,
                        variant: "success",
                        text: 'Please select image file only.',
                    },
                });
                this.asset_image = null;
                document.getElementById('add-asset-form-image').value = null;
                return false;
            }
            this.asset_image = e.target.files[0];
        },
        // Submit asset data
        submitAsset() {
            this.$refs.assetFormObserver.validate().then((success) => {
                if (success) {
                    if (this.modalButtonName == "Update" && this.editMode) {
                    } else {
                        // check validation
                        let assetValue = [];
                        for (let i = 0; i < this.fieldsList.length; i++) {
                            assetValue.push({
                                val: this.defaultAsset[this.fieldsList[i].slug] || null,
                                mf_id: this.fieldsList[i].mf_id
                            });
                        }
                        var formData = new FormData();
                        formData.append('user_id', this.authUserData.id);
                        formData.append('module_id', this.module_id);
                        formData.append('sub_site_id', this.defaultSubSite);
                        formData.append('values', JSON.stringify(assetValue));
                        if (this.activeModuleHasImage) {
                            formData.append('image', this.asset_image);
                        }
                        this.storeAsset(formData).then((response) => {
                            if (response.status === true || response.status == "true") {
                                // Close modal and reset data
                                this.closeModal();

                                this.$toast({
                                    component: ToastificationContent,
                                    position: "top-right",
                                    props: {
                                        title: `Notification`,
                                        variant: "success",
                                        icon: 'CheckIcon',
                                        text: response.message,
                                    },
                                });
                            } else {
                                //this.moveUp();
                            }
                            return Promise.resolve(response);
                        });
                    }

                } else {
                    //this.moveUp();
                }
            });
        },
    }
  };
</script>

<style lang="scss">
@import '~@resources/scss/vue/libs/vue-select.scss';
@import '~@resources/scss/vue/libs/vue-flatpicker.scss';
</style>
