<template>
    <div>

        <!-- Filters: No need as of now -->
        <!-- <assets-list-filters :status-filter.sync="table.status" :status-options="statusOptions" /> -->

        <add-asset-modal :module_id="id" />
        <move-asset-modal :asset_array="this.selected" @clear_asset_array="clearSelectedArray" />

        <asset-detail-sidebar :is-asset-detail-sidebar-active.sync="isAssetDetailSidebarActive" />
        <!-- Table Container Card -->
        <b-card no-body class="mb-0">
            <div class="m-2">
                <!-- Table Top -->
                <!-- <div class="bredcrum-wrapper">
                <h5>{{categoryName+'>'}}</h5>
                  <span class="active">{{moduleName}}</span>
               </div> -->
                <b-row>
                    <!-- Per Page -->
                    <b-col cols="12" md="6" class="d-flex align-items-center justify-content-start mb-1 mb-md-0">
                        <label>Show</label>
                        <v-select v-model="table.perPage" :dir="$store.state.appConfig.isRTL ? 'rtl' : 'ltr'"
                            :options="perPageOptions" :clearable="false"
                            class="per-page-selector d-inline-block mx-50" />
                        <label>entries</label>
                    </b-col>

                    <!-- Search -->
                    <b-col cols="12" md="6">
                        <div class="d-flex align-items-center justify-content-end">
                            <b-form-input v-model="table.search" class="d-inline-block mr-1" placeholder="Search..." />
                            <b-button variant="primary" @click="goToAddAsset" class="mr-1">
                                <span class="text-nowrap">Add Asset</span>
                            </b-button>
                            <b-button variant="primary" :disabled="isDisabled" @click="goToMoveAsset" class="mr-1">
                                <span class="text-nowrap">Move Asset</span>
                            </b-button>
                            <b-button variant="outline-danger" @click="batchDelete">
                                <span class="text-nowrap">Delete</span>
                            </b-button>
                        </div>
                    </b-col>
                </b-row>

            </div>

            <b-table hover ref="refUserListTable" class="position-relative table-list-wrapper confined-table" v-if="assetsList && assetsList.assets" sticky-header
                :items="assetsList.assets.data" responsive fixed-top :fields="tableColumns" sticky-header primary-key="asset_id"
                :sort-by.sync="table.sortBy" show-empty empty-text="No matching records found"
                :sort-desc.sync="isSortDirDesc" >

                <!-- checkbox -->
                <template #head(checkbox)>
                    <b-form-checkbox v-model="selectAll" id="user-asset-list-checkbox-all" @input="select" />
                </template>

                <!-- Column: Checkbox -->
                <template #cell(checkbox)="data">
                    <b-form-checkbox v-model="selected" :value="data.item.asset_id"    />
                </template>

                <!-- Column: Asset UID -->
                <template #cell(asset_uid)="data">
                    <span style="min-width: 100px; display:block;">{{ data.item.asset_uid }}</span>
                </template>

                <!-- Column: Image -->
                <template #cell(asset_image)="data">
                    <div>
                        <b-img :src="data.item.asset_image" width="60px" v-if="data.item.asset_image"
                            @click="show(data.item.asset_image)" />
                    </div>
                </template>

                <!-- Column: Color -->
                <template #cell(color)="data">
                    <!-- <div :style="'width=50px; height=20px; background-color: '+data.item.color"></div> -->
                    <div v-if="data.item.color" class="text-center asset-listing-color"
                        :style="'background-color: ' + data.item.color">
                        <span class="text-white"
                            v-if="data.item.color == 'rgb(0,0,255)' || data.item.color == 'rgb(128,128,128)' || data.item.color == 'rgb(255,0,0)'">{{
                                getColorText(data.item.color)
                            }}</span>
                        <!-- <span class="text-white" v-else-if="data.item.color=='rgb(128,128,128)'">{{ getColorText(data.item.color) }}</span>
                        <span class="text-white" v-else-if="data.item.color=='rgb(255,0,0)'">{{ getColorText(data.item.color) }}</span> -->
                        <span class="text-black" v-else>{{ getColorText(data.item.color) }}</span>
                    </div>
                </template>

                <!-- Column: Map -->
                <template #cell(asset_location_map)="data">
                    <a v-if="data.item.asset_latitude"
                        :href="googleMapLinkLatLong(data.item.asset_latitude, data.item.asset_longitude)"
                        target="_blank">
                        <feather-icon icon="MapPinIcon" size="16" class="mx-1" />
                    </a>
                </template>

                <!-- Column: Staus -->
                <template #cell(status)="data">
                    <p v-if="data.item.status == 'Pass'">
                        <span class="text-success">Pass</span>
                    </p>
                    <p v-else-if="data.item.status == 'Fail'">
                        <span class="text-danger">Fail</span>
                    </p>
                    <p v-else-if="data.item.status == 'Inspection Pending'">
                        <span style="color:rgb(65, 65, 65)">Inspection Pending</span>
                    </p>
                    <p v-else>
                        <span class="text-warning">Maintenance Required</span>
                    </p>
                </template>

                <!-- Column: Actions -->
                <template #cell(actions)="data">
                    <div class="d-flex justify-content-center">
                        <b-button variant="white" @click="goToAssetDetail(data.item.asset_id)" class="p-0">
                            <feather-icon :id="`asset-row-${data.item.asset_id}-view-detail`" icon="EyeIcon" size="16"
                                class="mx-1" />
                            <b-tooltip title="View Detail" :target="`asset-row-${data.item.asset_id}-view-detail`" />
                        </b-button>

                        <b-button variant="white" @click="duplicateAssetAction({ assetId: data.item.asset_id })"
                            class="p-0" v-if="data.item.allow_duplicate">
                            <feather-icon :id="`asset-row-${data.item.asset_id}-duplicate`" icon="CopyIcon" size="16"
                                class="mx-1" />
                            <b-tooltip title="Duplicate" :target="`asset-row-${data.item.asset_id}-duplicate`" />
                        </b-button>
                    </div>
                </template>

                <!-- Column: Duplicate -->
                <!-- <template #cell(duplicate)="data">
                    <b-button variant="white" @click="duplicateAssetAction({ assetId: data.item.asset_id })" class="w-100 text-center">
                        <feather-icon :id="`asset-row-${data.item.asset_id}-duplicate`" icon="CopyIcon" size="16"
                            class="mx-1" />
                        <b-tooltip title="Duplicate" :target="`asset-row-${data.item.asset_id}-duplicate`" />
                    </b-button>
                </template> -->

            </b-table>
            <!-- Data Information & Pagination -->
            <div class="mx-2 mb-2" v-if="assetsList.total > 0">
                <b-row>

                    <b-col cols="12" sm="6"
                        class="d-flex align-items-center justify-content-center justify-content-sm-start">
                        <span class="text-muted">Showing {{ assetsList.pagination.from }} to {{
                            assetsList.pagination.to
                        }} of {{ assetsList.pagination.total }} entries</span>
                    </b-col>
                    <!-- Pagination -->
                    <b-col cols="12" sm="6"
                        class="d-flex align-items-center justify-content-center justify-content-sm-end">

                        <b-pagination v-model="table.page" :total-rows="assetsList.pagination.total"
                            :per-page="table.perPage" first-number last-number class="mb-0 mt-1 mt-sm-0"
                            prev-class="prev-item" next-class="next-item">
                            <template #prev-text>
                                <feather-icon icon="ChevronLeftIcon" size="18" />
                            </template>
                            <template #next-text>
                                <feather-icon icon="ChevronRightIcon" size="18" />
                            </template>
                        </b-pagination>

                    </b-col>

                </b-row>
            </div>
        </b-card>
    </div>
</template>
<script>
import {
    BCard,
    BImg,
    BRow,
    BCol,
    BFormInput,
    BButton,
    BTable,
    BMedia,
    BAvatar,
    BLink,
    BBadge,
    BDropdown,
    BDropdownItem,
    BPagination,
    BFormCheckbox,
    BTooltip,
    BBreadcrumb,
    BBreadcrumbItem
} from 'bootstrap-vue'
import ToastificationContent from "@core/components/toastification/ToastificationContent.vue";
import AssetsListFilters from './AssetsListFilters.vue'
import AddAssetModal from './AddAssetModal.vue'
import MoveAssetModal from './MoveAssetModal.vue'
import AssetDetailSidebar from './details/Index.vue'
import vSelect from 'vue-select'
import BaseMixins from "@/mixins/BaseMixins"
import { mapGetters, mapActions } from 'vuex'
import 'viewerjs/dist/viewer.css'
import VueViewer from 'v-viewer'
import Vue from 'vue'
Vue.use(VueViewer)
export default {
    mixins: [BaseMixins],
    components: {
        AssetsListFilters,
        AddAssetModal,
        MoveAssetModal,
        AssetDetailSidebar,
        BCard,
        BImg,
        BRow,
        BCol,
        BFormInput,
        BButton,
        BTable,
        BMedia,
        BAvatar,
        BLink,
        BBadge,
        BDropdown,
        BDropdownItem,
        BPagination,
        BFormCheckbox,
        BTooltip,
        BBreadcrumb,
        BBreadcrumbItem,
        vSelect,
    },
    props: {
        id: {
            type: [Number, String],
            required: true
        }
    },
    data() {
        return {
            flag: false,  // this flag is to call the asset lists after 1st because in 1st time the module id is added & then subsiteId
            siteUserList: {},
            currentPage: 1,
            totalAssets: 0,
            isSortDirDesc: true,
            perPageOptions: [10, 25, 50, 100],
            isAssetDetailSidebarActive: false,
            selectedAssets: [],
            selected: [],
		    selectAll: false,
            selectone: false,
            //isEmpty : true
        }
    },
    computed: {
        ...mapGetters('siteManager', ['assetsList', 'defaultSubSite']),
        ...mapGetters('assets', ['fieldsList', 'tableColumns', 'table', 'defaultAsset', 'categoryName', 'moduleName']),
         isDisabled() {
            return this.selected.length === 0
        }
    },
    mounted() {
        //console.log("mounted", this.selected);
        this.table.module_id = this.id;
        this.table.sub_site_id = this.defaultSubSite;
        // Action to get the max file size from server
        this.getMaxFileSize();
        // this.getSitesAndSubSitesList(this.id);
        this.setActiveModuleId(this.id);
        // Call action to load the input field name and type
        this.getFieldsList({ moduleId: this.id });
        //console.log(this.selected.length);
        //this.selected = [];
    },
    updated() {
        var breadcrumb = {
            0: {
                'text': this.categoryName
            },
            1: {
                'text': this.moduleName,
                'active': true
            }
        }

        this.$route.meta.pageTitle = 'Asset List';
        this.$route.meta.breadcrumb = breadcrumb;

        // Add a temporary query parameter.
        this.$router.replace({ query: { temp: Date.now() } })
        this.$router.replace({ query: '' })
    },
    methods: {
        ...mapActions('siteManager', ['getMaxFileSize', 'getAssetsList', 'getSitesAndSubSitesList', 'setSideBar']),
        ...mapActions('documents', ['getDocumentsList']),
        ...mapActions('activity', ['fetchAssetActivity']),
        ...mapActions('inspection', ['getAssetInspection']),
        ...mapActions('assets', ['updateEditMode', 'updateModalButtonName', 'updateViewMode', 'setActiveModuleId', 'getAssetDetails', 'getFieldsList', 'deleteBatchAssets', 'duplicateAsset']),
        changeStatus(a, b) {
            //
        },
        clearSelectedArray() {
            this.selected =  [];
        },
        select() {
			this.selected = [];
			if (this.selectAll) {
				for (let i in this.assetsList.assets.data) {
					this.selected.push(this.assetsList.assets.data[i].asset_id);
				}
			}
		},
        show(url) {
            this.$viewerApi({

                images: [url],
            })
        },
        duplicateAssetAction(payload) {
            // Take confirmation via SweetAlert2
            this.$swal({
                title: "Are you sure?",
                text: "",
                icon: "warning",
                showCancelButton: true,
                confirmButtonText: "Yes, duplicate it!",
                cancelButtonText: "No, cancel!",
                customClass: {
                    confirmButton: "btn btn-primary",
                    cancelButton: "btn btn-outline-danger ml-1",
                },
                buttonsStyling: false,
            }).then((result) => {
                if (result.value) {
                    this.duplicateAsset(payload).then((response) => {
                        if (response.status === true || response.status == "true") {
                            this.$toast({
                                component: ToastificationContent,
                                position: "top-right",
                                props: {
                                    title: `Notification`,
                                    variant: "success",
                                    icon: 'CheckIcon',
                                    text: response.message,
                                },
                            });
                        } else {
                            //this.moveUp();
                        }
                        return Promise.resolve(response);
                    });
                }
            });
        },
        goToAddAsset() {
            this.$bvModal.show('modal-add-asset')
            this.updateViewMode(false);
            this.updateEditMode(false);
            this.updateModalButtonName('Add');
            // Call action to load the input field name and type
            this.getFieldsList({ moduleId: this.id });
        },
        goToMoveAsset(){
            this.$bvModal.show('modal-move-asset');
        },
        goToAssetDetail(assetId) {
            // open slider/sidebar
            this.updateViewMode(true);
            this.updateEditMode(true);
            this.updateModalButtonName('Update');
            this.isAssetDetailSidebarActive = true;
            // Action to API call to get assets details
            this.getAssetDetails(assetId);
            // Action to API call to get assets documents
            this.getDocumentsList({
                asset_id: assetId,
                per_page: 25,
                search: '',
                page: 1,
                sortBy: 'ad_id',
                sortDesc: false
            });
            this.fetchAssetActivity(assetId);
            // Action to API call to get assets inspection
            this.getAssetInspection(assetId);
            this.setSideBar(true);
        },
        getAssets() {
            // this function is intended to call the action to fetch assets list
            if (this.table.sub_site_id) {
                this.getAssetsList(this.table).catch((error) => {
                    // this.$router.push({ name: 'dashboard' });
                    console.log(error);
                    return;
                    this.$swal({
                        title: 'Error!',
                        text: error.message,
                        icon: 'error',
                        customClass: {
                            confirmButton: 'btn btn-primary',
                        },
                        buttonsStyling: false,
                        allowOutsideClick: false
                    }).then(result => {
                        if (result.value) {
                            // push router to dashboard
                            this.$router.push({ name: 'dashboard' });
                        }
                    })
                });
            }
        },

        assetSelect(assetId) {
            //console.log("rec", assetId);
            // Method to select/unselect the asset id
            // if assetId is present in selectedDocument then remove it else insert it.
            let idPresent = false;
            for (var i = 0; i < this.selectedAssets.length; i++) {
                if (this.selectedAssets[i] == assetId) {
                    idPresent = true;
                    break;
                }
            }
            if (idPresent) {
                this.selectedAssets.splice(this.selectedAssets.indexOf(assetId), 1);
            } else {
                this.selectedAssets.push(assetId);
            }
        },
        batchDelete() {
            if (this.selected.length == 0) {
                //alert('in')
                this.$bvToast.toast('Please select at least one asset to delete', {
                    title: 'Error',
                    variant: 'danger',
                    solid: true,
                })
                return false;
            }
            //alert('here')
            this.$swal({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Yes, delete it!',
                customClass: {
                    confirmButton: 'btn btn-primary',
                    cancelButton: 'btn btn-outline-danger ml-1',
                },
                buttonsStyling: false,
            }).then(result => {
                if (result.value) {
                    // check validation
                    var formData = new FormData();
                    formData.append('assetIdArray', JSON.stringify(this.selected));
                    this.deleteBatchAssets(formData).then(response => {
                        if (response.status === true || response.status == 'true') {
                            this.selected = [];
                            this.selectAll = false;
                            this.$swal({
                                icon: 'success',
                                title: 'Deleted!',
                                text: response.message,
                                customClass: {
                                    confirmButton: 'btn btn-success',
                                },
                            })
                        }
                        return Promise.resolve(response);
                    });
                }
            })
        },
    },
    watch: {

        id: function (val) {
            this.table.module_id = val;
            // below table variables are updated to provide smooth pagination experience.
            this.table.sortBy = 'asset_id';
            this.table.sortDesc = true,
                this.table.perPage = 10,
                this.table.search = null;
            this.table.page = 1;
            this.setActiveModuleId(val);
            // with this id passed as parameter in below function, we can get the sites & subsites list for the selected module of login user
            // this.getSitesAndSubSitesList(val);
            // Call action to load the input field name and type
            this.getFieldsList({ moduleId: this.id });
        },
        table: {
            handler() {
                this.getAssets();
            },
            deep: true,
        },
    }
}
</script>


<style lang="scss">
@import '~@resources/scss/vue/libs/vue-select.scss';
@import '~@resources/scss/vue/libs/vue-select.scss';
