<template>
    <!-- modal create-->
    <b-modal id="modal-move-asset" :no-close-on-backdrop="true" size="lg" cancel-variant="outline-secondary" ok-title="Move to Exiting Asset"
        cancel-title="Close" centered :title="'Move Asset'" hide-footer
        header-class="justify-content-center" @hide="closeModal">
        <!-- Alert - Server side error -->
        <error-message></error-message>
        <validation-observer ref="assetFormObserver">
            <b-form>
                <b-row>
                    <b-col md="6">
                        <validation-provider
                        #default="validationContext"
                        name="Location"
                        rules="required"
                        >
                        <b-form-group
                            label-for="module_category_id"
                            :state="getValidationState(validationContext)"
                        >
                            <label>Location <span class="text-danger">*</span></label>

                            <v-select
                            v-model="table.location"
                            :dir="$store.state.appConfig.isRTL ? 'rtl' : 'ltr'"
                            :options="siteOptions"
                            :reduce="(val) => val.value"
                            :clearable="true"
                            input-id="module_category_id"
                            placeholder="Select or Search Locations"
                            />
                            <b-form-invalid-feedback :state="getValidationState(validationContext)">
                            {{ validationContext.errors[0] }}
                            </b-form-invalid-feedback>
                        </b-form-group>
                        </validation-provider>

                    </b-col>
                    <b-col md="6">
                        <validation-provider
                        #default="validationContext"
                        name="Area"
                        rules="required"
                        >
                        <b-form-group
                            label-for="module_category_id"
                            :state="getValidationState(validationContext)"
                        >
                            <label>Area <span class="text-danger">*</span></label>

                            <v-select
                            v-model="table.area"
                            :dir="$store.state.appConfig.isRTL ? 'rtl' : 'ltr'"
                            :options="areas"
                            :reduce="(val) => val.value"
                            :clearable="true"
                            input-id="module_category_id"
                            placeholder="Select or Search Area"
                            />
                            <b-form-invalid-feedback :state="getValidationState(validationContext)">
                            {{ validationContext.errors[0] }}
                            </b-form-invalid-feedback>
                        </b-form-group>
                        </validation-provider>

                    </b-col>
                    <b-col md="6">
                        <validation-provider
                        #default="validationContext"
                        name="Category"
                        rules="required"
                        >
                        <b-form-group
                            label-for="module_category_id"
                            :state="getValidationState(validationContext)"
                        >
                            <label>Category <span class="text-danger">*</span></label>

                            <v-select
                            v-model="table.category"
                            :dir="$store.state.appConfig.isRTL ? 'rtl' : 'ltr'"
                            :options="categories"
                            :reduce="(val) => val.value"
                            :clearable="true"
                            input-id="module_category_id"
                            placeholder="Select or Search Categories"
                            />
                            <b-form-invalid-feedback :state="getValidationState(validationContext)">
                            {{ validationContext.errors[0] }}
                            </b-form-invalid-feedback>
                        </b-form-group>
                        </validation-provider>

                    </b-col>

                    <b-col md="6">
                        <validation-provider
                        #default="validationContext"
                        name="Module"
                        rules="required"
                        >
                        <b-form-group
                            label-for="module_category_id"
                            :state="getValidationState(validationContext)"
                        >
                            <label>Module <span class="text-danger">*</span></label>

                            <v-select
                            v-model="table.module"
                            :dir="$store.state.appConfig.isRTL ? 'rtl' : 'ltr'"
                            :options="modules"
                            :reduce="(val) => val.value"
                            :clearable="true"
                            input-id="module_category_id"
                            placeholder="Select or Search Module"
                            />
                            <b-form-invalid-feedback :state="getValidationState(validationContext)">
                            {{ validationContext.errors[0] }}
                            </b-form-invalid-feedback>
                        </b-form-group>
                        </validation-provider>

                    </b-col>


                </b-row>
                <b-row>
                    <!-- submit button -->
                    <b-col md="12" class="d-flex justify-content-center">
                        <b-button class="mr-2" variant="primary" @click.prevent="submitAsset">Submit</b-button>
                        <b-button v-ripple.400="'rgba(186, 191, 199, 0.15)'" variant="outline-secondary" @click.prevent="closeModal()">Cancel</b-button>
                    </b-col>
                </b-row>
            </b-form>
        </validation-observer>
    </b-modal>
</template>

<script>
import {
    BModal,
    VBModal,
    BRow,
    BCol,
    BButton,
    BForm,
    BFormGroup,
    BFormInput,
    BInputGroup,
    BInputGroupAppend,
    BFormTextarea,
    BFormCheckbox,
    BFormFile,
    BFormDatepicker,
    BFormTimepicker,
    BFormInvalidFeedback,
} from "bootstrap-vue";
import { ValidationProvider, ValidationObserver } from "vee-validate";
import { required, email, confirmed, url, between, alpha, integer, password, min, digits, alphaDash, length, decimal2DP, maxInt, maxText, maxMediumText } from '@validations'
import formValidation from "@core/comp-functions/forms/form-validation";
import Ripple from "vue-ripple-directive";
import ErrorMessage from "@/views/error/ErrorMessage";
import { mapActions, mapGetters } from "vuex";
import ToastificationContent from "@core/components/toastification/ToastificationContent.vue";
import store from "@/store/index";
import vSelect from 'vue-select'
import BaseMixins from "../../../mixins/BaseMixins";
import DatePicker from 'vue2-datepicker';
import 'vue2-datepicker/index.css';

export default {
    props: {
        asset_array: {
            type: Array
        },
    },
    emits: ['clear_asset_array'],
    mixins: [BaseMixins],
    components: {
        BModal,
        VBModal,
        BRow,
        BCol,
        BButton,
        BForm,
        BFormGroup,
        BFormInput,
        BInputGroup,
        BInputGroupAppend,
        BFormTextarea,
        BFormCheckbox,
        BFormDatepicker,
        BFormTimepicker,
        BFormFile,
        BFormInvalidFeedback,

        // Form Validation
        ValidationProvider,
        ValidationObserver,

        ErrorMessage,
        vSelect,
        // DatePicker
        DatePicker
    },
    directives: {
        "b-modal": VBModal,
        Ripple,
    },
    data() {
        const { refFormObserver, getValidationState } = formValidation(this.table);

        return {
            refFormObserver,
            getValidationState,
            required,
            confirmed,
            password,
            email,
            min,
            integer,
            url,
            alpha,
            between,
            digits,
            length,
            alphaDash,
            decimal2DP,
            maxInt,
            maxText,
            maxMediumText,
            locationVar: 'Map location is updated by mobile app',
            asset_image: null,
            locations: [],
            areas: [],
            categories: [],
            modules: [],
            selected : [],

            table: {
                location: "",
                area: "",
                category: "",
                module: ""
            }

        };
    },
    computed: {
        ...mapGetters('siteManager', ['defaultSite', 'defaultSubSite', 'siteOptions']),
        ...mapGetters('moveAssets', ['subSiteOptions']),
        ...mapGetters("auth", ["authUserData"]),
        ...mapGetters("siteManager", ["activeModuleId", "defaultSubSite"]),
    },
    methods: {
        //...mapActions("assets", ["saveAsset", "storeAsset"]),
        ...mapActions("moveAssets", ["getSubSiteOption", "getCategoryOption", "getModuleOption"]),
        ...mapActions("assets", ["moveAsset"]),

        closeModal() {
            this.$bvModal.hide("modal-move-asset");
            // Resetting the fields values....
            store.commit("assets/UPDATE_DEFAULT_ASSET", {});
            // reset form validation
            this.$refs.assetFormObserver.reset();
            this.asset_image = null;
        },

        // Submit asset data
        submitAsset() {
            this.$refs.assetFormObserver.validate().then((success) => {
                if (success) {
                    this.moveAsset({selected : this.asset_array, user_id: this.authUserData.id, ...this.table}).then((response) => {
                            if (response.status === true || response.status == "true") {
                                this.table.location = "";
                                this.table.area = "";
                                this.table.category = "";
                                this.table.module = "";
                                //this.asset_array = [];
                                //this.selected = [];
                                this.closeModal();
                                this.$emit('clear_asset_array', []);
                                // Close modal and reset data

                                this.$toast({
                                    component: ToastificationContent,
                                    position: "top-right",
                                    props: {
                                        title: `Notification`,
                                        variant: "success",
                                        icon: 'CheckIcon',
                                        text: response.message,
                                    },
                                });
                            } else {
                                //this.moveUp();
                            }
                            return Promise.resolve(response);
                        });


                } else {
                    //this.moveUp();
                }
            });
        },
    },
    watch:{
        'table.location': function(val){
            this.areas = [];
            this.getSubSiteOption({site_id : val}).then((response) => {

                this.areas = response.subSites;
            });
        },
        'table.area' : function(val){
            this.categories = [];
            this.getCategoryOption({sub_site_id : val, user_id : this.authUserData.id}).then((response) => {
                this.categories = response;
            });
        },
        'table.category' : function(val){
            this.modules = [];
            this.getModuleOption({sub_site_id : this.table.area, user_id : this.authUserData.id, category_id: val, asset_id: this.asset_array}).then((response) => {
                this.modules = response;
            });


        }
    }
  };
</script>

<style lang="scss">
@import '~@resources/scss/vue/libs/vue-select.scss';
@import '~@resources/scss/vue/libs/vue-flatpicker.scss';
</style>
