<template>
    <div class="dashboard-info">
        <b-card no-body class="mb-0">
            <div class="m-2">
                <b-row>
                    <!-- 4 buttons -->
                    <b-col md="12" class="tags-wrapper">
                        <div
                            class="d-flex align-items-center justify-content-end dashboard-listing-table-head-btn"
                        >
                            <b-button variant="primary" class="mr-1" @click="goBack" :disabled="!backURL || Object.keys(backURL).length===0"
                                ><span class="text-nowrap">Back</span></b-button
                            >
                            <b-button variant="primary" class="mr-1" @click="printDetail"
                                ><span class="text-nowrap"
                                    >Print</span
                                ></b-button
                            >
                            <b-button variant="primary" class="mr-1" @click="generatePDF"
                                ><span class="text-nowrap"
                                    >Export PDF</span
                                ></b-button
                            >
                            <b-button variant="primary" class="mr-1" @click="openEmailModal"
                                ><span class="text-nowrap"
                                    >Mail to</span
                                ></b-button
                            >
                        </div>
                    </b-col>
                    <b-col cols="12">
                        <hr />
                    </b-col>

                    <b-col cols="12" md="3" class="py-1">
                        <h5 class="mb-0 text-primary">Location:</h5>
                        {{ asset.location }}
                    </b-col>

                    <b-col cols="12" md="3" class="py-1">
                        <h5 class="mb-0 text-primary">Area:</h5>
                        {{ asset.area }}
                    </b-col>

                    <b-col cols="12" md="3" class="py-1">
                        <h5 class="mb-0 text-primary">Category:</h5>
                        {{ asset.category }}
                    </b-col>

                    <b-col cols="12" md="3" class="py-1">
                        <h5 class="mb-0 text-primary">Module:</h5>
                        {{ asset.module }}
                    </b-col>

                    <b-col cols="12" md="3" class="py-1">
                        <h5 class="mb-0 text-primary">Asset ID:</h5>
                        {{ asset.asset_uid }}
                    </b-col>
                    <b-col cols="12" md="3" class="py-1">
                        <h5 class="mb-0 text-primary">Status:</h5>
                        <b-badge
                            variant="danger"
                            v-if="
                                asset && asset.last_inspection_result === 'Fail'
                            "
                        >
                            Fail
                        </b-badge>
                        <b-badge
                            variant="success"
                            v-if="
                                asset && asset.last_inspection_result === 'Pass'
                            "
                        >
                            Pass
                        </b-badge>
                        <b-badge
                            variant="secondary"
                            v-if="
                                asset &&
                                asset.last_inspection_result ===
                                    'Inspection Pending'
                            "
                        >
                            Inspection Pending
                        </b-badge>
                        <b-badge
                            variant="warning"
                            v-if="
                                asset &&
                                asset.last_inspection_result ===
                                    'Maintenance Required'
                            "
                        >
                            Maintenance
                        </b-badge>
                    </b-col>
                    <!-- Dynamic Fields start -->
                    <b-col
                        cols="12"
                        md="3"
                        class="py-1"
                        v-for="(field, index) in asset.dynamic_fields"
                        :key="index"
                    >
                        <h5 class="mb-0 text-primary">
                            {{ field.isColor ? 'Inspection Schedule' : field.label }}:
                        </h5>
                        <div
                            v-if="field.isColor"
                            class="text-center asset-listing-color"
                            :style="'background-color: ' + field.value"
                        >
                            <span
                                class="text-white"
                                v-if="
                                    field.value == 'rgb(0,0,255)' ||
                                    field.value == 'rgb(128,128,128)' ||
                                    field.value == 'rgb(255,0,0)'
                                "
                                >{{ getColorText(field.value) }}</span
                            >
                            <span class="text-black" v-else>{{
                                getColorText(field.value)
                            }}</span>
                        </div>
                        <div v-else>
                            {{ field.value }}
                        </div>
                    </b-col>
                    <!-- dynamic field ends -->

                    <b-col cols="12" md="3" class="py-1">
                        <h5 class="mb-0 text-primary">Last Inspection:</h5>
                        {{ asset.last_inspection }}
                    </b-col>
                    <b-col cols="12" md="3" class="py-1">
                        <h5 class="mb-0 text-primary">Last Inspection By:</h5>
                        {{ asset.last_inspection_by }}
                    </b-col>
                    <b-col cols="12" md="3" class="py-1">
                        <h5 class="mb-0 text-primary">
                            Last Inspection Notes:
                        </h5>
                        {{ asset.last_inspection_notes }}
                    </b-col>
                    <b-col cols="12" md="3" class="py-1">
                        <h5 class="mb-0 text-primary">
                            Last Inspection Result:
                        </h5>
                        <b-badge
                            variant="danger"
                            v-if="
                                asset && asset.last_inspection_result === 'Fail'
                            "
                        >
                            Fail
                        </b-badge>
                        <b-badge
                            variant="success"
                            v-if="
                                asset && asset.last_inspection_result === 'Pass'
                            "
                        >
                            Pass
                        </b-badge>
                        <b-badge
                            variant="secondary"
                            v-if="
                                asset &&
                                asset.last_inspection_result ===
                                    'Inspection Pending'
                            "
                        >
                            Inspection Pending
                        </b-badge>
                        <b-badge
                            variant="warning"
                            v-if="
                                asset &&
                                asset.last_inspection_result ===
                                    'Maintenance Required'
                            "
                        >
                            Maintenance
                        </b-badge>
                    </b-col>

                    <b-col cols="12" md="3" class="py-1">
                        <h5 class="mb-0 text-primary">Inspection Schedule:</h5>
                        {{ getInspectionScheduleText(asset.inspection_schedule) }}
                    </b-col>

                    <b-col cols="12">
                        <hr />
                    </b-col>
                    <b-col cols="12" md="6">
                        <h5 class="mb-1 text-primary">Documents:</h5>
                        <div
                            class="document-btn-wrapper"
                            v-if="
                                asset &&
                                asset.documents &&
                                asset.documents.length !== 0
                            "
                        >
                            <div
                            v-for="(document, index) in asset.documents"
                            :key="index"
                            size="sm"
                            md="6"
                            class="mr-1 mb-1 border-primary text-primary d-flex justify-content-between"
                            >
                                <span class="document-name-wrapper" :title="document.name">{{ document.name }}</span>
                                <span class="document-link-btn-wrapper">
                                    <b-link v-if="document.url" :href="document.url" download><feather-icon icon="DownloadIcon" size="12" /></b-link>
                                    <b-link v-if="document.link" :href="document.link" target="_blank"><feather-icon icon="ExternalLinkIcon" size="12" /></b-link>
                                </span>
                            </div>
                        </div>
                        <span v-else>No Document Found!</span>
                        <!-- <b-button variant="outline-primary" size='small' class="mr-1 mb-1">Example of a Gauge with good pressure.png</b-button>
                        <b-button variant="outline-primary" size='small' class="mr-1 mb-1">Example of a Tamper seal that is intact.png</b-button> -->
                    </b-col>
                    <b-col cols="12" md="6">
                        <h5 class="mb-1 text-primary">Asset Photo:</h5>
                        <b-img
                            v-if="asset.photo"
                            :src="asset.photo"
                            class="w-100"
                        ></b-img>
                        <span v-else>Not Available</span>
                    </b-col>
                    <b-col cols="12" md="6" class="my-3">
                        <h5 class="mb-1 text-primary">
                            Last Inspection Photo:
                        </h5>
                        <b-img
                            v-if="asset.last_inspection_photo"
                            :src="asset.last_inspection_photo"
                            class="w-100"
                        ></b-img>
                        <span v-else>Not Available</span>
                    </b-col>
                    <b-col cols="12" md="6" class="my-3">
                        <h5 class="mb-1 text-primary">Location to Map:</h5>
                        <span v-if="!asset.latitude">Pending</span>
                        <GmapMap
                            v-else
                            :center="{
                                lat: parseFloat(asset.latitude),
                                lng: parseFloat(asset.longitude),
                            }"
                            :zoom="14"
                            map-type-id="terrain"
                            style="width: 100%; height: 300px"
                        >
                            <GmapMarker
                                :position="{
                                    lat: parseFloat(asset.latitude),
                                    lng: parseFloat(asset.longitude),
                                }"
                                :clickable="true"
                                :draggable="false"
                                @click="
                                    center = {
                                        lat: parseFloat(asset.latitude),
                                        lng: parseFloat(asset.longitude),
                                    }
                                "
                            />
                        </GmapMap>
                    </b-col>
                </b-row>
            </div>
        </b-card>
        <!-- Email Modal -->
        <b-modal
            id="dashboard-asset-detail-email-modal"
            centered
            title="Send Report to Mail..."
            ok-only
            hide-backdrop
            no-close-on-backdrop
            content-class="shadow"
        >
            <template #modal-footer>
                <b-button variant="primary" @click="exportData('mail')"
                    >Send Report</b-button
                >
            </template>
            <div>
                <error-message></error-message>
                <validation-observer ref="detailEmailFormModal">
                    <b-form>
                        <validation-provider
                            v-slot="{ errors }"
                            rules="required|email"
                            name="Email"
                        >
                            <b-form-input
                                placeholder="Email"
                                v-model="form.email"
                                :state="errors.length === 0" trim
                            ></b-form-input>
                            <b-form-invalid-feedback :state="errors.length === 0">
                                {{ errors[0] }}
                            </b-form-invalid-feedback>
                        </validation-provider>
                    </b-form>
                </validation-observer>
            </div>
        </b-modal>
    </div>
</template>
<script>
import BaseMixins from "@/mixins/BaseMixins.js";
import {
    BLink,
    BTable,
    BRow,
    BCol,
    BButton,
    BCard,
    BPagination,
    BTooltip,
    BBadge,
    BImg,
    BModal,
    VBModal,
    BForm,
    BFormInput,
    BFormInvalidFeedback
} from "bootstrap-vue";
import vSelect from "vue-select";
import { mapActions, mapGetters } from "vuex";
import { ValidationProvider, ValidationObserver } from "vee-validate";
import {
    required,
    email,
} from "@validations";
import formValidation from "@core/comp-functions/forms/form-validation";
import ErrorMessage from "@/views/error/ErrorMessage";
import moment from 'moment';
export default {
    mixins: [BaseMixins],
    components: {
        BLink,
        BTable,
        BRow,
        BCol,
        BButton,
        BCard,
        BPagination,
        BTooltip,
        BBadge,
        vSelect,
        BImg,
        BModal,
        BForm,
        BFormInput,
        BFormInvalidFeedback,
        VBModal,
        // Form Validation
        ValidationProvider,
        ValidationObserver,
        ErrorMessage,
    },
    props: {
        id: {
            type: [String, Number],
            required: true,
        },
    },
    computed: {
        ...mapGetters('auth', ['authUserData']),
        ...mapGetters("assetDetail", ["asset", "backURL"]),
    },
    data() {
        const { refFormObserver, getValidationState } = formValidation(this.form);
        return {
            refFormObserver,
            getValidationState,
            required,
            email,
            form: {
                email: "",
            },
            data_photo_mode: '',
            inspection_photo_mode: ''
        };
    },
    mounted() {
        this.getAssetDetails(this.id).catch((error) => {
            // this.$swal({
            //     title: 'Error!',
            //     text: error.message,
            //     icon: 'error',
            //     customClass: {
            //         confirmButton: 'btn btn-primary',
            //     },
            //     buttonsStyling: false,
            //     allowOutsideClick: false
            // }).then(result => {
            //     if (result.value) {
            //         // push router to dashboard
            //         this.$router.push({ name: 'dashboard' });
            //     }
            // });
        });

    },
    methods: {
        ...mapActions("assetDetail", ["getAssetDetails", "exportDashboardAssetDetailData"]),
        ...mapActions("dashboardDetailPrint", ["setupPrintDataAction"]),
        goBack() {
            // go to dashboard detail route
            if(this.backURL && this.backURL.fromDashboard) {
                this.goToDashboard(this.authUserData.role);
                return;
            }
            this.goToDashboardDetails(this.authUserData.role, this.backURL);
        },
        printDetail() {
            this.setupPrintDataAction(this.asset);
            this.$router.push({ name: "print-detail" });
        },
        openEmailModal() {
            this.form.email = '';
            this.$bvModal.show("dashboard-asset-detail-email-modal");
        },
        getMeta(url, val) {
            if(!url){
                return '';
            }
            const img = new Image();
            img.src = url;
            img.onload = () => {
                let w = img.naturalWidth;
                let h = img.naturalHeight;
                var type = '';
                if(w > h){
                    type = 'landscape';
                }
                else{
                    type = 'portrait';
                }
                if(val == 'data'){
                    this.data_photo_mode = type;
                }
                if(val == 'inspection'){
                    this.inspection_photo_mode = type;
                }
            };
        },
        generatePDF() {
            this.getMeta(this.asset.photo, 'data');
            this.getMeta(this.asset.last_inspection_photo, 'inspection');
            setTimeout(this.exportData('pdf'), 1000);
        },
        exportData(type) {
            if(type=='mail') {
                this.$refs.detailEmailFormModal.validate().then((success) => {
                    if (success) {
                        var formData = new FormData();
                        formData.append("data", JSON.stringify(this.asset));
                        formData.append('dateTime', moment().format('DD MMM YYYY HH:mm'));
                        formData.append("type", type);
                        formData.append("email", this.form.email);
                        let self=this;
                        this.exportDashboardAssetDetailData(formData).then(response => {
                            if(response.status) {
                                self.showToast("Notification", "CheckIcon", "success", "Email sent successfully");
                                self.$bvModal.hide("dashboard-asset-detail-email-modal");
                            }
                        });
                    }
                });
            } else{
                var formData = new FormData();
                formData.append("data", JSON.stringify(this.asset));
                formData.append('dateTime', moment().format('DD MMM YYYY HH:mm'));
                formData.append('data_photo_mode', this.data_photo_mode);
                formData.append('inspection_photo_mode', this.inspection_photo_mode);
                formData.append("type", type);
                var self = this;
                this.exportDashboardAssetDetailData(formData).then(response => {
                    if(response.status) {
                        // download the file at the path response.data.path
                        let link = document.createElement('a');
                        link.href = window.BASE_URL + '/storage/' + type + '/' + response.data.fileName;
                        link.download = 'Asset Info' + '.'+type;
                        link.click();
                        // Downloaded successfully toast
                        let message = type.toUpperCase() + " downloaded successfully";
                        self.showToast("Notification", "CheckIcon", "success", message);
                    }
                });
            }
        }
    },
};
</script>
<style lang="scss">
@import "~@resources/scss/vue/libs/vue-select.scss";
</style>
