<template>
    <div class="print-detail-page">
        <table style="border-radius: 4px 4px 0 0">
        <thead style="border-bottom: solid 1px #f1f2f3 ;">
            <tr>
                <td style="text-align:left;">
                    <h4 style="font-weight:bold; margin-bottom: 0px;">Asset Info</h4>
                </td>
                <td rowspan="2" style="border:none; text-align: right;">
                    <!-- if login user is client admin then display his company logo with company name -->
                    <div class="report-brand" v-if="authUserData.role==='Admin' || authUserData.role==='User'">
                        <!-- <span class="report-brand-name" style="font-size: 32px; font-weight: 600">{{ appName }}</span> -->
                        <span class="report-brand-logo"><img :src="appLogoImage" alt="" width="60px"></span>
                    </div>
                    <img v-else src="/pdf_image/logo/logo.png" style="width:200px;">
                </td>
            </tr>
            <tr>
                <td style="text-align:left;">
                    <p><strong>Date:</strong> {{ currentDateAndTime() }}</p>
                </td>
            </tr>
        </thead>
    </table>
    <table>
        <tbody>
            <tr>
                <td style="width:200px">
                    <p style="color: #005abe; font-weight: bold; font-size: 14px; margin-bottom:0px;">Location:</p>
                    <p>{{ asset.location }} &nbsp;</p>
                </td>

                <td style="width:200px">
                    <p style="color: #005abe; font-weight: bold; font-size: 14px; margin-bottom:0px;">Area:</p>
                    <p>{{ asset.area }} &nbsp;</p>
                </td>

                <td style="width:200px">
                    <p style="color: #005abe; font-weight: bold; font-size: 14px; margin-bottom:0px;">Asset ID:</p>
                    <p>{{ asset.asset_uid }} &nbsp;</p>
                </td>
                <td style="width:150px">
                    <p style="color: #005abe; font-weight: bold; font-size: 14px; margin-bottom:0px;">Status:</p>
                    <p>
                        <span class="badge badge-warning rounded"
                            v-if="asset.status == 'Maintenance Required'">Maintenance Required</span>
                        <span class="badge badge-success rounded"
                            v-else-if="asset.status == 'Pass'">Pass</span>
                        <span class="badge badge-danger" rounded
                            v-else-if="asset.status == 'Fail'">Fail</span>
                        <span class="badge badge-secondary rounded" v-else>Inspection Pending</span>
                    </p>
                </td>
                <!-- <td style="width:150px" v-if="asset && asset.dynamic_fields" v-for="(field,index) in asset.dynamic_fields.slice(0,2)" :key="index">
                    <p style="color: #005abe; font-weight: bold; font-size: 14px; margin-bottom:0px;">{{field.isColor ? field.label : 'Inspection Schedule'}}:</p>
                    <div
                        v-if="field.isColor"
                        class="text-center asset-listing-color"
                        :style="'background-color: ' + field.value"
                    >
                        <span
                            class="text-white"
                            v-if="
                                field.value == 'rgb(0,0,255)' ||
                                field.value == 'rgb(128,128,128)' ||
                                field.value == 'rgb(255,0,0)'
                            "
                            >{{ getColorText(field.value) }}</span
                        >
                        <span class="text-black" v-else>{{
                            getColorText(field.value)
                        }}</span>
                    </div>
                    <p v-else>{{field.value}}</p>
                </td> -->
                <!-- <td style="width:150px">
                    <p style="color: #005abe; font-weight: bold; font-size: 14px; margin-bottom:0px;">Make:</p>
                    <p>{{ asset.make }} &nbsp;</p>
                </td> -->
            </tr>
            <tr v-for="i in parseFloat((asset.dynamic_fields.length)/4 +1)">
                <!-- v-if="asset && asset
                    .dynamic_fields" v-for="(counter,index) in getLimit()" :key="index"> -->
                <td v-for="(field,index) in asset.dynamic_fields.slice((i-1)*4,(i)*4)">
                    <p style="color: #005abe; font-weight: bold; font-size: 14px; margin-bottom:0px;">{{field.isColor?'Inspection Schedule':field.label}}:</p>
                    <div
                        v-if="field.isColor"
                        class="text-center asset-listing-color"
                        :style="'background-color: ' + field.value"
                    >
                        <span
                            class="text-white"
                            v-if="
                                field.value == 'rgb(0,0,255)' ||
                                field.value == 'rgb(128,128,128)' ||
                                field.value == 'rgb(255,0,0)'
                            "
                            >{{ getColorText(field.value) }}</span
                        >
                        <span class="text-black" v-else>{{
                            getColorText(field.value)
                        }}</span>
                    </div>
                    <p v-else>{{field.value}}</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p style="color: #005abe; font-weight: bold; font-size: 14px; margin-bottom:0px;">Last Inspection:</p>
                    <p>{{ asset.last_inspection }} &nbsp;</p>
                </td>
                <td>
                    <p style="color: #005abe; font-weight: bold; font-size: 14px; margin-bottom:0px;">Last Inspection By:</p>
                    <p>{{ asset.last_inspection_by }} &nbsp;</p>
                </td>
                <td>
                    <p style="color: #005abe; font-weight: bold; font-size: 14px; margin-bottom:0px;">Last Inspection Notes:</p>
                    <p>{{ asset.last_inspection_notes }} &nbsp;</p>
                </td>
                <td>
                    <p style="color: #005abe; font-weight: bold; font-size: 14px; margin-bottom:0px;">Last Inspection Result:</p>
                    <p>
                        <span class="rounded badge badge-warning"
                            v-if="asset.last_inspection_result == 'Maintenance Required'">Maintenance Required</span>
                        <span class="rounded badge badge-success"
                            v-else-if="asset.last_inspection_result == 'Pass'">Pass</span>
                        <span class="rounded badge badge-danger"
                            v-else-if="asset.last_inspection_result == 'Fail'">Fail</span>
                        <span class="rounded badge badge-secondary" v-else>Inspection Pending</span>
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p style="color: #005abe; font-weight: bold; font-size: 14px; margin-bottom:0px;">Inspection Schedule:</p>
                    <p>{{ getInspectionScheduleText(asset.inspection_schedule) }} &nbsp;</p>
                </td>
            </tr>
        </tbody>
    </table>
    <table>
        <tr>
            <td style="width:50%;">
                <h5 style="color: #005abe; font-weight: bold; font-size: 14px; margin-bottom:0px;">Asset Photo</h5>
            </td>
            <td style="width:50%;">
                <h5 style="color: #005abe; font-weight: bold; font-size: 14px; margin-bottom:0px;">Last Inspection Photo
                </h5>
            </td>
        </tr>
        <tr>
            <td style="width:50%;">
                <div class="border text-center">
                    <img :src="asset.photo" alt="Not Available" style="width: 100%;">
                </div>
            </td>

            <td style="width:50%;">
                <div class="border text-center">
                    <img :src="asset.last_inspection_photo" alt="Not Available" style="width: 100%;">
                </div>
            </td>

        </tr>
    </table>
    <table>
        <tr>
            <td style="width:50%;">
                <h5 style="color: #005abe; font-weight: bold; font-size: 14px; margin-bottom:0px;">Location</h5>
            </td>
        </tr>
        <tr>
            <td style="width:50%;">
                <!-- <GoogleMap :api-key="GOOGLE_MAPS_API_KEY" style="width: 100%; height: 400px" :center="ASSETS_LOCATION"
                    :zoom="18" mapTypeId="hybrid" :streetViewControl=false>
                    <Marker :options="{ position: ASSETS_LOCATION }" />
                </GoogleMap> -->
                <GmapMap v-if="asset.latitude && asset.longitude"
                    :center="{
                        lat: parseFloat(asset.latitude),
                        lng: parseFloat(asset.longitude),
                    }"
                    :zoom="14"
                    map-type-id="terrain"
                    style="width: 100%; height: 300px"
                >
                    <GmapMarker
                        :position="{
                            lat: parseFloat(asset.latitude),
                            lng: parseFloat(asset.longitude),
                        }"
                        :clickable="true"
                        :draggable="false"
                        @click="
                            center = {
                                lat: parseFloat(asset.latitude),
                                lng: parseFloat(asset.longitude),
                            }
                        "
                    />
                </GmapMap>
            </td>
        </tr>
    </table>
    </div>
</template>
<script>
import BaseMixins from '@/mixins/BaseMixins';
import { mapGetters } from 'vuex';
import moment from 'moment';

export default {
    mixins: [BaseMixins],
    computed: {
        ...mapGetters('dashboardDetailPrint', ["asset"]),
        ...mapGetters('auth', ["authUserData"]),
        ...mapGetters('app', ["appName", "appLogoImage"]),
    },
    mounted() {
        if(Object.keys(this.asset).length===0){
            if(this.authUserData.role === 'Super Admin') {
                this.$router.push({ name: 'admin-dashboard' });
            } else if(this.authUserData.role === 'Admin') {
                this.$router.push({ name: 'client-dashboard' });
            } else {
                // SiteManager
                this.$router.push({ name: 'dashboard' });
            }
        } else {
            setTimeout(() => {
                window.print();
                this.goToDashboardAssetDetail(this.authUserData.role, {id: this.asset.asset_id})
            }, 500);
        }
    },
    methods: {
        currentDateAndTime() {
            return moment().format('DD MMM YYYY HH:mm');
        },
        getLimit() {
            if(this.asset && this.asset.dynamic_fields && this.asset.dynamic_fields.length>2)
                return ((this.asset.dynamic_fields.length-2)/4 +1);
            return 0;
        }
    }
}
</script>
<style scoped>
body {
    font-family: Arial, Helvetica, sans-serif;
}

table {
    width: 95%;
    border-collapse: collapse;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

table tr td,
table tr th {
    padding: 8px 15px;
    margin: 0;
    border: none;
    box-sizing: border-box;
}

table,
th,
td {
    border: 1px solid #f1f2f3;
    padding: 15px;
}

table tr td {
    margin-bottom: 10px;
}

table td p {
    margin-bottom: 0px;
    margin-top: 0px;
}

.report-brand {
    display : inline-flex;
    justify-content: end;
    align-items: center;
}
.report-brand > .report-brand-name {
    font-size: 32px;
    padding-left: 10px;
    color: #005abe;
}

@media(max-width:767px) {
    table {
        width: 100%;
        overflow-x: auto;
    }
}
</style>
