<template>
    <div class="dashboard-details">
        <b-card no-body class="mb-0">
            <div class="m-2">
                <b-row>
                    <!-- Per Page -->
                    <b-col xl="3" lg="6" md="6"
                        class="d-flex align-items-center justify-content-start mb-1 mb-md-0"
                    >
                        <label for="" class="mr-1">Show</label>
                        <v-select
                            v-model="perPage"
                            :dir="$store.state.appConfig.isRTL ? 'rtl' : 'ltr'"
                            :options="perPageOptions"
                            :clearable="false"
                            class="per-page-selector"
                            d-inline-block
                            mx-50
                        />
                        <label class="ml-1">entries</label>
                    </b-col>
                    <b-col lg="6" md="6" xl="2">
                        <b-form-input
                            v-model="search"
                            placeholder="Search"
                            class="mb-0"
                        />
                    </b-col>
                    <!-- 4 buttons -->
                    <b-col lg="12" md="12"  xl="7"
                    class="tags-wrapper">
                        <div class="d-flex align-items-center justify-content-end dashboard-listing-table-head-btn"
                        >
                            <b-button variant="primary" class="mr-1" @click="backURL"
                                ><span class="text-nowrap">Back</span></b-button
                            >
                            <b-button
                                variant="primary"
                                class="mr-1"
                                :disabled="assetList.length === 0"
                                @click="printData"
                                ><span
                                    class="text-nowrap"
                                    >Print</span
                                ></b-button
                            >
                            <!-- <b-button
                                variant="primary"
                                class="mr-1"
                                :disabled="assetList.length === 0"
                                @click="exportData('pdf')"
                                ><span
                                    class="text-nowrap"
                                    >Export PDF</span
                                ></b-button
                            >
                            <b-button
                                variant="primary"
                                class="mr-1"
                                :disabled="assetList.length === 0"
                                @click="exportData('csv')"
                                ><span
                                    class="text-nowrap"
                                    >Export CSV</span
                                ></b-button
                            > -->
                            <b-dropdown
                            text="Export"
                            variant="primary"
                            class="mr-1 dashboard-export-btn"
                            :disabled="assetList.length === 0"
                            >
                                <b-dropdown-item @click="exportData('pdf')">PDF</b-dropdown-item>
                                <b-dropdown-item @click="exportData('csv')">CSV</b-dropdown-item>
                            </b-dropdown>
                            <b-button
                                variant="primary"
                                class="mr-1"
                                :disabled="assetList.length === 0"
                                @click="openEmailModal"
                                ><span
                                    class="text-nowrap"
                                    >Mail to</span
                                ></b-button
                            >
                        </div>
                    </b-col>
                </b-row>
            </div>
            <b-table
                hover
                sticky-header
                ref="dashboardDetailListing"
                class="position-relative table-list-wrapper confined-table"
                :items="assetList"
                :filter="search"
                responsive
                :fields="getColumn(apiKey)"
                :current-page="currentPage"
                :per-page="perPage"
                primary-key="asset_id"
                show-empty
                empty-text="No matching records found"
            >

                <!-- Column: Row # -->
                <template #cell(row)="data">
                    <div class="px-2">
                        {{ (currentPage - 1) * perPage + data.index + 1 }}
                    </div>
                </template>



                <!-- Column: Expires -->
                <template #cell(expires)="data">
                    <div class="text-center">
                        <span
                            v-if="data.item.expires"
                            class="text-nowrap" :class="{'text-danger': data.item.hasExpired}"
                            >{{ data.item.expires }}</span
                        >
                        <span v-else class="text-nowrap">N/A</span>
                    </div>
                </template>

                <!-- Column: Last Inspection -->
                <template #cell(last_inspection)="data">
                    <div class="text-center">
                        <span
                            v-if="data.item.last_inspection"
                            class="text-nowrap"
                            >{{ data.item.last_inspection }}</span
                        >
                        <span v-else class="text-nowrap">N/A</span>
                    </div>
                </template>

                <!-- Column: Inspected By -->
                <template #cell(inspected_by)="data">
                    <div class="text-center">
                        <span
                            v-if="data.item.inspected_by"
                            class="text-nowrap"
                            >{{ data.item.inspected_by }}</span
                        >
                        <span v-else class="text-nowrap">N/A</span>
                    </div>
                </template>

                <!-- Column: q(Color) -->
                <template #cell(asset_q_color)="data">
                    <div
                        v-if="data.item.asset_q_color"
                        class="text-center asset-listing-color"
                        :style="'background-color: ' + data.item.asset_q_color"
                    >
                        <span
                            class="text-white"
                            v-if="
                                data.item.asset_q_color == 'rgb(0,0,255)' ||
                                data.item.asset_q_color == 'rgb(128,128,128)' ||
                                data.item.asset_q_color == 'rgb(255,0,0)'
                            "
                            >{{ getColorText(data.item.asset_q_color) }}</span
                        >
                        <span class="text-black" v-else>{{
                            getColorText(data.item.asset_q_color)
                        }}</span>
                    </div>
                    <div v-else
                    class="text-center asset-listing-color"
                    >
                        <span>N/A</span>
                    </div>
                </template>

                <!-- Column: q(Color) -->
                <template #cell(q)="data">
                    <div
                        v-if="data.item.q"
                        class="text-center asset-listing-color"
                        :style="'background-color: ' + data.item.q"
                    >
                        <span v-if="data.item.asset_q_color">
                            Quarterly with RGBY
                        </span>
                        <span v-else-if="data.item.q">
                            {{ getInspectionScheduleText(data.item.q) }}
                        </span>
                        <span v-else class="text-nowrap">N/A</span>
                    </div>
                </template>

                <!-- Column: Status -->
                <template #cell(status)="data">
                    <!-- <b-badge :variant="data.item.variant">
                        {{ data.item.status }}
                    </b-badge> -->
                    <span :class="'text-' + data.item.variant">{{
                        data.item.status
                    }}</span>
                </template>

                <!-- Column: Actions -->
                <template #cell(actions)="data">
                    <div class="d-flex justify-content-center">
                        <b-button
                            variant="white"
                            @click="
                                viewAssetDetail(data.item.id)
                            "
                            class="p-0"
                        >
                            <feather-icon
                                :id="`dashboard-asset-row-${data.item.id}-view-detail`"
                                icon="EyeIcon"
                                size="16"
                                class="mx-1"
                            />
                            <b-tooltip
                                title="View Detail"
                                :target="`dashboard-asset-row-${data.item.id}-view-detail`"
                            />
                        </b-button>
                    </div>
                </template>
            </b-table>
            <!-- Data Information & Pagination -->
            <div class="mx-2 mb-2">
                <b-row v-if="totalRows">
                    <b-col
                        cols="12"
                        sm="6"
                        class="d-flex align-items-center justify-content-center justify-content-sm-start"
                    >
                        <span class="text-muted"
                            >Showing {{ (currentPage - 1) * perPage + 1 }} to
                            {{
                                (currentPage - 1) * perPage + perPage >
                                totalRows
                                    ? totalRows
                                    : (currentPage - 1) * perPage + perPage
                            }}
                            of {{ totalRows }} entries</span
                        >
                    </b-col>
                    <b-col
                        cols="12"
                        sm="6"
                        class="d-flex align-itmes-center justify-content-center justify-content-sm-end"
                    >
                        <b-pagination
                            v-model="currentPage"
                            :total-rows="totalRows"
                            :per-page="perPage"
                            first-number
                            last-number
                            class="mb-0 mt-1 mt-sm-0"
                            prev-class="prev-item"
                            next-class="next-item"
                        >
                            <template #prev-text>
                                <feather-icon
                                    icon="ChevronLeftIcon"
                                    size="18"
                                />
                            </template>
                            <template #next-text>
                                <feather-icon
                                    icon="ChevronRightIcon"
                                    size="18"
                                />
                            </template>
                        </b-pagination>
                    </b-col>
                </b-row>
            </div>
        </b-card>
        <!-- Email Modal -->
        <b-modal
            id="dashboard-listing-email-modal"
            centered
            title="Send Report to Mail..."
            ok-only
            hide-backdrop
            no-close-on-backdrop
            content-class="shadow"
        >
            <template #modal-footer>
                <b-button variant="primary" @click="exportData('mail')"
                    >Send Report</b-button
                >
            </template>
            <div>
                <error-message></error-message>
                <validation-observer ref="listingEmailFormModal">
                    <b-form>
                        <validation-provider
                            v-slot="{ errors }"
                            rules="required|email"
                            name="Email"
                        >
                            <b-form-input
                                placeholder="Email"
                                v-model="form.email"
                                :state="errors.length === 0" trim
                            ></b-form-input>
                            <b-form-invalid-feedback :state="errors.length === 0">
                                {{ errors[0] }}
                            </b-form-invalid-feedback>
                        </validation-provider>
                    </b-form>
                </validation-observer>
            </div>
        </b-modal>
    </div>
</template>
<script>
import BaseMixins from "@/mixins/BaseMixins.js";
import {
    BTable,
    BRow,
    BCol,
    BButton,
    BCard,
    BPagination,
    BTooltip,
    BBadge,
    BForm,
    BFormInput,
    BFormInvalidFeedback,
    BModal,
    BDropdown,
    BDropdownItem,
    VBModal,
} from "bootstrap-vue";
import vSelect from "vue-select";
import { mapActions, mapGetters } from "vuex";
import { ValidationProvider, ValidationObserver } from "vee-validate";
import {
    required,
    email,
} from "@validations";
import formValidation from "@core/comp-functions/forms/form-validation";
import ErrorMessage from "@/views/error/ErrorMessage";
import moment from 'moment';
import { getUserData } from '@/auth/utils'


export default {
    mixins: [BaseMixins],
    components: {
        BBadge,
        BTable,
        BRow,
        BCol,
        BButton,
        BCard,
        BPagination,
        BTooltip,
        BForm,
        BFormInput,
        BFormInvalidFeedback,
        BDropdown,
        BDropdownItem,
        vSelect,
        BModal,
        // Form Validation
        ValidationProvider,
        ValidationObserver,

        ErrorMessage,
    },
    props: {
        apiKey: {
            type: [String],
            required: true,
        },
        time: {
            type: [Number, String],
            required: false,
        },
    },
    computed: {
        ...mapGetters("auth", ["authUserData"]),
        ...mapGetters("dashboard", ["clientName", "locationName", "areaName", "clientId", "locationId", "areaId"]),
        ...mapGetters("dashboardListing", ["pageTitle", "assetList"]),
        // dataWithSNo() {
        //     return this.assetList.map((d,index) => ({...d, row: index+1}));
        // }
    },
    mounted() {
        let timeValue = this.time ? parseInt(this.time) : null;
        if (timeValue) {
            // check if the value of time is in [1, 7, 30, 90, 0]
            if (![1, 7, 30, 90, 180].includes(timeValue)) {
                this.invalidCall();
            }
        } else {
            let allPossibleAPIs = [
                "assets_pass",
                "assets_fail",
                "assets_expired",
                "assets_maintanance_required",
                "assets_inspection_due",
                "assets_total",
                "assets_due_to_expire",
                "assets_inspected",
                "assets_registered",
                "total_assets_inspection",
                "current_inspections",
                "overdue_inspections",
                "inspections_due",

                "inspections_due_24hrs",
                "inspections_due_7days",
                "inspections_due_30days",

                "active_clients",
                "inactive_clients",

                "active_locations",
                "active_areas",
                "active_admin_users",
                "active_users",
                "active_categories",
                "active_modules",

                "inactive_locations",
                "inactive_areas",
                "inactive_admin_users",
                "inactive_users",
                "inactive_categories",
                "inactive_modules",
            ];

            if (!allPossibleAPIs.includes(this.apiKey)) {
                this.invalidCall();
            }
        }
        this.fetchDashboardListing({ apiKey: this.apiKey, time: timeValue, clientId: this.clientId, locationId: this.locationId, areaId: this.areaId });
    },
    data() {
        const { refFormObserver, getValidationState } = formValidation(this.form);
        const userData = getUserData();

        const assetColumn = [
                {
                    key: "row",
                    label: "Row #",
                },
                {
                    key: "uid",
                    label: "UID",
                    sortable: true,
                },

                {
                    key: "location",
                    label: "Location",
                },
                {
                    key: "area",
                    label: "Area",
                },
                {
                    key: "category",
                    label: "Category",
                },
                {
                    key: "module",
                    label: "Module",
                },
                {
                    key: "q",
                    label: "Inspection Schedule",
                },
                {
                    key: "asset_q_color",
                    label: "Current Quarter",
                },
                {
                    key: "status",
                    label: "Status",
                },
                {
                    key: "expires",
                    label: "Expires",
                },
                {
                    key: "last_inspection",
                    label: "Last Inspection",
                },
                {
                    key: "inspected_by",
                    label: "Inspected By",
                },
                {
                    key: "actions",
                    label: "Actions",
                    thClass: "text-center",
                },
            ];

            // Display column when login Super Admin
            if(userData.role === 'Super Admin') {
                const index = 2 // index you want to insert the new column at
                assetColumn.splice(index, 0, { key: "client", label: "Client"})
            }

        return {
            refFormObserver,
            getValidationState,
            required,
            email,
            search: "",
            flag:false,
            form: {
                email: ''
            },
            currentPage: 1,
            perPage: 25,
            totalRows: 0,
            perPageOptions: [10, 25, 50, 100],
            assetColumn,
            superadminColumn: [
                {
                    key: "row",
                    label: "Row #"
                },
                {
                    key: 'name',
                    label: 'Name',
                    sortable: true,
                },
                {
                    key: 'position',
                    label: 'Position',
                    sortable: true,
                },
                {
                    key: 'email',
                    label: 'Email',
                    sortable: true,
                },
                {
                    key: 'contact',
                    label: 'Contact Number',
                    sortable: true,
                },
                {
                    key: 'created_by',
                    label: 'Created By',
                    sortable: true,
                }
            ],
            clientadminColumn: [
                {
                    key: "row",
                    label: "Row #"
                },
                {
                    key: 'name',
                    label: 'Name',
                    sortable: true,
                },
                {
                    key: 'company_name',
                    label: 'Company name',
                    sortable: true,
                },
                {
                    key: 'abn',
                    label: 'ABN',
                    sortable: true,
                },
                {
                    key: 'email',
                    label: 'Email',
                    sortable: true,
                },
                {
                    key: 'contact',
                    label: 'Contact Number',
                    sortable: true,
                },
                {
                    key: 'created_by',
                    label: 'Created By',
                    sortable: true,
                },
            ],
            clientuserColumn: [
                {
                    key: "row",
                    label: "Row #"
                },
                {
                    key: 'name',
                    label: 'Name',
                    sortable: true,
                },
                {
                    key: 'email',
                    label: 'Email',
                    sortable: true,
                },
                {
                    key: 'companyName',
                    label: 'Company Name',
                },
                {
                    key: 'contact',
                    label: 'Contact Number',
                    sortable: true,
                },
                {
                    key: 'created_by',
                    label: 'Created By',
                    sortable: true,
                },
                {
                    key: 'created_at',
                    label: 'Created At',
                    sortable: true,
                },
            ],
            locationColumn: [
                {
                    key: "row",
                    label: "Row #"
                },
                {
                    key: 'name',
                    label: 'Name',
                    sortable: true,
                },
                {
                    key: 'id',
                    label: 'ID',
                    sortable: true,
                },
                {
                    key: 'created_by',
                    label: 'Created By',
                    sortable: true,
                },
            ],
            areaColumn: [
                {
                    key: "row",
                    label: "Row #"
                },
                {
                    key: 'name',
                    label: 'Name',
                    sortable: true,
                },
                {
                    key: 'location_name',
                    label: 'Location Name',
                    sortable: true,
                },
                {
                    key: 'created_by',
                    label: 'Created By',
                    sortable: true,
                }
            ],
            categoryColumn: [
                {
                    key: "row",
                    label: "Row #"
                },
                {
                    key: 'company_name',
                    label: 'Company Name',
                    sortable: true,
                },                
                {
                    key: 'name',
                    label: 'Category Name',
                    sortable: true,
                },
                {
                    key: 'created_by',
                    label: 'Created By',
                    sortable: true,
                },
                {
                    key: 'created_at',
                    label: 'Date Created',
                    sortable: true,
                },
            ],
            moduleColumn: [
                {
                    key: "row",
                    label: "Row #"
                },
                {
                    key: 'name',
                    label: 'Name',
                    sortable: true,
                },
                {
                    key: 'category_name',
                    label: 'Category Name',
                    sortable: true,
                },
                {
                    key: 'created_by',
                    label: 'Created By',
                    sortable: true,
                },
            ],
        };
    },
    methods: {
        ...mapActions("dashboardListing", [
            "fetchDashboardListing",
            "exportDashboardListingData",
        ]),
        ...mapActions("dashboardListPrint", ["setupPrintDataAction"]),
        ...mapActions("assetDetail", ["setBackURL"]),
        backURL() {
            if(this.authUserData.role==='Super Admin') {
                this.$router.push({ name: "admin-dashboard" });
            } else if(this.authUserData.role==='Admin') {
                this.$router.push({ name: "client-dashboard" });
            } else {
                this.$router.push({ name: "dashboard" });
            }
        },
        invalidCall() {
            // call swal error here
            this.$swal({
                title: "Error!",
                text: "Invalid call!",
                icon: "error",
                customClass: {
                    confirmButton: "btn btn-primary",
                },
                buttonsStyling: false,
                allowOutsideClick: false,
            }).then((result) => {
                if (result.value) {
                    // push router to dashboard
                    if (this.authUserData.role === "Super Admin") {
                        this.$router.push({ name: "admin-dashboard" });
                    } else if (this.authUserData.role === "Admin") {
                        this.$router.push({ name: "client-dashboard" });
                    } else {
                        this.$router.push({ name: "dashboard" });
                    }
                }
            });
        },
        getColumn() {
            let loginUser = JSON.parse(localStorage.getItem('userData'));

            if(this.apiKey == 'active_clients' || this.apiKey == 'inactive_clients') {
                return this.clientadminColumn;
            } else if(this.apiKey == 'active_admin_users' || this.apiKey == 'inactive_admin_users') {
                if(loginUser.role === 'Admin') {
                    return this.clientadminColumn
                }
                return this.superadminColumn
            } else if(this.apiKey == 'active_users' || this.apiKey == 'inactive_users') {
                return this.clientuserColumn
            } else if(this.apiKey == 'active_locations' || this.apiKey == 'inactive_locations') {
                return this.locationColumn
            } else if(this.apiKey == 'active_areas' || this.apiKey == 'inactive_areas') {
                return this.areaColumn
            } else if(this.apiKey == 'active_categories' || this.apiKey == 'inactive_categories') {
                return this.categoryColumn
            } else if(this.apiKey == 'active_modules' || this.apiKey == 'inactive_modules') {
                return this.moduleColumn
            } else {
                this.flag=true;
                return this.assetColumn;
            }
        },
        openEmailModal() {
            this.form.email = "";
            this.$bvModal.show("dashboard-listing-email-modal");
        },
        exportData(type) {
            if(type=='mail') {
                this.$refs.listingEmailFormModal.validate().then((success) => {
                    if (success) {
                        var formData = new FormData();
                        formData.append("title", this.pageTitle);
                        formData.append("clientName", this.clientName);
                        formData.append("locationName", this.locationName);
                        formData.append("areaName", this.areaName);
                        formData.append("data", JSON.stringify(this.assetList));
                        formData.append("column", JSON.stringify(this.getColumn(this.apiKey)));
                        formData.append("email", this.form.email);
                        formData.append('datetime', moment().format('DD MMM YYYY HH:mm'));
                        formData.append("type", type);
                        let self=this;
                        this.exportDashboardListingData(formData).then(response => {
                            if(response.status) {
                                self.showToast("Notification", "CheckIcon", "success", "Email sent successfully");
                                self.$bvModal.hide("dashboard-listing-email-modal");
                            }
                        });
                    }
                });
            } else{
                var formData = new FormData();
                formData.append("title", this.pageTitle);
                formData.append("clientName", this.clientName);
                formData.append("locationName", this.locationName);
                formData.append("areaName", this.areaName);
                formData.append("data", JSON.stringify(this.assetList));
                formData.append("column", JSON.stringify(this.getColumn(this.apiKey)));
                formData.append('datetime', moment().format('DD MMM YYYY HH:mm'));
                formData.append("type", type);
                var self = this;
                this.exportDashboardListingData(formData).then(response => {
                    if(response.status) {
                        // download the file at the path response.data.path
                        let link = document.createElement('a');
                        link.href = window.BASE_URL + '/storage/' + type + '/' + response.data.fileName;
                        link.download = self.pageTitle + '.'+type;
                        link.click();
                        // Downloaded successfully toast
                        let message = type.toUpperCase() + " downloaded successfully";
                        self.showToast("Notification", "CheckIcon", "success", message);
                    }
                });
            }
        },
        printData() {
            let payload = {
                pageTitle: this.pageTitle,
                clientName: this.clientName,
                locationName: this.locationName,
                areaName: this.areaName,
                assetList: this.assetList,
                columns: this.getColumn(),
                api: this.apiKey,
                time: this.time ? parseInt(this.time) : null,
                flag : this.flag,
            };
            this.setupPrintDataAction(payload);
            this.$router.push({ name: "print-list" });
        },
        viewAssetDetail(assetId) {
            // setting the back URL for the asset detail page
            // alert(1);
            this.setBackURL({apiKey: this.apiKey, time: parseInt(this.time)});
            this.goToDashboardAssetDetail(this.authUserData.role, {id: assetId});
        }
    },
    watch: {
        pageTitle: function (val) {
            // Change the page title of route meta
            this.$route.meta.pageTitle = val;
            // Add a temporary query parameter.
            this.$router.replace({ query: { temp: Date.now() } });
            this.$router.replace({ query: "" });
        },
        assetList: function (val) {
            this.totalRows = val.length;
        },
    },
};
</script>
<style lang="scss">
@import "~@resources/scss/vue/libs/vue-select.scss";
</style>
