<template>
    <div>
        <table>
            <thead>
                <tr>
                    <td style="border: none;">
                        <h3 style="margin: 0px" v-if="authUserData.role==='Admin' || authUserData.role==='User'">{{ appName }} {{ pageTitle }}</h3>
                        <h3 style="margin: 0px" v-if="authUserData.role==='Super Admin'">{{ pageTitle }}</h3>
                    </td>
                    <td style="border: none; text-align: right;" rowspan="3">
                        <!-- <img
                            :src="logo"
                            style="width: 200px"
                        /> -->
                        <div class="report-brand" v-if="authUserData.role==='Admin' || authUserData.role==='User'">
                            <!-- <span class="report-brand-name" style="font-size: 32px; font-weight: 600; color: #005abe">{{ appName }}</span> -->
                            <span class="report-brand-logo"><img :src="appLogoImage" alt="" width="60px"></span>
                        </div>
                        <img v-else src="/pdf_image/logo/logo.png" style="width:200px;">
                    </td>
                </tr>
                <tr>
                    <td
                        style="
                            border: none;
                            padding-top: 0px;
                            padding-bottom: 0px;
                        "
                    >
                        <p style="margin-bottom:0px"><strong>Date:</strong> {{ currentDateAndTime() }}</p>
                    </td>
                </tr>
                <tr>
                    <td style="
                        border: none;
                    ">
                        <p style="font-size: 14px; margin:0">
                            Location: <span style="color:#005abe; margin-right: 20px">{{ locationName === 'All Locations' ? 'All' : locationName }}</span>
                            Area: <span style="color:#005abe;">{{ areaName == 'All Areas' ? 'All' : areaName }}</span>
                        </p>
                    </td>
                </tr>
            </thead>
        </table>
        <table class="data-table" v-if="assetList.length!==0">
            <thead style="background: #cccccc">
                <tr>
                    <th v-for="column in columns">{{column.label}}</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(item, index) in assetList">

                    <td v-for="column in columns">
                        <span v-if="column.key==='q' || column.key==='asset_q_color'"  class="d-flex justify-content-center">{{ getInspectionScheduleText(item[column.key]) }}</span>
                        <!-- <img v-if="column.key==='q' || column.key==='asset_q_color'" :src="getQcolor(item[column.key])" width="80px"> -->
                        <span v-else-if="column.key==='status'" :style="{color: getStatusTextColor(item[column.key])}">{{ item[column.key] }}</span>
                        <span class="d-flex justify-content-center" v-else-if="column.key==='row'">{{ index+1 }}</span>
                        <span v-else>{{ item[column.key] || 'N/A' }}</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</template>
<script>
import { mapGetters } from 'vuex';
import BaseMixins from '@/mixins/BaseMixins';
import moment from 'moment';
export default {
    mixins: [BaseMixins],
    computed: {
        ...mapGetters('dashboardListPrint', [
            "assetList",
            "pageTitle",
            "columns",
            "clientName",
            "locationName",
            "areaName",
            "apiKey",
            "time",
            "loginUserRole",
        ]),
        ...mapGetters('auth', ["authUserData"]),
        ...mapGetters('app', ["appName", "appLogoImage"]),
    },
    data(){
        return {
            logo: window.BASE_URL + '/pdf_image/logo/logo.png',
        }
    },
    mounted() {
        if(this.columns.length===0){
            if(this.loginUserRole === 'Super Admin') {
                this.$router.push({ name: 'admin-dashboard' });
            } else if(loginUserRole === 'Admin') {
                this.$router.push({ name: 'client-dashboard' });
            } else {
                // SiteManager
                this.$router.push({ name: 'dashboard' });
            }
        } else {
            setTimeout(() => {
                window.print();
                this.goToDashboardDetails(this.loginUserRole, {apiKey: this.apiKey, time: this.time});
            }, 500);
        }
    },
    methods: {
        getQcolor(val) {
            if (val === 'rgb(255,0,0)'){
                return window.BASE_URL + '/pdf_image/logo/jan_mar.png';
            }
            else if (val === 'rgb(76,175,80)'){
                return window.BASE_URL + '/pdf_image/logo/apr_jun.png';
            }
            else if (val === 'rgb(0,0,255)'){
                return window.BASE_URL + '/pdf_image/logo/jul_sep.png';
            }
            else if (val === 'rgb(255,255,0)'){
                return window.BASE_URL + '/pdf_image/logo/oct_dec.png';
            }
            else if (val === 'rgb(128,128,128)'){
                return window.BASE_URL + '/pdf_image/logo/other.png';
            }
            return window.BASE_URL + '/pdf_image/logo/na.png';
        },
        getStatusTextColor(val) {
            if(val==='Pass') {
                return '#64c832';
            } else if(val==='Fail') {
                return '#ea5455';
            } else if(val==='Inspection Due') {
                return '#82868b';
            } else {
                return '#ff9f43';
            }
        },
        currentDateAndTime() {
            return moment().format('DD MMM YYYY HH:mm');
        },
    }
}
</script>
<style scoped>

.text-center{
    text-align: center !important;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
}

table tr td,
table tr th {
    padding: 8px 12px;
    margin: 0;
    box-sizing: border-box;
}

table.data-table tr td {
    padding: 0px 12px;
    margin: 0;
    box-sizing: border-box;
}

table,
th,
td {
    border: 1px solid #f1f2f3;
}

@media (max-width: 767px) {
    table {
        width: 100%;
        overflow-x: auto;
    }
}
</style>
