<template>

  <div>

    <!-- Filters -->
    <users-list-filters :role-filter.sync="table.role" :status-filter.sync="table.status" :role-options="roleOptions"
      :status-options="statusOptions" />

    <!-- Table Container Card -->
    <b-card no-body class="mb-0">

      <div class="m-2">

        <!-- Table Top -->
        <b-row>

          <!-- Per Page -->
          <b-col cols="12" md="6" class="d-flex align-items-center justify-content-start mb-1 mb-md-0">
            <label>Show</label>
            <v-select v-model="table.perPage" :dir="$store.state.appConfig.isRTL ? 'rtl' : 'ltr'"
              :options="perPageOptions" :clearable="false" class="per-page-selector d-inline-block mx-50" />
            <label>entries</label>
          </b-col>

          <!-- Search -->
          <b-col cols="12" md="6">
            <div class="d-flex align-items-center justify-content-end">
              <b-form-input v-model="table.search" class="d-inline-block mr-1" placeholder="Search Admin User..." />
              <b-button variant="primary" @click="goToAddUser">
                <span class="text-nowrap">Add User</span>
              </b-button>
            </div>
          </b-col>
        </b-row>

      </div>

      <b-table hover ref="refUserListTable" class="position-relative" :items="adminUserList.users.data" responsive
        :fields="tableColumns" primary-key="id" :sort-by.sync="table.sortBy" show-empty
        empty-text="No matching records found" :sort-desc.sync="isSortDirDesc">

        <!-- Column: User name and userId -->
        <template #cell(first_name)="data">
          <b-media vertical-align="center">
            <template #aside>
              <b-avatar size="32" :src="data.item.avatar" :text="avatarText(data.item.full_name)"
                :variant="`light-${resolveUserRoleVariant(data.item.role)}`"
                :to="{ name: 'admin-user-edit', params: { id: data.item.id } }" />
            </template>
            <b-link :to="{ name: 'admin-user-edit', params: { id: data.item.id } }"
              class="font-weight-bold d-block text-nowrap">
              {{ data.item.full_name }}
            </b-link>
            <small class="text-muted">SA{{ data.item.id }}</small>
          </b-media>
        </template>

        <!-- Column: Contact Number -->
        <template #cell(contact_number)="data">
          <div class="text-nowrap">
            <span class="align-text-top text-capitalize">{{ data.item.contact_number }}</span>
          </div>
        </template>

        <!-- Column: Status -->
        <template #cell(status)="data">
          <b-badge href="#" pill :variant="`light-${resolveUserStatusVariant(data.item.status)}`"
            class="text-capitalize" @click="changeStatus(data.item.id, data.item.status)">
            {{ getStatusValue(data.item.status) }}
          </b-badge>
        </template>

        <!-- Column: Actions -->
        <template #cell(actions)="data">
          <b-dropdown variant="link" no-caret :right="$store.state.appConfig.isRTL">

            <template #button-content>
              <feather-icon icon="MoreVerticalIcon" size="16" class="align-middle text-body" />
            </template>
            <b-dropdown-item :to="{ name: 'admin-user-view', params: { id: data.item.id } }">
              <feather-icon icon="FileTextIcon" />
              <span class="align-middle ml-50">Details</span>
            </b-dropdown-item>

            <b-dropdown-item :to="{ name: 'admin-user-edit', params: { id: data.item.id } }">
              <feather-icon icon="EditIcon" />
              <span class="align-middle ml-50">Edit</span>
            </b-dropdown-item>

            <b-dropdown-item @click="deleteUser(data.item.id)"  v-if="data.item.id != 1">
              <feather-icon icon="TrashIcon" />
              <span class="align-middle ml-50">Delete</span>
            </b-dropdown-item>
          </b-dropdown>
        </template>

      </b-table>
      <div class="mx-2 mb-2">
        <b-row>

          <b-col cols="12" sm="6" class="d-flex align-items-center justify-content-center justify-content-sm-start">
            <span class="text-muted">Showing {{ adminUserList.users.from }} to {{ adminUserList.users.to }} of {{
            adminUserList.users.total }}
              entries</span>
          </b-col>
          <!-- Pagination -->
          <b-col cols="12" sm="6" class="d-flex align-items-center justify-content-center justify-content-sm-end">

            <b-pagination v-model="currentPage" :total-rows="totalUsers" :per-page="table.perPage" first-number
              last-number class="mb-0 mt-1 mt-sm-0" prev-class="prev-item" next-class="next-item">
              <template #prev-text>
                <feather-icon icon="ChevronLeftIcon" size="18" />
              </template>
              <template #next-text>
                <feather-icon icon="ChevronRightIcon" size="18" />
              </template>
            </b-pagination>

          </b-col>

        </b-row>
      </div>
    </b-card>
  </div>
</template>

<script>
import {
  BCard,
  BRow,
  BCol,
  BFormInput,
  BButton,
  BTable,
  BMedia,
  BAvatar,
  BLink,
  BBadge,
  BDropdown,
  BDropdownItem,
  BPagination,
} from 'bootstrap-vue'
import vSelect from 'vue-select'
import { avatarText } from '@core/utils/filter'
import UsersListFilters from './UsersListFilters.vue'
import ToastificationContent from '@core/components/toastification/ToastificationContent.vue'
import Ripple from 'vue-ripple-directive'

import { mapActions, mapGetters } from 'vuex';
import UserServices from "@/services/userServices";
import BaseMixins from "@/mixins/BaseMixins";

export default {
  mixins: [BaseMixins],
  components: {
    UsersListFilters,

    BCard,
    BRow,
    BCol,
    BFormInput,
    BButton,
    BTable,
    BMedia,
    BAvatar,
    BLink,
    BBadge,
    BDropdown,
    BDropdownItem,
    BPagination,

    vSelect,
  },
  directives: {
    Ripple,
  },
  data() {
    return {
      avatarText,
      table: {
        perPage: 25,
        search: '',
        sortBy: null,
        sortDesc: true,
        page: 1,
        role: '',
        status: '',
      },
      refUserListTable: null,
      perPageOptions: [10, 25, 50, 100],
      tableColumns: [
        {label:'Name', key: 'first_name', sortable: true },
        {label:'Position', key: 'client_representative_position', sortable: true },
        {label:'Email Id', key: 'email', sortable: true },
        {label:'Contact Number', key: 'contact_number' },
        {label:'Status', key: 'status' },
        {label:'Actions', key: 'actions' },
      ],
      isSortDirDesc: true,
      currentPage: 1,
      totalUsers: this.adminUserList != null ? this.adminUserList.total : 0,
    };
  },
  computed: {
    // Get state variables
    ...mapGetters('user',
      [
        'roleOptions', // Get role options
        'adminUserList', // Get all admin users
      ]
    ),
  },
  methods: {
    ...mapActions('user',
      [
        'getAllRole', // Get all roles
        'getAllAdminUser', // Get all admin user
      ]
    ),
    refetchData() {
      this.getAllAdminUser(this.table);
      //this.refUserListTable.value.refresh()
    },
    goToAddUser() {
      this.$router.push({ name: 'admin-user-add' });
    },
    // Change user status
    changeStatus(id, status) {
      this.$swal({
        title: 'Are you sure?',
        text: "Do you want to change user status?",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Yes, change it!',
        customClass: {
          confirmButton: 'btn btn-primary',
          cancelButton: 'btn btn-outline-danger ml-1',
        },
        buttonsStyling: false,
      }).then(result => {
        if (result.value) {
          // check validation
          UserServices.changeStatus({ id: id, status: status }).then(response => {
            if (response.status === true || response.status == 'true') {
              this.$swal({
                icon: 'success',
                title: 'Changed!',
                text: response.message,
                customClass: {
                  confirmButton: 'btn btn-success',
                },
              })

              // Refetch table data
              this.refetchData()
            } else {
              this.$toast({
                component: ToastificationContent,
                position: 'top-right',
                props: {
                  title: 'Error',
                  variant: 'danger',
                  text: response.message,
                },
              })
            }
            return Promise.resolve(response);
          });
        }
      })
    },
    // User soft delete
    deleteUser(id) {
      this.$swal({
        title: 'Are you sure?',
        text: "You won't be able to revert this!",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Yes, delete it!',
        customClass: {
          confirmButton: 'btn btn-primary',
          cancelButton: 'btn btn-outline-danger ml-1',
        },
        buttonsStyling: false,
      }).then(result => {
        if (result.value) {
          // check validation
          UserServices.deleteUserData(id).then(response => {
            if (response.status === true || response.status == 'true') {
              this.$swal({
                icon: 'success',
                title: 'Deleted!',
                text: response.message,
                customClass: {
                  confirmButton: 'btn btn-success',
                },
              })

              // Refetch table data
              this.refetchData()

              // this.$toast({
              //   component: ToastificationContent,
              //   position: 'top-right',
              //   props: {
              //     title: `Notification`,
              //     icon: 'CoffeeIcon',
              //     variant: 'success',
              //     text: response.message,
              //   },
              // })
            } else {
              this.$toast({
                component: ToastificationContent,
                position: 'top-right',
                props: {
                  title: 'Error',
                  variant: 'danger',
                  text: response.message,
                },
              })
            }
            return Promise.resolve(response);
          });
        }
      })
    },
  },
  mounted() {
    // Get all role
    this.getAllRole();

    // Get all admin users
    this.getAllAdminUser(this.table).catch((error) => {
      this.showToast(
        "Error",
        "XIcon",
        "danger",
        error.data.message
      );
    });
  },
  watch: {
    table: {
      handler() {
        this.getAllAdminUser(this.table);
      },
      deep: true,
    },
  },
}
</script>



<style lang="scss">
@import '~@resources/scss/vue/libs/vue-select.scss';
@import '~@resources/scss/vue/libs/vue-select.scss';
