<template>
  <div class="card">
    <div class="card-body">

      <!-- Alert - Server side error -->
      <error-message></error-message>

      <validation-observer #default="{ handleSubmit }" ref="newUserFormObserver">
        <b-form class="mt-1 repeater-form" ref="form" :style="{ height: trHeight }">
          <b-row>
            <!-- Field: Question Title -->
            <b-col cols="12" md="6">
              <validation-provider #default="validationContext" name="Title" rules="required">
                <b-form-group>
                  <label>Question Title <span class="text-danger">*</span></label>
                  <b-form-input id="msq_title" v-model="moduleQuestionData.msq_title"
                    :state="getValidationState(validationContext)" trim />
                  <b-form-invalid-feedback>
                    {{ validationContext.errors[0] }}
                  </b-form-invalid-feedback>
                </b-form-group>
              </validation-provider>
            </b-col>

            <!-- Field: Question Description -->
            <b-col cols="12" md="6">
              <b-form-group>
                <label>Question Description</label>
                <b-form-textarea v-model="moduleQuestionData.msq_desc" placeholder="Description" rows="3" />
              </b-form-group>
            </b-col>
          </b-row>

          <!-- Row Loop -->
          <b-row v-for="(item, index) in items" :id="item.id" :key="item.id" ref="row">
            <!-- Question Option -->
            <b-col md="6">
              <validation-provider #default="validationContext" :name="`Question Option - ${index + 1}`"
                rules="required">
                <label>Question Option - {{ index + 1}} <span class="text-danger">*</span></label>
                <b-form-group>
                  <b-form-input id="msq_options" type="text" v-model="item.option"
                    :state="getValidationState(validationContext)" trim />
                  <b-form-invalid-feedback>
                    {{ validationContext.errors[0] }}
                  </b-form-invalid-feedback>
                </b-form-group>
              </validation-provider>
            </b-col>

            <!-- Remove Button -->
            <b-col lg="2" md="3" class="mb-50">
              <b-button v-ripple.400="'rgba(234, 84, 85, 0.15)'" variant="outline-danger" class="mt-0 mt-md-2" size="sm"
                @click="removeItem(index)">
                <feather-icon icon="XIcon" class="mr-25" />
                <span>Delete</span>
              </b-button>
            </b-col>
          </b-row>
          <b-row>
            <b-col cols="12" md="6">
              <b-button v-ripple.400="'rgba(255, 255, 255, 0.15)'" variant="primary" @click="repeateAgain" size="sm">
                <feather-icon icon="PlusIcon" class="mr-25" />
                <span>Add New Option</span>
              </b-button>
            </b-col>
          </b-row>

          <b-row>

          </b-row>

          <b-row class="mt-1">
            <!-- Field: Question Type -->
            <b-col cols="12" md="6">
              <validation-provider #default="validationContext" name="Question Type" rules="required">
                <b-form-group :state="getValidationState(validationContext)">
                  <label>Question Type <span class="text-danger">*</span></label>
                  <v-select v-model="moduleQuestionData.msq_type" :dir="$store.state.appConfig.isRTL ? 'rtl' : 'ltr'"
                    :options="questionTypeOptions" :reduce="val => val.value" :clearable="true"
                    input-id="question-status" />
                  <b-form-invalid-feedback :state="getValidationState(validationContext)">
                    {{ validationContext.errors[0] }}
                  </b-form-invalid-feedback>
                </b-form-group>
              </validation-provider>
            </b-col>

            <b-col md="3">
              <b-form-group v-if="moduleQuestionData.msq_type == 'radio'">
                <b-form-checkbox v-model="moduleQuestionData.msq_type_has_button"
                  v-ripple.400="'rgba(113, 102, 240, 0.15)'"
                  v-b-tooltip.hover.top="'Checked this option if you want to show button option on mobile'">
                  Question type has button
                </b-form-checkbox>
              </b-form-group>
              <b-form-group>
                <b-form-checkbox v-model="moduleQuestionData.msq_has_required">
                  Has Required
                </b-form-checkbox>
              </b-form-group>
            </b-col>
          </b-row>

          <b-row>
            <!-- Field: Status -->
            <b-col cols="12" md="6">
              <validation-provider #default="validationContext" name="Status" rules="required">
                <b-form-group :state="getValidationState(validationContext)">
                  <label>Status <span class="text-danger">*</span></label>
                  <v-select v-model="moduleQuestionData.msq_status" :dir="$store.state.appConfig.isRTL ? 'rtl' : 'ltr'"
                    :options="statusOptions" :reduce="val => val.value" :clearable="true" input-id="question-status" />
                  <b-form-invalid-feedback :state="getValidationState(validationContext)">
                    {{ validationContext.errors[0] }}
                  </b-form-invalid-feedback>
                </b-form-group>
              </validation-provider>
            </b-col>
          </b-row>

          <!-- Action Buttons -->
          <b-row class="mt-2">
            <b-col>
              <b-button variant="primary" @click="saveModuleQuestion">
                Save
              </b-button>
              <b-button type=button @click.prevent="onCancel">
                Cancel
              </b-button>
            </b-col>
          </b-row>
        </b-form>
      </validation-observer>
    </div>
  </div>
</template>

<script>
import {
  BButton,
  BRow,
  BCol,
  BFormGroup,
  BFormInput,
  BFormRadioGroup,
  BForm,
  BFormTextarea,
  BTable,
  BCard,
  BCardHeader,
  BCardTitle,
  BFormCheckbox,
  BFormInvalidFeedback,
  BFormFile,
  VBTooltip,
} from 'bootstrap-vue'

import { ValidationProvider, ValidationObserver } from 'vee-validate'
import { required, alpha, email } from '@validations'
import formValidation from '@core/comp-functions/forms/form-validation'
import vSelect from 'vue-select'
import flatPickr from 'vue-flatpickr-component'
import ToastificationContent from '@core/components/toastification/ToastificationContent.vue'

import { mapActions, mapGetters } from 'vuex';
import ModuleQuestionServices from "@/services/moduleQuestionServices";
import BaseMixins from "@/mixins/BaseMixins";
import ErrorMessage from '@/views/error/ErrorMessage';
import router from '@/router';
import { heightTransition } from '@core/mixins/ui/transition'
import Ripple from 'vue-ripple-directive'

export default {
  mixins: [BaseMixins, heightTransition],
  directives: {
    Ripple,
    'b-tooltip': VBTooltip,
    Ripple,
  },
  components: {
    BButton,
    BFormTextarea,
    BRow,
    BCol,
    BFormGroup,
    BFormInput,
    BForm,
    BTable,
    BCard,
    BCardHeader,
    BCardTitle,
    BFormCheckbox,
    BFormInvalidFeedback,
    vSelect,
    BFormRadioGroup,
    BFormFile,

    // Date picker
    flatPickr,

    // Form Validation
    ValidationProvider,
    ValidationObserver,

    ErrorMessage,
  },
  data() {
    const moduleQuestionData = {
      msq_module_id: router.currentRoute.params.id,
      msq_title: '',
      msq_desc: '',
      msq_type: 'radio',
      msq_is_default: 'Y',
      msq_status: 'Y',
      msq_option: [],
      msq_type_has_button: false,
      msq_has_required: false,
    }

    const questionTypeOptions = [
      { label: 'One option selection', value: 'radio' },
      { label: 'Multiple option selection', value: 'multiselect' },
    ];

    const { refFormObserver, getValidationState } = formValidation(moduleQuestionData)

    return {
      // Validation
      required,
      alpha,
      email,
      refFormObserver,
      getValidationState,
      moduleQuestionData,
      questionTypeOptions,
      items: [{
        id: 1,
        option: '',
        prevHeight: 0,
      }],
      nextTodoId: 1,
    }
  },
  computed: {
    // Get state variables
    ...mapGetters('moduleQuestion',
      [
        'moduleName',
      ]
    ),
  },
  mounted() {
    this.initTrHeight()

    if (this.moduleName) {
      this.$route.meta.pageTitle = this.moduleName;

      // Add a temporary query parameter.
      this.$router.replace({ query: { temp: Date.now() } })
      this.$router.replace({ query: '' })
    }
  },
  created() {
    window.addEventListener('resize', this.initTrHeight)
  },
  destroyed() {
    window.removeEventListener('resize', this.initTrHeight)
  },
  methods: {
    repeateAgain() {
      this.items.push({
        id: this.nextTodoId += 1,
        option: ''
      })

      this.$nextTick(() => {
        this.trAddHeight(this.$refs.row[0].offsetHeight)
      })
    },
    removeItem(index) {
      this.items.splice(index, 1)
      this.trTrimHeight(this.$refs.row[0].offsetHeight)
    },
    initTrHeight() {
      this.trSetHeight(null)
      this.$nextTick(() => {
        this.trSetHeight(this.$refs.form.scrollHeight)
      })
    },
    onCancel() {
      this.$router.push({ name: 'admin-module-question', params: { id: this.moduleQuestionData.msq_module_id } });
    },
    // Submit question data
    saveModuleQuestion() {

      // Assign variable
      this.moduleQuestionData.msq_option = this.items;

      this.$refs.newUserFormObserver.validate().then(success => {
        if (success) {
          // check validation
          ModuleQuestionServices.saveModuleQuestion(this.moduleQuestionData).then(response => {
            if (response.status === true || response.status == 'true') {

              this.$router.push({ name: 'admin-module-question', params: { id: this.moduleQuestionData.msq_module_id } })

              this.$toast({
                component: ToastificationContent,
                position: 'top-right',
                props: {
                  title: 'Notification',
                  icon: 'CheckIcon',
                  variant: 'success',
                  text: 'You have successfully added new question.',
                },
              })
            } else {
              this.moveUp();
            }
            return Promise.resolve(response);
          });
        }
        else {
          this.moveUp();
        }
      })
    },
  },

}
</script>

<style lang="scss">
@import '~@resources/scss/vue/libs/vue-select.scss';
@import '~@resources/scss/vue/libs/vue-flatpicker.scss';
</style>

