<template>
    <div class="card">
      <div class="card-body">

        <!-- Alert - Server side error -->
        <error-message></error-message>

        <validation-observer #default="{ handleSubmit }" ref="newUserFormObserver">
          <b-form class="mt-1">
            <!-- START :: User Basic Information -->
            <div class="mt-2 pt-75">
              <!-- Header: Basic Info -->
              <div class="d-flex">
                <feather-icon icon="UserIcon" size="19" />
                <h4 class="mb-0 ml-50">
                  Basic Information
                </h4>
              </div>

              <b-row class="mt-1">
                <!-- Field: Company Name -->
                <b-col cols="12" md="4">
                  <validation-provider #default="validationContext" name="Company Name" rules="required">
                    <b-form-group>
                      <label>Company Name <span class="text-danger">*</span></label>
                      <b-form-input id="client_company_name" v-model="userData.client_company_name"
                        :state="getValidationState(validationContext)" trim />
                      <b-form-invalid-feedback>
                        {{ validationContext.errors[0] }}
                      </b-form-invalid-feedback>
                    </b-form-group>
                  </validation-provider>
                </b-col>

                <!-- Field: ABN -->
                <b-col cols="12" md="4">
                  <validation-provider #default="validationContext" name="ABN" rules="required">
                    <b-form-group>
                      <label>ABN <span class="text-danger">*</span></label>
                      <b-form-input id="client_abn" v-model="userData.client_abn"
                        :state="getValidationState(validationContext)" trim />
                      <b-form-invalid-feedback>
                        {{ validationContext.errors[0] }}
                      </b-form-invalid-feedback>
                    </b-form-group>
                  </validation-provider>
                </b-col>

                <!-- Field: Client ID -->
                <b-col cols="12" md="4">
                  <validation-provider #default="validationContext" name="Client ID" rules="required">
                    <b-form-group>
                      <label>Client ID <span class="text-danger">*</span></label>
                      <b-form-input id="client_uuid" v-model="userData.client_uuid"
                        :state="getValidationState(validationContext)" trim />
                      <b-form-invalid-feedback>
                        {{ validationContext.errors[0] }}
                      </b-form-invalid-feedback>
                    </b-form-group>
                  </validation-provider>
                </b-col>

                <!-- Field: Company Website -->
                <b-col cols="12" md="6" lg="4">
                  <validation-provider #default="validationContext" name="Company Website" rules="required|url">
                    <b-form-group>
                      <label>Company Website <span class="text-danger">*</span></label>
                      <b-form-input id="client_company_website" v-model="userData.client_company_website"
                        :state="getValidationState(validationContext)" trim />
                      <b-form-invalid-feedback>
                        {{ validationContext.errors[0] }}
                      </b-form-invalid-feedback>
                    </b-form-group>
                  </validation-provider>
                </b-col>

                <!-- Field: company Logo -->
                <b-col cols="12" md="6" lg="4">
                  <validation-provider #default="validationContext" name="Logo" rules="required">
                    <b-form-group>
                      <label>Logo <span class="text-danger">*</span></label>
                      <b-form-file v-model="userData.client_company_logo" id="client_company_logo" accept="image/*"
                        @change="onLogoFileChange" :state="getValidationState(validationContext)" trim />
                      <b-form-invalid-feedback>
                        {{ validationContext.errors[0] }}
                      </b-form-invalid-feedback>
                    </b-form-group>
                  </validation-provider>
                </b-col>

                <!-- Field: Confined Space -->
                <b-col cols="12" md="4">
                    <b-form-group>
                      <label>Confined Space</label>
                      <v-select v-model="userData.is_confined_space" :options="confinedSpaceOptions" :reduce="val => val.value" :clearable="true" input-id="user-is-confined-space" />
                    </b-form-group>
                </b-col>

                <!-- Field: Status -->
                <b-col cols="12" md="4">
                  <validation-provider #default="validationContext" name="User Status" rules="required">
                    <b-form-group :state="getValidationState(validationContext)">
                      <label>Status <span class="text-danger">*</span></label>
                      <v-select v-model="userData.status" :dir="$store.state.appConfig.isRTL ? 'rtl' : 'ltr'"
                        :options="statusOptions" :reduce="val => val.value" :clearable="true" input-id="user-status"
                        />
                      <b-form-invalid-feedback :state="getValidationState(validationContext)">
                        {{ validationContext.errors[0] }}
                      </b-form-invalid-feedback>
                    </b-form-group>
                  </validation-provider>
                </b-col>

              </b-row>
            </div>
            <!-- END :: User Basic Information -->

            <!-- START :: User Personal Information -->
            <div class="mt-2 pt-75">
              <!-- Header: Address Info -->
              <div class="d-flex">
                <feather-icon icon="MapPinIcon" size="19" />
                <h4 class="mb-0 ml-50">
                  Address
                </h4>
              </div>

              <!-- Form: Address Information -->
              <b-row class="mt-1">

                <!-- Field: Street -->
                <b-col cols="12" md="6" lg="4">
                  <validation-provider #default="validationContext" name="Street" rules="required">
                    <b-form-group>
                      <label>Street <span class="text-danger">*</span></label>
                      <b-form-input id="street" v-model="userData.street" :state="getValidationState(validationContext)"
                        trim />
                      <b-form-invalid-feedback>
                        {{ validationContext.errors[0] }}
                      </b-form-invalid-feedback>
                    </b-form-group>
                  </validation-provider>
                </b-col>

                <!-- Field: City -->
                <b-col cols="12" md="6" lg="4">
                  <validation-provider #default="validationContext" name="City" rules="required">
                    <b-form-group>
                      <label>City <span class="text-danger">*</span></label>
                      <b-form-input id="city" v-model="userData.city"
                        :state="getValidationState(validationContext)" trim />
                      <b-form-invalid-feedback>
                        {{ validationContext.errors[0] }}
                      </b-form-invalid-feedback>
                    </b-form-group>
                  </validation-provider>
                </b-col>

                <!-- Field: State -->
                <b-col cols="12" md="6" lg="4">
                  <validation-provider #default="validationContext" name="State" rules="required">
                    <b-form-group>
                      <label>State <span class="text-danger">*</span></label>
                      <b-form-input id="state" v-model="userData.state"
                        :state="getValidationState(validationContext)" trim />
                      <b-form-invalid-feedback>
                        {{ validationContext.errors[0] }}
                      </b-form-invalid-feedback>
                    </b-form-group>
                  </validation-provider>
                </b-col>

                <!-- Field: Country -->
                <b-col cols="12" md="6" lg="4">
                  <validation-provider #default="validationContext" name="Country" rules="required">
                    <b-form-group>
                      <label>Country <span class="text-danger">*</span></label>
                      <b-form-input id="country" v-model="userData.country"
                        :state="getValidationState(validationContext)" trim />
                      <b-form-invalid-feedback>
                        {{ validationContext.errors[0] }}
                      </b-form-invalid-feedback>
                    </b-form-group>
                  </validation-provider>
                </b-col>

                <!-- Field: Postcode -->
                <b-col cols="12" md="6" lg="4">
                  <validation-provider #default="validationContext" name="Postcode" rules="required">
                    <b-form-group>
                      <label>Postcode <span class="text-danger">*</span></label>
                      <b-form-input id="postcode" v-model="userData.postal_code"
                        :state="getValidationState(validationContext)" trim />
                      <b-form-invalid-feedback>
                        {{ validationContext.errors[0] }}
                      </b-form-invalid-feedback>
                    </b-form-group>
                  </validation-provider>
                </b-col>

                <!-- Field: Company Contact Number -->
                <b-col cols="12" md="6" lg="4">
                  <validation-provider #default="validationContext" name="Company Contact Number"
                    rules="required|isMobilePhone">
                    <b-form-group>
                      <label>Company Contact Number <span class="text-danger">*</span></label>
                      <b-form-input id="client_company_contact_no" v-model="userData.client_company_contact_no"
                        :state="getValidationState(validationContext)" trim />
                      <b-form-invalid-feedback>
                        {{ validationContext.errors[0] }}
                      </b-form-invalid-feedback>
                    </b-form-group>
                  </validation-provider>
                </b-col>
              </b-row>

              <!-- Header: Client Representative Info -->
              <div class="d-flex mt-2">
                <feather-icon icon="UserIcon" size="19" />
                <h4 class="mb-0 ml-50">
                  Client Representative
                </h4>
              </div>

              <!-- Form: Personal Info Form -->
              <b-row class="mt-1">
                <!-- Field: First Name -->
                <b-col cols="12" md="4">
                  <validation-provider #default="validationContext" name="First Name" rules="required|alpha">
                    <b-form-group>
                      <label>First Name <span class="text-danger">*</span></label>
                      <b-form-input id="first_name" v-model="userData.first_name"
                        :state="getValidationState(validationContext)" trim />
                      <b-form-invalid-feedback>
                        {{ validationContext.errors[0] }}
                      </b-form-invalid-feedback>
                    </b-form-group>
                  </validation-provider>
                </b-col>

                <!-- Field: Middle Name -->
                <b-col cols="12" md="4">
                  <validation-provider #default="validationContext" name="Middle Name" rules="alpha">
                    <b-form-group label="Middle Name" label-for="middle_name">
                      <b-form-input id="middle_name" v-model="userData.middle_name"
                        :state="getValidationState(validationContext)" trim />
                      <b-form-invalid-feedback>
                        {{ validationContext.errors[0] }}
                      </b-form-invalid-feedback>
                    </b-form-group>
                  </validation-provider>
                </b-col>

                <!-- Field: Last Name -->
                <b-col cols="12" md="4">
                  <validation-provider #default="validationContext" name="Last Name" rules="required|alpha">
                    <b-form-group>
                      <label>Last Name <span class="text-danger">*</span></label>
                      <b-form-input id="last_name" v-model="userData.last_name"
                        :state="getValidationState(validationContext)" trim />
                      <b-form-invalid-feedback>
                        {{ validationContext.errors[0] }}
                      </b-form-invalid-feedback>
                    </b-form-group>
                  </validation-provider>
                </b-col>

                <!-- Field: Email -->
                <b-col cols="12" md="4">
                  <validation-provider #default="validationContext" name="Email" rules="required|email">
                    <b-form-group>
                      <label>Email <span class="text-danger">*</span></label>
                      <b-form-input id="email" v-model="userData.email"
                        type="email" :state="getValidationState(validationContext)" trim />
                      <b-form-invalid-feedback>
                        {{ validationContext.errors[0] }}
                      </b-form-invalid-feedback>
                    </b-form-group>
                  </validation-provider>
                </b-col>

                <!-- Field: Contact Number -->
                <b-col cols="12" md="6" lg="4">
                  <validation-provider #default="validationContext" name="Contact Number" rules="required|isMobilePhone">
                    <b-form-group>
                      <label>Contact Number <span class="text-danger">*</span></label>
                      <b-form-input id="contact_number" v-model="userData.contact_number"
                        :state="getValidationState(validationContext)" trim />
                      <b-form-invalid-feedback>
                        {{ validationContext.errors[0] }}
                      </b-form-invalid-feedback>
                    </b-form-group>
                  </validation-provider>
                </b-col>

                <!-- Field: Representative Position -->
                <b-col cols="12" md="4">
                  <validation-provider #default="validationContext" name="Representative Position" rules="required">
                    <b-form-group>
                      <label>Representative Position <span class="text-danger">*</span></label>
                      <b-form-input id="client_representative_position"
                        v-model="userData.client_representative_position" :state="getValidationState(validationContext)"
                        trim />
                      <b-form-invalid-feedback>
                        {{ validationContext.errors[0] }}
                      </b-form-invalid-feedback>
                    </b-form-group>
                  </validation-provider>
                </b-col>

                <!-- Field: User Avatar -->
                <b-col cols="12" md="6" lg="4">
                  <b-form-group label="User Avatar (Optional)" label-for="avatar">
                    <b-form-file v-model="userData.avatar" id="avatar" accept="image/*" @change="onAvatarFileChange"
                      trim />
                  </b-form-group>
                </b-col>

                <!-- Field: Company ID -->
                <b-col cols="12" md="4">
                  <validation-provider #default="validationContext" name="Company" rules="required">
                      <b-form-group :state="getValidationState(validationContext)">
                          <label>Company <span class="text-danger">*</span></label>
                          <v-select v-model="userData.company_id" :dir="$store.state.appConfig.isRTL ? 'rtl' : 'ltr'"
                          :options="defaultCategoryList" :reduce="val => val.value" :clearable="true"
                          input-id="company_id" placeholder="Select Company or Search Companies" :disabled='viewMode' />
                          <b-form-invalid-feedback :state="getValidationState(validationContext)">
                          {{ validationContext.errors[0] }}
                          </b-form-invalid-feedback>
                      </b-form-group>
                  </validation-provider>

                </b-col>

              </b-row>

              <!-- START: Categories Access -->
              <div class="d-flex mt-2" v-if="defaultCategoryList.length > 0">
                <feather-icon icon="UserIcon" size="19" />
                <h4 class="mb-0 ml-50">
                  Clone Categories
                </h4>
              </div>

              <b-row class="mt-1" v-if="defaultCategoryList.length > 0">
                <b-col md="12">
                  <b-form-group>
                    <b-form-checkbox v-model="allSelected" :indeterminate="indeterminate"
                      aria-describedby="defaultCategoryList" aria-controls="defaultCategoryList" @change="toggleAll">
                      {{ allSelected ? 'Un-select All' : 'Select All' }}
                    </b-form-checkbox>
                  </b-form-group>

                  <b-form-group v-for="option in defaultCategoryList" :key="option.value">
                    <b-form-checkbox v-model="userData.categorySelected" :value="option.value" name="cloneCategory">
                      {{ option.label }}
                    </b-form-checkbox>
                  </b-form-group>
                </b-col>
              </b-row>
              <!-- END: Categories Access -->


            </div>
            <!-- END :: Address Information -->

            <!-- Action Buttons -->
            <b-row class="mt-2">
              <b-col>
                <b-button variant="primary" class="mb-1 mb-sm-0 mr-0 mr-sm-1"
                  :block="$store.getters['app/currentBreakPoint'] === 'xs'" @click="submitNewUser">
                  Save
                </b-button>
                <b-button type=button @click.prevent="onCancel">
                  Cancel
                </b-button>
              </b-col>
            </b-row>
          </b-form>
        </validation-observer>
      </div>
    </div>
  </template>

  <script>
  import {
    BButton,
    BMedia,
    BAvatar,
    BRow,
    BCol,
    BFormGroup,
    BFormInput,
    BFormRadioGroup,
    BForm,
    BTable,
    BCard,
    BCardHeader,
    BCardTitle,
    BFormCheckbox,
    BFormInvalidFeedback,
    BFormFile,
  } from 'bootstrap-vue'

  import { ValidationProvider, ValidationObserver } from 'vee-validate'
  import { required, alpha, email, isMobilePhone } from '@validations'
  import formValidation from '@core/comp-functions/forms/form-validation'
  import vSelect from 'vue-select'
  import flatPickr from 'vue-flatpickr-component'
  import ToastificationContent from '@core/components/toastification/ToastificationContent.vue'

  import { mapActions, mapGetters } from 'vuex';
  import UserServices from "@/services/userServices";
  import BaseMixins from "@/mixins/BaseMixins";
  import ErrorMessage from '@/views/error/ErrorMessage'

  export default {
    mixins: [BaseMixins],
    components: {
      BButton,
      BMedia,
      BAvatar,
      BRow,
      BCol,
      BFormGroup,
      BFormInput,
      BForm,
      BTable,
      BCard,
      BCardHeader,
      BCardTitle,
      BFormCheckbox,
      BFormInvalidFeedback,
      vSelect,
      BFormRadioGroup,
      BFormFile,

      // Date picker
      flatPickr,

      // Form Validation
      ValidationProvider,
      ValidationObserver,

      ErrorMessage,
    },
    data() {

      const userData = {
        avatar: [],
        client_company_logo: [],
        client_company_name: '',
        client_abn: '',
        client_company_website: '',
        role: 'Admin',
        is_confined_space: 'N',
        status: 'Y',
        street: '',
        city: '',
        state: '',
        country: '',
        postal_code: '',
        client_company_contact_no: '',
        first_name: '',
        middle_name: '',
        last_name: '',
        email: '',
        contact_number: '',
        client_representative_position: '',
        categorySelected: [],
      }

      const { refFormObserver, getValidationState } = formValidation(userData)

      return {
        // Validation
        required,
        alpha,
        email,
        isMobilePhone,

        refFormObserver,
        getValidationState,

        userData,
        allSelected: false,
        indeterminate: false,
      };
    },
    mounted() {
      this.getDefaultCategoryList();
    },
    computed: {
      // Get state variables
      ...mapGetters('category', ['defaultCategoryList']),
    },
    methods: {
      // Call store action
      ...mapActions("category", ['getDefaultCategoryList']),

      onCancel() {
        this.$router.push({ name: 'admin-client-list' });
      },
      onLogoFileChange(event) {
        this.userData.client_company_logo = event.target.files[0];
      },
      onAvatarFileChange(event) {
        this.userData.avatar = event.target.files[0];
      },
      // Submit user data
      submitNewUser() {
        this.$refs.newUserFormObserver.validate().then(success => {
          if (success) {
            const config = {
              headers: {
                'content-type': 'multipart/form-data'
              }
            }
            let formData = new FormData();

            // Set data in form
            for (const [key, value] of Object.entries(this.userData)) {
              formData.append(key, value);
            }

            // check validation
            UserServices.storeNewUser(formData, config).then(response => {
              if (response.status === true || response.status == 'true') {

                this.$router.push({ name: 'admin-client-list' })

                this.$toast({
                  component: ToastificationContent,
                  position: 'top-right',
                  props: {
                    title: `Notification`,
                    icon: 'CheckIcon',
                    variant: 'success',
                    text: `You have successfully added new client user.`,
                  },
                })
              } else {
                this.moveUp();
              }
              return Promise.resolve(response);
            });
          }
          else {
            this.moveUp();
          }
        })
      },
      toggleAll(checked) {
        let tempSelected = [];
        for (const key in this.defaultCategoryList) {
          if (Object.hasOwnProperty.call(this.defaultCategoryList, key)) {
            const element = this.defaultCategoryList[key];
            tempSelected.push(element.value);
          }
        }

        this.userData.categorySelected = checked ? tempSelected : [];
      },
    },
    watch: {
      'userData.categorySelected': function (newValue, oldValue){
        // Handle changes in individual flavour checkboxes
        if (newValue.length === 0) {
          this.indeterminate = false
          this.allSelected = false
        } else if (newValue.length === this.defaultCategoryList.length) {
          this.indeterminate = false
          this.allSelected = true
        } else {
          this.indeterminate = true
          this.allSelected = false
        }
      }
    }

  }
  </script>

  <style lang="scss">
  @import '~@resources/scss/vue/libs/vue-select.scss';
  @import '~@resources/scss/vue/libs/vue-flatpicker.scss';
  </style>

