<template>
  <!-- modal create-->
  <b-modal id="modal-create" cancel-variant="outline-secondary" ok-title="Add to New Template" cancel-title="Close"
    centered :title="modalButtonName + ' Template'" hide-footer header-class="justify-content-center"
    @hide="closeModal" :no-close-on-backdrop="true">
    <!-- Alert - Server side error -->
    <error-message></error-message>
    <validation-observer ref="templateFormObserver">
      <b-form>
        <b-row>
          <b-col md="12">
            <b-form-group>
              <validation-provider #default="validationContext" name="Template Name" rules="required">
                <b-form-group>
                  <label>Template Name <span class="text-danger">*</span></label>
                  <b-form-input id="template_name" placeholder="Registration Form"
                    v-model="defaultTemplate.template_name" :state="getValidationState(validationContext)" trim
                    :disabled="viewMode" />
                  <b-form-invalid-feedback>
                    {{ validationContext.errors[0] }}
                  </b-form-invalid-feedback>
                </b-form-group>
              </validation-provider>
            </b-form-group>
          </b-col>
          <b-col md="12">
            <b-form-group>
              <label>Template Description</label>
              <b-form-textarea v-model="defaultTemplate.template_description" placeholder="Description" rows="3"
                :disabled="viewMode" />
            </b-form-group>
          </b-col>
          <b-col md="12">
            <b-form-group class="change-status">
              <label>Active</label>
              <validation-provider #default="{ errors }" name="Active" vid="Active">
                <b-form-checkbox checked="true" name="check-button" v-model="defaultTemplate.template_status" switch
                  :state="errors.length > 0 ? false : null" inline :disabled="viewMode">
                </b-form-checkbox>
                <small class="text-danger">{{ errors[0] }}</small>
              </validation-provider>
            </b-form-group>
          </b-col>
          <!-- submit button -->
          <b-col offset-md="4">
            <b-button variant="primary" @click.prevent="submitTemplate" v-if="!viewMode">{{ modalButtonName }}
            </b-button>
            <b-button v-ripple.400="'rgba(186, 191, 199, 0.15)'" variant="outline-secondary"
              @click.prevent="closeModal()">
              Cancel
            </b-button>
          </b-col>
        </b-row>
      </b-form>
    </validation-observer>
  </b-modal>
</template>

<script>
import {
  BModal,
  VBModal,
  BRow,
  BCol,
  BButton,
  BForm,
  BFormGroup,
  BFormInput,
  BFormTextarea,
  BFormCheckbox,
  BFormInvalidFeedback,
} from "bootstrap-vue";
import { ValidationProvider, ValidationObserver } from "vee-validate";
import { required, alpha, email } from "@validations";
import formValidation from "@core/comp-functions/forms/form-validation";
import Ripple from "vue-ripple-directive";
import ErrorMessage from "@/views/error/ErrorMessage";
import { mapActions, mapGetters } from "vuex";
import ToastificationContent from "@core/components/toastification/ToastificationContent.vue";
import store from "@/store/index";

export default {
  components: {
    BModal,
    VBModal,
    BRow,
    BCol,
    BButton,
    BForm,
    BFormGroup,
    BFormInput,
    BFormTextarea,
    BFormCheckbox,
    BFormInvalidFeedback,

    // Form Validation
    ValidationProvider,
    ValidationObserver,

    ErrorMessage,
  },
  directives: {
    "b-modal": VBModal,
    Ripple,
  },
  data() {
    const { refFormObserver, getValidationState } = formValidation(this.defaultTemplate);

    return {
      refFormObserver,
      getValidationState,
      required,
      template: {
        template_id: "",
        template_name: "",
        template_description: "",
        template_is_default: "Y",
        template_status: "Y",
        created_by: "",
      },
    };
  },
  props: ['perPage', 'page'],
  computed: {
    // Get state variables
    ...mapGetters("template", [
      "modalButtonName",
      "defaultTemplate",
      "editMode",
      "viewMode",
    ]),
  },
  methods: {
    ...mapActions("template", ["saveTemplate", "updateTemplate"]),
    closeModal() {
      this.$bvModal.hide("modal-create");
    },
    // Submit template data
    submitTemplate() {
      this.$refs.templateFormObserver.validate().then((success) => {
        if (success) {
          if (this.modalButtonName == "Update" && this.editMode) {
            this.updateTemplate(this.defaultTemplate).then((response) => {
              if (response.status === true || response.status == "true") {
                this.closeModal();

                store.dispatch("template/getAllTemplate", {
                  perPage: this.perPage,
                  sortBy: "template_id",
                  sortDesc: "true",
                  page: this.page,
                  templateIsDefault: "Y",
                });

                this.$toast({
                  component: ToastificationContent,
                  position: "top-right",
                  props: {
                    icon: "CheckIcon",
                    title: `Notification`,
                    variant: "success",
                    text: response.message,
                  },
                });
              }
              return Promise.resolve(response);
            });
          } else {
            // check validation
            this.saveTemplate(this.defaultTemplate).then((response) => {
              if (response.status === true || response.status == "true") {
                // Close modal and reset data
                this.closeModal();

                this.$toast({
                  component: ToastificationContent,
                  position: "top-right",
                  props: {
                    icon: "CheckIcon",
                    title: `Notification`,
                    variant: "success",
                    text: response.message,
                  },
                });
              } else {
                //this.moveUp();
              }
              return Promise.resolve(response);
            });
          }
        } else {
          //this.moveUp();
        }
      });
    },
  },
};
</script>

<style lang="scss">

</style>
