<template>

<!-- Generator: Adobe Illustrator 26.0.3, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 38 38" style="enable-background:new 0 0 38 38;" xml:space="preserve">

<g>
	<g>
		<path class="st0" d="M19,37C9.07,37,1,28.93,1,19S9.07,1,19,1s18,8.07,18,18S28.93,37,19,37z M19,3.09
			C10.23,3.09,3.09,10.23,3.09,19c0,8.77,7.14,15.91,15.91,15.91c8.77,0,15.91-7.14,15.91-15.91C34.91,10.23,27.77,3.09,19,3.09z"/>
	</g>
	<g>
		<path class="st0" d="M16.84,18.92c0.32,0.35,0.58,0.77,0.77,1.26c0.19,0.49,0.31,1.05,0.35,1.7c-0.21,2.71-1.57,4.07-4.09,4.07
			H5.72V23.5h8.16c0.99,0,1.53-0.54,1.64-1.61c-0.12-1.11-0.66-1.66-1.64-1.66H9.39c-2.54,0-3.9-1.36-4.09-4.07
			c0.12-1.28,0.49-2.26,1.13-2.94c0.37-0.38,0.79-0.67,1.27-0.87c0.48-0.2,1.04-0.3,1.69-0.3h8.16v2.48H9.39
			c-1,0-1.55,0.55-1.64,1.64c0.09,1.08,0.63,1.61,1.64,1.61h4.49C15.13,17.77,16.12,18.16,16.84,18.92z"/>
		<path class="st0" d="M28.48,22.7h-7.01c-0.25,0.52-0.51,1.06-0.79,1.63c-0.27,0.57-0.52,1.11-0.74,1.63h-2.68l6.44-13.91h2.57
			l6.44,13.91H30L28.48,22.7z M27.35,20.23c-0.22-0.46-0.43-0.89-0.62-1.29c-0.19-0.41-0.38-0.81-0.56-1.23
			c-0.18-0.41-0.38-0.83-0.57-1.26c-0.2-0.43-0.41-0.88-0.63-1.37c-0.4,0.87-0.79,1.72-1.17,2.54c-0.38,0.83-0.79,1.7-1.22,2.61
			H27.35z"/>
	</g>
</g>
</svg>

</template>
