<template>
  <div>

    <!-- START :: Client User Information -->
    <div class="pt-75">



      <!-- START :: Client Representative Info -->
      <!-- Header: Client Representative Info -->
      <div class="d-flex mt-2">
        <feather-icon icon="UserIcon" size="19" />
        <h4 class="mb-0 ml-50">
          Client Representative
        </h4>
      </div>

      <!-- Header: Client Representative Info -->
      <b-row class="mt-3">
        <b-col cols="12">
          <!-- Media -->
          <b-media class="mb-2">
            <template #aside>
              <b-avatar ref="previewEl" :src="userWithCompanyData.avatar" :text="avatarText(userWithCompanyData.full_name)"
                :variant="`light-${resolveUserRoleVariant(userWithCompanyData.role)}`" size="90px" rounded />
            </template>
            <h4 class="mt-2">
              {{ userWithCompanyData.full_name }}
            </h4>
          </b-media>
        </b-col>
      </b-row>
      <b-row class="mt-1">
        <!-- Field: First Name -->
        <b-col cols="12" md="4">
          <validation-provider #default="validationContext" name="First Name" rules="required|alpha">
            <b-form-group label="First Name" label-for="first_name">
              <b-form-input id="first_name" placeholder="Jone" v-model="userWithCompanyData.first_name"
                :state="getValidationState(validationContext)" trim disabled />
              <b-form-invalid-feedback>
                {{ validationContext.errors[0] }}
              </b-form-invalid-feedback>
            </b-form-group>
          </validation-provider>
        </b-col>

        <!-- Field: Middle Name -->
        <b-col cols="12" md="4">
          <validation-provider #default="validationContext" name="Middle Name" rules="alpha">
            <b-form-group label="Middle Name" label-for="middle_name">
              <b-form-input id="middle_name" v-model="userWithCompanyData.middle_name"
                :state="getValidationState(validationContext)" trim disabled />
              <b-form-invalid-feedback>
                {{ validationContext.errors[0] }}
              </b-form-invalid-feedback>
            </b-form-group>
          </validation-provider>
        </b-col>

        <!-- Field: Last Name -->
        <b-col cols="12" md="4">
          <validation-provider #default="validationContext" name="Last Name" rules="required|alpha">
            <b-form-group label="Last Name" label-for="last_name">
              <b-form-input id="last_name" placeholder="Watson" v-model="userWithCompanyData.last_name"
                :state="getValidationState(validationContext)" trim disabled />
              <b-form-invalid-feedback>
                {{ validationContext.errors[0] }}
              </b-form-invalid-feedback>
            </b-form-group>
          </validation-provider>
        </b-col>

        <!-- Field: Email -->
        <b-col cols="12" md="4">
          <validation-provider #default="validationContext" name="Email" rules="required|email">
            <b-form-group label="Email" label-for="email">
              <b-form-input id="email" placeholder="felicia.reid@example.com" v-model="userWithCompanyData.email" type="email"
                :state="getValidationState(validationContext)" trim disabled />
              <b-form-invalid-feedback>
                {{ validationContext.errors[0] }}
              </b-form-invalid-feedback>
            </b-form-group>
          </validation-provider>
        </b-col>

        <!-- Field: Contact Number -->
        <b-col cols="12" md="6" lg="4">
          <validation-provider #default="validationContext" name="Contact Number" rules="required|integer">
            <b-form-group label="Contact Number" label-for="contact_number">
              <b-form-input id="contact_number" v-model="userWithCompanyData.contact_number"
                :state="getValidationState(validationContext)" trim disabled />
              <b-form-invalid-feedback>
                {{ validationContext.errors[0] }}
              </b-form-invalid-feedback>
            </b-form-group>
          </validation-provider>
        </b-col>

        <!-- Field: Representative Position -->
        <b-col cols="12" md="4">
          <validation-provider #default="validationContext" name="Representative Position" rules="required">
            <b-form-group label="Representative Position" label-for="client_representative_position">
              <b-form-input id="client_representative_position" placeholder="CEO"
                v-model="userWithCompanyData.client_representative_position" :state="getValidationState(validationContext)" trim
                disabled />
              <b-form-invalid-feedback>
                {{ validationContext.errors[0] }}
              </b-form-invalid-feedback>
            </b-form-group>
          </validation-provider>
        </b-col>
      </b-row>
      <!-- END :: Client Representative Info -->

    </div>
    <!-- END :: Client User Information -->
  </div>
</template>

<script>
import { BMedia, BAvatar, BRow, BCol, BForm, BFormGroup, BFormInput, BFormRadioGroup, BFormCheckboxGroup, BFormInvalidFeedback, BButton } from 'bootstrap-vue'
import { ValidationProvider, ValidationObserver } from 'vee-validate'
import { required, alpha, email } from '@validations'
import formValidation from '@core/comp-functions/forms/form-validation'
import flatPickr from 'vue-flatpickr-component'
import vSelect from 'vue-select'
import { mapGetters } from 'vuex';
import BaseMixins from "@/mixins/BaseMixins";
import { avatarText } from '@core/utils/filter'


export default {
  mixins: [BaseMixins],
  components: {
    BMedia,
    BAvatar,
    BRow,
    BCol,
    BForm,
    BFormGroup,
    flatPickr,
    BFormInput,
    vSelect,
    BFormRadioGroup,
    BFormCheckboxGroup,
    BFormInvalidFeedback,
    BButton,

    // Form Validation
    ValidationProvider,
    ValidationObserver,
  },

  data() {
    const { refFormObserver, getValidationState } = formValidation(this.userData)

    return {
      // Validation
      required,
      alpha,
      email,
      avatarText,

      refFormObserver,
      getValidationState,
    }
  },
  computed: {
    // Get state variables
    ...mapGetters('user',
      [
        'userData', // Get user
        'userWithCompanyData'
      ]
    ),
  },
}
</script>

<style lang="scss">
@import '~@resources/scss/vue/libs/vue-flatpicker.scss';
</style>
