<template>

  <component :is="(userWithCompanyData === undefined) ? 'div' : 'b-card'">

    <!-- Alert: No item found -->
    <b-alert variant="danger" :show="(userWithCompanyData === undefined)">
      <h4 class="alert-heading">
        Error fetching user data
      </h4>
      <div class="alert-body">
        No user found with this user id. Check
        <b-link class="alert-link" :to="{ name: 'apps-users-list'}">
          User List
        </b-link>
        for other users.
      </div>
    </b-alert>

    <validation-observer #default="{ handleSubmit }" ref="editUserFormObserver">
      <b-form>
        <b-tabs v-if="userWithCompanyData" pills>

          <!-- Tab: Account -->
          <b-tab active>
            <template #title>
              <feather-icon icon="UserIcon" size="16" class="mr-0 mr-sm-50" />
              <span class="d-none d-sm-inline">Account</span>
            </template>
            <client-view-tab-account class="mt-2 pt-75" />
          </b-tab>

          <!-- Tab: Information -->
          <b-tab>
            <template #title>
              <feather-icon icon="InfoIcon" size="16" class="mr-0 mr-sm-50" />
              <span class="d-none d-sm-inline">Information</span>
            </template>
            <client-view-tab-information class="mt-2 pt-75" />
          </b-tab>

          <!-- Tab: Category Access -->
          <b-tab>
            <template #title>
              <feather-icon icon="LayersIcon" size="16" class="mr-0 mr-sm-50" />
              <span class="d-none d-sm-inline">Category Access</span>
            </template>
            <client-view-tab-category-access class="mt-2 pt-75" />
          </b-tab>

          <b-row class="mt-2">
            <b-col>
              <!-- Action Buttons -->
              <b-button variant="outline-secondary" type="reset"
                :block="$store.getters['app/currentBreakPoint'] === 'xs'" @click="onCancel">
                Cancel
              </b-button>
            </b-col>
          </b-row>

        </b-tabs>
      </b-form>
    </validation-observer>
  </component>
</template>

<script>
import {
  BTab, BTabs, BCard, BAlert, BLink, BRow, BCol, BButton, BForm
} from 'bootstrap-vue'
import router from '@/router'
import ClientViewTabAccount from './ClientViewTabAccount.vue'
import ClientViewTabInformation from './ClientViewTabInformation.vue'
import ClientViewTabCategoryAccess from './ClientViewTabCategoryAccess.vue'

import { ValidationProvider, ValidationObserver } from 'vee-validate'
import { mapActions, mapGetters } from 'vuex';

export default {
  components: {
    BTab,
    BTabs,
    BCard,
    BAlert,
    BLink,
    BRow,
    BCol,
    BButton,
    BForm,

    ClientViewTabAccount,
    ClientViewTabInformation,
    ClientViewTabCategoryAccess,

    // Form Validation
    ValidationProvider,
    ValidationObserver,
  },
  mounted() {
    this.getUserWithCompanyData(router.currentRoute.params.id);
  },
  computed: {
    // Get state variables
    ...mapGetters('user',
      [
        'userData', // Get all admin users
        'userWithCompanyData',
      ]
    ),
  },
  methods: {
    // Action call for set state variables
    ...mapActions('user',
      [
        'getUserWithCompanyData', // Get all admin users
      ]
    ),
    // When Cancel button click
    onCancel() {
      this.$router.push({ name: 'admin-client-list' });
    },
    // move to top
    moveUp() {
      window.scrollTo(0, 0);
    }
  }
}
</script>

<style>

</style>
