<template>
    <div class="navbar-container d-flex content align-items-center">

        <!-- Nav Menu Toggler -->
        <ul class="nav navbar-nav d-xl-none">
            <li class="nav-item">
                <b-link class="nav-link" @click="toggleVerticalMenuActive">
                    <feather-icon icon="MenuIcon" size="21" />
                </b-link>
            </li>
        </ul>

        <!-- Left Col -->
        <div class="bookmark-wrapper align-items-center flex-grow-1 d-none d-lg-flex">
            <!-- <dark-Toggler class="d-none d-lg-block" /> -->
        </div>

        <div class="top-main-details">
            <div class="top-filters-sec">
                <!-- Site SubSite Go button -->
                <site-subsite-filter v-if="userData.role == 'User'" />
                <!-- <site-subsite-filter v-if="userData.role == 'User' && $route.name == 'category-module'" /> -->
            </div>

            <div class="top-profile-block">
                <b-navbar-nav class="nav align-items-center justify-content-end">
                    <b-nav-item-dropdown right toggle-class="d-flex align-items-center dropdown-user-link"
                        class="dropdown-user">
                        <template #button-content>
                            <div class="d-sm-flex d-none user-nav">
                                <p class="user-name font-weight-bolder mb-0">
                                    {{ userFullName }}
                                </p>
                                <span class="user-status">{{ userData.role }}</span>
                            </div>
                            <b-avatar size="40" variant="light-primary" badge :text="avatarText(userData.fullName)"
                                :src="userAvatar" class="badge-minimal" badge-variant="success" />
                        </template>

                        <b-dropdown-item link-class="d-flex align-items-center" :to="{ name: getMyProfileRouteName() }">
                            <feather-icon size="16" icon="UserIcon" class="mr-50" />
                            <span>Profile</span>
                        </b-dropdown-item>

                        <b-dropdown-divider v-if="userData.role == 'User'" />
                        <b-dropdown-item v-if="userData.role == 'User'" link-class="d-flex align-items-center" href="https://www.smartassettag.com.au/support-portal" target="_blank">
                            <feather-icon size="16" icon="MessageCircleIcon" class="mr-50" />
                            <span>Support</span>
                        </b-dropdown-item>

                        <b-dropdown-divider />

                        <b-dropdown-item link-class="d-flex align-items-center" @click="logoutUser">
                            <feather-icon size="16" icon="LogOutIcon" class="mr-50" />
                            <span>Logout</span>
                        </b-dropdown-item>
                    </b-nav-item-dropdown>
                </b-navbar-nav>
            </div>
        </div>
    </div>
</template>

<script>
import {
    BLink, BNavbarNav, BNavItemDropdown, BDropdownItem, BDropdownDivider, BAvatar,
} from 'bootstrap-vue'
import DarkToggler from '@core/layouts/components/app-navbar/components/DarkToggler.vue'
import { mapActions, mapGetters } from "vuex";
import { initialAbility } from '@/libs/acl/config'
import useJwt from '@/auth/jwt/useJwt'
import { getUserData } from '@/auth/utils'
import { avatarText } from '@core/utils/filter'
import BaseMixins from "../../mixins/BaseMixins";
import store from '@/store'
// import SiteSubsiteFilter from '@/views/site-manager/SiteSubsiteFilter.vue'
import SiteSubsiteFilter from '../../views/site-manager/SiteSubSiteFilter.vue'

export default {
    components: {
        BLink,
        BNavbarNav,
        BNavItemDropdown,
        BDropdownItem,
        BDropdownDivider,
        BAvatar,

        // Navbar Components
        DarkToggler,

        // Site SubSite Filter
        SiteSubsiteFilter
    },
    mixins: [BaseMixins],
    props: {
        toggleVerticalMenuActive: {
            type: Function,
            default: () => { },
        },
    },
    computed: {
        ...mapGetters("auth", [
            'userAvatar',
            'userFullName'
        ])
    },
    methods: {
        ...mapActions("auth", [
            "logout",
        ]),

        logoutUser() {
            this.logout().then((response) => {
                if (response.status == 200 || response.status === true) {

                    // Remove userData from localStorage
                    // ? You just removed token from localStorage. If you like, you can also make API call to backend to blacklist used token
                    localStorage.removeItem(useJwt.jwtConfig.storageTokenKeyName)
                    localStorage.removeItem(useJwt.jwtConfig.storageRefreshTokenKeyName)

                    // Remove userData from localStorage
                    localStorage.removeItem('userData')

                    // Remove client logo if set
                    store.commit('auth/UPDATE_USER_AVATAR', '');

                    // Reset ability
                    this.$ability.update(initialAbility)

                    // Reset custom conflict
                    store.dispatch('app/clearGlobalConfig');

                    // Redirect to login page
                    this.$router.push({ name: 'auth-login' })

                    // Success Message
                    this.showToast('Notification', 'CheckIcon', 'success', response.message);
                }
            });
        },

        getMyProfileRouteName() {
            if (this.userData.role == 'Super Admin') {
                return 'super-admin-myProfile';
            } else if (this.userData.role == 'Admin') {
                return 'client-admin-myProfile';
            } else if (this.userData.role == 'User') {
                return 'site-manager-myProfile';
            }
        }
    },
    data() {
        const userData = getUserData();

        return {
            userData,
            avatarText
        }
    }

}
</script>
