<template>
    <div class="dashboard-main-wrapper">
        <!-- Top Filter Component -->
        <top-filter />
        <!-- Asset Summary Component -->
        <asset-summary />

        <b-card>
            <b-row class="match-height">
                <!-- Card for Current Inspection Compliance -->
                <current-inspection-compliance />
                <!-- Card for Last Inspection -->
                <last-inspection />
                <!-- Card for Last Registered Asset -->
                <last-registered-asset />
                <!-- Card for Last Failed Asset -->
                <last-failed-asset />
            </b-row>
        </b-card>

        <b-card class="text-center dashboard-info-card-outer-wrapper" v-if="authUserData.role!=='User'">
            <first-row v-if="authUserData.role==='Super Admin'" />
            <other-row />
        </b-card>
    </div>
</template>
<script>
import BaseMixins from '@/mixins/BaseMixins'
import TopFilter from './TopFilter.vue'
import AssetSummary from './AssetSummary.vue'
import CurrentInspectionCompliance from './CurrentInspectionCompliance.vue'
import LastInspection from './LastInspection.vue'
import LastRegisteredAsset from './LastRegisteredAsset.vue'
import LastFailedAsset from './LastFailedAsset.vue'
import FirstRow from './more-info-card/FirstRow.vue'
import OtherRow from './more-info-card/OtherRow.vue'
import { BCard, BRow } from 'bootstrap-vue'
import { mapGetters } from 'vuex'
export default {
    mixins: [BaseMixins],
    components: {
        TopFilter,
        AssetSummary,
        CurrentInspectionCompliance,
        LastInspection,
        LastRegisteredAsset,
        LastFailedAsset,
        FirstRow,
        OtherRow,
        BCard,
        BRow,
    },
    computed: {
        ...mapGetters('auth', ['authUserData'])
    }
}
</script>
