<template>
    <b-col md="6">
        <b-card no-body class="bg-light p-0 m-0 mb-2">
            <b-card-body v-if="Object.keys(lastFailedAsset).length !== 0">
                <b-row>
                    <!-- Heading -->
                    <b-col md="12" class="mb-2 test-dark">
                        <h3>Last Failed Asset : <span class="text-primary">{{ locationName }} / {{ areaName }}</span>
                        </h3>
                    </b-col>
                    <b-col md="4" sm="6" class="mb-2 test-dark dashboard-asset-card-calendar">
                        <p><feather-icon icon="CalendarIcon" size="24" /> </p>
                        <h6>
                            <p>{{ lastFailedAsset.date }}</p>
                            <p>{{ lastFailedAsset.time }}</p>
                        </h6>
                    </b-col>
                    <b-col md="3" sm="6" class="mb-2 test-dark">
                        <p class="text-primary">Asset ID:</p>
                        <p>{{ lastFailedAsset.asset_uid }}</p>
                    </b-col>
                    <b-col md="2" sm="6" class="mb-2 test-dark last-inspection-status">
                        <p class="text-primary ">Status:</p>
                        <b-badge class="status-badge-wrapper " variant="danger" v-if="lastFailedAsset.status === 'fail'">
                            Fail
                        </b-badge>
                        <b-badge class="status-badge-wrapper" variant="success" v-else-if="lastFailedAsset.status === 'pass'">
                            Pass
                        </b-badge>
                        <b-badge class="status-badge-wrapper" variant="warning" v-else-if="lastFailedAsset.status === 'maintenance_required'">
                            Maintenance Required
                        </b-badge>
                        <b-badge class="status-badge-wrapper" variant="secondary" v-else>
                            Inspection Due
                        </b-badge>
                    </b-col>
                    <b-col md="3" sm="6" class="mb-2 test-primary">
                        <b-button class="text-primary view-asset-btn" size="sm" variant="white" @click="setBackURL({fromDashboard: true}); goToDashboardAssetDetail(authUserData.role, {id: lastFailedAsset.asset_id })">
                            <p class="text-primary mr-25 align-middle">View Asset Info</p>
                            <feather-icon icon="EyeIcon" size="20" />
                        </b-button>
                    </b-col>
                </b-row>
                <b-row class="match-height">
                    <b-col md="6">
                        <p class="text-primary">Location to Map:</p>
                        <p v-if="!lastFailedAsset.latitude">Pending</p>
                        <GmapMap v-else
                            :center="{ lat: parseFloat(lastFailedAsset.latitude), lng: parseFloat(lastFailedAsset.longitude) }"
                            :zoom="14" map-type-id="terrain" style="width: 100%; height: 300px">
                            <GmapMarker
                                :position="{ lat: parseFloat(lastFailedAsset.latitude), lng: parseFloat(lastFailedAsset.longitude) }"
                                :clickable="true" :draggable="false"
                                @click="center = { lat: parseFloat(lastFailedAsset.latitude), lng: parseFloat(lastFailedAsset.longitude) }" />
                        </GmapMap>
                    </b-col>
                    <b-col md="6">
                        <p class="text-primary">Last Inspection Photo:</p>
                        <b-img v-if="lastFailedAsset.last_inspection_photo" :src="lastFailedAsset.last_inspection_photo"
                            class="w-100"></b-img>
                        <p v-else>No Image Found!</p>
                    </b-col>
                </b-row>
            </b-card-body>
            <b-card-body v-else>
                <b-row>
                    <!-- Heading -->
                    <b-col md="12" class="mb-2 test-dark">
                        <h3>Last Failed Asset : <span class="text-primary">{{ locationName }} / {{ areaName }}</span>
                        </h3>
                    </b-col>
                    <b-col md="12" class="mb-2 test-dark text-center">
                        <p>No record found!</p>
                    </b-col>
                </b-row>
            </b-card-body>
        </b-card>
    </b-col>
</template>
<script>
import BaseMixins from '@/mixins/BaseMixins';
import { BCard, BCardBody, BRow, BCol, BButton, BBadge, BImg } from 'bootstrap-vue'
import { mapActions, mapGetters } from 'vuex'
export default {
    mixins: [BaseMixins],
    components: {
        BCard,
        BCardBody,
        BRow,
        BCol,
        BButton,
        BBadge,
        BImg,
    },
    computed: {
        ...mapGetters('dashboard', ['locationName', 'areaName', 'lastFailedAsset']),
        ...mapGetters('auth', ['authUserData']),
    },
    methods: {
        ...mapActions('assetDetail', ["setBackURL", 'getAssetDetails']),
    },
}
</script>
