<template>
    <!-- Top Filter Starts here -->
    <!-- <b-card class="filter-main-wrapper"> -->
    <b-card class="">
        <b-row class="p-0">
            <b-col md="12">
                <h5 class="text-primary text-wight">Dashboard Filter</h5>
            </b-col>
            <b-col class="filter-dropdown-wrapper" v-if="authUserData.role == 'Super Admin'">

                <v-select v-model="client" :dir="$store.state.appConfig.isRTL ? 'rtl' : 'ltr'" :clearable="false"
                    :options="clientOptions" class="w-100" :reduce="val => val.value"
                    @input="(val) => $emit('update:statusFilter', val)" placeholder="Please select client" />
            </b-col>
            <b-col class="filter-dropdown-wrapper">
                <v-select v-model="location" :dir="$store.state.appConfig.isRTL ? 'rtl' : 'ltr'" :clearable="false"
                    :options="filteredLocationOptions" class="w-100" :reduce="val => val.value"
                    :disabled="checkDisabled('location')" @input="(val) => $emit('update:statusFilter', val)"
                    placeholder="Please select location" />
            </b-col>
            <b-col>
                <v-select v-model="area" :dir="$store.state.appConfig.isRTL ? 'rtl' : 'ltr'" :clearable="false"
                    :options="filteredAreaOptions" class="w-100" :reduce="val => val.value"
                    :disabled="checkDisabled('area')" @input="(val) => $emit('update:statusFilter', val)"
                    placeholder="Please select area" />
            </b-col>
            <div class="col-12 col-sm responsive-search">
                <b-form-input placeholder="Search Global Asset" v-model="searchQuery" />
                <div class="search-input">
                    <vue-perfect-scrollbar :settings="perfectScrollbarSettings"
                        class="search-list search-list-main scroll-area overflow-hidden"
                        :class="{ 'show': searchQuery }" tagname="ul">
                        <li class="suggestions-groups-list" v-if="globalAssetSearch && globalAssetSearch.total > 0">
                            <ul>
                                <!-- Group Header -->
                                <p class="suggestion-group-title">
                                    <span>
                                        Asset List
                                    </span>
                                </p>
                                <li v-if="globalAssetSearch" class="suggestion-group-suggestion cursor-pointer"
                                    v-for="(asset, index) in globalAssetSearch.result">
                                    <b-link class="p-0" @click="setBackURL({fromDashboard: true}); viewAssetDetail(asset.asset_id)">
                                        <span class="align-middle">{{ asset.asset_uid +" > "+ asset.asset_module +" > "+ asset.asset_category +" > "+ asset.asset_sub_site_name+" > "+ asset.asset_site_name  }} </span>
                                    </b-link>
                                </li>
                            </ul>
                        </li>
                        <li v-if="globalAssetSearch.length == 0 && searchQuery"
                            class="suggestion-group-suggestion no-results">
                            <p>No Results Found.</p>
                        </li>
                    </vue-perfect-scrollbar>
                </div>
            </div>
        </b-row>
    </b-card>
    <!-- Top Filter Ends here -->
</template>
<script>
import BaseMixins from "@/mixins/BaseMixins.js";
import vSelect from 'vue-select'
import { BCard, BRow, BCol, BFormInput, BLink } from 'bootstrap-vue'
import { mapActions, mapGetters } from 'vuex'
import VuePerfectScrollbar from 'vue-perfect-scrollbar'
import store from '@/store'
// call callDashboardDataAction() method after every 5 seconds

export default {
    mixins: [BaseMixins],
    components: {
        vSelect,
        BCard,
        BRow,
        BCol,
        BFormInput,
        VuePerfectScrollbar,
        BLink
    },
    mounted() {
        // Clear search value
        this.searchQuery = '';
        store.commit('dashboard/UPDATE_GLOBAL_ASSET_SEARCH', []);
        // Get filter values from localstorage;     // commented for now
        // this.client = this.clientId;
        // this.location = this.locationId;
        // this.area = this.areaId;
        this.getFilterOptions();
        this.startDashboardTimer();
    },
    computed: {
        ...mapGetters('dashboard', ['clientOptions', 'locationOptions', 'areaOptions', 'globalAssetSearch', 'clientId', 'locationId', 'areaId']),
        ...mapGetters('auth', ['authUserData'])
    },
    data() {
        const perfectScrollbarSettings = {
            maxScrollbarLength: 60,
        }

        return {
            areaArr: [],
            company:null,
            client: null,
            location: null,
            area: null,
            previousValues: {
                company:null,
                client: null,
                location: null,
                area: null,
            },
            filteredLocationOptions: [],
            filteredAreaOptions: [],
            searchQuery: '',
            perfectScrollbarSettings
        }
    },
    methods: {
        ...mapActions('dashboard', ['getFilterOptions', 'setClientName', 'setLocationName', 'setAreaName', 'loadDashboardData', 'getGlobalAssetSearch']),
        ...mapActions('assetDetail', ["setBackURL"]),
        
        startDashboardTimer() {
            window.dashboardTimer = setInterval(() => {
                this.callDashboardDataAction(this.previousValues, true);
            }, 12000);
        },
        stopDashboardTimer() {
            if(window.dashboardTimer) {
                clearInterval(window.dashboardTimer);
            }
        },
        checkDisabled(type) {
            if (type == 'location') {
                if (this.authUserData.role == 'Super Admin' && this.client == 0) {
                    return true
                }
                return false;
            } else if (type == 'area') {
                if (this.authUserData.role == 'Super Admin' && this.client == 0) {
                    return true
                }
                if (this.location == 0) {
                    return true
                }
                return false;
            }
        },
        callDashboardDataAction(payload, callFromTimer = false) {
            // This will check the client location and area value with the previous value and if any one differ than the action will be called
            let selectedAreas = [];
            let flag = false;
            if (callFromTimer) {
                if (this.authUserData.role == 'Super Admin') {
                    if (this.client == 0) {
                        selectedAreas = this.areaOptions;
                    } else if (this.location == 0) {
                        selectedAreas = this.areaOptions.filter((area) => area.client == this.client);
                    } else if (this.area == 0) {
                        selectedAreas = this.areaOptions.filter((area) => area.client == this.client && area.location == this.location);
                    } else {
                        flag = true;
                        selectedAreas = [this.area];
                    }
                    if (!flag) {
                        selectedAreas = selectedAreas.map((area) => area.value);
                    }
                    this.areaArr = selectedAreas;
                    this.loadDashboardData({ areaArr: selectedAreas, clientId: this.client, locationId: this.location, areaId: this.area });
                } else {
                    if (this.client == 0 || this.company == 0) {
                        selectedAreas = this.areaOptions;
                    } else if (this.location == 0) {
                        selectedAreas = this.areaOptions.filter((area) => area.client == this.client);
                    } else if (this.area == 0) {
                        selectedAreas = this.areaOptions.filter((area) => area.client == this.client && area.location == this.location);
                    } else {
                        selectedAreas = [this.area];
                        flag = true;
                    }
                    if (!flag) {
                        selectedAreas = selectedAreas.map((area) => area.value);
                    }
                    this.areaArr = selectedAreas;
                    console.log(selectedAreas);
                    this.loadDashboardData({ areaArr: selectedAreas, clientId: this.client, companyId: payload.company, locationId: this.location, areaId: this.area });
                }
            } else {
                if (this.authUserData.role == 'Super Admin') {
                    if (this.previousValues.client !== payload.client || this.previousValues.location !== payload.location || this.previousValues.area !== payload.area) {
                        if (payload.client == 0) {
                            selectedAreas = this.areaOptions;
                        } else if (payload.location == 0) {
                            selectedAreas = this.areaOptions.filter((area) => area.client == payload.client);
                        } else if (payload.area == 0) {
                            selectedAreas = this.areaOptions.filter((area) => area.client == payload.client && area.location == payload.location);
                        } else {
                            flag = true;
                            selectedAreas = [payload.area];
                        }
                        if (!flag) {
                            selectedAreas = selectedAreas.map((area) => area.value);
                        }
                        this.areaArr = selectedAreas;
                        this.loadDashboardData({ areaArr: selectedAreas, clientId: payload.client, locationId: payload.location, areaId: payload.area });
                    }
                } else {
                    if (this.previousValues.location !== payload.location || this.previousValues.area !== payload.area) {
                        if (payload.client == 0 || payload.company == 0) {
                            selectedAreas = this.areaOptions;
                        } else if (payload.location == 0) {
                            selectedAreas = this.areaOptions.filter((area) => area.client == payload.client);
                        } else if (payload.area == 0) {
                            selectedAreas = this.areaOptions.filter((area) => area.client == payload.client && area.location == payload.location);
                        } else {
                            selectedAreas = [payload.area];
                            flag = true;
                        }
                        if (!flag) {
                            selectedAreas = selectedAreas.map((area) => area.value);
                        }
                        this.areaArr = selectedAreas;
                        console.log(selectedAreas);
                        this.loadDashboardData({ areaArr: selectedAreas, clientId: payload.client, companyId: payload.company, locationId: payload.location, areaId: payload.area });
                    }
                }
            }
        },
        viewAssetDetail(assetId) {
            // Clear search value
            this.searchQuery = '';
            store.commit('dashboard/UPDATE_GLOBAL_ASSET_SEARCH', []);

            this.goToDashboardAssetDetail(this.authUserData.role, { id: assetId });
        }
    },
    watch: {
        clientOptions: {
            handler: function () {
                if (this.authUserData.role === 'Admin') {
                    this.client = this.clientOptions[0].value;
                } else if (this.authUserData.role !== 'Super Admin') {
                    this.client = this.authUserData.id;
                    // this.company = this.authUserData.company_id;
                } else {
                    this.client = 0;
                    // this.company = 0;
                }
            },
            deep: true
        },
        client: function (val, oldVal) {
            this.previousValues.client = oldVal;
            // Set Name of client in store
            this.setClientName(this.clientOptions.filter((client) => client.value == val)[0].label);
            let defClient = this.clientOptions[0].client;
            // let defCompany = this.clientOptions[0].company;
            this.filteredLocationOptions = this.locationOptions.filter((location) => location.client == val || location.client == defClient );
            this.location = this.filteredLocationOptions[0].value;
            // Load Dashboard Data
            this.callDashboardDataAction({ client: this.client, location: this.location, area: 0 });
        },
        location: function (val, oldVal) {
            this.previousValues.location = oldVal;
            // Set Name of location in store
            this.setLocationName(this.locationOptions.filter((location) => location.value == val)[0].label);
            this.filteredAreaOptions = this.areaOptions.filter((area) => area.location == val || area.location == this.locationOptions[0].location);
            this.area = this.filteredAreaOptions[0].value;
            // Load Dashboard Data
            if ((this.authUserData.role === 'Super Admin' && this.client !== 0) || this.location !== 0) {
                this.callDashboardDataAction({ client: this.client, location: this.location, area: this.area });
            }
        },
        area: function (val, oldVal) {
            this.previousValues.area = oldVal;
            // Set Name of area in store
            this.setAreaName(this.areaOptions.filter((area) => area.value == val)[0].label);
            // Load Dashboard Data
            if ((this.authUserData.role === 'Super Admin' && this.client !== 0) || this.location !== 0 || this.area !== 0) {
                this.callDashboardDataAction({ client: this.client, location: this.location, area: this.area });
            }
        },
        searchQuery: function (value) {
            this.stopDashboardTimer();
            this.getGlobalAssetSearch({ search: value, areaArr: this.areaArr, client: this.client, location: this.location, area: this.area });
            if(!value || value=='' || value==null) {
                this.startDashboardTimer();
            }
        }
    }
}
</script>
<style lang="scss" scoped>
@import '~@resources/scss/vue/libs/vue-select.scss';

@import '~@resources/scss/base/bootstrap-extended/include';
@import '~@resources/scss/base/components/variables-dark';

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

p {
    margin: 0;
}

.suggestion-group-title {
    font-weight: 500;
    padding: .75rem 1rem .25rem;
}

.suggestion-group-suggestion {
    padding: .75rem 1rem
}

.suggestion-current-selected {
    background-color: $body-bg;

    .dark-layout & {
        background-color: $theme-dark-body-bg;
    }
}

.suggestions-groups-list {
    ul {
        max-height: 161px;
        overflow: auto;
        height: 100%;
    }
}

.filter-dropdown-wrapper {
    @media (max-width:767px) {
        .vs__selected {
            margin-top: 0;
        }

        input.vs__search {
            position: absolute;
            top: 0;
        }
    }
}

</style>

