<template>
  <div>
    <!-- START :: User Personal Information -->
    <div class="mt-2 pt-75">
      <!-- Header: Personal Info -->
      <div class="d-flex">
        <feather-icon icon="UserIcon" size="19" />
        <h4 class="mb-0 ml-50">
          Personal Information
        </h4>
      </div>

      <!-- Form: Personal Info Form -->
      <b-row class="mt-1">
        <!-- Field: Birth Date -->
        <b-col cols="12" md="6" lg="4">
          <b-form-group label="Birth Date" label-for="birth-date">
            <flat-pickr v-model="userData.date_of_birth" class="form-control"
              :config="{ dateFormat: 'Y-m-d', maxDate: 'today' }" placeholder="YYYY-MM-DD (Optional)" />
          </b-form-group>
        </b-col>

        <!-- Field: Contact Number -->
        <b-col cols="12" md="6" lg="4">
          <validation-provider #default="validationContext" name="Contact Number" rules="isMobilePhone">
            <b-form-group label="Contact Number" label-for="contact_number">
              <b-form-input id="contact_number" v-model="userData.contact_number"
                :state="getValidationState(validationContext)" />
              <b-form-invalid-feedback>
                {{ validationContext.errors[0] }}
              </b-form-invalid-feedback>
            </b-form-group>
          </validation-provider>
        </b-col>

      </b-row>

      <!-- Header: Personal Info -->
      <div class="d-flex mt-2">
        <feather-icon icon="MapPinIcon" size="19" />
        <h4 class="mb-0 ml-50">
          Address
        </h4>
      </div>

      <!-- Form: Personal Info Form -->
      <b-row class="mt-1">

        <!-- Field: Address Line 1 -->
        <b-col cols="12" md="6" lg="4">
          <b-form-group label="Address Line 1" label-for="address-line-1">
            <b-form-input id="address-line-1" v-model="userData.address_line_1" />
          </b-form-group>
        </b-col>

        <!-- Field: Address Line 2 -->
        <b-col cols="12" md="6" lg="4">
          <b-form-group label="Address Line 2" label-for="address-line-2">
            <b-form-input id="address-line-2" v-model="userData.address_line_2" />
          </b-form-group>
        </b-col>

        <!-- Field: Street -->
        <b-col cols="12" md="6" lg="4">
          <b-form-group label="Street" label-for="street">
            <b-form-input id="street" v-model="userData.street" />
          </b-form-group>
        </b-col>

        <!-- Field: City -->
        <b-col cols="12" md="6" lg="4">
          <b-form-group label="City" label-for="city">
            <b-form-input id="city" v-model="userData.city" />
          </b-form-group>
        </b-col>

        <!-- Field: State -->
        <b-col cols="12" md="6" lg="4">
          <b-form-group label="State" label-for="state">
            <b-form-input id="state" v-model="userData.state" />
          </b-form-group>
        </b-col>

        <!-- Field: Country -->
        <b-col cols="12" md="6" lg="4">
          <b-form-group label="Country" label-for="country">
            <b-form-input id="country" v-model="userData.country" />
          </b-form-group>
        </b-col>

        <!-- Field: Postcode -->
        <b-col cols="12" md="6" lg="4">
          <b-form-group label="Postcode" label-for="postcode">
            <b-form-input id="postcode" v-model="userData.postal_code" />
          </b-form-group>
        </b-col>
      </b-row>

    </div>
    <!-- END :: User Personal Information -->
  </div>
</template>

<script>
import { BRow, BCol, BForm, BFormGroup, BFormInput, BFormRadioGroup, BFormCheckboxGroup, BFormInvalidFeedback, BButton } from 'bootstrap-vue'
import { ValidationProvider, ValidationObserver } from 'vee-validate'
import { required, alpha, email, isMobilePhone } from '@validations'
import formValidation from '@core/comp-functions/forms/form-validation'
import flatPickr from 'vue-flatpickr-component'
import vSelect from 'vue-select'
import { mapActions, mapGetters } from 'vuex';
import UserServices from "@/services/userServices";


export default {
  components: {
    BRow,
    BCol,
    BForm,
    BFormGroup,
    flatPickr,
    BFormInput,
    vSelect,
    BFormRadioGroup,
    BFormCheckboxGroup,
    BFormInvalidFeedback,
    BButton,

    // Form Validation
    ValidationProvider,
    ValidationObserver,
  },

  data() {
    const { refFormObserver, getValidationState } = formValidation(this.userData)

    return {
      // Validation
      required,
      alpha,
      email,
      isMobilePhone,

      refFormObserver,
      getValidationState,
    }
  },
  computed: {
    // Get state variables
    ...mapGetters('user',
      [
        'userData', // Get user
      ]
    ),
  },
}
</script>

<style lang="scss">
@import '~@resources/scss/vue/libs/vue-flatpicker.scss';
</style>
