<template>

  <div>

    <!-- Table Container Card -->
    <b-card no-body class="mb-0">

      <div class="m-2">

        <!-- Table Top -->
        <b-row>

          <!-- Per Page -->
          <b-col cols="12" md="6" class="d-flex align-items-center justify-content-start mb-1 mb-md-0">
            <label>Show</label>
            <v-select v-model="table.perPage" :dir="$store.state.appConfig.isRTL ? 'rtl' : 'ltr'"
              :options="perPageOptions" :clearable="false" class="per-page-selector d-inline-block mx-50" />
            <label>entries</label>
          </b-col>

          <!-- Search -->
          <b-col cols="12" md="6">
            <div class="d-flex align-items-center justify-content-end">
              <b-form-input v-model="table.search" class="d-inline-block mr-1" placeholder="Search..." />
              <b-button variant="primary" class="ml-1" @click="goToAddModuleQuestion">
                <span class="text-nowrap">Add Question</span>
              </b-button>
            </div>
          </b-col>
        </b-row>

      </div>

      <b-table hover class="position-relative" :items="moduleQuestionList.moduleQuestion.data" responsive
        :fields="tableColumns" primary-key="id" :sort-by.sync="table.sortBy" show-empty
        empty-text="No matching records found" :sort-desc.sync="isSortDirDesc">

        <!-- Column: Module Question Title -->
        <template #cell(msq_title)="data">
          <b-link class="font-weight-bold d-block text-nowrap" :to="{ name: 'admin-module-question-edit', params: { id: table.moduleId,  msq_id: data.item.msq_id} }">
            {{ data.item.msq_title }}
          </b-link>
        </template>

        <!-- Column: Status -->
        <template #cell(msq_status)="data">
          <b-badge href="#" pill :variant="`light-${resolveUserStatusVariant(data.item.msq_status)}`"
            class="text-capitalize" @click="changeStatus(data.item.msq_id, data.item.msq_status)">
            {{ getStatusValue(data.item.msq_status) }}
          </b-badge>
        </template>

        <!-- Column: Actions -->
        <template #cell(actions)="data">
          <b-dropdown variant="link" no-caret :right="$store.state.appConfig.isRTL">
            <template #button-content>
              <feather-icon icon="MoreVerticalIcon" size="16" class="align-middle text-body" />
            </template>

            <b-dropdown-item :to="{ name: 'admin-module-question-edit', params: { id: table.moduleId, msq_id: data.item.msq_id} }">
              <feather-icon icon="EditIcon" />
              <span class="align-middle ml-50">Edit</span>
            </b-dropdown-item>

            <b-dropdown-item @click="deleteData(data.item.msq_id)">
              <feather-icon icon="TrashIcon" />
              <span class="align-middle ml-50">Delete</span>
            </b-dropdown-item>
          </b-dropdown>
        </template>

      </b-table>
      <div class="mx-2 mb-2">
        <b-row>

          <b-col cols="12" sm="6" class="d-flex align-items-center justify-content-center justify-content-sm-start">
            <span class="text-muted">Showing {{ moduleQuestionList.moduleQuestion.from }} to {{
              moduleQuestionList.moduleQuestion.to
            }} of {{
  moduleQuestionList.moduleQuestion.total
}}
              entries</span>
          </b-col>
          <!-- Pagination -->
          <b-col cols="12" sm="6" class="d-flex align-items-center justify-content-center justify-content-sm-end">

            <b-pagination v-model="table.page" :total-rows="moduleQuestionList.total" :per-page="table.perPage"
              first-number last-number class="mb-0 mt-1 mt-sm-0" prev-class="prev-item" next-class="next-item">
              <template #prev-text>
                <feather-icon icon="ChevronLeftIcon" size="18" />
              </template>
              <template #next-text>
                <feather-icon icon="ChevronRightIcon" size="18" />
              </template>
            </b-pagination>

          </b-col>

        </b-row>
      </div>
    </b-card>
  </div>
</template>

<script>
import {
  BCard,
  BRow,
  BCol,
  BFormInput,
  BButton,
  BTable,
  BMedia,
  BAvatar,
  BLink,
  BBadge,
  BDropdown,
  BDropdownItem,
  BPagination,
} from 'bootstrap-vue'
import vSelect from 'vue-select'
import ToastificationContent from '@core/components/toastification/ToastificationContent.vue'
import Ripple from 'vue-ripple-directive'
import store from '@/store/index'
import router from '@/router';
import { BBreadcrumb } from 'bootstrap-vue'

import { mapActions, mapGetters } from 'vuex';
import BaseMixins from "@/mixins/BaseMixins";

export default {
  mixins: [BaseMixins],
  components: {
    BCard,
    BRow,
    BCol,
    BFormInput,
    BButton,
    BTable,
    BMedia,
    BAvatar,
    BLink,
    BBadge,
    BDropdown,
    BDropdownItem,
    BPagination,
    BBreadcrumb,
    vSelect,
  },
  directives: {
    Ripple,
  },
  data() {
    return {
      table: {
        perPage: 25,
        search: '',
        sortBy: 'msq_id',
        sortDesc: true,
        page: 1,
        status: '',
        moduleId: router.currentRoute.params.id,
        msqIsDefault: 'Y',
      },
      perPageOptions: [10, 25, 50, 100],
      tableColumns: [
        { label: 'Title', key: 'msq_title', sortable: true },
        { label: 'Type', key: 'type' },
        { label: 'Status', key: 'msq_status', sortable: true },
        { label: 'Actions', key: 'actions' },
      ],
      isSortDirDesc: true,
    };
  },
  computed: {
    // Get state variables
    ...mapGetters('moduleQuestion',
      [
        'moduleName',
        'moduleQuestionList', // Get module question list
      ]
    ),
  },
  methods: {
    ...mapActions('moduleQuestion',
      [
        'getModuleQuestionList',
        'changeModuleQuestionStatus',
        'deleteModuleQuestion'
      ]
    ),
    refetchData() {
      this.getModuleQuestionList(this.table);
    },
    goToAddModuleQuestion() {
      store.commit('moduleQuestion/UPDATE_MODULE_NAME', this.moduleName);

      this.$router.push({ name: 'admin-module-question-add' });
    },
    // Change user status
    changeStatus(id, status) {
      this.$swal({
        title: 'Are you sure?',
        text: "Do you want to change module question status?",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Yes, change it!',
        customClass: {
          confirmButton: 'btn btn-primary',
          cancelButton: 'btn btn-outline-danger ml-1',
        },
        buttonsStyling: false,
      }).then(result => {
        if (result.value) {
          // check validation
          this.changeModuleQuestionStatus({ id: id, status: status }).then(response => {
            if (response.status === true || response.status == 'true') {
              this.$swal({
                icon: 'success',
                title: 'Changed!',
                text: response.message,
                customClass: {
                  confirmButton: 'btn btn-success',
                },
              })

              // Refetch table data
              this.refetchData()
            } else {
              this.$toast({
                component: ToastificationContent,
                position: 'top-right',
                props: {
                  title: 'Error',
                  variant: 'danger',
                  text: response.message,
                },
              })
            }
            return Promise.resolve(response);
          });
        }
      })
    },
    // Module question soft delete
    deleteData(id) {
      this.$swal({
        title: 'Are you sure?',
        text: "You won't be able to revert this!",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Yes, delete it!',
        customClass: {
          confirmButton: 'btn btn-primary',
          cancelButton: 'btn btn-outline-danger ml-1',
        },
        buttonsStyling: false,
      }).then(result => {
        if (result.value) {
          // check validation
          this.deleteModuleQuestion(id).then(response => {
            if (response.status === true || response.status == 'true') {
              this.$swal({
                icon: 'success',
                title: 'Deleted!',
                text: response.message,
                customClass: {
                  confirmButton: 'btn btn-success',
                },
              })

              // Refetch table data
              this.refetchData()
            } else {
              this.$toast({
                component: ToastificationContent,
                position: 'top-right',
                props: {
                  title: 'Error',
                  variant: 'danger',
                  text: response.message,
                },
              })
            }
            return Promise.resolve(response);
          });
        }
      })
    },
  },
  updated() {
    this.$route.meta.pageTitle = this.moduleName;

    // Add a temporary query parameter.
    this.$router.replace({ query: { temp: Date.now() } })
    this.$router.replace({ query: '' })
  },
  mounted() {
    // Get all default template
    this.getModuleQuestionList(this.table).catch((error) => {
      this.showToast(
        "Error",
        "XIcon",
        "danger",
        error.data.message
      );
    });
  },
  watch: {
    table: {
      handler() {
        this.getModuleQuestionList(this.table);
      },
      deep: true,
    },
  },
}
</script>
