<template>
  <div>
    <!-- Filters -->
    <module-list-filters
      :status-filter.sync="table.status"
      :status-options="statusOptions"
    />

    <!-- Module Field Popup -->
    <module-field-modal :perPage="table.perPage" :page="table.page"></module-field-modal>

    <!--Clone from template -->
    <clone-from-template-field-modal :perPage="table.perPage" :page="table.page"></clone-from-template-field-modal>

    <!-- Table Container Card -->
    <b-card no-body class="mb-0">
      <div class="m-2">
        <!-- Table Top -->
        <b-row>
          <!-- Per Page -->
          <b-col
            cols="12"
            md="6"
            class="d-flex align-items-center justify-content-start mb-1 mb-md-0"
          >
            <label>Show</label>
            <v-select
              v-model="table.perPage"
              :dir="$store.state.appConfig.isRTL ? 'rtl' : 'ltr'"
              :options="perPageOptions"
              :clearable="false"
              class="per-page-selector d-inline-block mx-50"
            />
            <label>entries</label>
          </b-col>

          <!-- Search -->
          <b-col cols="12" md="6">
            <div class="d-flex align-items-center justify-content-end">
              <b-form-input
                v-model="table.search"
                class="d-inline-block mr-1"
                placeholder="Search..."
              />
              <b-button
                variant="outline-primary"
                :block="$store.getters['app/currentBreakPoint'] === 'xs'"
                @click="cloneFromTemplate"
              >
                <span class="text-nowrap">Clone from template</span>
              </b-button>
              <b-button variant="primary" class="ml-1" @click="goToAddModuleField">
                <span class="text-nowrap">Add</span>
              </b-button>
            </div>
          </b-col>
        </b-row>
      </div>

      <b-table
        hover
        class="position-relative"
        :items="moduleFieldList.moduleField.data"
        responsive
        :fields="tableColumns"
        primary-key="id"
        :sort-by.sync="table.sortBy"
        show-empty
        empty-text="No matching records found"
        :sort-desc.sync="isSortDirDesc"
      >
        <!-- Column: Template Field Label -->
        <template #cell(mf_name)="data">
          <b-link
            class="font-weight-bold d-block text-nowrap"
            @click="editModuleField(data.item.mf_id)"
          >
            {{ data.item.mf_name }}
          </b-link>
        </template>

        <!-- Column: Status -->
        <template #cell(mf_status)="data">
          <b-badge
            href="#"
            pill
            :variant="`light-${resolveUserStatusVariant(data.item.mf_status)}`"
            class="text-capitalize"
            @click="changeStatus(data.item.mf_id, data.item.mf_status)"
          >
            {{ getStatusValue(data.item.mf_status) }}
          </b-badge>
        </template>

        <!-- Column: Actions -->
        <template #cell(actions)="data">
          <b-dropdown variant="link" no-caret :right="$store.state.appConfig.isRTL">
            <template #button-content>
              <feather-icon
                icon="MoreVerticalIcon"
                size="16"
                class="align-middle text-body"
              />
            </template>
            <b-dropdown-item @click="viewModuleField(data.item.mf_id)">
              <feather-icon icon="FileTextIcon" />
              <span class="align-middle ml-50">Details</span>
            </b-dropdown-item>

            <b-dropdown-item @click="editModuleField(data.item.mf_id)">
              <feather-icon icon="EditIcon" />
              <span class="align-middle ml-50">Edit</span>
            </b-dropdown-item>

            <b-dropdown-item @click="deleteData(data.item.mf_id)">
              <feather-icon icon="TrashIcon" />
              <span class="align-middle ml-50">Delete</span>
            </b-dropdown-item>
          </b-dropdown>
        </template>
      </b-table>
      <div class="mx-2 mb-2">
        <b-row>
          <b-col
            cols="12"
            sm="6"
            class="d-flex align-items-center justify-content-center justify-content-sm-start"
          >
            <span class="text-muted"
              >Showing {{ moduleFieldList.moduleField.from }} to
              {{ moduleFieldList.moduleField.to }} of
              {{ moduleFieldList.moduleField.total }} entries</span
            >
          </b-col>
          <!-- Pagination -->
          <b-col
            cols="12"
            sm="6"
            class="d-flex align-items-center justify-content-center justify-content-sm-end"
          >
            <b-pagination
              v-model="table.page"
              :total-rows="moduleFieldList.total"
              :per-page="table.perPage"
              first-number
              last-number
              class="mb-0 mt-1 mt-sm-0"
              prev-class="prev-item"
              next-class="next-item"
            >
              <template #prev-text>
                <feather-icon icon="ChevronLeftIcon" size="18" />
              </template>
              <template #next-text>
                <feather-icon icon="ChevronRightIcon" size="18" />
              </template>
            </b-pagination>
          </b-col>
        </b-row>
      </div>
    </b-card>
  </div>
</template>

<script>
import {
  BCard,
  BRow,
  BCol,
  BFormInput,
  BButton,
  BTable,
  BMedia,
  BAvatar,
  BLink,
  BBadge,
  BDropdown,
  BDropdownItem,
  BPagination,
} from "bootstrap-vue";
import vSelect from "vue-select";
import ModuleFieldModal from "../ModuleFieldModal.vue";
import ModuleListFilters from "./ModuleListFilters.vue";
import CloneFromTemplateFieldModal from "../CloneFromTemplateFieldModal.vue";
import ToastificationContent from "@core/components/toastification/ToastificationContent.vue";
import Ripple from "vue-ripple-directive";
import store from "@/store/index";
import router from "@/router";
import { BBreadcrumb } from "bootstrap-vue";

import { mapActions, mapGetters } from "vuex";
import BaseMixins from "@/mixins/BaseMixins";

export default {
  mixins: [BaseMixins],
  components: {
    ModuleListFilters,
    ModuleFieldModal,
    CloneFromTemplateFieldModal,

    BCard,
    BRow,
    BCol,
    BFormInput,
    BButton,
    BTable,
    BMedia,
    BAvatar,
    BLink,
    BBadge,
    BDropdown,
    BDropdownItem,
    BPagination,
    BBreadcrumb,
    vSelect,
  },
  directives: {
    Ripple,
  },
  data() {
    return {
      table: {
        perPage: 25,
        search: "",
        sortBy: "mf_id",
        sortDesc: true,
        page: 1,
        status: "",
        moduleId: router.currentRoute.params.id,
      },
      perPageOptions: [10, 25, 50, 100],
      tableColumns: [
        { label: "Field Name", key: "mf_name", sortable: true },
        { label: "Field Type", key: "field_input_type.field_input_type_name" },
        // { label: "Default Value", key: "mf_default_val" },
        { label: "Status", key: "mf_status", sortable: true },
        { label: "Actions", key: "actions" },
      ],
      isSortDirDesc: true,
      modalButtonName: "Add",
    };
  },
  computed: {
    // Get state variables
    ...mapGetters("moduleField", [
      "moduleName",
      "moduleFieldList", // Get moduleField list
    ]),
  },
  methods: {
    ...mapActions("moduleField", [
      "getAllInputField",
      "getModuleFieldList",
      "getModuleFieldData",
      "changeModuleFieldStatus",
      "deleteModuleField",
    ]),
    refetchData() {
      this.getModuleFieldList(this.table);
    },
    goToAddModuleField() {
      const moduleFieldData = {
        mf_id: "",
        mf_module_id: router.currentRoute.params.id,
        mf_name: "",
        mf_default_val: "",
        mf_input_field_type_id: "",
        mf_status: true,
        mf_is_show_on_grid: true,
        mf_is_show_on_details: true,
        mf_has_expiry_date: false,
        mf_is_required: "",
        created_by: "",
      };

      // Set value for modal button
      store.commit("moduleField/UPDATE_MODAL_BUTTON_NAME", this.modalButtonName);
      store.commit("moduleField/UPDATE_VIEW_MODE", false);

      //Reset field data
      store.commit("moduleField/UPDATE_MODULE_FIELD_DATA", moduleFieldData);

      // Open template add modal
      this.$bvModal.show("module-field-modal");
    },
    editModuleField(moduleFieldId) {
      // Get template based on mf_id
      this.getModuleFieldData(moduleFieldId);

      // Set variable value
      store.commit("moduleField/UPDATE_MODAL_BUTTON_NAME", "Update");
      store.commit("moduleField/UPDATE_VIEW_MODE", false);
      store.commit("moduleField/UPDATE_EDIT_MODE", true);

      // Open template field modal
      this.$bvModal.show("module-field-modal");
    },
    viewModuleField(moduleFieldId) {
      // Get template based on mf_id
      this.getModuleFieldData(moduleFieldId);

      // Set variable value
      store.commit("moduleField/UPDATE_MODAL_BUTTON_NAME", "View");
      store.commit("moduleField/UPDATE_VIEW_MODE", true);

      this.$bvModal.show("module-field-modal");
    },
    getStatusValue(status) {
      if (status == "Y") {
        return "Active";
      } else if (status == "N") {
        return "InActive";
      }
    },
    // Change user status
    changeStatus(id, status) {
      this.$swal({
        title: "Are you sure?",
        text: "Do you want to change module field status?",
        icon: "warning",
        showCancelButton: true,
        confirmButtonText: "Yes, change it!",
        customClass: {
          confirmButton: "btn btn-primary",
          cancelButton: "btn btn-outline-danger ml-1",
        },
        buttonsStyling: false,
      }).then((result) => {
        if (result.value) {
          // check validation
          this.changeModuleFieldStatus({ id: id, status: status }).then((response) => {
            if (response.status === true || response.status == "true") {
              this.$swal({
                icon: "success",
                title: "Changed!",
                text: response.message,
                customClass: {
                  confirmButton: "btn btn-success",
                },
              });

              // Refetch table data
              this.refetchData();
            } else {
              this.$toast({
                component: ToastificationContent,
                position: "top-right",
                props: {
                  icon: "XIcon",
                  title: "Error",
                  variant: "danger",
                  text: response.message,
                },
              });
            }
            return Promise.resolve(response);
          });
        }
      });
    },
    // Template Field soft delete
    deleteData(id) {
      this.$swal({
        title: "Are you sure?",
        text: "You won't be able to revert this!",
        icon: "warning",
        showCancelButton: true,
        confirmButtonText: "Yes, delete it!",
        customClass: {
          confirmButton: "btn btn-primary",
          cancelButton: "btn btn-outline-danger ml-1",
        },
        buttonsStyling: false,
      }).then((result) => {
        if (result.value) {
          // check validation
          this.deleteModuleField(id).then((response) => {
            if (response.status === true || response.status == "true") {
              this.$swal({
                icon: "success",
                title: "Deleted!",
                text: response.message,
                customClass: {
                  confirmButton: "btn btn-success",
                },
              });

              // Refetch table data
              this.refetchData();
            } else {
              this.$toast({
                component: ToastificationContent,
                position: "top-right",
                props: {
                  icon: "XIcon",
                  title: "Error",
                  variant: "danger",
                  text: response.message,
                },
              });
            }
            return Promise.resolve(response);
          });
        }
      });
    },
    cloneFromTemplate() {
      // Blank modal value when open
      store.commit("template/UPDATE_CLONE_TEMPLATE_ID", "");

      // template field blank when open popup
      store.commit("templateField/UPDATE_TEMPLATE_ALL_FIELDS", []);

      // call for get user template options
      store.dispatch("template/getUserTemplateOptions");

      // Open template add modal
      this.$bvModal.show("clone-from-template-field-modal");
    },
  },
  updated() {
    this.$route.meta.pageTitle = this.moduleName;

    // Add a temporary query parameter.
    this.$router.replace({ query: { temp: Date.now() } });
    this.$router.replace({ query: "" });
  },
  mounted() {
    // Get all default template
    this.getModuleFieldList(this.table).catch((error) => {
      this.showToast("Error", "XIcon", "danger", error.data.message);
    });
  },
  watch: {
    table: {
      handler() {
          this.getModuleFieldList(this.table);
      },
      deep: true,
    },
  },
};
</script>
