<template>
    <!-- modal create-->
    <b-modal id="modal-add-asset-document" size="sm" cancel-variant="outline-secondary" ok-title="Add to New Asset"
        cancel-title="Close" centered :title="modalButtonName + ' Asset Document'" hide-footer :no-close-on-backdrop="true"
        header-class="justify-content-center" @hide="closeModal">
        <!-- Alert - Server side error -->
        <error-message></error-message>
        <validation-observer ref="assetDocumentFormObserver">
            <b-form>
                <b-row>
                    <b-col sm="12">
                        <b-form-group>
                            <validation-provider #default="validationContext" name="Document Name" rules="required">
                                <b-form-group label-for="document_name">
                                    <label>Document Name <span class="text-danger">*</span></label>
                                    <b-form-input id="document_name" placeholder="Document Name"
                                        v-model="document.ad_name" :state="getValidationState(validationContext)"
                                        trim />
                                    <b-form-invalid-feedback>
                                        {{ validationContext.errors[0] }}
                                    </b-form-invalid-feedback>
                                </b-form-group>
                            </validation-provider>
                        </b-form-group>
                    </b-col>

                    <!-- Document Type -->
                    <b-col sm="12">
                        <b-form-group label-for="document_type">
                            <label>Document Type</label>
                            <b-form-input id="document_type" placeholder="Document Type" v-model="document.ad_type"
                            trim />
                        </b-form-group>
                    </b-col>

                    <!-- Document Link -->
                    <b-col sm="12">
                        <b-form-group>
                            <validation-provider #default="validationContext" name="Document Link" rules="url">
                                <b-form-group label-for="document_link">
                                    <label>Document Link / URL Link</label>
                                    <b-form-input id="document_link" placeholder="Document Link / URL Link"
                                        v-model="document.ad_link" :state="getValidationState(validationContext)"
                                        trim />
                                    <b-form-invalid-feedback>
                                        {{ validationContext.errors[0] }}
                                    </b-form-invalid-feedback>
                                </b-form-group>
                            </validation-provider>
                        </b-form-group>
                    </b-col>

                    <!-- Document Image & Size -->
                    <b-col sm="12" v-if="modalButtonName == 'Add'">
                        <validation-provider #default="validationContext" name="Document File" >
                            <b-form-group>
                                <label>Document File </label>
                                <!-- <b-form-file v-model="document.ad_file" id="client_company_logo" accept="image/*"
                      @change="onLogoFileChange" :state="getValidationState(validationContext)" trim /> -->
                                <b-form-file v-model="document.ad_file" id="add-asset-document-form-file" placeholder="Choose a file ..."
                                     @change="newDocumentUpload"
                                    :state="getValidationState(validationContext)" />
                                <b-form-invalid-feedback>
                                    {{ validationContext.errors[0] }}
                                </b-form-invalid-feedback>
                                <b-card-text class="my-1" v-if="document.ad_file">
                                    <p>
                                        Selected file: <strong>{{ file_name }}</strong>
                                    </p>
                                    <p>
                                        Selected file size: <strong>{{ file_size + ' KB' }}</strong>
                                    </p>
                                </b-card-text>
                            </b-form-group>
                        </validation-provider>
                    </b-col>

                    <b-col sm="12" v-else>
                        <b-form-group>
                            <label>Document File </label>
                            <b-form-file v-model="document.ad_file" id="update-asset-document-form-file" placeholder="Choose a file ..."  @change="newDocumentUpload" />
                            <b-card-text class="my-1" v-if="document.ad_file">
                                <p>
                                    Selected file: <strong>{{ file_name }}</strong>
                                </p>
                                <p>
                                    Selected file size: <strong>{{ file_size + ' KB' }}</strong>
                                </p>
                            </b-card-text>
                        </b-form-group>
                    </b-col>


                    <!-- submit button -->
                    <b-col>
                        <b-button variant="primary" @click.prevent="submitAssetDocument">{{ modalButtonName }}</b-button>
                        <b-button v-ripple.400="'rgba(186, 191, 199, 0.15)'" variant="outline-secondary"
                            @click.prevent="closeModal()">
                            Cancel
                        </b-button>
                    </b-col>
                </b-row>
            </b-form>
        </validation-observer>
    </b-modal>
</template>

<script>
import {
    BModal,
    VBModal,
    BCardText,
    BRow,
    BCol,
    BButton,
    BForm,
    BFormGroup,
    BFormInput,
    BFormTextarea,
    BFormCheckbox,
    BFormFile,
    BFormInvalidFeedback,
} from "bootstrap-vue";
import { ValidationProvider, ValidationObserver } from "vee-validate";
import { required, alpha, email, url } from "@validations";
import formValidation from "@core/comp-functions/forms/form-validation";
import Ripple from "vue-ripple-directive";
import ErrorMessage from "@/views/error/ErrorMessage";
import { mapActions, mapGetters } from "vuex";
import ToastificationContent from "@core/components/toastification/ToastificationContent.vue";
import store from "@/store/index";
import flatPickr from 'vue-flatpickr-component'


export default {
    props: ['module_id'],
    components: {
        BModal,
        VBModal,
        BCardText,
        BRow,
        BCol,
        BButton,
        BForm,
        BFormFile,
        BFormGroup,
        BFormInput,
        BFormTextarea,
        BFormCheckbox,
        BFormInvalidFeedback,

        // Form Validation
        ValidationProvider,
        ValidationObserver,

        ErrorMessage,

        // Date picker
        flatPickr,

    },
    directives: {
        "b-modal": VBModal,
        Ripple,
    },
    data() {
        const { refFormObserver, getValidationState } = formValidation(this.defaultAsset);

        return {
            refFormObserver,
            getValidationState,
            required,
            url,
            document: {
                ad_name: "",
                ad_link: "",
                ad_type: "",
                ad_size: "",
                ad_file: null,
                file_changed: false,
            },
            file_name: "",
            file_size: "",
        };
    },
    computed: {
        // Get state variables
        ...mapGetters('siteManager', ['maxFileSize']),
        ...mapGetters('documents', ['modalButtonName', 'assetId', 'defaultDocument']),
    },
    methods: {
        ...mapActions('documents', ['saveAssetDocument']),
        closeModal() {
            this.$refs.assetDocumentFormObserver.reset();
            this.$bvModal.hide("modal-add-asset-document");
            this.document = {
                ad_name: "",
                ad_link: "",
                ad_type: "",
                ad_size: "",
                ad_file: null,
                file_changed: false,
            };
        },
        newDocumentUpload(e) {
            e.preventDefault();
            let uploadedFiles = e.target.files[0];
            let size = uploadedFiles.size;
            let msg = "The file size must not be greater than "+parseInt(this.maxFileSize/(1024*1024))+"MB";
            if(size > this.maxFileSize) {
                this.document.ad_file = null;
                if(this.modalButtonName == 'Add') {
                    document.getElementById('add-asset-document-form-file').value = null;
                } else {
                    document.getElementById('update-asset-document-form-file').value = null;
                }
                this.$toast({
                    component: ToastificationContent,
                    position: "top-right",
                    props: {
                        icon: "XIcon",
                        variant: "danger",
                        text: msg,
                    },
                });
                return false;
            }
            this.document.ad_file = e.target.files[0]
            this.file_name = e.target.files[0].name
            this.file_size = e.target.files[0].size / 1024;
            this.file_size = this.file_size.toFixed(1);
            this.document.ad_size = this.file_size;
            this.document.file_changed = true;
        },
        // Submit asset document
        submitAssetDocument() {
            this.$refs.assetDocumentFormObserver.validate().then((success) => {
                if (success) {
                    // creating form data and calling Action to API for storing data
                    let formData = new FormData();
                    let adId = 0;
                    if (this.modalButtonName == "Update") {
                        adId = this.document.ad_id
                    }
                    if(this.document.ad_type == 'null') {
                        this.document.ad_type = '';
                    }
                    if(this.document.ad_link == 'null') {
                        this.document.ad_link = '';
                    }
                    formData.append('ad_id', adId);
                    formData.append('ad_name', this.document.ad_name);
                    formData.append('ad_link', this.document.ad_link);
                    formData.append('ad_type', this.document.ad_type);
                    formData.append('ad_size', this.document.ad_size);
                    formData.append('ad_file', this.document.ad_file);
                    formData.append('file_changed', this.document.file_changed);
                    formData.append('ad_asset_id', this.assetId);


                    this.saveAssetDocument(formData).then((response) => {
                        if (response.status === true || response.status == "true") {
                            // Close modal and reset data
                            this.closeModal();

                            this.$toast({
                                component: ToastificationContent,
                                position: "top-right",
                                props: {
                                    icon: "CheckIcon",
                                    title: `Notification`,
                                    variant: "success",
                                    text: response.message,
                                },
                            });
                        } else {
                            //this.moveUp();
                        }
                        return Promise.resolve(response);

                    }).catch(error =>{
                        if(error.status == false && error.errors && error.errors.file){
                            this.$toast({
                                component: ToastificationContent,
                                position: "top-right",
                                props: {
                                    icon: "XIcon",
                                    variant: "danger",
                                    text: error.errors.file,
                                },
                            });
                        }
                    });
                    // }
                    // reset form
                } else {
                    //this.moveUp();
                }
            });
        },
    },
    watch: {
        defaultDocument: {
            handler() {
                // file_changes is the flag used as various places for different meaning.
                if (this.modalButtonName == "Update" && !this.document.file_changed) {
                    this.document = this.defaultDocument;
                    this.document.ad_type = this.document.ad_type == 'null' ? '' : this.document.ad_type;
                    this.document.ad_link = this.document.ad_link == 'null' ? '' : this.document.ad_link;
                    this.document.file_changed = false;
                    this.file_name = this.defaultDocument.ad_file.split('/').pop();
                    this.file_size = this.defaultDocument.ad_size;
                }
            },
            deep: true
        },
    }
};
</script>

<style lang="scss">
@import '~@resources/scss/vue/libs/vue-select.scss';
@import '~@resources/scss/vue/libs/vue-flatpicker.scss';
</style>
