<template>
  <div v-if="templateFieldList && templateFieldList.templateField">
    <!-- Filters -->
    <template-list-filters :status-filter.sync="table.status" :status-options="statusOptions" />

    <template-field-modal :perPage="table.perPage" :page="table.page"></template-field-modal>

    <!-- Table Container Card -->
    <b-card no-body class="mb-0">
      <div class="m-2">
        <!-- Table Top -->
        <b-row>
          <!-- Per Page -->
          <b-col cols="12" md="6" class="d-flex align-items-center justify-content-start mb-1 mb-md-0">
            <label>Show</label>
            <v-select v-model="table.perPage" :dir="$store.state.appConfig.isRTL ? 'rtl' : 'ltr'"
              :options="perPageOptions" :clearable="false" class="per-page-selector d-inline-block mx-50" />
            <label>entries</label>
          </b-col>

          <!-- Search -->
          <b-col cols="12" md="6">
            <div class="d-flex align-items-center justify-content-end">
              <b-form-input v-model="table.search" class="d-inline-block mr-1" placeholder="Search..." />
              <b-button variant="primary" @click="goToAddTemplateField">
                <span class="text-nowrap">Add</span>
              </b-button>
            </div>
          </b-col>
        </b-row>
      </div>

      <b-table hover class="position-relative" :items="templateFieldList.templateField.data" responsive :fields="tableColumns"
        primary-key="id" :sort-by.sync="table.sortBy" show-empty empty-text="No matching records found"
        :sort-desc.sync="isSortDirDesc">
        <!-- Column: Template Field Label -->
        <template #cell(template_field_name)="data">
          <b-link class="font-weight-bold d-block text-nowrap" @click="editTemplateField(data.item.template_field_id)">
            {{ data.item.template_field_name }}
          </b-link>
        </template>

        <!-- Column: Status -->
        <template #cell(template_field_status)="data">
          <b-badge href="#" pill :variant="`light-${resolveUserStatusVariant(
            data.item.template_field_status
          )}`" class="text-capitalize" @click="
  changeStatus(data.item.template_field_id, data.item.template_field_status)
">
            {{ getStatusValue(data.item.template_field_status) }}
          </b-badge>
        </template>

        <!-- Column: Actions -->
        <template #cell(actions)="data">
          <b-dropdown variant="link" no-caret :right="$store.state.appConfig.isRTL">
            <template #button-content>
              <feather-icon icon="MoreVerticalIcon" size="16" class="align-middle text-body" />
            </template>
            <b-dropdown-item @click="viewTemplateField(data.item.template_field_id)">
              <feather-icon icon="FileTextIcon" />
              <span class="align-middle ml-50">Details</span>
            </b-dropdown-item>

            <b-dropdown-item @click="editTemplateField(data.item.template_field_id)">
              <feather-icon icon="EditIcon" />
              <span class="align-middle ml-50">Edit</span>
            </b-dropdown-item>

            <b-dropdown-item @click="deleteData(data.item.template_field_id)">
              <feather-icon icon="TrashIcon" />
              <span class="align-middle ml-50">Delete</span>
            </b-dropdown-item>
          </b-dropdown>
        </template>
      </b-table>
      <div class="mx-2 mb-2">
        <b-row>
          <b-col cols="12" sm="6" class="d-flex align-items-center justify-content-center justify-content-sm-start">
            <span class="text-muted">Showing {{ templateFieldList.templateField.from }} to
              {{ templateFieldList.templateField.to }} of
              {{ templateFieldList.templateField.total }} entries</span>
          </b-col>
          <!-- Pagination -->
          <b-col cols="12" sm="6" class="d-flex align-items-center justify-content-center justify-content-sm-end">
            <b-pagination v-model="table.page" :total-rows="templateFieldList.total" :per-page="table.perPage"
              first-number last-number class="mb-0 mt-1 mt-sm-0" prev-class="prev-item" next-class="next-item">
              <template #prev-text>
                <feather-icon icon="ChevronLeftIcon" size="18" />
              </template>
              <template #next-text>
                <feather-icon icon="ChevronRightIcon" size="18" />
              </template>
            </b-pagination>
          </b-col>
        </b-row>
      </div>
    </b-card>
  </div>
</template>

<script>
import {
  BCard,
  BRow,
  BCol,
  BFormInput,
  BButton,
  BTable,
  BMedia,
  BAvatar,
  BLink,
  BBadge,
  BDropdown,
  BDropdownItem,
  BPagination,
} from "bootstrap-vue";
import vSelect from "vue-select";
import TemplateFieldModal from "../templateFieldModal.vue";
import TemplateListFilters from "./TemplateListFilters.vue";
import ToastificationContent from "@core/components/toastification/ToastificationContent.vue";
import Ripple from "vue-ripple-directive";
import store from "@/store/index";
import router from "@/router";
import { BBreadcrumb } from "bootstrap-vue";

import { mapActions, mapGetters } from "vuex";
import TemplateFieldServices from "@/services/templateFieldServices";
import BaseMixins from "@/mixins/BaseMixins";

export default {
//   props: {
//     templateFieldList: {
//       type: Object,
//       default: null,
//     },
//   },
  mixins: [BaseMixins],
  components: {
    TemplateListFilters,
    TemplateFieldModal,
    router,
    BCard,
    BRow,
    BCol,
    BFormInput,
    BButton,
    BTable,
    BMedia,
    BAvatar,
    BLink,
    BBadge,
    BDropdown,
    BDropdownItem,
    BPagination,
    BBreadcrumb,
    vSelect,
  },
  directives: {
    Ripple,
  },
  data() {
    return {
      table: {
        perPage: 25,
        search: "",
        sortBy: "template_field_id",
        sortDesc: true,
        page: 1,
        status: "",
        templateId: router.currentRoute.params.id,
      },
      perPageOptions: [10, 25, 50, 100],
      tableColumns: [
        { label: "Field Name", key: "template_field_name", sortable: true },
        { label: "Field Type", key: "field_input_type.field_input_type_name" },
        // { label: "Default Value", key: "template_field_default_val" },
        { label: "Status", key: "template_field_status", sortable: true },
        { label: "Actions", key: "actions" },
      ],
      isSortDirDesc: true,
      modalButtonName: "Add",
      items: [
        {
          text: "Home",
        },
        {
          text: "Library",
        },
        {
          text: "Data",
          active: true,
        },
      ],
    };
  },
  computed: {
    // Get state variables
    ...mapGetters("templateField", [
      "templateName",
      "templateFieldList", // Get templateField list
    ]),
  },
  methods: {
    ...mapActions("templateField", [
      "getAllInputField",
      "getTemplateFieldList",
      "getTemplateFieldData",
      "changeTemplateFieldStatus",
      "deleteTemplateField",
    ]),
    refetchData() {
      this.getTemplateFieldList(this.table);
    },
    goToAddTemplateField() {
      const templateFieldData = {
        template_field_id: "",
        template_field_template_id: router.currentRoute.params.id,
        template_field_name: "",
        template_field_default_val: "",
        template_field_input_field_type_id: "",
        template_field_status: true,
        template_field_is_show_on_grid: true,
        template_field_has_expiry_date: false,
        template_field_is_show_on_details: true,
        template_field_is_required: "",
        created_by: "",
      };

      // Set value for modal button
      store.commit("templateField/UPDATE_MODAL_BUTTON_NAME", this.modalButtonName);
      store.commit("templateField/UPDATE_VIEW_MODE", false);

      //Reset field data
      store.commit("templateField/UPDATE_TEMPLATE_FIELD_DATA", templateFieldData);

      // Open template add modal
      this.$bvModal.show("template-field-modal");
    },
    editTemplateField(templateFieldId) {
      // Get template based on template_field_id
      this.getTemplateFieldData(templateFieldId);

      // Set variable value
      store.commit("templateField/UPDATE_MODAL_BUTTON_NAME", "Update");
      store.commit("templateField/UPDATE_VIEW_MODE", false);
      store.commit("templateField/UPDATE_EDIT_MODE", true);

      // Open template field modal
      this.$bvModal.show("template-field-modal");
    },
    viewTemplateField(templateFieldId) {
      // Get template based on template_field_id
      this.getTemplateFieldData(templateFieldId);

      // Set variable value
      store.commit("templateField/UPDATE_MODAL_BUTTON_NAME", "View");
      store.commit("templateField/UPDATE_VIEW_MODE", true);

      this.$bvModal.show("template-field-modal");
    },
    // Change user status
    changeStatus(id, status) {
      this.$swal({
        title: "Are you sure?",
        text: "You can always revert this later.",
        icon: "warning",
        showCancelButton: true,
        confirmButtonText: "Yes, change it!",
        customClass: {
          confirmButton: "btn btn-primary",
          cancelButton: "btn btn-outline-danger ml-1",
        },
        buttonsStyling: false,
      }).then((result) => {
        if (result.value) {
          // check validation
          this.changeTemplateFieldStatus({ id: id, status: status }).then((response) => {
            if (response.status === true || response.status == "true") {
              this.$swal({
                icon: "success",
                title: "Changed!",
                text: response.message,
                customClass: {
                  confirmButton: "btn btn-success",
                },
              });

              // Refetch table data
              this.refetchData();
            } else {
              this.$toast({
                component: ToastificationContent,
                position: "top-right",
                props: {
                  icon: "XIcon",
                  title: "Error",
                  variant: "danger",
                  text: response.message,
                },
              });
            }
            return Promise.resolve(response);
          });
        }
      });
    },
    // Template Field soft delete
    deleteData(id) {
      this.$swal({
        title: "Are you sure?",
        text: "You won't be able to revert this!",
        icon: "warning",
        showCancelButton: true,
        confirmButtonText: "Yes, delete it!",
        customClass: {
          confirmButton: "btn btn-primary",
          cancelButton: "btn btn-outline-danger ml-1",
        },
        buttonsStyling: false,
      }).then((result) => {
        if (result.value) {
          // check validation
          this.deleteTemplateField(id).then((response) => {
            if (response.status === true || response.status == "true") {
              this.$swal({
                icon: "success",
                title: "Deleted!",
                text: response.message,
                customClass: {
                  confirmButton: "btn btn-success",
                },
              });

              // Refetch table data
              this.refetchData();
            } else {
              this.$toast({
                component: ToastificationContent,
                position: "top-right",
                props: {
                  icon: "XIcon",
                  title: "Error",
                  variant: "danger",
                  text: response.message,
                },
              });
            }
            return Promise.resolve(response);
          });
        }
      });
    },
  },
  updated() {
    //alert(this.templateName);
    this.$route.meta.pageTitle = this.templateName;

    // Add a temporary query parameter.
    this.$router.replace({ query: { temp: Date.now() } });
  },
  mounted() {
    // Get all default template
    this.getTemplateFieldList(this.table).catch((error) => {
      this.showToast("Error", "XIcon", "danger", error.data.message);
    });
  },
  watch: {
    table: {
      handler() {
        this.getTemplateFieldList(this.table);
      },
      deep: true,
    },
  },
};
</script>
