<template>
  <div>
    <!-- Table Container Card -->
    <b-card no-body class="mb-0">
      <div class="m-2">
        <!-- Table Top -->
        <b-row>
          <!-- Per Page -->
          <b-col cols="12" md="6" class="d-flex align-items-center justify-content-start mb-1 mb-md-0">
            <label>Show</label>
            <v-select v-model="table.perPage" :dir="$store.state.appConfig.isRTL ? 'rtl' : 'ltr'"
              :options="perPageOptions" :clearable="false" class="per-page-selector d-inline-block mx-50" />
            <label>entries</label>
          </b-col>

          <!-- Search -->
          <b-col cols="12" md="6">
            <div class="d-flex align-items-center justify-content-end">
              <b-form-input v-model="table.search" class="d-inline-block mr-1" placeholder="Search..." />

            </div>
          </b-col>
        </b-row>
      </div>

      <b-table hover class="position-relative" :items="moduleAnswerList.moduleAnswer.data" responsive :fields="tableColumns"
        primary-key="id" :sort-by.sync="table.sortBy" show-empty empty-text="No matching records found"
        :sort-desc.sync="isSortDirDesc">

      </b-table>
      <div class="mx-2 mb-2">
        <b-row>
          <b-col cols="12" sm="6" class="d-flex align-items-center justify-content-center justify-content-sm-start">
            <span class="text-muted">Showing
              {{ moduleAnswerList.moduleAnswer.from }} to
              {{ moduleAnswerList.moduleAnswer.to }} of
              {{
                moduleAnswerList.moduleAnswer.total
              }}
              entries</span>
          </b-col>
          <!-- Pagination -->
          <b-col cols="12" sm="6" class="d-flex align-items-center justify-content-center justify-content-sm-end">
            <b-pagination v-model="table.page" :total-rows="moduleAnswerList.total" :per-page="table.perPage"
              first-number last-number class="mb-0 mt-1 mt-sm-0" prev-class="prev-item" next-class="next-item">
              <template #prev-text>
                <feather-icon icon="ChevronLeftIcon" size="18" />
              </template>
              <template #next-text>
                <feather-icon icon="ChevronRightIcon" size="18" />
              </template>
            </b-pagination>
          </b-col>
        </b-row>
      </div>
    </b-card>
  </div>
</template>

<script>
import {
  BCard,
  BRow,
  BCol,
  BFormInput,
  BButton,
  BTable,
  BMedia,
  BAvatar,
  BLink,
  BBadge,
  BDropdown,
  BDropdownItem,
  BPagination,
} from 'bootstrap-vue'
import vSelect from 'vue-select'
import ToastificationContent from '@core/components/toastification/ToastificationContent.vue'
import Ripple from 'vue-ripple-directive'
import store from '@/store/index'
import router from '@/router';
import { BBreadcrumb } from 'bootstrap-vue'

import { mapActions, mapGetters } from 'vuex';
import BaseMixins from "@/mixins/BaseMixins";

export default {
  mixins: [BaseMixins],
  components: {
    BCard,
    BRow,
    BCol,
    BFormInput,
    BButton,
    BTable,
    BMedia,
    BAvatar,
    BLink,
    BBadge,
    BDropdown,
    BDropdownItem,
    BPagination,
    BBreadcrumb,
    vSelect,
  },
  directives: {
    Ripple,
  },
  data() {
    return {
      table: {
        perPage: 25,
        search: '',
        sortBy: 'msa_id',
        sortDesc: true,
        page: 1,
        moduleId: router.currentRoute.params.id,
      },
      perPageOptions: [10, 25, 50, 100],
      tableColumns: [
        { label: 'User', key: 'user.full_name', sortable: true },
        { label: 'Location', key: 'site.site_name' },
        { label: 'Area', key: 'sub_site.sub_site_name' },
        { label: 'Module', key: 'module.module_name' },
        { label: 'Question', key: 'question.msq_title' },
        { label: 'Answer', key: 'msa_value' },
        { label: 'Date', key: 'created_at_format' },
      ],
      isSortDirDesc: true,
    };
  },
  computed: {
    // Get state variables
    ...mapGetters('moduleAnswer',
      [
        'moduleName',
        'moduleAnswerList', // Get module question list
      ]
    ),
  },
  methods: {
    ...mapActions('moduleAnswer',
      [
        'getModuleAnswerList'
      ]
    ),
    refetchData() {
      this.getModuleAnswerList(this.table);
    },
  },
  updated() {
    this.$route.meta.pageTitle = this.moduleName;

    // Add a temporary query parameter.
    this.$router.replace({ query: { temp: Date.now() } })
    this.$router.replace({ query: '' })
  },
  mounted() {
    // Get all default template
    this.getModuleAnswerList(this.table).catch((error) => {
      this.showToast(
        "Error",
        "XIcon",
        "danger",
        error.data.message
      );
    });
  },
  watch: {
    table: {
      handler() {
        this.getModuleAnswerList(this.table);
      },
      deep: true,
    },
  },
}
</script>
