<template>
  <!-- modal create-->
  <b-modal
    id="category-modal"
    cancel-variant="outline-secondary"
    ok-title="Add to New Category"
    cancel-title="Close"
    centered
    :title="modalButtonName + ' Category'"
    hide-footer
    header-class="justify-content-center"
    @hide="closeModal"
    :no-close-on-backdrop="true"
  >
    <!-- Alert - Server side error -->
    <error-message></error-message>
    <validation-observer ref="categoryFormObserver">
      <b-form>
        <b-row>
          <b-col md="12">
            <b-form-group>
              <validation-provider
                #default="validationContext"
                name="Category Name"
                rules="required"
              >
                <b-form-group label-for="category_name">
                  <label>Category Name <span class="text-danger">*</span></label>
                  <b-form-input
                    id="category_name"
                    v-model="category.category_name"
                    :state="getValidationState(validationContext)"
                    trim
                    :disabled="viewMode"
                    placeholder="Name"
                  />
                  <b-form-invalid-feedback>
                    {{ validationContext.errors[0] }}
                  </b-form-invalid-feedback>
                </b-form-group>
              </validation-provider>
            </b-form-group>
          </b-col>

          <b-col md="12">
            <b-form-group>
              <label>Category Description</label>
              <b-form-textarea
                v-model="category.category_desc"
                placeholder="Description"
                rows="3"
                :disabled="viewMode"
              />
            </b-form-group>
          </b-col>

          <b-col md="12">
            <b-form-group class="change-status">
              <label>Active</label>
              <validation-provider #default="{ errors }" name="Active" vid="Active">
                <b-form-checkbox
                  checked="true"
                  name="check-button"
                  v-model="category.category_status"
                  switch
                  :state="errors.length > 0 ? false : null"
                  inline
                  :disabled="viewMode"
                >
                </b-form-checkbox>
                <small class="text-danger">{{ errors[0] }}</small>
              </validation-provider>
            </b-form-group>
          </b-col>
          <!-- submit button -->
          <b-col offset-md="4">
            <b-button variant="primary" @click.prevent="submitCategory" v-if="!viewMode"
              >{{ modalButtonName }}
            </b-button>
            <b-button
              v-ripple.400="'rgba(186, 191, 199, 0.15)'"
              variant="outline-secondary"
              @click.prevent="closeModal()"
            >
              Cancel
            </b-button>
          </b-col>
        </b-row>
      </b-form>
    </validation-observer>
  </b-modal>
</template>

<script>
import {
  BModal,
  VBModal,
  BRow,
  BCol,
  BButton,
  BForm,
  BFormGroup,
  BFormInput,
  BFormTextarea,
  BFormCheckbox,
  BFormInvalidFeedback,
} from "bootstrap-vue";
import { ValidationProvider, ValidationObserver } from "vee-validate";
import { required, alpha, email } from "@validations";
import formValidation from "@core/comp-functions/forms/form-validation";
import Ripple from "vue-ripple-directive";
import ErrorMessage from "@/views/error/ErrorMessage";
import { mapActions, mapGetters } from "vuex";
import ToastificationContent from "@core/components/toastification/ToastificationContent.vue";
import store from "@/store/index";

export default {
  components: {
    BModal,
    VBModal,
    BRow,
    BCol,
    BButton,
    BForm,
    BFormGroup,
    BFormInput,
    BFormTextarea,
    BFormCheckbox,
    BFormInvalidFeedback,

    // Form Validation
    ValidationProvider,
    ValidationObserver,

    ErrorMessage,
  },
  directives: {
    "b-modal": VBModal,
    Ripple,
  },
  data() {
    const { refFormObserver, getValidationState } = formValidation(this.category);

    return {
      refFormObserver,
      getValidationState,
      required,
    };
  },
  props: ['perPage', 'page'],
  computed: {
    // Get state variables
    ...mapGetters("category", ["modalButtonName", "category", "editMode", "viewMode"]),
  },
  methods: {
    ...mapActions("category", ["saveCategory", "updateCategory"]),
    closeModal() {
      this.$bvModal.hide("category-modal");
    },
    // Submit category data
    submitCategory() {
      this.$refs.categoryFormObserver.validate().then((success) => {
        if (success) {
          if (this.modalButtonName == "Update" && this.editMode) {
            this.updateCategory(this.category).then((response) => {
              if (response.status === true || response.status == "true") {
                this.closeModal();

                store.dispatch("category/getAllCategory", {
                  perPage: this.perPage,
                  sortBy: "category_id",
                  sortDesc: "true",
                  page: this.page,
                });

                this.$toast({
                  component: ToastificationContent,
                  position: "top-right",
                  props: {
                    icon: "CheckIcon",
                    title: `Notification`,
                    variant: "success",
                    text: response.message,
                  },
                });
              }
              return Promise.resolve(response);
            });
          } else {
            // check validation
            this.saveCategory(this.category).then((response) => {
              if (response.status === true || response.status == "true") {
                // Close modal and reset data
                this.closeModal();
                store.dispatch("category/getAllCategory", {
                  perPage: this.perPage,
                  sortBy: "category_id",
                  sortDesc: "true",
                  page: this.page,

                });

                this.$toast({
                  component: ToastificationContent,
                  position: "top-right",
                  props: {
                    icon: "CheckIcon",
                    title: `Notification`,
                    variant: "success",
                    text: response.message,
                  },
                });
              } else {
                //this.moveUp();
              }
              return Promise.resolve(response);
            });
          }
        } else {
          //this.moveUp();
        }
      });
    },
  },
};
</script>
