<template>
  <!-- modal create-->
  <b-modal
    id="subSite-modal"
    cancel-variant="outline-secondary"
    ok-title="Add to New Site"
    cancel-title="Close"
    centered
    title="Area Form"
    hide-footer
    header-class="justify-content-center"
    :no-close-on-backdrop="true"
  >
    <!-- Alert - Server side error -->
    <error-message></error-message>
    <validation-observer ref="simpleRules">
      <b-form>
        <b-row>
          <b-col md="12">
            <b-form-group>
              <label>Select Location Name <span class="text-danger">*</span></label>
              <validation-provider
                #default="{ errors }"
                name="Location Name"
                rules="required"
              >
                <b-form-select
                  v-model="subSiteData.site_id"
                  :state="errors.length > 0 ? false : null"
                  :options="options"
                />
                <small class="text-danger">{{ errors[0] }}</small>
              </validation-provider>
            </b-form-group>
          </b-col>
          <b-col md="12">
            <b-form-group>
              <label>Area Name <span class="text-danger">*</span></label>
              <validation-provider
                #default="{ errors }"
                name="Area Name"
                rules="required"
              >
                <b-form-input
                  v-model="subSiteData.sub_site_name"
                  :state="errors.length > 0 ? false : null"
                  placeholder="Area Name"
                    :reduce="(val) => val.value"


                />
                <small class="text-danger">{{ errors[0] }}</small>
              </validation-provider>
            </b-form-group>
          </b-col>
          <b-col md="12">
            <b-form-group>
              <label>Description</label>
              <validation-provider #default="{ errors }" name="Description">
                <b-form-textarea
                  v-model="subSiteData.sub_site_description"
                  :state="errors.length > 0 ? false : null"
                  placeholder="Description"
                  rows="3"
                />

                <small class="text-danger">{{ errors[0] }}</small>
              </validation-provider>
            </b-form-group>
          </b-col>
          <b-col md="12">
            <b-form-group>
              <label>Select Users <span class="text-danger">*</span></label>
              <validation-provider #default="{ errors }" name="Users" rules="required">
                <v-select
                  @input="switchSelect(subSiteData.user_id)"
                  v-model="subSiteData.user_id"
                  :dir="$store.state.appConfig.isRTL ? 'rtl' : 'ltr'"
                  multiple
                  label="text"
                  :options="users"
                  :placeholder="'Please Select User'"
                />
                <small class="text-danger">{{ errors[0] }}</small>
              </validation-provider>
            </b-form-group>
          </b-col>
          <b-col md="12">
            <b-form-group>
                <label>Area ID</label>
                <b-form-input
                  v-model="subSiteData.sub_site_uuid"
                  placeholder="Area ID"
                />
            </b-form-group>
          </b-col>

          <b-col md="12">
            <b-form-group class="change-status">
              <label>Active</label>
              <validation-provider #default="{ errors }" name="Active" vid="Active">
                <b-form-checkbox
                  checked="true"
                  name="check-button"
                  v-model="subSiteData.sub_site_status"
                  switch
                  :state="errors.length > 0 ? false : null"
                  inline
                >
                </b-form-checkbox>
                <small class="text-danger">{{ errors[0] }}</small>
              </validation-provider>
            </b-form-group>
          </b-col>
          <!-- submit button -->
          <b-col offset-md="4">
            <b-button variant="primary" type="submit" @click.prevent="submitSubSite">
              {{ subSiteButtonName }}
            </b-button>
            <b-button
              v-ripple.400="'rgba(186, 191, 199, 0.15)'"
              variant="outline-secondary"
              @click.prevent="closeSubSite()"
            >
              Cancel
            </b-button>
          </b-col>
        </b-row>
      </b-form>
    </validation-observer>
  </b-modal>
</template>
<script>
import {
  BModal,
  VBModal,
  BRow,
  BCol,
  BButton,
  BForm,
  BFormGroup,
  BFormInput,
  BFormTextarea,
  BFormCheckbox,
  BFormInvalidFeedback,
  BFormSelect,
} from "bootstrap-vue";
import vSelect from "vue-select";
import { ValidationProvider, ValidationObserver } from "vee-validate";
import { required, alpha, email } from "@validations";
import formValidation from "@core/comp-functions/forms/form-validation";
import Ripple from "vue-ripple-directive";
import ErrorMessage from "@/views/error/ErrorMessage";
import { mapActions, mapGetters } from "vuex";
import ToastificationContent from "@core/components/toastification/ToastificationContent.vue";
import store from "@/store/index";
import router from "@/router";
export default {
     props: ['colour'],
  components: {
    BModal,
    VBModal,
    BRow,
    BCol,
    BButton,
    BForm,
    BFormGroup,
    BFormInput,
    BFormTextarea,
    BFormCheckbox,
    BFormInvalidFeedback,
    vSelect,
    BFormSelect,
    // Form Validation
    ValidationProvider,
    ValidationObserver,

    ErrorMessage,
  },
  directives: {
    "b-modal": VBModal,
    Ripple,
  },
  data() {
    const { refFormObserver, getValidationState } = formValidation(this.subSiteData);
    return {
        newSelected: [],
      options: [],
      users: [],
      allUsers: [],
      selected: { value: null, text: "Please Select User" },
    };
  },
  props: ['perPage', 'page'],
  computed: {
    ...mapGetters("area", ["subSiteButtonName", "subSiteData", "editMode"]),
  },
  methods: {
    ...mapActions("location", ["getAllSite"]),
    ...mapActions("user", ["getAllSiteUser"]),
    ...mapActions("area", ["saveSubSite", "getAllSubSite", "updateSubSite"]),
    // Submit subSite data
    submitSubSite() {
      this.$refs.simpleRules.validate().then((success) => {
        if (success) {
          if (this.subSiteButtonName == "Update" && this.editMode) {
            this.updateSubSite({
              id: this.subSiteData.sub_site_id,
              ...this.subSiteData,
            }).then((response) => {
              console.warn(response);
              if (response.status === true || response.status == "true") {
                store.dispatch("area/getAllSubSite", {
                  perPage: this.perPage,
                  sortBy: "sub_site_id",
                  sortDesc: "true",
                  page: this.page,
                  site_id: router.currentRoute.params.id,
                });
                this.$toast({
                  component: ToastificationContent,
                  position: "top-right",
                  props: {
                    icon: "CheckIcon",
                    variant: "success",
                    text: response.message,
                  },
                });
                this.$bvModal.hide("subSite-modal");
                // this.refetchData();
                this.isEditing = false;
              }
              return Promise.resolve(response);
            });
          } else {
            this.saveSubSite({
              ...this.subSiteData,
            }).then((response) => {
              if (response.status === true || response.status == "true") {
                this.$toast({
                  component: ToastificationContent,
                  position: "top-right",
                  props: {
                    icon: "CheckIcon",
                    variant: "success",
                    text: response.message,
                  },
                });
                this.$bvModal.hide("subSite-modal");
                store.dispatch("area/getAllSubSite", {
                  perPage: this.perPage,
                  sortBy: "sub_site_id",
                  sortDesc: "true",
                  page: this.page,
                  site_id: router.currentRoute.params.id,
                });
              }
            });
          }
        }
      });
    },
    closeSubSite() {
      this.$bvModal.hide("subSite-modal");
    },
    switchSelect(event) {
            //console.log(event);
        const allEvent = event;
        const checkRoleExistence = roleParam => event.some(({value}) => value == 0);
        //console.log(checkRoleExistence());
        if(checkRoleExistence() == true){
            const shifted = this.allUsers.slice(1);
            this.subSiteData.user_id = shifted;
            this.users = shifted;
        }
        if ((this.subSiteData.user_id.length < (this.allUsers.length - 1)) && (this.users[0].value != 0)) {
          this.users = [this.allUsers[0], ...this.users]
        }
    },
  },
  mounted() {
    this.getAllSite(this.siteList)
      .then((response) => {
        this.options = response.data.sitelist;
      })
      .catch((error) => {
        this.showToast("Error", "XIcon", "danger", error.data.message);
      });
    //Get All Users Userlist form listing user
    this.getAllSiteUser(this.userList)
      .then((response) => {
        this.users = response.data.userList;
        this.allUsers = response.data.userList;
      })
      .catch((error) => {
        this.showToast("Error", "XIcon", "danger", error.data.message);
      });
  },
};
</script>
