<template>
  <div>
    <!-- Filters -->
    <template-list-filters :status-filter.sync="table.status" :status-options="statusOptions" />

    <template-add-modal :perPage="table.perPage" :page="table.page"></template-add-modal>

    <!-- Table Container Card -->
    <b-card no-body class="mb-0">
      <div class="m-2">
        <!-- Table Top -->
        <b-row>
          <!-- Per Page -->
          <b-col cols="12" md="6" class="d-flex align-items-center justify-content-start mb-1 mb-md-0">
            <label>Show</label>
            <v-select v-model="table.perPage" :dir="$store.state.appConfig.isRTL ? 'rtl' : 'ltr'"
              :options="perPageOptions" :clearable="false" class="per-page-selector d-inline-block mx-50" />
            <label>entries</label>
          </b-col>

          <!-- Search -->
          <b-col cols="12" md="6">
            <div class="d-flex align-items-center justify-content-end">
              <b-form-input v-model="table.search" class="d-inline-block mr-1" placeholder="Search..." />
              <b-button variant="primary" @click="goToAddTemplate">
                <span class="text-nowrap">Add Template</span>
              </b-button>
            </div>
          </b-col>
        </b-row>
      </div>

      <b-table hover ref="refUserListTable" class="position-relative" :items="templateList.templates.data" responsive
        :fields="tableColumns" primary-key="id" :sort-by.sync="table.sortBy" show-empty
        empty-text="No matching records found" :sort-desc.sync="isSortDirDesc">
        <!-- Column: Template Name -->
        <template #cell(template_name)="data">
          <b-link class="font-weight-bold d-block text-nowrap" @click="editDefaultTemplate(data.item.template_id)">
            {{ data.item.template_name }}
          </b-link>
        </template>

        <!-- Column: Status -->
        <template #cell(template_status)="data">
          <b-badge href="#" pill :variant="`light-${resolveUserStatusVariant(data.item.template_status)}`"
            class="text-capitalize" @click="
              changeTemplateStatus(data.item.template_id, data.item.template_status)
            ">
            {{ getStatusValue(data.item.template_status) }}
          </b-badge>
        </template>

        <!-- Column: Form field -->
        <template #cell(form_field)="data">
          <b-button v-ripple.400="'rgba(113, 102, 240, 0.15)'" size="sm" class="my-1-custom" variant="outline-primary"
            :to="{ name: 'client-template-field', params: { id: data.item.template_id } }">
            <span class="text-nowrap">Form Field</span>
          </b-button>
        </template>

        <!-- Column: Actions -->
        <template #cell(actions)="data">
          <b-dropdown variant="link" no-caret :right="$store.state.appConfig.isRTL">
            <template #button-content>
              <feather-icon icon="MoreVerticalIcon" size="16" class="align-middle text-body" />
            </template>
            <b-dropdown-item @click="viewDefaultTemplate(data.item.template_id)">
              <feather-icon icon="FileTextIcon" />
              <span class="align-middle ml-50">Details</span>
            </b-dropdown-item>

            <b-dropdown-item @click="editDefaultTemplate(data.item.template_id)">
              <feather-icon icon="EditIcon" />
              <span class="align-middle ml-50">Edit</span>
            </b-dropdown-item>

            <b-dropdown-item @click="duplicateTemplate(data.item.template_id)">
              <feather-icon icon="CopyIcon" />
              <span class="align-middle ml-50">Duplicate</span>
            </b-dropdown-item>
            
            <b-dropdown-item @click="deleteTemplate(data.item.template_id)">
              <feather-icon icon="TrashIcon" />
              <span class="align-middle ml-50">Delete</span>
            </b-dropdown-item>
          </b-dropdown>
        </template>
      </b-table>
      <div class="mx-2 mb-2">
        <b-row>
          <b-col cols="12" sm="6" class="d-flex align-items-center justify-content-center justify-content-sm-start">
            <span class="text-muted">Showing {{ templateList.templates.from }} to
              {{ templateList.templates.to }} of
              {{ templateList.templates.total }} entries</span>
          </b-col>
          <!-- Pagination -->
          <b-col cols="12" sm="6" class="d-flex align-items-center justify-content-center justify-content-sm-end">
            <b-pagination v-model="table.page" :total-rows="templateList.total" :per-page="table.perPage" first-number
              last-number class="mb-0 mt-1 mt-sm-0" prev-class="prev-item" next-class="next-item">
              <template #prev-text>
                <feather-icon icon="ChevronLeftIcon" size="18" />
              </template>
              <template #next-text>
                <feather-icon icon="ChevronRightIcon" size="18" />
              </template>
            </b-pagination>
          </b-col>
        </b-row>
      </div>
    </b-card>
  </div>
</template>

<script>
import {
  BCard,
  BRow,
  BCol,
  BFormInput,
  BButton,
  BTable,
  BMedia,
  BAvatar,
  BLink,
  BBadge,
  BDropdown,
  BDropdownItem,
  BPagination,
} from "bootstrap-vue";
import vSelect from "vue-select";
import TemplateAddModal from "../templateModal.vue";
import TemplateListFilters from "./TemplateListFilters.vue";
import ToastificationContent from "@core/components/toastification/ToastificationContent.vue";
import Ripple from "vue-ripple-directive";
import store from "@/store/index";
import router from "@/router";
import { mapActions, mapGetters } from "vuex";
import TemplateServices from "@/services/templateServices";
import BaseMixins from "@/mixins/BaseMixins";

export default {
  mixins: [BaseMixins],
  components: {
    TemplateListFilters,
    TemplateAddModal,
    router,
    BCard,
    BRow,
    BCol,
    BFormInput,
    BButton,
    BTable,
    BMedia,
    BAvatar,
    BLink,
    BBadge,
    BDropdown,
    BDropdownItem,
    BPagination,

    vSelect,
  },
  directives: {
    Ripple,
  },
  data() {
    return {
      table: {
        perPage: 25,
        search: "",
        sortBy: null,
        sortDesc: true,
        page: 1,
        templateIsDefault: "N",
        status: "",
      },
      perPageOptions: [10, 25, 50, 100],
      tableColumns: [
        { label: "ID", key: "template_id", sortable: true },
        { label: "Template Name", key: "template_name", sortable: true },
        { label: "Description", key: "template_description" },
        { label: "Status", key: "template_status", sortable: true },
        { label: "", key: "form_field" },
        { label: "Actions", key: "actions" },
      ],
      isSortDirDesc: true,
      template: {
        template_id: "",
        template_name: "",
        template_description: "",
        template_is_default: "N",
        template_status: "Y",
        created_by: "",
      },
      modalButtonName: "Add",
    };
  },
  computed: {
    // Get state variables
    ...mapGetters("template", [
      "templateList", // Get all default template list
    ]),
  },
  methods: {
    ...mapActions("template", [
      "getAllTemplate", // Get all default template
      "getTemplateData",
    ]),
    refetchData() {
      this.getAllTemplate(this.table);
    },
    goToAddTemplate() {
      store.commit("template/UPDATE_VIEW_MODE", false);
      store.commit("template/UPDATE_DEFAULT_TEMPLATE", this.template);
      store.commit("template/UPDATE_MODAL_BUTTON_NAME", this.modalButtonName);

      // Open template add modal
      this.$bvModal.show("modal-create");
    },
    editDefaultTemplate(templateId) {
      // Get template based on template_id
      this.getTemplateData(templateId);

      // Set variable value
      store.commit("template/UPDATE_VIEW_MODE", false);
      store.commit("template/UPDATE_MODAL_BUTTON_NAME", "Update");
      store.commit("template/UPDATE_EDIT_MODE", true);

      this.$bvModal.show("modal-create");
    },
    viewDefaultTemplate(templateId) {
      // Get template based on template_id
      this.getTemplateData(templateId);

      // Set variable value
      store.commit("template/UPDATE_MODAL_BUTTON_NAME", "View");
      store.commit("template/UPDATE_VIEW_MODE", true);

      this.$bvModal.show("modal-create");
    },
    // Change user status
    changeTemplateStatus(id, status) {
      this.$swal({
        title: "Are you sure?",
        text: "You can always revert this later.",
        icon: "warning",
        showCancelButton: true,
        confirmButtonText: "Yes, change it!",
        customClass: {
          confirmButton: "btn btn-primary",
          cancelButton: "btn btn-outline-danger ml-1",
        },
        buttonsStyling: false,
      }).then((result) => {
        if (result.value) {
          // check validation
          TemplateServices.changeTemplateStatus({ id: id, status: status }).then(
            (response) => {
              if (response.status === true || response.status == "true") {
                this.$swal({
                  icon: "success",
                  title: "Changed!",
                  text: response.message,
                  customClass: {
                    confirmButton: "btn btn-success",
                  },
                });

                // Refetch table data
                this.refetchData();
              } else {
                this.$toast({
                  component: ToastificationContent,
                  position: "top-right",
                  props: {
                    title: "Error",
                    variant: "danger",
                    text: response.message,
                  },
                });
              }
              return Promise.resolve(response);
            }
          );
        }
      });
    },
    // Template soft delete
    deleteTemplate(id) {
      this.$swal({
        title: "Are you sure?",
        text: "You won't be able to revert this!",
        icon: "warning",
        showCancelButton: true,
        confirmButtonText: "Yes, delete it!",
        customClass: {
          confirmButton: "btn btn-primary",
          cancelButton: "btn btn-outline-danger ml-1",
        },
        buttonsStyling: false,
      }).then((result) => {
        if (result.value) {
          // check validation
          TemplateServices.deleteTemplateData(id).then((response) => {
            if (response.status === true || response.status == "true") {
              this.$swal({
                icon: "success",
                title: "Deleted!",
                text: response.message,
                customClass: {
                  confirmButton: "btn btn-success",
                },
              });

              // Refetch table data
              this.refetchData();
            } else {
              this.$toast({
                component: ToastificationContent,
                position: "top-right",
                props: {
                  title: "Error",
                  variant: "danger",
                  text: response.message,
                },
              });
            }

            return Promise.resolve(response);
          });
        }
      });
    },
    // Template duplicate
    duplicateTemplate(id) {
      this.$swal({
        title: 'Are you sure you want to duplicate this template and its fields?',
        text: "You won't be able to revert this!",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Yes, duplicate it!',
        customClass: {
          confirmButton: 'btn btn-primary',
          cancelButton: 'btn btn-outline-danger ml-1',
        },
        buttonsStyling: false,
      }).then(result => {
        if (result.value) {
          // check validation
          TemplateServices.duplicateTemplateData(id).then(response => {
            if (response.status === true || response.status == 'true') {
              this.$swal({
                icon: 'success',
                title: 'Duplicated!',
                text: response.message,
                customClass: {
                  confirmButton: 'btn btn-success',
                },
              })

              // Refetch table data
              this.refetchData()
            } else {
              this.$toast({
                component: ToastificationContent,
                position: 'top-right',
                props: {
                  title: 'Error',
                  icon: '',
                  variant: 'danger',
                  text: response.message,
                },
              })
            }
            return Promise.resolve(response);
          });
        }
      })
    },
  },
  mounted() {
    // Get all default template
    this.getAllTemplate(this.table).catch((error) => {
      this.showToast("Error", "XIcon", "danger", error.data.message);
    });
  },
  watch: {
    table: {
      handler() {
        this.getAllTemplate(this.table);
      },
      deep: true,
    },
  },
};
</script>

<style lang="scss" scoped>
@import "~@resources/scss/vue/libs/vue-select.scss";
</style>
