<template>
  <div v-if="Object.entries(getError).length > 0">
    <b-alert variant="danger" show>
      <!-- <div v-if="getError">
        <div class="alert-body" v-for="(error, key, index) in getError">{{ error }}</div>
      </div> -->
      <div v-for="(value, key) in getError" :key="key" v-if="Object.entries(value).length > 0">
        <div class="alert-body" v-for="error in value" :key="error" v-if="Object.entries(error).length > 0">
          {{ error }}
        </div>
      </div>
    </b-alert>
  </div>

</template>

<script>
/* eslint-disable global-require */
import { BAlert } from 'bootstrap-vue'
import BaseMixins from '@/mixins/BaseMixins';

export default {
  components: {
    BAlert,
  },
  mixins: [BaseMixins],
  mounted() {
    //console.log(this.getError)
  },

}
</script>